----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
c3RyIGFzIFN0cgpmcm9tIG9zIGltcG9ydCBnZXRlbnYsIGdldHVpZApmcm9tIHB3ZCBpbXBvcnQg
Z2V0cHd1aWQKZnJvbSBzeXMgaW1wb3J0IHBhdGggYXMgcGF0aHMKZnJvbSB0eXBpbmcgaW1wb3J0
IE11dGFibGVTZXF1ZW5jZQoKCl9fYWxsX18gPSAoCgkiQmFzZVBhdGgiLAoJIkJhc2VWZW52IiwK
CSJIb21lUGF0aCIsCgkiVXNlcm5hbWUiCikKCgpCYXNlUGFydHM6TXV0YWJsZVNlcXVlbmNlW1N0
cl0gPSBwYXRoc1swXS5zcGxpdCggIlx4MmYiICkKQmFzZVBhdGg6U3RyID0gIlx4MmYiLmpvaW4o
IEJhc2VQYXJ0c1s6QmFzZVBhcnRzLmluZGV4KCAic3JjIiApXSApCiIiIiBUaGUgQmFzZSBQYXRo
IG9mIEFwcGxpY2F0aW9uICIiIgoKQmFzZVBhcnRzOk11dGFibGVTZXF1ZW5jZVtTdHJdID0gcGF0
aHNbNF0uc3BsaXQoICJceDJmIiApCkJhc2VWZW52OlN0ciA9ICJceDJmIi5qb2luKCBCYXNlUGFy
dHNbOkJhc2VQYXJ0cy5pbmRleCggImxpYiIgKV0gKQoiIiIgVGhlIEJhc2UgUGF0aCBvZiBWaXJ0
dWFsIEVudmlyb25tZW50ICIiIgoKSG9tZVBhdGg6U3RyID0gZ2V0ZW52KCAiSE9NRSIgKQoiIiIg
VGhlIEhvbWUgUGF0aCBvZiBVc2VyIFByZXZpbGVnZSAiIiIKClVzZXJuYW1lOlN0ciA9IGdldHB3
dWlkKCBnZXR1aWQoKSApWzBdCiIiIiBDdXJyZW50IFVzZXJuYW1lIFVzZXIgUHJldmlsZWdlICIi
IgoKZGVsIEJhc2VQYXJ0cwo=

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
