----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
aW50IGFzIEludCwgc3RyIGFzIFN0cgpmcm9tIHR5cGluZyBpbXBvcnQgSXRlcmFibGUsIE9wdGlv
bmFsCgpmcm9tIHs/PW1vZHVsZX0uY29tbW9uIGltcG9ydCB0eXBlb2YsIHRyYWNlYmFjawoKCl9f
YWxsX18gPSBbCgkiez89cHJvamVjdC5jbGFzc31FcnJvciIsCgkiez89cHJvamVjdC5jbGFzc31X
YXJuaW5nIiwKCSJUaHJvd2FibGUiCl0KCgpjbGFzcyBUaHJvd2FibGUoIEV4Y2VwdGlvbiApOgoJ
CgkiIiIgQmFzZSB7Pz1wcm9qZWN0LmNsYXNzfSBUaHJvd2FibGUgIiIiCgkKCWNvZGU6SW50Cgki
IiIgRXJyb3IgQ29kZSAiIiIKCQoJbWVzc2FnZTpTdHIKCSIiIiBFcnJvciBNZXNzYWdlICIiIgoJ
CglwcmV2aW91czpJdGVyYWJsZVtFeGNlcHRpb25dCgkiIiIgRXJyb3IgUHJldmlvdXMgRXhjZXB0
aW9uIG9yIEVycm9yICIiIgoJCglkZWYgX19pbml0X18oIHNlbGYsIG1lc3NhZ2U6U3RyLCBjb2Rl
OkludD0wLCBwcmV2aW91czpPcHRpb25hbFtJdGVyYWJsZVtFeGNlcHRpb25dXT1Ob25lICkgLT4g
Tm9uZToKCQkKCQkiIiIKCQlDb25zdHJ1Y3QgbWV0aG9kIG9mIGNsYXNzIFRocm93YWJsZQoJCQoJ
CVBhcmFtZXRlcnM6CgkJCW1lc3NhZ2UgKFN0cik6CgkJCQlFcnJvciBtZXNzYWdlCgkJCWNvZGUg
KEludCk6CgkJCQlFcnJvciBjb2RlCgkJCXByZXZpb3VzIChPcHRpb25hbFtJdGVyYWJsZVtFeGNl
cHRpb25dXSk6CgkJCQlQcmV2aW91cyBlcnJvcgoJCSIiIgoJCQoJCWlmIG5vdCBoYXNhdHRyKCBw
cmV2aW91cywgIl9faXRlcl9fIiApOgoJCQlwcmV2aW91cyA9IFtdCgkJc2VsZi5wcmV2aW91cyA9
IHByZXZpb3VzCgkJc2VsZi5tZXNzYWdlID0gbWVzc2FnZQoJCXNlbGYuY29kZSA9IGNvZGUKCQkK
CQlFeGNlcHRpb24uX19pbml0X18oIHNlbGYsIG1lc3NhZ2UsIGNvZGUsIHByZXZpb3VzICkKCQoJ
ZGVmIF9fcmVwcl9fKCBzZWxmICkgLT4gU3RyOgoJCXJldHVybiB0cmFjZWJhY2soIHNlbGYsICJc
eDBhIiApCgkKCWRlZiBfX3N0cl9fKCBzZWxmICkgLT4gU3RyOgoJCXJldHVybiBmInt0eXBlb2Yo
IHNlbGYgKX06IHtzZWxmLmNvZGV9OiB7c2VsZi5tZXNzYWdlfSIKCQoJLi4uCgkKY2xhc3Mgez89
cHJvamVjdC5jbGFzc31FcnJvciggVGhyb3dhYmxlICk6ICIiIiBCYXNlIHs/PXByb2plY3QuY2xh
c3N9IEVycm9yIENsYXNzICIiIgpjbGFzcyB7Pz1wcm9qZWN0LmNsYXNzfVdhcm5pbmcoIFRocm93
YWJsZSApOiAiIiIgQmFzZSB7Pz1wcm9qZWN0LmNsYXNzfSBXYXJuaW5nIENsYXNzICIiIgo=

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
