IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gZGF0ZXRpbWUgaW1wb3J0
IGRhdGV0aW1lCmZyb20gaW5zcGVjdCBpbXBvcnQgZ2V0ZnJhbWVpbmZvLCBzdGFjawpmcm9tIGpz
b24gaW1wb3J0IGxvYWRzIGFzIEpzb25EZWNvZGVyLCBKU09ORGVjb2RlRXJyb3IKZnJvbSBweXR6
IGltcG9ydCB0aW1lem9uZQpmcm9tIHJhbmRvbSBpbXBvcnQgY2hvaWNlCmZyb20gcmUgaW1wb3J0
IE1VTFRJTElORSwgUwpmcm9tIHJlIGltcG9ydCBjb21waWxlLCBtYXRjaCwgc3BsaXQsIHN1YiBh
cyBzdWJzdHIKZnJvbSBzeXMgaW1wb3J0IGV4aXQKZnJvbSB0aW1lIGltcG9ydCBzbGVlcApmcm9t
IHR5cGluZyBpbXBvcnQgKCAKCUFueSwgCglJdGVyYWJsZSwgCglNdXRhYmxlTWFwcGluZywgCglN
dXRhYmxlU2VxdWVuY2UsIAoJVW5pb24KKQoKZnJvbSB7Pz1wcm9qZWN0fS5jb25zdGFudCBpbXBv
cnQgQmFzZVBhdGgsIEJhc2VWZW52CgoKX19hbGxfXyA9IFsKCSJjb2xvcml6ZSIsCgkiY3Nlcmlh
bGl6ZXIiLAoJImRlbGF5cyIsCgkiZXh0cmFjdG9yIiwKCSJwdXRzIiwKCSJzb3J0ZXIiLAoJInR5
cGVvZiIKXQoKCmRlZiBjb2xvcml6ZSggc3RyaW5nOlN0ciwgYmFzZTpTdHI9Tm9uZSApIC0+IFN0
cjoKCQoJIiIiCglBdXRvbWF0aWMgY29sb3JpemUgdGhlIGdpdmVuIHN0cmluZ2EKCQoJUGFyYW1l
dGVyczoKCQlzdHJpbmcgKFN0cik6CgkJYmFzZSAoU3RyKToKCQkJVGhlIHN0cmluZyBiYXNlIGNv
bG9yIGFuc2kgY29kZQoJCglSZXR1cm5zOgoJCXJlc3VsdCAoU3RyKToKCQkJQ29sb3JpemVkIHN0
cmluZwoJIiIiCgkKCXJlc3VsdCA9ICIiCglzdHJpbmdzID0gWyB4IGZvciB4IGluIHNwbGl0KCBy
IigoPzpceDFifFwwMzMpXFtbMC05XDtdK20pIiwgc3RyaW5nICkgaWYgeCAhPSAiIiBdCglyZWdl
eHBzID0gewoJCSJudW1iZXIiOiB7CgkJCSJwYXR0ZXJuIjogciIoP1A8bnVtYmVyPlxiKD86XGQr
KVxiKSIsCgkJCSJjb2xvcml6ZSI6ICJceDFiWzE7Mzg7NTs2MW17fXt9IgoJCX0sCgkJImRlZmlu
ZSI6IHsKCQkJImhhbmRsZXIiOiBsYW1iZGEgbWF0Y2hlZDogc3Vic3RyKCByIihcLnxcLSl7MSx9
IiwgbGFtYmRhIG06ICJceDFiWzE7Mzg7NTs2OW17fVx4MWJbMTszODs1OzExMW0iLmZvcm1hdCgg
bS5ncm91cCgpICksIG1hdGNoZWQuZ3JvdXAoIDAgKSApLAoJCQkicGF0dGVybiI6IHIiKD9QPGRl
ZmluZT4oPzpAfFwkKVthLXpBLVowLTlfXC1cLl0rKSIsCgkJCSJjb2xvcml6ZSI6ICJceDFiWzE7
Mzg7NTsxMTFte317fSIKCQl9LAoJCSJzeW1ib2wiOiB7CgkJCSJwYXR0ZXJuIjogciIoP1A8c3lt
Ym9sPlxcfFw6fFwqfC18XCt8L3wmfCV8PXxcO3wsfFwufFw/fFwhfFx8fDx8Pnxcfil7MSx9IiwK
CQkJImNvbG9yaXplIjogIlx4MWJbMTszODs1OzY5bXt9e30iCgkJfSwKCQkiYnJhY2tldCI6IHsK
CQkJInBhdHRlcm4iOiByIig/UDxicmFja2V0Plx7fFx9fFxbfFxdfFwofFwpKXsxLH0iLAoJCQki
Y29sb3JpemUiOiAiXHgxYlsxOzM4OzU7MjE0bXt9e30iCgkJfSwKCQkiYm9vbGVhbiI6IHsKCQkJ
InBhdHRlcm4iOiByIig/UDxib29sZWFuPlxiKD86RmFsc2V8VHJ1ZXxOb25lKVxiKSIsCgkJCSJj
b2xvcml6ZSI6ICJceDFiWzE7Mzg7NTsxOTlte317fSIKCQl9LAoJCSJ0eXBlZGVmIjogewoJCQki
cGF0dGVybiI6IHIiKD9QPHR5cGVkZWY+XGIoPzpBQkNNZXRhfEFic3RyYWN0U2V0fEFubm90YXRl
ZHxBbnl8QW55U3RyfEFyaXRobWV0aWNFcnJvcnxBc3NlcnRpb25FcnJvcnxBc3luY0NvbnRleHRN
YW5hZ2VyfEFzeW5jR2VuZXJhdG9yfEFzeW5jSXRlcmFibGV8QXN5bmNJdGVyYXRvcnxBdHRyaWJ1
dGVFcnJvcnxBd2FpdGFibGV8QmFzZUV4Y2VwdGlvbnxCaW5hcnlJT3xCbG9ja2luZ0lPRXJyb3J8
QnJva2VuUGlwZUVycm9yfEJ1ZmZlckVycm9yfEJ5dGVTdHJpbmd8Qnl0ZXNXYXJuaW5nfENhbGxh
YmxlfENoYWluTWFwfENoaWxkUHJvY2Vzc0Vycm9yfENsYXNzVmFyfENvbGxlY3Rpb258Q29uY2F0
ZW5hdGV8Q29ubmVjdGlvbkFib3J0ZWRFcnJvcnxDb25uZWN0aW9uRXJyb3J8Q29ubmVjdGlvblJl
ZnVzZWRFcnJvcnxDb25uZWN0aW9uUmVzZXRFcnJvcnxDb250YWluZXJ8Q29udGV4dE1hbmFnZXJ8
Q29yb3V0aW5lfENvdW50ZXJ8RGVmYXVsdERpY3R8RGVwcmVjYXRpb25XYXJuaW5nfERlcXVlfERp
Y3R8RU9GRXJyb3J8RWxsaXBzaXN8RW5jb2RpbmdXYXJuaW5nfEVudmlyb25tZW50RXJyb3J8RXhj
ZXB0aW9ufEZhbHNlfEZpbGVFeGlzdHNFcnJvcnxGaWxlTm90Rm91bmRFcnJvcnxGaW5hbHxGbG9h
dGluZ1BvaW50RXJyb3J8Rm9yd2FyZFJlZnxGcm96ZW5TZXR8RnV0dXJlV2FybmluZ3xHZW5lcmF0
b3J8R2VuZXJhdG9yRXhpdHxHZW5lcmljfEdlbmVyaWNBbGlhc3xIYXNoYWJsZXxJT3xJT0Vycm9y
fEltcG9ydEVycm9yfEltcG9ydFdhcm5pbmd8SW5kZW50YXRpb25FcnJvcnxJbmRleEVycm9yfElu
dGVycnVwdGVkRXJyb3J8SXNBRGlyZWN0b3J5RXJyb3J8SXRlbXNWaWV3fEl0ZXJhYmxlfEl0ZXJh
dG9yfEtUfEtleXxLZXlFcnJvcnxLZXlib2FyZEludGVycnVwdHxLZXlzVmlld3xMaXN0fExpdGVy
YWx8TG9va3VwRXJyb3J8TWFwcGluZ3xNYXBwaW5nVmlld3xNYXRjaHxNZW1vcnlFcnJvcnxNZXRo
b2REZXNjcmlwdG9yVHlwZXxNZXRob2RXcmFwcGVyVHlwZXxNb2R1bGVOb3RGb3VuZEVycm9yfE11
dGFibGVNYXBwaW5nfE11dGFibGVTZXF1ZW5jZXxNdXRhYmxlU2V0fE5hbWVFcnJvcnxOYW1lZFR1
cGxlfE5hbWVkVHVwbGVNZXRhfE5ld1R5cGV8Tm9SZXR1cm58Tm9uZXxOb3RBRGlyZWN0b3J5RXJy
b3J8Tm90SW1wbGVtZW50ZWR8Tm90SW1wbGVtZW50ZWRFcnJvcnxPU0Vycm9yfE9wdGlvbmFsfE9y
ZGVyZWREaWN0fE92ZXJmbG93RXJyb3J8UGFyYW1TcGVjfFBhcmFtU3BlY0FyZ3N8UGFyYW1TcGVj
S3dhcmdzfFBhdHRlcm58UGVuZGluZ0RlcHJlY2F0aW9uV2FybmluZ3xQZXJtaXNzaW9uRXJyb3J8
UHJvY2Vzc0xvb2t1cEVycm9yfFByb3RvY29sfFJlY3Vyc2lvbkVycm9yfFJlZmVyZW5jZUVycm9y
fFJlc291cmNlV2FybmluZ3xSZXZlcnNpYmxlfFJ1bnRpbWVFcnJvcnxSdW50aW1lV2FybmluZ3xT
ZXF1ZW5jZXxTZXR8U2l6ZWR8U3RvcEFzeW5jSXRlcmF0aW9ufFN0b3BJdGVyYXRpb258U3VwcG9y
dHNBYnN8U3VwcG9ydHNCeXRlc3xTdXBwb3J0c0NvbXBsZXh8U3VwcG9ydHNGbG9hdHxTdXBwb3J0
c0luZGV4fFN1cHBvcnRzSW50fFN1cHBvcnRzUm91bmR8U3ludGF4RXJyb3J8U3ludGF4V2Fybmlu
Z3xTeXN0ZW1FcnJvcnxTeXN0ZW1FeGl0fFR8VGFiRXJyb3J8VGV4dHxUZXh0SU98VGltZW91dEVy
cm9yfFRydWV8VHVwbGV8VHlwZXxUeXBlQWxpYXN8VHlwZUVycm9yfFR5cGVHdWFyZHxUeXBlVmFy
fFR5cGVkRGljdHxVbmJvdW5kTG9jYWxFcnJvcnxVbmljb2RlRGVjb2RlRXJyb3J8VW5pY29kZUVu
Y29kZUVycm9yfFVuaWNvZGVFcnJvcnxVbmljb2RlVHJhbnNsYXRlRXJyb3J8VW5pY29kZVdhcm5p
bmd8VW5pb258VXNlcldhcm5pbmd8VmFsfGFsdWVFcnJvcnxWYWx1ZXNWaWV3fFdhcm5pbmd8V3Jh
cHBlckRlc2NyaXB0b3JUeXBlfFplcm9EaXZpc2lvbkVycm9yfGFic3xhYnN0cmFjdG1ldGhvZHxh
aXRlcnxhbGx8YW5leHR8YW55fGFzY2lpfGJpbnxib29sfGJyZWFrcG9pbnR8Ynl0ZWFycmF5fGJ5
dGVzfGNhbGxhYmxlfGNhc3R8Y2hyfGNsYXNzbWV0aG9kfGNvbGxlY3Rpb25zfGNvbXBpbGV8Y29t
cGxleHxjb250ZXh0bGlifGNvcHlyaWdodHxjcmVkaXRzfGRlbGF0dHJ8ZGljdHxkaXJ8ZGl2bW9k
fGVudW1lcmF0ZXxldmFsfGV4ZWN8ZXhpdHxmaWx0ZXJ8ZmluYWx8ZmxvYXR8Zm9ybWF0fGZyb3pl
bnNldHxmdW5jdG9vbHN8Z2V0YXR0cnxnbG9iYWxzfGhhc2F0dHJ8aGFzaHxoZWxwfGhleHxpZHxp
bnB1dHxpbnR8aW98aXNpbnN0YW5jZXxpc3N1YmNsYXNzfGl0ZXJ8bGVufGxpY2Vuc2V8bGlzdHxs
b2NhbHN8bWFwfG1heHxtZW1vcnl2aWV3fG1pbnxuZXh0fG9iamVjdHxvY3R8b3BlbnxvcGVyYXRv
cnxvcmR8b3ZlcmxvYWR8cG93fHByaW50fHByb3BlcnR5fHF1aXR8cmFuZ2V8cmV8cmVwcnxyZXZl
cnNlZHxyb3VuZHxzZXR8c2V0YXR0cnxzbGljZXxzb3J0ZWR8c3RhdGljbWV0aG9kfHN0cnxzdW18
c3VwZXJ8c3lzfHR1cGxlfHR5cGV8dHlwZXN8dmFyc3x6aXApXGIpIiwKCQkJImNvbG9yaXplIjog
Ilx4MWJbMTszODs1OzIxM217fXt9IgoJCX0sCgkJImxpbmtlZCI6IHsKCQkJImhhbmRsZXIiOiBs
YW1iZGEgbWF0Y2hlZDogc3Vic3RyKCByIihcXHxcOnxcKnwtfFwrfC98JnwlfD18XDt8LHxcLnxc
P3xcIXxcfHw8fD58XH4pezEsfSIsIGxhbWJkYSBtOiAiXHgxYlsxOzM4OzU7Njlte31ceDFiWzE7
Mzg7NTs0M20iLmZvcm1hdCggbS5ncm91cCgpICksIG1hdGNoZWQuZ3JvdXAoIDAgKSApLAoJCQki
cGF0dGVybiI6IHIiKD9QPGxpbmtlZD5cYmh0dHBzPzovL1teXHNdKykiLAoJCQkiY29sb3JpemUi
OiAiXHgxYlsxOzM4OzU7NDNtXHgxYls0bXt9e30iCgkJfSwKCQkidmVyc2lvbiI6IHsKCQkJImhh
bmRsZXIiOiBsYW1iZGEgbWF0Y2hlZDogc3Vic3RyKCByIihbXGRcLl0rKSIsIGxhbWJkYSBtOiAi
XHgxYlsxOzM4OzU7MTkwbXt9XHgxYlsxOzM4OzU7MTEybSIuZm9ybWF0KCBtLmdyb3VwKCkgKSwg
bWF0Y2hlZC5ncm91cCggMCApICksCgkJCSJwYXR0ZXJuIjogciIoP1A8dmVyc2lvbj5cYlt2Vl1b
XGRcLl0rXGIpIiwKCQkJImNvbG9yaXplIjogIlx4MWJbMTszODs1OzExMm17fXt9IgoJCX0sCgkJ
ImF1dGhvciI6IHsKCQkJInBhdHRlcm4iOiByIig/UDxhdXRob3I+XGIoPzpoeFthQV1yaSlcYiki
LAoJCQkiY29sb3JpemUiOiAiXHgxYlsxOzM4OzU7MTExbXt9e30iCgkJfSwKCQkiY29tbWVudCI6
IHsKCQkJInBhdHRlcm4iOiByIig/UDxjb21tZW50PlwjW15cbl0qKSIsCgkJCSJjb2xvcml6ZSI6
ICJceDFiWzE7Mzg7NTsyNTBte317fSIKCQl9LAoJCSJzdHJpbmciOiB7CgkJCSJoYW5kbGVyIjog
bGFtYmRhIG1hdGNoZWQ6IHN1YnN0ciggciIoPzwhXFwpKFxcXCJ8XFxcJ3xcXGB8XFxyfFxcdHxc
XG58XFxzKSIsIGxhbWJkYSBtOiAiXHgxYlsxOzM4OzU7MjA4bXt9XHgxYlsxOzM4OzU7MjIwbSIu
Zm9ybWF0KCBtLmdyb3VwKCkgKSwgbWF0Y2hlZC5ncm91cCggMCApICksCgkJCSJwYXR0ZXJuIjog
ciIoP1A8c3RyaW5nPig/PCFcXCkoXCIuKj8oPzwhXFwpXCJ8XCcuKj8oPzwhXFwpXCd8YC4qPyg/
PCFcXClgKSkiLAoJCQkiY29sb3JpemUiOiAiXHgxYlsxOzM4OzU7MjIwbXt9e30iCgkJfQoJfQoJ
aWYgbm90IGlzaW5zdGFuY2UoIGJhc2UsIFN0ciApOgoJCWJhc2UgPSAiXHgxYlswbSIKCXRyeToK
CQlsYXN0ID0gYmFzZQoJCWVzY2FwZSA9IE5vbmUKCQlwYXR0ZXJuID0gIig/Ont9KSIuZm9ybWF0
KCAifCIuam9pbiggcmVnZXhwWydwYXR0ZXJuJ10gZm9yIHJlZ2V4cCBpbiByZWdleHBzLnZhbHVl
cygpICkgKQoJCWNvbXBpbGVzID0gY29tcGlsZSggcGF0dGVybiwgTVVMVElMSU5FfFMgKQoJCXNr
aXBhYmxlID0gW10KCQlmb3IgaWR4LCBzdHJpbmcgaW4gZW51bWVyYXRlKCBzdHJpbmdzICk6CgkJ
CWlmIGlkeCBpbiBza2lwYWJsZToKCQkJCWNvbnRpbnVlCgkJCWNvbG9yID0gbWF0Y2goIHIiXig/
Olx4MWJ8XDAzMylcWyhbXm1dKyltJCIsIHN0cmluZyApCgkJCWlmIGNvbG9yIGlzIG5vdCBOb25l
OgoJCQkJaW5kZXggPSBpZHggKzEKCQkJCWVzY2FwZSA9IGNvbG9yLmdyb3VwKCAwICkKCQkJCWxh
c3QgPSBlc2NhcGUKCQkJCXRyeToKCQkJCQlyZXNjYXBlID0gbWF0Y2goIHIiKD86XHgxYnxcMDMz
KVxbKFtebV0rKW0iLCBzdHJpbmdzW2luZGV4XSApCgkJCQkJd2hpbGUgcmVzY2FwZSBpcyBub3Qg
Tm9uZToKCQkJCQkJc2tpcGFibGUuYXBwZW5kKCBpbmRleCApCgkJCQkJCWVzY2FwZSArPSByZXNj
YXBlLmdyb3VwKCAwICkKCQkJCQkJbGFzdCA9IHJlc2NhcGUuZ3JvdXAoIDAgKQoJCQkJCQlpbmRl
eCArPSAxCgkJCQkJCXJlc2NhcGUgPSBtYXRjaCggciIoPzpceDFifFwwMzMpXFsoW15tXSspbSIs
IHN0cmluZ3NbaW5kZXhdICkKCQkJCWV4Y2VwdCBJbmRleEVycm9yOgoJCQkJCWJyZWFrCgkJCQlp
ZiBpbmRleCArMSBpbiBza2lwYWJsZToKCQkJCQlpbmRleCArPSAxCgkJCQlza2lwYWJsZS5hcHBl
bmQoIGluZGV4ICkKCQkJZWxzZToKCQkJCWVzY2FwZSA9IGxhc3QKCQkJCWluZGV4ID0gaWR4CgkJ
CXN0cmluZyA9IHN0cmluZ3NbaW5kZXhdCgkJCXNlYXJjaCA9IDAKCQkJbWF0Y2hlZCA9IGNvbXBp
bGVzLnNlYXJjaCggc3RyaW5nLCBzZWFyY2ggKQoJCQl3aGlsZSBtYXRjaGVkIGlzIG5vdCBOb25l
OgoJCQkJaWYgbWF0Y2hlZC5ncm91cGRpY3QoKToKCQkJCQlncm91cCA9IE5vbmUKCQkJCQlncm91
cHMgPSBtYXRjaGVkLmdyb3VwZGljdCgpLmtleXMoKQoJCQkJCWZvciBncm91cCBpbiBncm91cHM6
CgkJCQkJCWlmIGdyb3VwIGluIHJlZ2V4cHMgYW5kIFwKCQkJCQkJCWlzaW5zdGFuY2UoIHJlZ2V4
cHNbZ3JvdXBdLCBNdXRhYmxlTWFwcGluZyApIGFuZCBcCgkJCQkJCQlpc2luc3RhbmNlKCBtYXRj
aGVkLmdyb3VwKCBncm91cCApLCBzdHIgKToKCQkJCQkJCWNvbG9yaXplID0gcmVnZXhwc1tncm91
cF1bJ2NvbG9yaXplJ10KCQkJCQkJCWJyZWFrCgkJCQkJY2hhcnMgPSBtYXRjaGVkLmdyb3VwKCAw
ICkKCQkJCQlpZiAicmVtYXRjaCIgaW4gcmVnZXhwc1tncm91cF0gYW5kIGlzaW5zdGFuY2UoIHJl
Z2V4cHNbZ3JvdXBdWydyZW1hdGNoJ10sIE11dGFibGVNYXBwaW5nICk6CgkJCQkJCXBhc3MKCQkJ
CQlpZiAiaGFuZGxlciIgaW4gcmVnZXhwc1tncm91cF0gYW5kIGNhbGxhYmxlKCByZWdleHBzW2dy
b3VwXVsnaGFuZGxlciddICk6CgkJCQkJCXJlc3VsdCArPSBlc2NhcGUKCQkJCQkJcmVzdWx0ICs9
IHN0cmluZ1tzZWFyY2g6bWF0Y2hlZC5lbmQoKSAtIGxlbiggY2hhcnMgKV0KCQkJCQkJcmVzdWx0
ICs9IGNvbG9yaXplLmZvcm1hdCggcmVnZXhwc1tncm91cF1bJ2hhbmRsZXInXSggbWF0Y2hlZCAp
LCBlc2NhcGUgKQoJCQkJCQlzZWFyY2ggPSBtYXRjaGVkLmVuZCgpCgkJCQkJCW1hdGNoZWQgPSBj
b21waWxlcy5zZWFyY2goIHN0cmluZywgc2VhcmNoICkKCQkJCQkJY29udGludWUKCQkJCQlyZXN1
bHQgKz0gZXNjYXBlCgkJCQkJcmVzdWx0ICs9IHN0cmluZ1tzZWFyY2g6bWF0Y2hlZC5lbmQoKSAt
IGxlbiggY2hhcnMgKV0KCQkJCQlyZXN1bHQgKz0gY29sb3JpemUuZm9ybWF0KCBjaGFycywgZXNj
YXBlICkKCQkJCQlzZWFyY2ggPSBtYXRjaGVkLmVuZCgpCgkJCQkJbWF0Y2hlZCA9IGNvbXBpbGVz
LnNlYXJjaCggc3RyaW5nLCBzZWFyY2ggKQoJCQkJZWxzZToKCQkJCQltYXRjaGVkID0gTm9uZQoJ
CQlyZXN1bHQgKz0gZXNjYXBlCgkJCXJlc3VsdCArPSBzdHJpbmdbc2VhcmNoOl0KCWV4Y2VwdCBF
eGNlcHRpb24gYXMgZToKCQlyYWlzZSBlCglyZXR1cm4gcmVzdWx0CgpkZWYgY3NlcmlhbGl6ZXIo
IGNvb2tpZXM6TXV0YWJsZU1hcHBpbmdbU3RyLFN0cl0gKSAtPiBTdHI6CgkKCSIiIgoJQ29va2ll
IHNlcmlhbGl6ZXIKCQoJUGFyYW1ldGVyczoKCQljb29raWVzIChNdXRhYmxlTWFwcGluZ1tTdHIs
U3RyXSk6CgkJCU11dGFibGVNYXBwaW5nIG9mIGNvb2tpZXMKCQoJUmV0dXJuczoKCQlTdHI6CgkJ
CVN0cmluZyBvZiBzZXJpYWxpemVkIGNvb2tpZXMKCSIiIgoJCglyZXR1cm4gIlx4M2JceDIwIi5q
b2luKCBsaXN0KCBmIntrZXlzZXR9PXt2YWx1ZX0iIGZvciBrZXlzZXQsIHZhbHVlIGluIGNvb2tp
ZXMuaXRlbXMoKSApICkKCmRlZiBkZWxheXMoKSAtPiBOb25lOgoJCgkiIiIgUmFuZG9tIGRlbGF5
cyAiIiIKCQoJc2xlZXAoIGNob2ljZShbIDksIDguMiwgMy40LCA2LjYsIDEuNiwgMi44LCA0LCAx
LjQsIDYuMywgMy42LCA1LjksIDcsIDEsIDEuMiBdKSApCgpkZWYgZXh0cmFjdG9yKCBjb250ZW50
czpTdHIgKSAtPiBJdGVyYWJsZVtNdXRhYmxlTWFwcGluZ1tTdHIsTXV0YWJsZVNlcXVlbmNlW0Fu
eV1dXToKCQoJIiIiCglKc29uIGh0bWwgc2NyaXB0IHRhZwoJCglQYXJhbWV0ZXJzOgoJCWNvbnRl
bnRzIChTdHIpOgoJCQlIdG1sIGNvbnRlbnRzCgkKCVJldHVybnM6CgkJY29udGVudCAoSXRlcmFi
bGVbTXV0YWJsZU1hcHBpbmdbU3RyLE11dGFibGVTZXF1ZW5jZVtBbnldXV0pOgoJCQlJdGVyYWJs
ZSBNdXRhYmxlTWFwcGluZyBvZiBjb250ZW50cwoJIiIiCgkKCXBvc2l0aW9uID0gMAoJd2hpbGUg
VHJ1ZToKCQl0cnk6CgkJCXBvc2l0aW9uQmVnaW4gPSBjb250ZW50cy5pbmRleCggIjxzY3JpcHQi
LCBwb3NpdGlvbiApCgkJCXBvc2l0aW9uQmVnaW5TdG9wID0gY29udGVudHMuaW5kZXgoICI+Iiwg
cG9zaXRpb25CZWdpbisxICkKCQkJcG9zaXRpb25FbmQgPSBjb250ZW50cy5pbmRleCggIjwvc2Ny
aXB0PiIsIHBvc2l0aW9uQmVnaW5TdG9wICkKCQkJcG9zaXRpb25FbmRTdG9wID0gcG9zaXRpb25F
bmQKCQkJcG9zaXRpb25FbmRTdG9wKz0gMQoJCQlwb3NpdGlvbiA9IHBvc2l0aW9uRW5kU3RvcAoJ
CQljb250ZW50ID0gY29udGVudHNbcG9zaXRpb25CZWdpblN0b3ArMTpwb3NpdGlvbkVuZF0KCQkJ
aWYgbm90IGNvbnRlbnQ6CgkJCQljb250aW51ZQoJCQl0cnk6CgkJCQl5aWVsZCBKc29uRGVjb2Rl
ciggY29udGVudCApCgkJCWV4Y2VwdCBKU09ORGVjb2RlRXJyb3I6CgkJCQkuLi4KCQkJZmluYWxs
eToKCQkJCS4uLgoJCQljb250aW51ZQoJCWV4Y2VwdCBWYWx1ZUVycm9yOgoJCQkuLi4KCQlmaW5h
bGx5OgoJCQkuLi4KCQlicmVhawoJLi4uCgpkZWYgcHV0cyggKnZhbHVlczpBbnksIGJhc2U6U3Ry
PSJceDFiWzBtIiwgZW5kOlN0cj0iXHgwYSIsIHNlcDpTdHI9Ilx4MjAiLCBzdGFydDpTdHI9IiIs
IHRocmVhZDpVbmlvbltJbnQsU3RyXT1Ob25lLCBsb2dnaW5nOkJvb2w9RmFsc2UsIGNsb3NlOklu
dD1Ob25lICkgLT4gTm9uZToKCQoJIiIiCglQcmludCB0aGUgdmFsdWUgaW50byB0ZXJtaW5hbCBz
Y3JlZW4KCQoJUGFyYW1ldGVyczoKCQl2YWx1ZXMgKCpBbnkpOgoJCWJhc2UgKFN0cik6CgkJCVRo
ZSBiYXNlIGNvbG9yIGNvZGUKCQllbmQgKFN0cik6CgkJCVRoZSBlbmQgb2YgbGluZSwgZGVmYXVs
dCBpcyBuZXdsaW5lIChcXG4pCgkJc2VwIChTdHIpOgoJCQlUaGUgc2VwYXJhdG9yIG9mIHZhbHVl
cywgZGVmYXVsdCBpcyBzcGFjZXMgKFxccykKCQlzdGFydCAoU3RyKToKCQkJUHJlZml4IG9mIG91
dHB1dAoJCXRocmVhZCAoSW50fFN0cik6CgkJCUN1cnJlbnQgdGhyZWFkIHBvc2l0aW9uIG51bWJl
cgoJCWxvZ2dpbmcgKEJvb2wpOgoJCQlBbGxvdyBsb2dnaW5nIG91dHB1dAoJCWNsb3NlIChJbnQp
OgoJCQlDbG9zZSB0aGUgcHJvZ3JhbSBhZnRlciB0ZXh0IHByaW50ZWQgaW50byB0ZXJtaW5hbCBz
Y3JlZW4KCSIiIgoJCglpZiBsb2dnaW5nIGlzIFRydWU6CgkJc3RhY2tzID0gc3RhY2soKQoJCXBv
c2l0aW9uID0gMSBpZiBsZW4oIHN0YWNrcyApPj0gMiBlbHNlIDAKCQljdXJydGltZSA9IGRhdGV0
aW1lLm5vdyggdGltZXpvbmUoICJBc2lhL0pha2FydGEiICkgKQoJCWN1cnJlbnQgPSBjdXJydGlt
ZS5zdHJmdGltZSggIiVkLiVtLSVZICVIOiVNOiVTIiApCgkJZm9ybWF0dGVyID0gIntzdGFydH0t
LSB7ZGF0ZXRpbWV9IC0tIHtmaWxlfTp7ZnVuY306e2xpbmV9IHttZXNzYWdlfSIKCQlpZiBpc2lu
c3RhbmNlKCB0aHJlYWQsIEludCApIGFuZCB0aHJlYWQgPj0gMSBvciBcCgkJICAgaXNpbnN0YW5j
ZSggdGhyZWFkLCBTdHIgKSBhbmQgdGhyZWFkOgoJCQlmb3JtYXR0ZXIgPSAie3N0YXJ0fS0tIHtk
YXRldGltZX0gLS0ge2ZpbGV9OntmdW5jfTp7bGluZX06e3RocmVhZH0ge21lc3NhZ2V9IgoJCQkj
IHBvc2l0aW9uID0gMiBpZiBsZW4oIHN0YWNrcyApPj0gMyBlbHNlIDEKCQl0aWZyYW1lID0gZ2V0
ZnJhbWVpbmZvKCBzdGFja3NbcG9zaXRpb25dWzBdICkKCQlmb3IgdmFsdWUgaW4gdmFsdWVzOgoJ
CQltZXNzYWdlID0gdmFsdWUgaWYgaXNpbnN0YW5jZSggdmFsdWUsIFN0ciApIGVsc2UgcmVwcigg
dmFsdWUgKQoJCQlmb3JtYXR0ZWQgPSBmb3JtYXR0ZXIuZm9ybWF0KAoJCQkJbWVzc2FnZT1tZXNz
YWdlLAoJCQkJZmlsZT10aWZyYW1lLmZpbGVuYW1lLnJlcGxhY2UoIGYie0Jhc2VQYXRofS8iLCAi
IiApLAoJCQkJZnVuYz10aWZyYW1lLmZ1bmN0aW9uLAoJCQkJbGluZT10aWZyYW1lLmxpbmVubywK
CQkJCWRhdGV0aW1lPWN1cnJlbnQsCgkJCQl0aHJlYWQ9dGhyZWFkLAoJCQkJc3RhcnQ9c3RhcnQK
CQkJKQoJCQlmb3JtYXR0ZWQgPSBmb3JtYXR0ZWQgXAoJCQkJLnJlcGxhY2UoIEJhc2VQYXRoLCAi
e2Jhc2VwYXRofSIgKSBcCgkJCQkucmVwbGFjZSggQmFzZVZlbnYsICJ7dmlydHVhbH0iICkKCQkJ
cHJpbnQoIGNvbG9yaXplKCBiYXNlPWJhc2UsIHN0cmluZz1mb3JtYXR0ZWQgKSwgZW5kPWVuZCAp
CgllbHNlOgoJCWZvciB2YWx1ZSBpbiB2YWx1ZXM6CgkJCXZhbHVlID0gdmFsdWUgaWYgaXNpbnN0
YW5jZSggdmFsdWUsIFN0ciApIGVsc2UgcmVwciggdmFsdWUgKQoJCQl2YWx1ZSA9ICIiLmpvaW4o
WyBzdGFydCwgdmFsdWUgXSkKCQkJcHJpbnQoIGNvbG9yaXplKCBiYXNlPWJhc2UsIHN0cmluZz12
YWx1ZSApLCBlbmQ9ZW5kLCBzZXA9c2VwICkKCWlmIGNsb3NlIGlzIG5vdCBOb25lOgoJCWV4aXQo
IGNsb3NlICkKCS4uLgoKZGVmIHNvcnRlciggY29udGVudDpNdXRhYmxlTWFwcGluZ1tTdHIsQW55
XSApIC0+IE11dGFibGVNYXBwaW5nW1N0cixBbnldOgoJcmVzdWx0cyA9IGRpY3QoKQoJa2V5c2V0
cyA9IHNvcnRlZCggbGlzdCggY29udGVudC5rZXlzKCkgKSApCglmb3Iga2V5c2V0IGluIGtleXNl
dHM6CgkJdmFsdWVzID0gY29udGVudFtrZXlzZXRdCgkJaWYgaXNpbnN0YW5jZSggdmFsdWVzLCBk
aWN0ICk6CgkJCXZhbHVlcyA9IHNvcnRlciggdmFsdWVzICkKCQllbGlmIGlzaW5zdGFuY2UoIHZh
bHVlcywgbGlzdCApOgoJCQlmb3IgaSwgdmFsdWUgaW4gZW51bWVyYXRlKCB2YWx1ZXMgKToKCQkJ
CWlmIGlzaW5zdGFuY2UoIHZhbHVlLCBkaWN0ICk6CgkJCQkJdmFsdWVzW2ldID0gc29ydGVyKCB2
YWx1ZSApCgkJcmVzdWx0c1trZXlzZXRdID0gdmFsdWVzCglyZXR1cm4gcmVzdWx0cwoKZGVmIHR5
cGVvZiggaW5zdGFuY2U6QW55ICkgLT4gU3RyOgoJCgkiIiIKCVJldHVybiBuYW1lIHR5cGUgb2Jq
ZWN0CgkKCVBhcmFtZXRlcnM6CgkJaW5zdGFuY2UgKEFueSk6CgkJCVZhbHVlIHR5cGUKCQoJUmV0
dXJuczoKCQluYW1lIChTdHIpOgoJIiIiCgkKCWlmIG5vdCBoYXNhdHRyKCBpbnN0YW5jZSwgIl9f
cXVhbG5hbWVfXyIgKToKCQlpbnN0YW5jZSA9IHR5cGUoIGluc3RhbmNlICkKCWlmIGhhc2F0dHIo
IGluc3RhbmNlLCAiX19xdWFsbmFtZV9fIiApOgoJCXJldHVybiBmIntpbnN0YW5jZS5fX21vZHVs
ZV9ffS57aW5zdGFuY2UuX19xdWFsbmFtZV9ffSIKCXJldHVybiBmIntpbnN0YW5jZS5fX21vZHVs
ZV9ffS57aW5zdGFuY2UuX19uYW1lX199IgoK
