Cns/PWNvbW1lbnR9CmJyYW5jaD0KY2hlY2tlZD1mYWxzZQpjbGVhbj10cnVlCmNvbXByZXNzPXRh
cgplbnZpcm9ubWVudD1kZXZlbG9wbWVudAppbmNsdWRlPS5naXQsLmdpdGlnbm9yZSxMSUNFTlNF
LFJFQURNRS5tZCxyZXF1aXJlbWVudHMudHh0LHJlc291cmNlcyxzcmMKbGlicmFyeT0KcGFja2Fn
ZXM9Z2l0LG9wZW5zc2gtY2xpZW50LHB5dGhvbjMuMTEscHl0aG9uMy4xMS1kZXYscHl0aG9uMy4x
MS12ZW52LHRhcix1bnppcCx3Z2V0LHppcApwcm9ncmFtPXs/PXByb2plY3R9CnJlcG9zaXRvcnk9
ez89Z2l0aHVifQpyb290PWZhbHNlCnNlcnZlcnM9CnZlcnNpb249MS4wLjAKdmlydHVhbD0vaG9t
ZS92aXJ0dWFsL2Jpbi9hY3RpdmF0ZQp2aXJ0dWFsaXplPXRydWUK
