IyB7Pz1wcm9qZWN0fQp7Pz1iaW9ncmFwaH0KCiMjIExpY2VuY2UKQWxsICoqez89cHJvamVjdH0q
KiBzb3VyY2UgY29kZSBpcyBsaWNlbnNlZCB1bmRlciB0aGUgR05VIEdlbmVyYWwgUHVibGljIExp
Y2Vuc2UgdjMuIFBsZWFzZSBbc2VlXShodHRwczovL3d3dy5nbnUub3JnL2xpY2Vuc2VzKSB0aGUg
b3JpZ2luYWwgZG9jdW1lbnQgZm9yIG1vcmUgZGV0YWlscy4K
