IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gZGF0ZXRpbWUgaW1wb3J0
IGRhdGV0aW1lCmZyb20gZW51bSBpbXBvcnQgRW51bQpmcm9tIGluc3BlY3QgaW1wb3J0IGdldGZy
YW1laW5mbywgc3RhY2sKZnJvbSBvcyBpbXBvcnQgZ2V0cGlkLCBnZXR1aWQsIG1ha2VkaXJzIGFz
IG1rZGlyCmZyb20gb3MucGF0aCBpbXBvcnQgaXNkaXIKZnJvbSBwd2QgaW1wb3J0IGdldHB3dWlk
CmZyb20gcHl0eiBpbXBvcnQgdGltZXpvbmUKZnJvbSBweXR6LnR6aW5mbyBpbXBvcnQgQmFzZVR6
SW5mbwpmcm9tIHJhbmRvbSBpbXBvcnQgcmFuZGludApmcm9tIHR5cGluZyBpbXBvcnQgKAoJQW55
LCAKCWZpbmFsLCAKCUdlbmVyaWMsIAoJVHVwbGUsIAoJVHlwZVZhciBhcyBWYXIsIAoJVW5pb24K
KQpmcm9tIHR6bG9jYWwgaW1wb3J0IGdldF9sb2NhbHpvbmVfbmFtZSBhcyBUekxvY2Fsem9uZU5h
bWUKCmZyb20gez89cHJvamVjdH0gaW1wb3J0IF9fcHJvZ3JhbV9fIGFzIHByb2dyYW0KZnJvbSB7
Pz1wcm9qZWN0fS5jb21tb24gaW1wb3J0IGNvbG9yaXplCmZyb20gez89cHJvamVjdH0uY29uc3Rh
bnQgaW1wb3J0IEJhc2VQYXRoLCBCYXNlVmVudgoKCl9fYWxsX18gPSBbCgkiZGlzYWJsZVN0b3Jl
TG9nIiwKCSJlbmFibGVTdG9yZUxvZyIsCgkiTGV2ZWwiLAoJIkxvZ2dlciIsCgkidGhyZXNob2xk
IgpdCgoKX0NvbnRleHQgPSBWYXIoICJfQ29udGV4dCIgKQoiIiIgQ29udGV4dCBUeXBlICIiIgoK
X0VuYWJsZVN0b3JlOkJvb2wgPSBUcnVlCiIiIiBMb2dnZXIgZW5hYmxlIHNhdmUgbG9nICIiIgoK
X0ZEYXRldGltZTpTdHIgPSAiJVktJW0tJWRUJUg6JU06JVMiCiIiIiBEYXRlVGltZSBmb3JtYXR0
ZXIgIiIiCgpfRm9ybWF0dGVyOlN0ciA9ICJ7ZGF0ZXRpbWV9e3V0Y29mZnNldH0ge2xldmVsfSB7
dXNlcm5hbWV9IFB7cGlkfTpUe3RocmVhZH0gLS0tIFt7cHJvZ3JhbX1dIHtjb250ZXh0fSA6IHts
aW5lbnVtfSA6IHttZXNzYWdlfSIKIiIiIExvZ2dpbmcgZm9ybWF0dGVyICIiIgoKX1N0cmZ0aW1l
ID0gVmFyKCAiX1N0cmZ0aW1lIiwgYnl0ZXMsIHN0ciApCiIiIiBEYXRlVGltZSBTdHJpbmcgRm9y
bWF0dGVkIFR5cGUgIiIiCgpfVXRjb2Zmc2V0cyA9IFZhciggIl9VdGNvZmZzZXRzIiwgYnl0ZXMs
IHN0ciApCiIiIiBEYXRlVGltZSBTdHJpbmcgb2YgVXRjb2Zmc2V0IFR5cGUgIiIiCgoKZGVmIGRp
c2FibGVTdG9yZUxvZygpIC0+IE5vbmU6CgkKCSIiIiBFbmFibGUgc3RvcmUgbG9nIGludG8gZmls
ZSAiIiIKCQoJZ2xvYmFsIF9FbmFibGVTdG9yZQoJX0VuYWJsZVN0b3JlID0gRmFsc2UKCmRlZiBl
bmFibGVTdG9yZUxvZygpIC0+IE5vbmU6CgkKCSIiIiBFbmFibGUgc3RvcmUgbG9nIGludG8gZmls
ZSAiIiIKCQoJZ2xvYmFsIF9FbmFibGVTdG9yZQoJX0VuYWJsZVN0b3JlID0gVHJ1ZQoKCmNsYXNz
IExldmVsKCBFbnVtICk6CgkKCSIiIiBBcHBsaWNhdGlvbiBMb2dnZXIgTGV2ZWwgIiIiCgkKCUNS
SVRJQ0FMID0gMQoJIiIiIENyaXRpY2FsICIiIgoJCglERUJVRyA9IDAKCSIiIiBEZWJ1ZyAiIiIK
CQoJRElTQUJMRSA9IHJhbmRpbnQoIDg5OTksIDk5OTkgKQoJIiIiIERpc2FibGUgIiIiCgkKCUVS
Uk9SID0gMgoJIiIiIEVycm9yICIiIgoJCglJTkZPID0gMwoJIiIiIEluZm8gIiIiCgkKCVNVQ0NF
U1MgPSA0CgkiIiIgU3VjY2VzcyAiIiIKCQoJVkVSQk9TRSA9IC05OTk5CgkiIiIgVmVyYm9zZSAi
IiIKCQoJV0FSTklORyA9IDUKCSIiIiBXYXJuaW5nICIiIgoJCgkuLi4KCgpfVGhyZXNobG9kOkxl
dmVsID0gTGV2ZWwuSU5GTwoiIiIgTG9nZ2VyIFRocmVzaG9sZCAiIiIKCgpkZWYgdGhyZXNob2xk
KCBsZXZlbDpMZXZlbCApIC0+IE5vbmU6CgkKCSIiIiBTZXQgbG9nZ2VyIHRocmVzaG9sZCBsZXZl
bCAiIiIKCQoJZ2xvYmFsIF9UaHJlc2hsb2QKCV9UaHJlc2hsb2QgPSBsZXZlbAoKCmNsYXNzIExv
Z2dlciggR2VuZXJpY1tfQ29udGV4dF0gKToKCQoJIiIiCglBcHBsaWNhdGlvbiBMb2dnZXIgSW1w
bGVtZW50YXRpb24KCQoJPj4+IGxvZ2dlciA9IExvZ2dlciggQ2xhc3MgKQoJPj4+IGxvZ2dlciA9
IExvZ2dlciggSW5zdGFuY2UgKQoJPj4+IGxvZ2dlciA9IExvZ2dlciggImNvbS5leGFtcGxlLk1h
aW4iICkKCT4+PiBsb2dnZXIuZGVidWcoICJIZWxsbyBXb3JsZCEiLCAqYXJncywgKiprd2FyZ3Mg
KQoJIiIiCgkKCV9fYmFzZXBhdGg6U3RyCgkiIiIgQmFzZXBhdGggbG9nZ2luZyBzdG9yZWQgIiIi
CgkKCV9fY29udGV4dDpfQ29udGV4dAoJIiIiIEFwcGxpY2F0aW9uIGNvbnRleHQgIiIiCgkKCV9f
ZmlsZW5hbWU6U3RyCgkiIiIgTG9nZ2luZyBzdG9yZWQgY29udGVudHMgIiIiCgkKCV9fZm9ybWF0
dGVyOlN0cgoJIiIiIExvZ2dpbmcgbWVzc2FnZSBmb3JtYXQgIiIiCgkKCV9fdGltZXpvbmU6QmFz
ZVR6SW5mbwoJIiIiIEN1cnJlbnQgVGltZXpvbmUgIiIiCgkKCWRlZiBfX2luaXRfXyggc2VsZiwg
Y29udGV4dDpfQ29udGV4dCwgZm9ybWF0dGVyOlN0cj1fRm9ybWF0dGVyICkgLT4gTm9uZToKCQkK
CQkiIiIKCQlDb25zdHJ1Y3QgbWV0aG9kIG9mIGNsYXNzIExvZ2dlcgoJCQoJCVBhcmFtZXRlcnM6
CgkJCWNvbnRleHQgKF9Db250ZXh0KToKCQkJCUFwcGxpY2F0aW9uIGNvbnRleHQgbG9nZ2VyIGlu
aXRpYWwKCQkJZm9ybWF0dGVyIChTdHIpOgoJCQkJTG9nZ2VyIG91dHB1dCBmb3JtYXQKCQkiIiIK
CQkKCQljdXJydGltZSA9IGRhdGV0aW1lLm5vdygpCgkJc2VsZi5fX2Jhc2VwYXRoID0gZiJ7QmFz
ZVBhdGh9L2xvZ2dpbmciCgkJaWYgbm90IGlzZGlyKCBzZWxmLmJhc2VwYXRoICk6CgkJCW1rZGly
KCBzZWxmLmJhc2VwYXRoICkKCQlzZWxmLl9fY29udGV4dCA9IGNvbnRleHQKCQlzZWxmLl9fZmls
ZW5hbWUgPSBjdXJydGltZS5zdHJmdGltZSggZiJ7c2VsZi5iYXNlcGF0aH0ve3Byb2dyYW0ubG93
ZXIoKX0tJVktJW0tJWQubG9nIiApCgkJc2VsZi5fX2Zvcm1hdHRlciA9IGZvcm1hdHRlcgoJCXNl
bGYuX190aW1lem9uZSA9IHRpbWV6b25lKCBUekxvY2Fsem9uZU5hbWUoKSApCgkKCUBmaW5hbAoJ
QHByb3BlcnR5CglkZWYgYmFzZXBhdGgoIHNlbGYgKSAtPiBTdHI6CgkJCgkJIiIiIEJhc2VwYXRo
IGxvZ2dpbmcgc3RvcmVkICIiIgoJCQoJCXJldHVybiBzZWxmLl9fYmFzZXBhdGgKCQoJQGZpbmFs
CglAcHJvcGVydHkKCWRlZiBjb250ZXh0KCBzZWxmICkgLT4gU3RyOgoJCQoJCSIiIiBMb2dnZXIg
Y29udGV4dCAiIiIKCQkKCQljb250ZXh0ID0gc2VsZi5fX2NvbnRleHQKCQlpZiBub3QgaXNpbnN0
YW5jZSggY29udGV4dCwgU3RyICk6CgkJCWlmIG5vdCBoYXNhdHRyKCBjb250ZXh0LCAiX19xdWFs
bmFtZV9fIiApOgoJCQkJY29udGV4dCA9IHR5cGUoIGNvbnRleHQgKQoJCQlpZiBoYXNhdHRyKCBj
b250ZXh0LCAiX19xdWFsbmFtZV9fIiApOgoJCQkJcmV0dXJuIGYie2NvbnRleHQuX19tb2R1bGVf
X30ue2NvbnRleHQuX19xdWFsbmFtZV9ffSIKCQkJcmV0dXJuIGYie2NvbnRleHQuX19tb2R1bGVf
X30ue2NvbnRleHQuX19uYW1lX199IgoJCXJldHVybiBjb250ZXh0CgkKCWRlZiBjcml0aWNhbCgg
c2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFueSwgKiprd2FyZ3M6QW55ICkgLT4gTm9uZToKCQlz
ZWxmLndyaXRlKCBMZXZlbC5DUklUSUNBTCwgbWVzc2FnZSwgKmFyZ3MsICoqa3dhcmdzICkKCQoJ
ZGVmIGRlYnVnKCBzZWxmLCBtZXNzYWdlOlN0ciwgKmFyZ3M6QW55LCAqKmt3YXJnczpBbnkgKSAt
PiBOb25lOgoJCXNlbGYud3JpdGUoIExldmVsLkRFQlVHLCBtZXNzYWdlLCAqYXJncywgKiprd2Fy
Z3MgKQoJCglkZWYgZXJyb3IoIHNlbGYsIG1lc3NhZ2U6U3RyLCAqYXJnczpBbnksICoqa3dhcmdz
OkFueSApIC0+IE5vbmU6CgkJc2VsZi53cml0ZSggTGV2ZWwuRVJST1IsIG1lc3NhZ2UsICphcmdz
LCAqKmt3YXJncyApCgkKCUBmaW5hbAoJQHByb3BlcnR5CglkZWYgZmlsZW5hbWUoIHNlbGYgKSAt
PiBTdHI6CgkJCgkJIiIiIExvZ2dlciBmaWxlbmFtZSAiIiIKCQkKCQlyZXR1cm4gc2VsZi5fX2Zp
bGVuYW1lCgkKCUBmaW5hbAoJQHByb3BlcnR5CglkZWYgZm9ybWF0dGVyKCBzZWxmICkgLT4gU3Ry
OgoJCQoJCSIiIiBMb2dnZXIgZm9tYXR0ZXIgIiIiCgkJCgkJcmV0dXJuIHNlbGYuX19mb3JtYXR0
ZXIKCQoJZGVmIGluZm8oIHNlbGYsIG1lc3NhZ2U6U3RyLCAqYXJnczpBbnksICoqa3dhcmdzOkFu
eSApIC0+IE5vbmU6CgkJc2VsZi53cml0ZSggTGV2ZWwuSU5GTywgbWVzc2FnZSwgKmFyZ3MsICoq
a3dhcmdzICkKCQoJZGVmIHN1Y2Nlc3MoIHNlbGYsIG1lc3NhZ2U6U3RyLCAqYXJnczpBbnksICoq
a3dhcmdzOkFueSApIC0+IE5vbmU6CgkJc2VsZi53cml0ZSggTGV2ZWwuU1VDQ0VTUywgbWVzc2Fn
ZSwgKmFyZ3MsICoqa3dhcmdzICkKCQoJQGZpbmFsCglAcHJvcGVydHkKCWRlZiB0aW1lem9uZSgg
c2VsZiApIC0+IEJhc2VUekluZm86CgkJCgkJIiIiIEN1cnJlbnQgdGltZXpvbmUgIiIiCgkJCgkJ
cmV0dXJuIHNlbGYuX190aW1lem9uZQoJCglAZmluYWwKCUBwcm9wZXJ0eQoJZGVmIHVzZXJuYW1l
KCBzZWxmICkgLT4gU3RyOgoJCQoJCSIiIiBDdXJyZW50IG9zIGFjY291bnQgdXNlcm5hbWUgIiIi
CgkJCgkJcmV0dXJuIGdldHB3dWlkKCBnZXR1aWQoKSApWzBdCgkKCWRlZiB1dGNvZmZzZXQoIHNl
bGYgKSAtPiBUdXBsZVtfU3RyZnRpbWUsX1V0Y29mZnNldHNdOgoJCQoJCSIiIiBSZXR1cm4gZm9y
bWF0dGVkIGRhdGV0aW1lIGFuZCB1dGNvZmZzZXQgIiIiCgkJCgkJbG9jYWx0aW1lID0gZGF0ZXRp
bWUubm93KCBzZWxmLnRpbWV6b25lICkKCQl1dGZvZmZzZXQgPSBsb2NhbHRpbWUudXRjb2Zmc2V0
KCkKCQlzZWNvbmRzID0gdXRmb2Zmc2V0LnRvdGFsX3NlY29uZHMoKQoJCWhvdXJzLCByZW1haW5k
ZXIgPSBkaXZtb2QoIHNlY29uZHMsIDM2MDAgKQoJCW1pbnV0ZXMgPSByZW1haW5kZXIgLy8gNjAK
CQlvcGVyYXRvciA9ICIrIiBpZiBzZWNvbmRzID49IDAgZWxzZSAiLSIKCQlvZmZzZXRzID0gZiJ7
b3BlcmF0b3J9e2ludChob3Vycyk6MDJ9OntpbnQobWludXRlcyk6MDJ9IgoJCXN0cmZ0aW1lID0g
bG9jYWx0aW1lLnN0cmZ0aW1lKCBfRkRhdGV0aW1lICkKCQlyZXR1cm4gdHVwbGUoWyBzdHJmdGlt
ZSwgb2Zmc2V0cyBdKQoJCglkZWYgd2FybmluZyggc2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFu
eSwgKiprd2FyZ3M6QW55ICkgLT4gTm9uZToKCQlzZWxmLndyaXRlKCBMZXZlbC5XQVJOSU5HLCBt
ZXNzYWdlLCAqYXJncywgKiprd2FyZ3MgKQoJCglkZWYgd3JpdGUoIHNlbGYsIGxldmVsOlVuaW9u
W0ludCxMZXZlbCxTdHJdLCBtZXNzYWdlOlN0ciwgKmFyZ3M6QW55LCB0aHJlYWQ6VW5pb25bSW50
LFN0cl09MCwgKiprd2FyZ3M6QW55ICkgLT4gTm9uZToKCQkKCQkiIiIKCQlMb2dnZXIgd3JpdGUK
CQkKCQlQYXJhbWV0ZXJzOgoJCQlsZXZlbCAoSW50fExldmVsfFN0cik6CgkJCQlMb2dnZXIgbG9n
Z2luZyBsZXZlbAoJCQltZXNzYWdlIChTdHIpOgoJCQkJTG9nZ2VyIG1lc3NhZ2UKCQkJYXJncyAo
KkFueSk6CgkJCQlMb2dnZXIgYXJndW1lbnQgbWVzc2FnZQoJCQl0aHJlYWQgKEludHxTdHIpOgoJ
CQkJQ3VycmVudCB0aHJlYWQgcG9zaXRpb24gbnVtYmVyCgkJCWt3YXJncyAoKipBbnkpOgoJCQkJ
TG9nZ2VyIGtleSBhcmd1bWVudCBtZXNzYWdlCgkJIiIiCgkJCgkJc3RhY2tzID0gc3RhY2soKQoJ
CXByb2dwaWQgPSBzdHIoIGdldHBpZCgpICkKCQlpbmZyYW1lID0gZ2V0ZnJhbWVpbmZvKCBzdGFj
a3NbMl1bMF0gKQoJCWxpbmVudW0gPSBzdHIoIGluZnJhbWUubGluZW5vICkKCQljb250ZXh0ID0g
ZiJ7c2VsZi5jb250ZXh0fS57aW5mcmFtZS5mdW5jdGlvbn0iCgkJY29udGV4dCA9IGNvbnRleHQg
XAoJCQkucmVwbGFjZSggIl9fbWFpbl9fIiwgcHJvZ3JhbS5sb3dlcigpICkgXAoJCQkucmVwbGFj
ZSggIjxtb2R1bGU+IiwgImludm9rZSIgKQoJCXN0cmZ0aW1lLCBvZmZzZXRzID0gc2VsZi51dGNv
ZmZzZXQoKQoJCWxldmVsbmFtZSA9IGxldmVsCgkJaWYgaXNpbnN0YW5jZSggbGV2ZWwsIEludCAp
OgoJCQlsZXZlbCA9IExldmVsKCB2YWx1ZT0wICkKCQlpZiBpc2luc3RhbmNlKCBsZXZlbCwgTGV2
ZWwgKToKCQkJbGV2ZWxuYW1lID0gbGV2ZWwubmFtZQoJCXRocmVhZCA9IHN0ciggdGhyZWFkICkK
CQl1c2VybmFtZSA9IHNlbGYudXNlcm5hbWUKCQlmb3JtYXR0ZWQgPSBzZWxmLmZvcm1hdHRlci5m
b3JtYXQoCgkJCWRhdGV0aW1lPXN0cmZ0aW1lLAoJCQljb250ZXh0PWNvbnRleHRbOjM4XS5sanVz
dCggMzggKSwKCQkJcHJvZ3JhbT1wcm9ncmFtWzoxNl0ubGp1c3QoIDE2ICksCgkJCXVzZXJuYW1l
PXVzZXJuYW1lWzo2XS5jZW50ZXIoIDYgKSwKCQkJdXRjb2Zmc2V0PW9mZnNldHNbOjZdLmxqdXN0
KCA2ICksCgkJCWxldmVsPWxldmVsbmFtZVs6OF0uY2VudGVyKCA4ICksCgkJCWxpbmVudW09bGlu
ZW51bVs6NF0ubGp1c3QoIDQgKSwKCQkJdGhyZWFkPXRocmVhZFs6NF0ubGp1c3QoIDQgKSwKCQkJ
cGlkPXByb2dwaWRbOjZdLmxqdXN0KCA2ICksCgkJCW1lc3NhZ2U9bWVzc2FnZS5mb3JtYXQoICph
cmdzLCAqKmt3YXJncyApCgkJKQoJCWlmIF9FbmFibGVTdG9yZSBpcyBUcnVlOgoJCQl3aXRoIG9w
ZW4oIHNlbGYuZmlsZW5hbWUsICJhIiwgZW5jb2Rpbmc9IlVURi04IiApIGFzIGZvcGVuOgoJCQkJ
Zm9wZW4ud3JpdGUoIGZvcm1hdHRlZC5yZXBsYWNlKCAiXHgwYSIsICJcXG4iICkgKQoJCQkJZm9w
ZW4ud3JpdGUoICJceDBhIiApCgkJCQlmb3Blbi5jbG9zZSgpCgkJaWYgbm90IGlzaW5zdGFuY2Uo
IGxldmVsLCBTdHIgKSBhbmQgbGV2ZWwudmFsdWUgPj0gX1RocmVzaGxvZC52YWx1ZToKCQkJcHJp
bnQoIGYiXHgwZHtjb2xvcml6ZSggZm9ybWF0dGVkICl9IiBcCgkJCQkucmVwbGFjZSggQmFzZVBh
dGgsICJ7YmFzZXBhdGh9IiApIFwKCQkJCS5yZXBsYWNlKCBCYXNlVmVudiwgInt2aXJ0dWFsfSIg
KQoJCSAJKQoJCS4uLgoJCgkuLi4K
