----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgYmFzaAoKez89Y29tbWVudH0KIyBTdWJzaGVsbCBzdGF0dXMgY29kZQoj
IEp1c3QgZm9yIGNvbnRhaW5lciBsYXN0IHN1YnNoZWxsIGV4aXQgY29kZS4KU1VCU0hFTExTVEFU
VVM9CgojIEN1cnJlbnQgZmlsZW5hbWUuCl9fbmFtZV9fPSIkMCIKCiMgVGFyZ2V0IGJhc2VuYW1l
LgpwYXRobmFtZT0kKGJhc2VuYW1lICRfX25hbWVfXykKCiMgQ2hhbmdlIGN1cnJlbnQgd29ya2lu
ZyBkaXJlY3RvcnkuCmNkICQoZGlybmFtZSAkX19uYW1lX18pCgojIEl0ZXJhdGUgZG93biBhIChw
b3NzaWJsZSkgY2hhaW4gb2Ygc3ltbGlua3MuCndoaWxlIFsgLUwgIiRwYXRobmFtZSIgXQpkbwog
ICAgcGF0aG5hbWU9JChyZWFkbGluayAkcGF0aG5hbWUpCiAgICBjZCAkKGRpcm5hbWUgJHBhdGhu
YW1lKQogICAgcGF0aG5hbWU9JChiYXNlbmFtZSAkcGF0aG5hbWUpCmRvbmUKCiMgQ2xlYXIgdGhl
IHRlcm1pbmFsIHNjcmVlbnMuCmNsZWFyCgojIEdldCBjdXJyZW50IGFwcGxpY2F0aW9uIGJhc2Vw
YXRoLgpiYXNlcGF0aD0kKHB3ZCkKCiMgRm9yIGNvbXBhdGliaWx0eSBzeXN0ZW0uCmlmIFtbICEg
JChjb21tYW5kIC12IHB1dHMpIF1dOyB0aGVuCgkKCSMgUHV0cyBpcyBhIHByZXR0eSBjb21tYW5k
IGxpbmUgb3V0cHV0IChqdXN0IGZvciBteSBvcyBvbmx5KQoJZnVuY3Rpb24gcHV0cygpIHsKCQll
Y2hvIC1lICJceDFiWzBtJEAiCgl9CmZpCgojIENoZWNrIGlmIGRlZmF1bHQgdmlydHVhbCBlbnZp
cm9ubWVudCB2YXJpYWJsZSAoZG9lcyBub3Qgc2V0IG9yIGJsYW5rKS4KaWYgW1sgISAtbiAkVklS
VFVBTCBdXTsgdGhlbgoJZXhwb3J0IFZJUlRVQUw9L2hvbWUvdmlydHVhbC9iaW4vYWN0aXZhdGUK
ZmkKCmZ1bmN0aW9uIG1haW4oKSB7CgkKCSMgUHJvZ3JhbSBhY3Rpb24uCglsb2NhbCBhY3Rpb249
IiIKCWlmIFtbIC1uICIkMSIgXV07IHRoZW4KCQlhY3Rpb249JChlY2hvICIkMSIgfCBncmVwIC1v
UCAiXFt7Mn1cSyhbXlxdXSspIiB8fCBlY2hvICIiKQoJCWlmIFtbICJbWyRhY3Rpb25dXSIgIT0g
IiQxIiBdXTsgdGhlbgoJCQl1bnNldCBhY3Rpb24KCQlmaQoJZmkKCQoJdW5zZXQgSUZTCgkKCSMg
UHJvZ3JhbSBhcmd1bWVudCB2YWx1ZXMuCglsb2NhbCBhcmd1bWVudHM9KCkKCWxvY2FsIGk9MQoJ
Zm9yIGFyZ3VtZW50IGluICIke0B9IjsgZG8KCQlpZiBbWyAkaSAtbmUgMSBdXSB8fCBbWyAteiAi
JGFjdGlvbiIgXV07IHRoZW4KCQkJYXJndW1lbnRzKz0oICIkYXJndW1lbnQiICkKCQlmaQoJCWk9
JCgoaSsxKSkKCWRvbmUKCQoJIyBEZWZhdWx0IGZpbGVlIGNvbmZpZ3VyYXRpb25zLgoJbG9jYWwg
Y29uZmlnPSR7YmFzZXBhdGh9Ly5jb25maWcKCQoJIyBEZWZhdWx0IGFwcGxpY2F0aW9uIGNvbmZp
Z3VyYXRpb25zLgoJZGVjbGFyZSAtQSBjb25maWdzPSgKCQlbYnJhbmNoXT0KCQlbY2hlY2tlZF09
ZmFsc2UKCQlbY2xlYW5dPXRydWUKCQlbY29tcHJlc3NdPXRhcgoJCVtlbnZpcm9ubWVudF09ZGV2
ZWxvcG1lbnQKCQlbaW5jbHVkZV09JHtpbmNsdWRlc1tAXX0KCQlbbGlicmFyeV09CgkJW3BhY2th
Z2VzXT0KCQlbcHJvZ3JhbV09ZXhhbXBsZQoJCVtyZXBvc2l0b3J5XT0KCQlbcm9vdF09ZmFsc2UK
CQlbc2VydmVyc109CgkJW3ZlcnNpb25dPTEuMC4wCgkJW3ZpcnR1YWxdPSR7VklSVFVBTH0KCQlb
dmlydHVhbGl6ZV09dHJ1ZQoJKQoJCgkjIERlZmF1bHQgaW5jbHVkZXMgZmlsZXMgYW5kIGRpcmVj
dG9yaWVzIG9uIGJhY2t1cC4KCWxvY2FsIGluY2x1ZGVzPSgKCQkiLmdpdCIKCQkiLmdpdGlnbm9y
ZSIKCQkiLmdpdGh1YiIKCQkiTElDRU5TRSIKCQkicHlwcm9qZWN0LnRvbWwiCgkJIlJFQURNRS5t
ZCIKCQkicmVxdWlyZW1lbnRzLnR4dCIKCQkicmVzb3VyY2VzIgoJCSJzZXR1cC5weSIKCQkic3Jj
IgoJKQoJCgkjIFJlcGxhY2UgYWxsIHNwYWNlcyBpbnRvIGNvbW1hIGFzIHNlcGFyYXRvci4KCSMg
QW5kIHBsZWFzZSBkb24ndCB1c2Ugc3BhY2VzIGZvciBmaWxlIG9yIGRpcmVjdG9yeSBuYW1lIQoJ
Y29uZmlnc1tpbmNsdWRlXT0iJHtjb25maWdzW2luY2x1ZGVdLy8gLyx9IgoJCgkjIEhhbmRsZSBh
Y3RpdmF0ZSB2aXJ0dWFsIGVudmlyb25tZW50LgoJZnVuY3Rpb24gYWN0aXZhdGUoKSB7CgkJbG9j
YWwgY29tbWFuZD0KCQlsb2NhbCBjcmVhdGU9CgkJbG9jYWwgZmlsZW5hbWU9CgkJbG9jYWwgaW5z
dGFsbD0KCQlsb2NhbCBtbmFtZT0KCQlsb2NhbCBtdmVyc2lvbj0KCQlsb2NhbCBtb3BlcmF0b3I9
CgkJbG9jYWwgcmVxdWlyZW1lbnQ9IiR7YmFzZXBhdGh9L3JlcXVpcmVtZW50cy50eHQiCgkJbG9j
YWwgcmVxdWlyZW1lbnRzPSgpCgkJaWYgW1sgJHtjb25maWdzW3ZpcnR1YWxpemVdfSA9PSBmYWxz
ZSBdXTsgdGhlbgoJCQlyZXR1cm4gMAoJCWVsaWYgW1sgLXogJHtjb25maWdzW3ZpcnR1YWxdfSBd
XTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4gYWN0aXZhdGU6IHZlbnYgZW52aXJvbm1lbnQgYWN0
aXZhdGlvbjogZS5nIC9wYXRoL3RvL3ZlbnYvYmluL2FjdGl2YXRlIgoJCQl3aGlsZSBbWyAhIC1m
ICRmaWxlbmFtZSBdXTsgZG8KCQkJCXN0ZGluICJmaWxlbmFtZSIgIjw8LSByID4gdmlydHVhbDoi
CgkJCQlpZiBbWyAiJGZpbGVuYW1lIiA9ICIiIF1dOyB0aGVuCgkJCQkJY29udGludWUKCQkJCWVs
aWYgW1sgISAtZiAiJGZpbGVuYW1lIiBdXTsgdGhlbgoJCQkJCXRhcmdldD0kKGRpcm5hbWUgIiR7
ZmlsZW5hbWV9IikKCQkJCQlpZiBbWyAiJHRhcmdldCIgPT0gIi4iIF1dOyB0aGVuCgkJCQkJCXRh
cmdldD0kKHB3ZCkKCQkJCQlmaQoJCQkJCXdoaWxlIFtbICRjcmVhdGUgPT0gIiIgXV07IGRvCgkJ
CQkJCXN0ZGluICJjcmVhdGUiICI8PC0gciA+IGFjdGl2YXRlOiBjcmVhdGUgdGhlIHZpcnR1YWwg
ZW52aXJvbm1lbnQgaGVyZSBcIiR7dGFyZ2V0fVwiIHdpdGggbmFtZSBcIiR7ZmlsZW5hbWV9XCIg
W1kvbl0iCgkJCQkJCWlmIFtbICRjcmVhdGUgPT0gIiIgXV07IHRoZW4KCQkJCQkJCWNyZWF0ZT15
CgkJCQkJCWZpCgkJCQkJCWNyZWF0ZT0iJHtjcmVhdGUsLH0iCgkJCQkJCWlmIFtbICIkY3JlYXRl
IiA9PSAieSIgXV07IHRoZW4KCQkJCQkJCXB1dHMgIiAgPDwtIGkgPiBhY3RpdmF0ZTogY3JlYXRp
bmcgdmlydHVhbCBlbnZpcm9ubWVudCBvbiBcIiR7dGFyZ2V0fVwiIgoJCQkJCQkJcHl0aG9uMyAt
bSB2ZW52ICR7dGFyZ2V0fQoJCQkJCQkJaWYgW1sgJD8gLWVxIDAgXV07IHRoZW4KCQkJCQkJCQlj
b25maWdzW3ZpcnR1YWxdPSRmaWxlbmFtZQoJCQkJCQkJCXB1dHMgIiAgPDwtIGkgPiBhY3RpdmF0
ZTogc3VjY2VzcyBjcmVhdGVkIHZpcnR1YWwgZW52aXJvbm1lbnQgb24gXCIke3RhcmdldH1cIiIK
CQkJCQkJCWZpCgkJCQkJCQljcmVhdGU9CgkJCQkJCQlicmVhawoJCQkJCQllbGlmIFtbICIkY3Jl
YXRlIiA9PSAibiIgXV07IHRoZW4KCQkJCQkJCWNyZWF0ZT0KCQkJCQkJCWJyZWFrCgkJCQkJCWVs
c2UKCQkJCQkJCWNyZWF0ZT0KCQkJCQkJZmkKCQkJCQlkb25lCgkJCQllbHNlCgkJCQkJY29uZmln
c1t2aXJ0dWFsXT0kZmlsZW5hbWUKCQkJCQlicmVhawoJCQkJZmkKCQkJZG9uZQoJCQlzdGRpbiAi
aW5zdGFsbCIgIjw8LSByID4gYWN0aXZhdGU6IHJlcXVpcmVtZW50OiBpbnN0YWxsIGFsbCByZXF1
aXJlbWVudCBtb2R1bGVzIFtZL25dIgoJCQlpbnN0YWxsPSIke2luc3RhbGwsLH0iCgkJCWlmIFtb
ICIkaW5zdGFsbCIgPT0gInkiIF1dOyB0aGVuCgkJCQlwaXAgaW5zdGFsbCAtciAiJHJlcXVpcmVt
ZW50IgoJCQkJaWYgW1sgJD8gLWVxIDEgXV07IHRoZW4KCQkJCQlwdXRzICIgIDw8LSBlID4gYWN0
aXZhdGU6IHJlcXVpcmVtZW50OiBmYWlsZWQgaW5zdGFsbCByZXF1aXJlbWVudCBweXRob24gbW9k
dWxlcyIKCQkJCQlyZXR1cm4gMQoJCQkJZmkKCQkJCWNvbmZpZ3NbY2hlY2tlZF09dHJ1ZQoJCQkJ
aW5zdGFsbD0KCQkJCWJyZWFrCgkJCWVsaWYgW1sgIiRpbnN0YWxsIiA9PSAibiIgXV07IHRoZW4K
CQkJCXB1dHMgIiAgPDwtIGUgPiBhY3RpdmF0ZTogcmVxdWlyZW1lbnQ6IGFib3J0ZWQiCgkJCQly
ZXR1cm4gMQoJCQllbHNlCgkJCQlpbnN0YWxsPQoJCQlmaQoJCQljb25maWcgLS13cml0ZQoJCWVs
aWYgW1sgISAtZiAke2NvbmZpZ3NbdmlydHVhbF19IF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGkg
PiBhY3RpdmF0ZTogJHtjb25maWdzW3ZpcnR1YWxdfTogbm8gc3VjaCBmaWxlIG9yIGRpcmVjdG9y
eSIKCQkJY29uZmlnc1t2aXJ0dWFsXT0KCQkJYWN0aXZhdGUKCQkJcmV0dXJuICQ/CgkJZmkKCQlz
b3VyY2UgJHtjb25maWdzW3ZpcnR1YWxdfQoJCWlmIFtbICQ/IC1uZSAwIF1dOyB0aGVuCgkJCXB1
dHMgIiAgPDwtICEgPiBhY3RpdmF0ZTogc29tZXRoaW5nIHdyb25nIHdoZW4gYWN0aXZhdGUgdmly
dHVhbCBlbnZpcm9ubWVudCIKCQkJcmV0dXJuIDEKCQlmaQoJCWlmIFtbICR7Y29uZmlnc1tjaGVj
a2VkXX0gIT0gdHJ1ZSBdXSAmJiBbWyAtZiAkcmVxdWlyZW1lbnQgXV07IHRoZW4KCQkJcmVhZGFy
cmF5IC10IHJlcXVpcmVtZW50cyA8ICIkcmVxdWlyZW1lbnQiCgkJCWZvciBtb2R1bGUgaW4gJHty
ZXF1aXJlbWVudHNbQF19OyBkbwoJCQkJbW5hbWU9JChlY2hvICIkbW9kdWxlIiB8IHNlZCAtRSAi
cy8oXlthLXpBLVowLTlfLV0rKS4qL1wxLyIpCgkJCQltdmVyc2lvbj0kKGVjaG8gIiRtb2R1bGUi
IHwgc2VkIC1FICJzL15bYS16QS1aMC05Xy1dKyg+PXw8PXw9PXw+fDx8PSkoWzAtOVwuXSspL1wy
LyIpCgkJCQltb3BlcmF0b3I9JChlY2hvICIkbW9kdWxlIiB8IHNlZCAtRSAicy9eW2EtekEtWjAt
OV8tXSsoPj18PD18PT18Pnw8fD0pKFswLTlcLl0rKS9cMS8iKQoJCQkJaWYgW1sgJChwaXAgbGlz
dCB8IGdyZXAgIiRtbmFtZSIgfCBncmVwICIkbXZlcnNpb24iKSA9PSAiIiBdXTsgdGhlbgoJCQkJ
CXB1dHMgIiAgPDwtIGkgPiBkZXBlbmRlbmN5OiBtb2R1bGU6ICR7bW9kdWxlfTogcHl0aG9uIG1v
ZHVsZSBpcyBub3QgaW5zdGFsbGVkIgoJCQkJCXN0ZGluICJpbnN0YWxsIiAiPDwtIHIgPiBkZXBl
bmRlbmN5OiBtb2R1bGU6ICR7bW9kdWxlfTogaW5zdGFsbCB0aGlzIG1vZHVsZSBbWS9uXSIKCQkJ
CQlpbnN0YWxsPSIke2luc3RhbGwsLH0iCgkJCQkJaWYgW1sgIiRpbnN0YWxsIiA9PSAieSIgXV07
IHRoZW4KCQkJCQkJY29tbWFuZD0icGlwIGluc3RhbGwgJHttb2R1bGV9IgoJCQkJCQlwdXRzICIg
IDw8LSBpID4gZGVwZW5kZW5jeTogbW9kdWxlOiAke21vZHVsZX06ICR7Y29tbWFuZH0iCgkJCQkJ
CXB1dHMgIiAgPDwtIGkgPiBkZXBlbmRlbmN5OiBtb2R1bGU6ICR7bW9kdWxlfTogcGlwOiBpbnN0
YWxsaW5nIHB5dGhvbiBtb2R1bGUiCgkJCQkJCXN1YnNoZWxsICIkY29tbWFuZCIgIjw8LSBpID4g
ZGVwZW5kZW5jeTogbW9kdWxlOiAke21vZHVsZX06IHBpcDoge3N0ZG91dH0iCgkJCQkJCWlmIFtb
ICRTVUJTSEVMTFNUQVRVUyAtZXEgMSBdXTsgdGhlbgoJCQkJCQkJcHV0cyAiICA8PC0gZSA+IGRl
cGVuZGVuY3k6IG1vZHVsZTogJHttb2R1bGV9OiBwaXA6IGZhaWxlZCBpbnN0YWxsIHB5dGhvbiBt
b2R1bGUiCgkJCQkJCQlyZXR1cm4gMQoJCQkJCQlmaQoJCQkJCQl1bnNldCBJRlMKCQkJCQkJaW5z
dGFsbD0KCQkJCQkJYnJlYWsKCQkJCQllbGlmIFtbICIkaW5zdGFsbCIgPT0gIm4iIF1dOyB0aGVu
CgkJCQkJCXB1dHMgIiAgPDwtIGUgPiBkZXBlbmRlbmN5OiBtb2R1bGU6IGFib3J0ZWQiCgkJCQkJ
CXJldHVybiAxCgkJCQkJZWxzZQoJCQkJCQlpbnN0YWxsPQoJCQkJCWZpCgkJCQlmaQoJCQlkb25l
CgkJZmkKCX0KCQoJIyBSZXR1cm4gYXJjaGl2ZSBmaWxlbmFtZS4KCWZ1bmN0aW9uIGFyY2hpdmUo
KSB7CgkJbG9jYWwgY29tcHJlc3Npb249JHtjb25maWdzW2NvbXByZXNzXX0KCQlpZiBbWyAtbiAk
MSBdXTsgdGhlbgoJCQljb21wcmVzc2lvbj0kMQoJCWZpCgkJbG9jYWwgZXh0ZW5zaW9uPSJ0YXIu
Z3oiCgkJaWYgW1sgLW4gJDIgXV07IHRoZW4KCQkJZXh0ZW5zaW9uPSQyCgkJZmkKCQlpZiBbWyAi
JGNvbXByZXNzaW9uIiA9fiBeKHRhcnx6aXApJCBdXTsgdGhlbgoJCQlpZiBbWyAiJGNvbXByZXNz
aW9uIiA9PSAiemlwIiBdXTsgdGhlbgoJCQkJZXh0ZW5zaW9uPSJ6aXAiCgkJCWZpCgkJCWVjaG8g
IiR7Y29uZmlnc1twcm9ncmFtXSwsfS0ke2NvbmZpZ3NbdmVyc2lvbl19LiR7ZXh0ZW5zaW9ufSIK
CQlmaQoJfQoJCgkjIEhhbmRsZSBjcmVhdGUgcHJvZ3JhbSBhcmNoaXZlLgoJIyBleGVjdXRlOiBi
YWNraW5nIFthcmd1bWVudHNdCglmdW5jdGlvbiBiYWNraW5nKCkgewoJCWxvY2FsIGFyY2hpdmU9
JChhcmNoaXZlICRAKQoJCWxvY2FsIGNvbXByZXNzaW9uPSR7Y29uZmlnc1tjb21wcmVzc119CgkJ
aWYgW1sgLW4gJDEgXV07IHRoZW4KCQkJY29tcHJlc3Npb249JDEKCQlmaQoJCWlmIFtbIC16ICRh
cmNoaXZlIF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGUgPiBiYWNraW5nOiAke2NvbXByZXNzaW9u
fTogdW5zdXBwb3J0ZWQgY29tcHJlc3Npb24iCgkJCXJldHVybiAxCgkJZmkKCQlsb2NhbCBmaWxl
bmFtZXM9KCkKCQlsb2NhbCBhcmd1bWVudHM9KCkKCQlpZiBbWyAiJGNvbXByZXNzaW9uIiA9PSAi
dGFyIiBdXTsgdGhlbgoJCQlhcmd1bWVudHMrPSggIi1jdmYiICkKCQlmaQoJCUlGUz0iLCIgcmVh
ZCAtciAtYSBmaWxlbmFtZXMgPDw8ICIke2NvbmZpZ3NbaW5jbHVkZV19IgoJCXVuc2V0IElGUwoJ
CWZvciBpbmRleCBpbiAkeyFmaWxlbmFtZXNbQF19OyBkbwoJCQlsb2NhbCBmaWxlbmFtZT0ke2Zp
bGVuYW1lc1skaW5kZXhdfQoJCQlpZiBbWyAhIC1kICRmaWxlbmFtZSBdXSAmJiBbWyAhIC1mICRm
aWxlbmFtZSBdXTsgdGhlbgoJCQkJdW5zZXQgZmlsZW5hbWVzWyRpbmRleF0KCQkJZmkKCQlkb25l
CgkJbG9jYWwgaW5kZXg9MQoJCWxvY2FsIGxlbmd0aD0keyNmaWxlbmFtZXNbQF19CgkJbG9jYWwg
c3BhY2VzPSIiCgkJbG9jYWwgY29tbWFuZD0iJGNvbXByZXNzaW9uICR7YXJndW1lbnRzW0BdfSIK
CQlmb3IgKCggaT0wOyBpPCR7I2NvbW1hbmR9OyBpKysgKSk7IGRvCgkJCXNwYWNlcys9IiAiCgkJ
ZG9uZQoJCWxvY2FsIGNvbW1hbmQ9IiRjb21wcmVzc2lvbiAke2FyZ3VtZW50c1tAXX0gJGFyY2hp
dmUgJHtmaWxlbmFtZXNbQF19IgoJCXB1dHMgIiAgPDwtIGkgPiBiYWNraW5nOiBjcmVhdGluZyBh
cmNoaXZlIHdpdGggXCIke2NvbXByZXNzaW9ufVwiIGNvbXByZXNzaW9uIgoJCXB1dHMgIiAgPDwt
IGkgPiBiYWNraW5nOiAkY29tcHJlc3Npb24gJHthcmd1bWVudHNbQF19ICR7YmFzZXBhdGh9LyRh
cmNoaXZlIFxcIgoJCWZvciBmaWxlbmFtZSBpbiAke2ZpbGVuYW1lc1tAXX07IGRvCgkJCWlmIFtb
ICRpbmRleCAtbHQgJGxlbmd0aCBdXTsgdGhlbgoJCQkJcHV0cyAiICA8PC0gaSA+IGJhY2tpbmc6
ICR7c3BhY2VzfSAke2Jhc2VwYXRofS8ke2ZpbGVuYW1lfSBcXCIKCQkJZWxzZQoJCQkJcHV0cyAi
ICA8PC0gaSA+IGJhY2tpbmc6ICR7c3BhY2VzfSAke2Jhc2VwYXRofS8ke2ZpbGVuYW1lfSIKCQkJ
ZmkKCQkJaW5kZXg9JCgoaW5kZXgrMSkpCgkJZG9uZQoJCXN1YnNoZWxsICIkY29tbWFuZCIgIjw8
LSBpID4gYmFja2luZzogJHtjb21wcmVzc2lvbn06IHtzdGRvdXR9IgoJCWlmIFtbICRTVUJTSEVM
TFNUQVRVUyAtZXEgMCBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4gYmFja2luZzogJHtjb21w
cmVzc2lvbn06IGFyY2hpdmU6IGZpbGVuYW1lOiAke2FyY2hpdmV9IgoJCQlwdXRzICIgIDw8LSBp
ID4gYmFja2luZzogJHtjb21wcmVzc2lvbn06IGFyY2hpdmU6IGZ1bGxuYW1lOiAke2Jhc2VwYXRo
fS8ke2FyY2hpdmV9IgoJCQlyZXR1cm4gMAoJCWZpCgkJcHV0cyAiICA8PC0gaSA+IGJhY2tpbmc6
ICR7Y29tcHJlc3Npb259OiBzb21ldGhpbmcgd3Jvbmcgd2hlbiBjcmVhdGluZyBhcmNoaXZlIGZp
bGUiCgkJcmV0dXJuIDEKCX0KCQoJIyBIYW5kbGUgZ2l0IGF1dG8gY29tbWl0IGZvciBhZGRlZCBv
ciBtb2RpZmllbmQgZmlsZXMuCglmdW5jdGlvbiBjb21taXRzKCkgewoJCWlmIFtbICEgLWQgJHti
YXNlcGF0aH0vLmdpdCBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gY29tbWl0czogLmdpdDog
bm8gc3VjaCBkaXJlY3RvcnkiCgkJCXJldHVybiAxCgkJZmkKCQlsb2NhbCBicmFuY2g9JHtjb25m
aWdzW2JyYW5jaF19CgkJaWYgW1sgLXogJGJyYW5jaCBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBp
ID4gY29tbWl0czogYnJhbmNoOiBuYW1lIG5vdCBkZWZpbmVkIGluIGNvbmZpZyIKCQkJc3RkaW4g
ImJyYW5jaCIgIjw8LSByID4gY29tbWl0czogYnJhbmNoOiIKCQlmaQoJCXdoaWxlIFtbICEgJChn
aXQgbHMtcmVtb3RlIG9yaWdpbiAiJGJyYW5jaCIpIF1dOyBkbwoJCQlwdXRzICIgIDw8LSBlID4g
Y29tbWl0czogYnJhbmNoOiAke2JyYW5jaH06IG5vIHN1Y2ggb3JpZ2luIGJyYW5jaCIKCQkJYnJh
bmNoPQoJCQlzdGRpbiAiYnJhbmNoIiAiPDwtIHIgPiBjb21taXRzOiBicmFuY2g6IgoJCWRvbmUK
CQlpZiBbWyAiJGJyYW5jaCIgIT0gIiQoZ2l0IGJyYW5jaCAtLXNob3ctY3VycmVudCkiIF1dOyB0
aGVuCgkJCXN1YnNoZWxsICJnaXQgY2hlY2tvdXQgJGJyYW5jaCIgIjw8LSBpID4gY29tbWl0czog
Z2l0OiBjaGVja291dDoge3N0ZG91dH0iCgkJZmkKCQlsb2NhbCBmaWxlbmFtZXM9KCkKCQlsb2Nh
bCBvcHRpb25zPSgpCgkJaWYgW1sgJChnaXQgY29uZmlnIC0tZ2V0IGNvbW1pdC5ncGdTaWduKSBd
XTsgdGhlbgoJCQlvcHRpb25zKz0oICItUyIgKQoJCWZpCgkJb3B0aW9ucys9KCAiLW0iICkKCQls
b2NhbCBzdGF0dXNlcz0oKQoJCXB1dHMgIiAgPDwtIGUgPiBjb21taXRzOiBzY2FubmluZyBmaWxl
cyIKCQlyZWFkYXJyYXkgLXQgc3RhdHVzZXMgPCA8KGdpdCBzdGF0dXMgLS1zaG9ydCkKCQlmb3Ig
c3Rkb3V0IGluICIke3N0YXR1c2VzW0BdfSI7IGRvCgkJCWxvY2FsIGFwcGVuZD0KCQkJbG9jYWwg
ZmlsZW5hbWU9IiR7c3Rkb3V0OjN9IgoJCQlsb2NhbCBtZXNzYWdlcz0KCQkJbG9jYWwgc3RhdHVz
PSIke3N0ZG91dDowOjJ9IgoJCQlzdGF0dXM9JHtzdGF0dXMvIC99CgkJCXN0ZGluICJhcHBlbmQi
ICI8PC0gciA+IGNvbW1pdHM6ICR7ZmlsZW5hbWV9OiAke3N0YXR1c306IGFkZCB0aGlzIGZpbGUg
W1kvbl0iICJOIgoJCQlpZiBbWyAiJHthcHBlbmReXn0iID09ICJZIiBdXTsgdGhlbgoJCQkJaWYg
W1sgIiR7c3RhdHVzLyAvfSIgPT0gIk0iIF1dOyB0aGVuCgkJCQkJZ2l0IGRpZmYgIiRmaWxlbmFt
ZSIKCQkJCWZpCgkJCQlwdXRzICIgIDw8LSBpID4gY29tbWl0czogZ2l0OiBhZGQgXCIkZmlsZW5h
bWVcIiIKCQkJCWdpdCBhZGQgIiRmaWxlbmFtZSIKCQkJCXN0ZGluICJtZXNzYWdlcyIgIjw8LSBy
ID4gY29tbWl0czogJHtmaWxlbmFtZX06IG1lc3NhZ2VzOiIKCQkJCXB1dHMgIiAgPDwtIGkgPiBj
b21taXRzOiBnaXQ6IGNvbW1pdCAke29wdGlvbnNbQF19IFwiJHttZXNzYWdlcy8vXCIvXFxcIn1c
IiIKCQkJCWdpdCBjb21taXQgJHtvcHRpb25zW0BdfSAiJG1lc3NhZ2VzIgoJCQkJaWYgW1sgJHtQ
SVBFU1RBVFVTWzBdfSAtbmUgMCBdXTsgdGhlbgoJCQkJCXB1dHMgIiAgPDwtIGkgPiBjb21taXRz
OiBnaXQ6IHNvbWV0aGluZyB3cm9uZyB3aGVuIGNyZWF0ZSBjb21taXQiCgkJCQkJcmV0dXJuIDEK
CQkJCWZpCgkJCQlmaWxlbmFtZXMrPSggIiRmaWxlbmFtZSIgKQoJCQlmaQoJCWRvbmUKCQlpZiBb
WyAkeyNmaWxlbmFtZXNbQF19IC1uZSAwIF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGkgPiBjb21t
aXRzOiBnaXQ6IHB1c2g6IG9yaWdpbiBcIiRicmFuY2hcIiIKCQkJZ2l0IHB1c2ggb3JpZ2luICIk
YnJhbmNoIgoJCQlpZiBbWyAke1BJUEVTVEFUVVNbMF19IC1uZSAwIF1dOyB0aGVuCgkJCQlwdXRz
ICIgIDw8LSBlID4gY29tbWl0czogZ2l0OiBwdXNoOiBlcnJvciB3aGVuIHB1c2ggaW50byByZW1v
dGUgcmVwb3NpdG9yeSIKCQkJCXJldHVybiAxCgkJCWZpCgkJZmkKCX0KCQoJIyBIYW5kbGUgcmVh
ZCBhbmQgd3JpdGUgYXBwbGljYXRpb24gY29uZmlndXJhdGlvbiBlLmcgcmVhZCBhbmQgd3JpdGUg
Y29uZmlncy4KCSMgZXhlY3V0ZTogY29uZmlnIC0tcmVhZHx3cml0ZQoJZnVuY3Rpb24gY29uZmln
KCkgewoJCWxvY2FsIGFjdGlvbj0kMQoJCWxvY2FsIGtleXNldD0KCQlsb2NhbCBrZXlzZXRzPSgp
CgkJZm9yIGtleXNldCBpbiAkeyFjb25maWdzW0BdfTsgZG8KCQkJa2V5c2V0cys9KCAka2V5c2V0
ICkKCQlkb25lCgkJbG9jYWwgY29udGVudHM9KCkKCQlsb2NhbCB2YWx1ZXM9CgkJaWYgW1sgIiRh
Y3Rpb24iID09ICItLXJlYWQiIF1dOyB0aGVuCgkJCXdoaWxlIElGUz0iIiByZWFkIC1yIGxpbmU7
IGRvCgkJCQlpZiBbWyAteiAiJGxpbmUiIF1dIHx8IFtbICR7bGluZTowOjF9ID09ICIjIiBdXTsg
dGhlbgoJCQkJCWNvbnRpbnVlCgkJCQlmaQoJCQkJa2V5c2V0PSQoZWNobyAtZSAiJGxpbmUiIHwg
Y3V0IC1kICI9IiAtZiAxKQoJCQkJdmFsdWVzPSQoZWNobyAtZSAiJGxpbmUiIHwgY3V0IC1kICI9
IiAtZiAyKQoJCQkJaWYgW1sgLW4gIiRrZXlzZXQiIF1dICYmIFtbICR7a2V5c2V0c1tAXX0gPX4g
JGtleXNldCBdXTsgdGhlbgoJCQkJCWlmIFtbICRrZXlzZXQgPT0gdmlydHVhbCBdXTsgdGhlbgoJ
CQkJCQlpZiBbWyAteiAiJHZhbHVlcyIgXV07IHRoZW4KCQkJCQkJCXB1dHMgIiAgPDwtICEgPiBj
b25maWc6IHZpcnR1YWwgZW52aXJvbm1lbnQgYWN0aXZhdGlvbiByZXF1aXJlZCIKCQkJCQkJCXJl
dHVybiAxCgkJCQkJCWVsaWYgW1sgISAtZiAiJHZhbHVlcyIgXV07IHRoZW4KCQkJCQkJCXB1dHMg
IiAgPDwtICEgPiBjb25maWc6ICR2YWx1ZXM6IG5vIHN1Y2ggdmlydHVhbCBlbnZpcm9ubWVudCIK
CQkJCQkJCXJldHVybiAxCgkJCQkJCWZpCgkJCQkJZmkKCQkJCQljb25maWdzWyRrZXlzZXRdPSR2
YWx1ZXMKCQkJCWVsc2UKCQkJCQlwdXRzICIgIDw8LSAhID4gY29uZmlnOiAka2V5c2V0OiB1bmtu
b3duIGNvbmZpZ3VyYXRpb24gdmFyaWFibGUiCgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCWRvbmUg
PCAkY29uZmlnCgkJCXVuc2V0IElGUwoJCWVsaWYgW1sgIiRhY3Rpb24iID09ICItLXdyaXRlIiBd
XTsgdGhlbgoJCQllY2hvIC1lICJcYyIgPiAiJGNvbmZpZyIKCQkJZm9yIGtleXNldCBpbiAkeyFj
b25maWdzW0BdfTsgZG8KCQkJCWVjaG8gLWUgIiR7a2V5c2V0fT0ke2NvbmZpZ3NbJGtleXNldF19
IiA+PiAiJGNvbmZpZyIKCQkJCWlmIFtbICQ/IC1lcSAwIF1dOyB0aGVuCgkJCQkJcHV0cyAiICA8
PC0gISA+IGNvbmZpZzogZXJyb3I6IHdoZW4gd3JpdGUgY29uZmlndXJhdGlvbiIKCQkJCWZpCgkJ
CWRvbmUKCQllbGlmIFtbIC16ICQxIF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtICEgPiBjb25maWc6
IHJlcXVpcmUgb3B0aW9uIC0tcmVhZHx3cml0ZSIKCQkJcmV0dXJuIDEKCQllbHNlCgkJCXB1dHMg
IiAgPDwtICEgPiBjb25maWc6ICRhY3Rpb246IHVua25vd24gb3B0aW9uIgoJCQlyZXR1cm4gMQoJ
CWZpCgl9CgkKCSMgSGFuZGxlIGNoZWNrIGFuZCB2YWxpZGF0ZSBkZXBlbmRlbmN5IHJlcXVpcmVt
ZW50cy4KCWZ1bmN0aW9uIGRlcGVuZGVuY3koKSB7CgkJCgkJIyBIYW5kbGUgbGludXggY2hlY2sg
YW5kIGluc3RhbGwgcGFja2V0IGluIGxpbnV4IGRpc3Ryby4KCQkjIGV4ZWN1dGU6IG1hbmFnZXIg
LS1hdmFpbGFibGUgW3BhY2thZ2VdCgkJIyAgICAgICAgICBtYW5hZ2VyIC0tY2hlY2sgW3BhY2th
Z2VdCgkJIyAgICAgICAgICBtYW5hZ2VyIC0taW5zdGFsbCBbcGFja2FnZV0KCQlmdW5jdGlvbiBt
YW5hZ2VyKCkgewoJCQlsb2NhbCBhY3Rpb249JDEKCQkJbG9jYWwgZGlzdHJvPQoJCQlsb2NhbCBt
YW5hZ2VyPQoJCQlsb2NhbCBwYWNrYWdlPSQyCgkJCWlmIFtbIC1mIC9ldGMvb3MtcmVsZWFzZSBd
XTsgdGhlbgoJCQkJZGlzdHJvPSQoZ3JlcCAtRSAiXklEPSIgL2V0Yy9vcy1yZWxlYXNlIHwgY3V0
IC1kICI9IiAtZjIgfCB0ciAtZCAiXCIiKQoJCQllbGlmIFtbIC1mIC9ldGMvcmVkaGF0LXJlbGVh
c2UgXV07IHRoZW4KCQkJCWRpc3Rybz0icmhlbCIKCQkJZWxpZiBbWyAtZiAvZXRjL2xzYi1yZWxl
YXNlIF1dOyB0aGVuCgkJCQlkaXN0cm89JChncmVwIERJU1RSSUJfSUQgL2V0Yy9sc2ItcmVsZWFz
ZSB8IGN1dCAtZCAiPSIgLWYyIHwgdHIgIls6dXBwZXI6XSIgIls6bG93ZXI6XSIgKQoJCQllbGlm
IFtbIC1mIC9ldGMvZGViaWFuX3ZlcnNpb24gXV07IHRoZW4KCQkJCWRpc3Rybz0iZGViaWFuIgoJ
CQllbGlmIFtbIC1mIC9ldGMvYWxwaW5lLXJlbGVhc2UgXV07IHRoZW4KCQkJCWRpc3Rybz0iYWxw
aW5lIgoJCQllbGlmIFtbIC1mIC9ldGMvU3VTRS1yZWxlYXNlIF1dOyB0aGVuCgkJCQlkaXN0cm89
InN1c2UiCgkJCWVsc2UKCQkJCWlmIGNvbW1hbmQgLXYgaG9zdG5hbWVjdGwgJj4gL2Rldi9udWxs
OyB0aGVuCgkJCQkJZGlzdHJvPSQoaG9zdG5hbWVjdGwgfCBncmVwICJPcGVyYXRpbmcgU3lzdGVt
IiB8IGN1dCAtZDogLWYyIHwgYXdrICJ7cHJpbnQgdG9sb3dlcihcJDEpfSIpCgkJCQllbGlmIGNv
bW1hbmQgLXYgdW5hbWUgJj4gL2Rldi9udWxsOyB0aGVuCgkJCQkJZGlzdHJvPSQodW5hbWUgLXMg
fCBhd2sgIntwcmludCB0b2xvd2VyKFwkMSl9IikKCQkJCWVsc2UKCQkJCQlwdXRzICIgIDw8LSBl
ID4gbWFuYWdlcjogdW5rbm93biBsaW51eCBkaXN0cmlidXRpb24iCgkJCQkJZXhpdCAxCgkJCQlm
aQoJCQlmaQoJCQljYXNlICIkZGlzdHJvIiBpbgoJCQkJdWJ1bnR1fGRlYmlhbikgbWFuYWdlcj0i
YXB0IiA7OwoJCQkJZmVkb3JhfGNlbnRvc3xyaGVsfHJvY2t5fGFsbWEpIG1hbmFnZXI9ImRuZiIg
OzsKCQkJCW9wZW5zdXNlfHN1c2UpIG1hbmFnZXI9Inp5cHBlciIgOzsKCQkJCWFyY2h8bWFuamFy
bykgbWFuYWdlcj0icGFjbWFuIiA7OwoJCQkJYWxwaW5lKSBtYW5hZ2VyPSJhcGsiIDs7CgkJCQl2
b2lkKSBtYW5hZ2VyPSJ4YnBzIiA7OwoJCQkJbml4b3MpIG1hbmFnZXI9Im5peC1lbnYiIDs7CgkJ
CQlnZW50b28pIG1hbmFnZXI9ImVtZXJnZSIgOzsKCQkJCXNsYWNrd2FyZSkgbWFuYWdlcj0ic2xh
Y2twa2ciIDs7CgkJCQkqKQoJCQkJCWlmIFtbICQoY29tbWFuZCAtdiBhcHQgJj4gL2Rldi9udWxs
KSBdXTsgdGhlbgoJCQkJCQltYW5hZ2VyPSJhcHQiCgkJCQkJZWxpZiBbWyAkKGNvbW1hbmQgLXYg
ZG5mICY+IC9kZXYvbnVsbCkgXV07IHRoZW4KCQkJCQkJbWFuYWdlcj0iZG5mIgoJCQkJCWVsaWYg
W1sgJChjb21tYW5kIC12IHBhY21hbiAmPiAvZGV2L251bGwpIF1dOyB0aGVuCgkJCQkJCW1hbmFn
ZXI9InBhY21hbiIKCQkJCQllbGlmIFtbICQoY29tbWFuZCAtdiBhcGsgJj4gL2Rldi9udWxsKSBd
XTsgdGhlbgoJCQkJCQltYW5hZ2VyPSJhcGsiCgkJCQkJZWxpZiBbWyAkKGNvbW1hbmQgLXYgenlw
cGVyICY+IC9kZXYvbnVsbCkgXV07IHRoZW4KCQkJCQkJbWFuYWdlcj0ienlwcGVyIgoJCQkJCWVs
aWYgW1sgJChjb21tYW5kIC12IHhicHMgJj4gL2Rldi9udWxsKSBdXTsgdGhlbgoJCQkJCQltYW5h
Z2VyPSJ4YnBzIgoJCQkJCWVsaWYgW1sgJChjb21tYW5kIC12IG5peC1lbnYgJj4gL2Rldi9udWxs
KSBdXTsgdGhlbgoJCQkJCQltYW5hZ2VyPSJuaXgtZW52IgoJCQkJCWVsaWYgW1sgJChjb21tYW5k
IC12IGVtZXJnZSAmPiAvZGV2L251bGwpIF1dOyB0aGVuCgkJCQkJCW1hbmFnZXI9ImVtZXJnZSIK
CQkJCQllbGlmIFtbICQoY29tbWFuZCAtdiBzbGFja3BrZyAmPiAvZGV2L251bGwpIF1dOyB0aGVu
CgkJCQkJCW1hbmFnZXI9InNsYWNrcGtnIgoJCQkJCWVsc2UKCQkJCQkJcHV0cyAiICA8PC0gZSA+
IG1hbmFnZXI6IHVua25vd24gbGludXggZGVmYXVsdCBtYW5hZ2VyIHBhY2tldCIKCQkJCQkJZXhp
dCAxCgkJCQkJZmkKCQkJCTs7CgkJCWVzYWMKCQkJaWYgW1sgIiRhY3Rpb24iID09ICItLWF2YWls
YWJsZSIgXV07IHRoZW4KCQkJCWNhc2UgIiRtYW5hZ2VyIiBpbgoJCQkJCWFwdCkgYXB0LWNhY2hl
IHNlYXJjaCAiXiRwYWNrYWdlJCIgfCBncmVwIC1xdyAiJHBhY2thZ2UiIDs7CgkJCQkJZG5mfHl1
bSkgeXVtIGxpc3QgYXZhaWxhYmxlICIkcGFja2FnZSIgJj4gL2Rldi9udWxsIDs7CgkJCQkJcGFj
bWFuKSBwYWNtYW4gLVNzICJeJHBhY2thZ2UkIiAmPiAvZGV2L251bGwgOzsKCQkJCQlhcGspIGFw
ayBzZWFyY2ggIl4kcGFja2FnZSQiICY+IC9kZXYvbnVsbCA7OwoJCQkJCXp5cHBlcikgenlwcGVy
IHNlICIkcGFja2FnZSIgJj4gL2Rldi9udWxsIDs7CgkJCQkJeGJwcykgeGJwcy1xdWVyeSAtUnMg
Il4kcGFja2FnZVwkIiAmPiAvZGV2L251bGwgOzsKCQkJCQluaXgtZW52KSBuaXgtZW52IC1xYVAg
Il4kcGFja2FnZSQiICY+IC9kZXYvbnVsbCA7OwoJCQkJCWVtZXJnZSkgZW1lcmdlIC0tc2VhcmNo
ICIkcGFja2FnZSIgJj4gL2Rldi9udWxsIDs7CgkJCQkJc2xhY2twa2cpIHNsYWNrcGtnIHNlYXJj
aCAiJHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7OwoJCQkJCWZsYXRwYWspIGZsYXRwYWsgc2VhcmNo
ICIkcGFja2FnZSIgJj4gL2Rldi9udWxsIDs7CgkJCQkJc25hcCkgc25hcCBmaW5kICIkcGFja2Fn
ZSIgJj4gL2Rldi9udWxsIDs7IAoJCQkJZXNhYwoJCQllbGlmIFtbICIkYWN0aW9uIiA9PSAiLS1j
aGVjayIgXV07IHRoZW4KCQkJCWNhc2UgIiRtYW5hZ2VyIiBpbgoJCQkJCWFwdCkgZHBrZyAtbCB8
IGdyZXAgLXF3ICIkcGFja2FnZSIgOzsKCQkJCQlkbmZ8eXVtKSBycG0gLXEgIiRwYWNrYWdlIiAm
PiAvZGV2L251bGwgOzsKCQkJCQlwYWNtYW4pIHBhY21hbiAtUWkgIiRwYWNrYWdlIiAmPiAvZGV2
L251bGwgOzsKCQkJCQlhcGspIGFwayBpbmZvICIkcGFja2FnZSIgJj4gL2Rldi9udWxsIDs7CgkJ
CQkJenlwcGVyKSB6eXBwZXIgc2UgLS1pbnN0YWxsZWQtb25seSAiJHBhY2thZ2UiICY+IC9kZXYv
bnVsbCA7OwoJCQkJCXhicHMpIHhicHMtcXVlcnkgLVJzICJeJHBhY2thZ2VcJCIgJj4gL2Rldi9u
dWxsIDs7CgkJCQkJbml4LWVudikgbml4LWVudiAtcSAiJHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7
OwoJCQkJCWVtZXJnZSkgZXF1ZXJ5IGxpc3QgIiRwYWNrYWdlIiAmPiAvZGV2L251bGwgOzsKCQkJ
CQlzbGFja3BrZykgc2xhY2twa2cgc2VhcmNoICIkcGFja2FnZSIgfCBncmVwIC1xICJpbnN0YWxs
ZWQiIDs7CgkJCQkJZmxhdHBhaykgZmxhdHBhayBsaXN0IHwgZ3JlcCAtcXcgIiRwYWNrYWdlIiA7
OwoJCQkJCXNuYXApIHNuYXAgbGlzdCB8IGdyZXAgLXF3ICIkcGFja2FnZSIgOzsKCQkJCWVzYWMK
CQkJZWxpZiBbWyAiJGFjdGlvbiIgPT0gIi0taW5zdGFsbCIgXV07IHRoZW4KCQkJCWNhc2UgIiRt
YW5hZ2VyIiBpbgoJCQkJCWFwdCkgc3VkbyBhcHQgdXBkYXRlICYmIHN1ZG8gYXB0IGluc3RhbGwg
LXkgIiRwYWNrYWdlIiA7OwoJCQkJCWRuZnx5dW0pIHN1ZG8gIiRtYW5hZ2VyIiBpbnN0YWxsIC15
ICIkcGFja2FnZSIgOzsKCQkJCQlwYWNtYW4pIHN1ZG8gcGFjbWFuIC1TIC0tbm9jb25maXJtICIk
cGFja2FnZSIgOzsKCQkJCQlhcGspIHN1ZG8gYXBrIGFkZCAiJHBhY2thZ2UiIDs7CgkJCQkJenlw
cGVyKSBzdWRvIHp5cHBlciBpbnN0YWxsIC15ICIkcGFja2FnZSIgOzsKCQkJCQl4YnBzKSBzdWRv
IHhicHMtaW5zdGFsbCAteSAiJHBhY2thZ2UiIDs7CgkJCQkJbml4LWVudikgbml4LWVudiAtaSAi
JHBhY2thZ2UiIDs7CgkJCQkJZW1lcmdlKSBzdWRvIGVtZXJnZSAiJHBhY2thZ2UiIDs7CgkJCQkJ
c2xhY2twa2cpIHN1ZG8gc2xhY2twa2cgaW5zdGFsbCAiJHBhY2thZ2UiIDs7CgkJCQkJZmxhdHBh
aykgc3VkbyBmbGF0cGFrIGluc3RhbGwgLXkgIiRwYWNrYWdlIiA7OwoJCQkJCXNuYXApIHN1ZG8g
c25hcCBpbnN0YWxsICIkcGFja2FnZSIgOzsKCQkJCWVzYWMKCQkJZWxpZiBbWyAteiAkMSBdXTsg
dGhlbgoJCQkJcHV0cyAiICA8PC0gISA+IG1hbmFnZXI6IHJlcXVpcmUgb3B0aW9uIC0tY2hlY2t8
aW5zdGFsbCIKCQkJCWV4aXQgMQoJCQllbHNlCgkJCQlwdXRzICIgIDw8LSAhID4gbWFuYWdlcjog
JGFjdGlvbjogdW5rbm93biBvcHRpb24iCgkJCQlleGl0IDEKCQkJZmkKCQkJcmV0dXJuICQ/CgkJ
fQoJCQoJCWxvY2FsIGluc3RhbGw9CgkJbG9jYWwgcGFja2FnZXM9KCkKCQlpZiBbWyAtbiAke2Nv
bmZpZ3NbcGFja2FnZXNdfSBdXTsgdGhlbgoJCQlJRlM9IiwiIHJlYWQgLXIgLWEgcGFja2FnZXMg
PDw8ICIke2NvbmZpZ3NbcGFja2FnZXNdfSIKCQkJZm9yIHBhY2thZ2UgaW4gJHtwYWNrYWdlc1tA
XX07IGRvCgkJCQltYW5hZ2VyIC0tY2hlY2sgIiRwYWNrYWdlIgoJCQkJaWYgW1sgJD8gLWVxIDAg
XV07IHRoZW4KCQkJCQljb250aW51ZQoJCQkJZmkKCQkJCXB1dHMgIiAgPDwtIGkgPiBkZXBlbmRl
bmN5OiBwYWNrYWdlOiAke3BhY2thZ2V9OiBwYWNrYWdlIGlzIG5vdCBpbnN0YWxsZWQiCgkJCQlz
dGRpbiAiaW5zdGFsbCIgIjw8LSByID4gZGVwZW5kZW5jeTogcGFja2FnZTogJHtwYWNrYWdlfTog
aW5zdGFsbCB0aGlzIHBhY2thZ2UgW1kvbl0iCgkJCQlpZiBbWyAiJHtpbnN0YWxsLCx9IiA9PSAi
eSIgXV07IHRoZW4KCQkJCQltYW5hZ2VyIC0tYXZhaWxhYmxlICIkcGFja2FnZSIKCQkJCQlpZiBb
WyAkPyAtZXEgMSBdXTsgdGhlbgoJCQkJCQlwdXRzICIgIDw8LSBlID4gZGVwZW5kZW5jeTogcGFj
a2FnZTogJHtwYWNrYWdlfTogaXMgbm90IGF2YWlsYWJsZSBvbiBjdXJyZW50IG1hbmFnZXIgcGFj
a2V0IgoJCQkJCQlyZXR1cm4gMQoJCQkJCWZpCgkJCQkJbWFuYWdlciAtLWluc3RhbGwgIiRwYWNr
YWdlIgoJCQkJCWlmIFtbICQ/IC1lcSAxIF1dOyB0aGVuCgkJCQkJCXB1dHMgIiAgPDwtIGUgPiBk
ZXBlbmRlbmN5OiBwYWNrYWdlOiAke3BhY2thZ2V9OiBmYWlsZWQgaW5zdGFsbCBwYWNrYWdlIgoJ
CQkJCQlyZXR1cm4gMQoJCQkJCWZpCgkJCQkJaW5zdGFsbD0KCQkJCQlicmVhawoJCQkJZWxpZiBb
WyAiJHtpbnN0YWxsLCx9IiA9PSAibiIgXV07IHRoZW4KCQkJCQlwdXRzICIgIDw8LSBlID4gZGVw
ZW5kZW5jeTogcGFja2FnZTogYWJvcnRlZCIKCQkJCQlyZXR1cm4gMQoJCQkJZWxzZQoJCQkJCWlu
c3RhbGw9CgkJCQlmaQoJCQlkb25lCgkJCXVuc2V0IElGUwoJCWZpCgkJCgkJbG9jYWwgbGlicmFy
aWVzPSgpCgkJaWYgW1sgLW4gJHtjb25maWdzW2xpYnJhcnldfSBdXTsgdGhlbgoJCQlJRlM9Iiwi
IHJlYWQgLXIgLWEgbGlicmFyaWVzIDw8PCAiJHtjb25maWdzW2xpYnJhcnldfSIKCQkJZm9yIGxp
YnJhcnkgaW4gJHtsaWJyYXJpZXNbQF19OyBkbwoJCQkJbGRjb25maWcgLXAgfCBncmVwIC1xICIk
bGlicmFyeSIKCQkJCWlmIFtbICQ/IC1lcSAxIF1dOyB0aGVuCgkJCQkJcHV0cyAiICA8PC0gZSA+
IGRlcGVuZGVuY3k6IGxpYnJhcnk6ICR7bGlicmFyeX06IGxpYnJhcnkgaXMgbm90IGF2YWlsYWJs
ZSIKCQkJCQlyZXR1cm4gMQoJCQkJZmkKCQkJZG9uZQoJCQl1bnNldCBJRlMKCQlmaQoJCQoJCWFj
dGl2YXRlCgkJaWYgW1sgJD8gLWVxIDEgXV07IHRoZW4KCQkJcmV0dXJuIDEKCQlmaQoJfQoJCgkj
IERlcGxveSB0aGUgcHJvZ3JhbSBpbnRvIHNlcnZlcnMuCglmdW5jdGlvbiBkZXBsb3lzKCkgewoJ
CWxvY2FsIGFyY2hpdmU9JChhcmNoaXZlKQoJCWxvY2FsIGRlc3RpbmF0ZT0KCQlsb2NhbCBob3N0
bmFtZT0KCQlsb2NhbCBwb3J0PQoJCWxvY2FsIHNlcnZlcnM9KCkKCQlsb2NhbCB1c2VybmFtZT0K
CQlpZiBbWyAteiAke2NvbmZpZ3Nbc2VydmVyc119IF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGUg
PiBkZXBsb3lzOiBubyBzZXJ2ZXJzIGF2YWlsYWJsZSIKCQkJcmV0dXJuIDEKCQlmaQoJCWJhY2tp
bmcKCQlpZiBbWyAkPyAtbmUgMCBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gZGVwbG95czog
c29tZXRoaW5nIHdyb25nIHdoZW4gY3JlYXRlIGFyY2hpdmUiCgkJCXJldHVybiAxCgkJZmkKCQkj
IHVzZXJAMTkyLjE2OC4yMC4xMjNbMjJdOi9wYXRoL3RvL3BhdGgKCQlJRlM9IiwiIHJlYWQgLXIg
LWEgc2VydmVycyA8PDwgIiR7Y29uZmlnc1tzZXJ2ZXJzXX0iCgkJZm9yIHNlcnZlciBpbiAke3Nl
cnZlcnNbQF19OyBkbwoJCQlwb3J0PSQoZWNobyAiJHNlcnZlciIgfCBncmVwIC1vUCAiXFtcS1te
XF1dKyIgfHwgZWNobyAiIikKCQkJaWYgW1sgLXogIiRwb3J0IiBdXTsgdGhlbgoJCQkJcG9ydD0y
MgoJCQlmaQoJCQl1c2VybmFtZT0kKGVjaG8gIiRzZXJ2ZXIiIHwgZ3JlcCAtb1AgIl5bXkBdKyIg
fHwgZWNobyAiIikKCQkJaG9zdG5hbWU9JChlY2hvICIkc2VydmVyIiB8IGdyZXAgLW9QICJAXEtb
XltdKyIgfHwgZWNobyAiIikKCQkJZGVzdGluYXRlPSQoZWNobyAiJHNlcnZlciIgfCBncmVwIC1v
UCAiOiguKykkIiB8IGN1dCAtYzItIHx8IGVjaG8gIiIpCgkJCWlmIFtbIC16ICIkdXNlcm5hbWUi
IF1dOyB0aGVuCgkJCQlwdXRzICIgIDw8LSBlID4gZGVwbG95czogdXNlcm5hbWU6IHNlcnZlciB1
c2VybmFtZSByZXF1aXJlZCIKCQkJCXJldHVybiAxCgkJCWVsaWYgW1sgLXogIiRob3N0bmFtZSIg
XV07IHRoZW4KCQkJCXB1dHMgIiAgPDwtIGUgPiBkZXBsb3lzOiB1c2VybmFtZTogc2VydmVyIGhv
c3RuYW1lIHJlcXVpcmVkIgoJCQkJcmV0dXJuIDEKCQkJZWxpZiBbWyAteiAiJGRlc3RpbmF0ZSIg
XV07IHRoZW4KCQkJCXB1dHMgIiAgPDwtIGUgPiBkZXBsb3lzOiB1c2VybmFtZTogc2VydmVyIHBh
dGhuYW1lIHJlcXVpcmVkIgoJCQkJcmV0dXJuIDEKCQkJZWxzZQoJCQkJcHV0cyAiICA8PC0gaSA+
PiBkZXBsb3lzOiBzY3AgLXYgLVAgJHtwb3J0fSAke2FyY2hpdmV9ICR7dXNlcm5hbWV9QCR7aG9z
dG5hbWV9OiR7ZGVzdGluYXRlfSIKCQkJCXNjcCAtdiAtUCAke3BvcnR9ICR7YXJjaGl2ZX0gJHt1
c2VybmFtZX1AJHtob3N0bmFtZX06JHtkZXN0aW5hdGV9CgkJCQlpZiBbWyAke1BJUEVTVEFUVVNb
MF19IC1uZSAwIF1dOyB0aGVuCgkJCQkJcHV0cyAiICA8PC0gaSA+PiBkZXBsb3lzOiBmYWlsZWQg
dXBsb2FkIGFyY2hpdmUgdG8gJHt1c2VybmFtZX1AJHtob3N0bmFtZX06JHtkZXN0aW5hdGV9IgoJ
CQkJCXJldHVybiAxCgkJCQlmaQoJCQkJcHV0cyAiICA8PC0gaSA+PiBkZXBsb3lzOiBzdWNjZXNz
ZnVsbHkgdXBsb2FkIGFyY2hpdmUgdG8gJHt1c2VybmFtZX1AJHtob3N0bmFtZX06JHtkZXN0aW5h
dGV9IgoJCQlmaQoJCQlwdXRzICIgIDw8LSBpID4+IGRlcGxveXM6IHN1Y2Nlc3NmdWxseSB1cGxv
YWQgYXJjaGl2ZSB0byAkeyNzZXJ2ZXJzW0BdfSBzZXJ2ZXJzIgoJCWRvbmUKCQl1bnNldCBJRlMK
CX0KCQoJIyBIYW5kbGluZyBpdGVycnVwdCBrZXlib2FyZCBjb250cm9sbC4KCWZ1bmN0aW9uIGlu
dGVycnVwdCgpIHsKCQlwdXRzICIiCgkJcHV0cyAiICA8PC0gayA+IGludGVycnVwdDogaW50ZXJy
dXB0IHNpZ25hbCBkZXRlY3RlZCIKCQlzdGRpbiAiY2xvc2UiICI8PC0gayA+IGludGVycnVwdDog
ZXhpdCB0aGlzIHByb2dyYW0gW1kvbl0iICJZIgoJCWlmIFtbICIke2Nsb3NlXl59IiA9PSAiWSIg
XV07IHRoZW4KCQkJcHV0cyAiICA8PC0gayA+IGludGVycnVwdDogYWJvcnRlZCIKCQkJZXhpdCAx
CgkJZmkKCX0KCQoJIyBTZXQgaGFuZGxlIGludGVycnVwdCBrZXlib2FyZCBzaWduYWwuCgl0cmFw
IGludGVycnVwdCBTSUdJTlQKCQoJIyBIYW5kbGUgbGludGluZyBweXRob24gY29kZSB3aXRoIHB5
bGludC4KCWZ1bmN0aW9uIGxpbnRpbmcoKSB7CgkJbG9jYWwgZmlsZW5hbWVzPSgpCgkJbG9jYWwg
aW5zdGFsbD0KCQlsb2NhbCBvcHRpb25zPSgKCQkJIi0tYXJndW1lbnQtbmFtaW5nLXN0eWxlPWNh
bWVsQ2FzZSIKCQkJIi0tYXR0ci1uYW1pbmctc3R5bGU9Y2FtZWxDYXNlIgoJCQkiLS1jbGFzcy1h
dHRyaWJ1dGUtbmFtaW5nLXN0eWxlPWFueSIKCQkJIi0tY2xhc3MtY29uc3QtbmFtaW5nLXN0eWxl
PWFueSIKCQkJIi0tY2xhc3MtbmFtaW5nLXN0eWxlPVBhc2NhbENhc2UiCgkJCSItLWNvbnN0LW5h
bWluZy1zdHlsZT1hbnkiCgkJCSItLWV4dGVuc2lvbi1wa2ctYWxsb3ctbGlzdD1weXpzdGQiCgkJ
CSItLXZhcmlhYmxlLW5hbWluZy1zdHlsZT1jYW1lbENhc2UiCgkJCSItLWZ1bmN0aW9uLW5hbWlu
Zy1zdHlsZT1jYW1lbENhc2UiCgkJCSItLW1heC1hdHRyaWJ1dGVzPTMwIgoJCQkiLS1tYXgtcHVi
bGljLW1ldGhvZHM9NjAiCgkJCSItLW1ldGhvZC1uYW1pbmctc3R5bGU9Y2FtZWxDYXNlIgoJCQki
LS1nb29kLW5hbWVzPVwiZSxFeGVjdXRvcixpLGlkLFByb2Nlc3NFeGVjdXRvcix1LGssVGhyZWFk
RXhlY3V0b3IsVGhyZWFkUnVubmVyLHZcIiIKCQkJIi0taWdub3JlLWRvY3N0cmluZ3M9eSIKCQkJ
Ii0taWdub3JlLWxvbmctbGluZXM9XihbXlxcbl0rKSQiCgkJCSItLWluZGVudC1zdHJpbmc9XCJc
dFwiIgoJCQkiLS1kaXNhYmxlPWFyZ3VtZW50cy1kaWZmZXIiCgkJCSItLWRpc2FibGU9YnJvYWQt
ZXhjZXB0aW9uLWNhdWdodCIKCQkJIi0tZGlzYWJsZT1jb25zaWRlci11c2luZy1mLXN0cmluZyIK
CQkJIi0tZGlzYWJsZT1mdW5jdGlvbi1yZWRlZmluZWQiCgkJCSItLWRpc2FibGU9a2V5d29yZC1h
cmctYmVmb3JlLXZhcmFyZyIKCQkJIi0tZGlzYWJsZT1pbnZhbGlkLW5hbWUiCgkJCSItLWRpc2Fi
bGU9bWlzc2luZy1mdW5jdGlvbi1kb2NzdHJpbmciCgkJCSItLWRpc2FibGU9bWlzc2luZy1tb2R1
bGUtZG9jc3RyaW5nIgoJCQkiLS1kaXNhYmxlPW11bHRpcGxlLXN0YXRlbWVudHMiCgkJCSItLWRp
c2FibGU9bm9uLXBhcmVudC1pbml0LWNhbGxlZCIKCQkJIi0tZGlzYWJsZT1wcm90ZWN0ZWQtYWNj
ZXNzIgoJCQkiLS1kaXNhYmxlPXJlZGVmaW5lZC1hcmd1bWVudC1mcm9tLWxvY2FsIgoJCQkiLS1k
aXNhYmxlPXJlZGVmaW5lZC1idWlsdGluIgoJCQkiLS1kaXNhYmxlPXJlZGVmaW5lZC1vdXRlci1u
YW1lIgoJCQkiLS1kaXNhYmxlPXRvby1tYW55LWFyZ3VtZW50cyIKCQkJIi0tZGlzYWJsZT10b28t
bWFueS1ib29sZWFuLWV4cHJlc3Npb25zIgoJCQkiLS1kaXNhYmxlPXRvby1tYW55LWJyYW5jaGVz
IgoJCQkiLS1kaXNhYmxlPXRvby1tYW55LWxpbmVzIgoJCQkiLS1kaXNhYmxlPXRvby1tYW55LWxv
Y2FscyIKCQkJIi0tZGlzYWJsZT10b28tbWFueS1uZXN0ZWQtYmxvY2tzIgoJCQkiLS1kaXNhYmxl
PXRvby1tYW55LXN0YXRlbWVudHMiCgkJCSItLWRpc2FibGU9c3VwZXItaW5pdC1ub3QtY2FsbGVk
IgoJCQkiLS1kaXNhYmxlPXRvby1mZXctcHVibGljLW1ldGhvZHMiCgkJCSItLWRpc2FibGU9dHJh
aWxpbmctbmV3bGluZXMiCgkJCSItLWRpc2FibGU9dHJhaWxpbmctd2hpdGVzcGFjZSIKCQkJIi0t
ZGlzYWJsZT11bm5lY2Vzc2FyeS1kdW5kZXItY2FsbCIKCQkJIi0tZGlzYWJsZT11bm5lY2Vzc2Fy
eS1lbGxpcHNpcyIKCQkJIi0tZGlzYWJsZT11bm5lY2Vzc2FyeS1sYW1iZGEtYXNzaWdubWVudCIK
CQkJIi0tZGlzYWJsZT11bm5lY2Vzc2FyeS1wYXNzIgoJCQkiLS1kaXNhYmxlPXVuZXhwZWN0ZWQt
c3BlY2lhbC1tZXRob2Qtc2lnbmF0dXJlIgoJCQkiLS1kaXNhYmxlPXVzZS1kaWN0LWxpdGVyYWwi
CgkJCSItLWRpc2FibGU9d3JvbmctaW1wb3J0LW9yZGVyIgoJCQkiLS1kaXNhYmxlPXdyb25nLWlt
cG9ydC1wb3NpdGlvbiIKCQkpCgkJaWYgW1sgLWQgJHtiYXNlcGF0aH0vc3JjIF1dOyB0aGVuCgkJ
CXJlYWRhcnJheSAtdCBmaWxlbmFtZXMgPDw8ICIkKGZpbmQgJHtiYXNlcGF0aH0vc3JjIC10eXBl
IGYgLW5hbWUgIioucHkiKSIKCQkJaWYgW1sgJChwaXAgbGlzdCB8IGdyZXAgcHlsaW50KSA9PSAi
IiBdXTsgdGhlbgoJCQkJY29uZmlnc1tjaGVja2VkXT1mYWxzZQoJCQkJcHV0cyAiICA8PC0gZSA+
IGxpbnRpbmc6IHB5bGludCBpcyBub3QgaW5zdGFsbGVkIgoJCQkJaWYgW1sgJHtjb25maWdzW3Zp
cnR1YWxpemVdfSA9PSB0cnVlIF1dOyB0aGVuCgkJCQkJc3RkaW4gImluc3RhbGwiICI8PC0gciA+
IGxpbnRpbmc6IGluc3RhbGwgcHlsaW50IGZyb20gcGlwIFtZL25dIiAibiIKCQkJCQlpbnN0YWxs
PSR7aW5zdGFsbCwsfQoJCQkJCWlmIFtbICIkaW5zdGFsbCIgPT0gInkiIF1dOyB0aGVuCgkJCQkJ
CXB1dHMgIiAgPDwtIGUgPiBsaW50aW5nOiBwaXAgaW5zdGFsbCBweWxpbnQiCgkJCQkJCXB1dHMg
IiAgPDwtIGUgPiBsaW50aW5nOiBwaXA6IGluc3RhbGxpbmcgcHlsaW50IgoJCQkJCQlzdWJzaGVs
bCAicGlwIGluc3RhbGwgcHlsaW50IiAiPDwtIGkgPiBsaW50aW5nOiBwaXA6IHtzdGRvdXR9IgoJ
CQkJCQlpZiBbWyAkU1VCU0hFTExTVEFUVVMgLWVxIDEgXV07IHRoZW4KCQkJCQkJCXB1dHMgIiAg
PDwtIGUgPiBsaW50aW5nOiBwaXA6IHNvbWV0aGluZyB3cm9uZyB3aGVuIGluc3RhbGwgcHlsaW50
IgoJCQkJCQkJcmV0dXJuIDEKCQkJCQkJZmkKCQkJCQllbGlmIFtbICIkaW5zdGFsbCIgPT0gIm4i
IF1dOyB0aGVuCgkJCQkJCXB1dHMgIiAgPDwtIGUgPiBsaW50aW5nOiBhYm9ydGVkIgoJCQkJCQly
ZXR1cm4gMQoJCQkJCWZpCgkJCQllbHNlCgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCWZpCgkJCXB1
dHMgIiAgPDwtIGkgPiBsaW50aW5nOiBweXRob24zIC1tIHB5bGludCBcXCIKCQkJaW5kZXg9MAoJ
CQlmb3Igb3B0aW9uIGluICR7b3B0aW9uc1tAXX07IGRvIHB1dHMgIiAgPDwtIGkgPiAgICAgICR7
b3B0aW9ufSBcXCI7IGRvbmUKCQkJZm9yIGZpbGVuYW1lIGluICR7ZmlsZW5hbWVzW0BdfTsgZG8K
CQkJCWluZGV4PSQoKGluZGV4KzEpKQoJCQkJaWYgW1sgJGluZGV4IC1uZSAkeyNmaWxlbmFtZXNb
QF19IF1dOyB0aGVuCgkJCQkJcHV0cyAiICA8PC0gaSA+ICAgICAgICAke2ZpbGVuYW1lLyRiYXNl
cGF0aFwvL30gXFwiCgkJCQllbHNlCgkJCQkJcHV0cyAiICA8PC0gaSA+ICAgICAgICAke2ZpbGVu
YW1lLyRiYXNlcGF0aFwvL30iCgkJCQlmaQoJCQlkb25lCgkJCXdoaWxlIElGUz0gcmVhZCAtciBz
dGRvdXQ7IGRvCgkJCQlwdXRzICIgIDw8LSBlID4gbGludGluZzogcHlsaW50OiAke3N0ZG91dH0i
CgkJCWRvbmUgPCA8KHB5dGhvbjMgLW0gcHlsaW50ICR7b3B0aW9uc1tAXX0gJHtmaWxlbmFtZXNb
QF0vJGJhc2VwYXRoXC8vfSkKCQkJaWYgW1sgJFNVQlNIRUxMU1RBVFVTIC1lcSAxIF1dOyB0aGVu
CgkJCQlwdXRzICIgIDw8LSBlID4gbGludGluZzogcHlsaW50OiBzb21ldGhpbmcgd3Jvbmcgd2hl
biBsaW50aW5nIGNvZGUiCgkJCWZpCgkJCXJldHVybiAkcmV0dXJucwoJCWZpCgl9CgkKCSMgSGFu
ZGxlIGluc3RhbGwgcHl0aG9uIHByb2dyYW0gYXMgcHl0aG9uIG1vZHVsZSBpbiBsb2NhbCBtYWNo
aW5lLgoJZnVuY3Rpb24gcHlpbnN0YWxsKCkgewoJCWxvY2FsIGNvbW1hbmQ9InBpcCBpbnN0YWxs
IC4iCgkJaWYgW1sgJHtjb25maWdzW2Vudmlyb25tZW50XX0gPT0gImRldmVsb3BtZW50IiBdXTsg
dGhlbgoJCQljb21tYW5kPSJwaXAgaW5zdGFsbCAtZSAuIgoJCWZpCgkJcHV0cyAiICA8PC0gaSA+
IHB5aW5zdGFsbDogJHtjb21tYW5kfSIKCQlwdXRzICIgIDw8LSBpID4gcHlpbnN0YWxsOiBwaXA6
IGluc3RhbGxpbmcgJHtjb25maWdzW3Byb2dyYW1dfSBhcyBweXRob24gbW9kdWxlIgoJCWlmIFtb
ICQocGlwIGxpc3QgfCBncmVwIC1xICIke2NvbmZpZ3NbcHJvZ3JhbV19IikgXV07IHRoZW4KCQkJ
cHV0cyAiZm91bmQiCgkJZmkKCQlzdWJzaGVsbCAiJGNvbW1hbmQiICI8PC0gaSA+IHB5aW5zdGFs
bDogcGlwOiB7c3Rkb3V0fSIKCQlpZiBbWyAkU1VCU0hFTExTVEFUVVMgLWVxIDAgXV07IHRoZW4K
CQkJcHV0cyAiICA8PC0gaSA+IHB5aW5zdGFsbDogcGlwOiBzdWNjZXNzZnVsbHkgaW5zdGFsbCAk
e2NvbmZpZ3NbcHJvZ3JhbV19IGFzIHB5dGhvbiBtb2R1bGUiCgkJZWxzZQoJCQlwdXRzICIgIDw8
LSBpID4gcHlpbnN0YWxsOiBwaXA6ICR7U1VCU0hFTExTVEFUVVN9OiBmYWlsZWQgaW5zdGFsbCAk
e2NvbmZpZ3NbcHJvZ3JhbV19IGFzIHB5dGhvbiBtb2R1bGUiCgkJZmkKCQl1bnNldCBJRlMKCQly
ZXR1cm4gJHN0YXR1cwoJfQoJCgkjIEhhbmRsZSByZWFkbGluZSB3aXRoIGNvbG9yaXplZCBwcm9t
cHQuCgkjIGV4ZWN1dGU6IFt2YXJpYWJsZV09OyBzdGRpbiBbdmFyaWFibGVdIFtwcm9tcHRdIFtk
ZWZhdWx0XQoJZnVuY3Rpb24gc3RkaW4oKSB7CgkJbG9jYWwgZGVmYXVsdD0iJDMiCgkJbG9jYWwg
aW5wdXQ9CgkJbG9jYWwgcHJvbXB0PSIkKHB1dHMgIiQyIikiCgkJbG9jYWwgdmFyaWFibGU9IiQx
IgoJCWlmIFtbIC16ICQxIF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGUgPiBzdGRpbjogZXJyb3I6
IHZhcmlhYmxlIG5hbWUgcmVxdWlyZWQiCgkJCXJldHVybiAxCgkJZWxpZiBbWyAteiAkMiBdXTsg
dGhlbgoJCQlwdXRzICIgIDw8LSBlID4gc3RkaW46IGVycm9yOiBpbnB1dCBwcm9tcHQgcmVxdWly
ZWQiCgkJCXJldHVybiAxCgkJZmkKCQl3aGlsZSBbWyAiJGlucHV0IiA9PSAiIiBdXTsgZG8KCQkJ
ZWNobyAtbiAiICAkcHJvbXB0ICIKCQkJcmVhZCAiaW5wdXQiCgkJCWlmIFtbIC16ICIkaW5wdXQi
IF1dICYmIFtbIC1uICIkZGVmYXVsdCIgXV07IHRoZW4KCQkJCWlucHV0PSIkZGVmYXVsdCIKCQkJ
ZmkKCQlkb25lCgkJaWYgW1sgJHtjb25maWdzW2Vudmlyb25tZW50XX0gPT0gInByb2R1Y3Rpb24i
IF1dOyB0aGVuCgkJCWV2YWwgIiR2YXJpYWJsZT1cIiR7aW5wdXQvL1wiL1xcXCJ9XCIiID4+IC9k
ZXYvbnVsbCAyPiYxCgkJZWxzZQoJCQlldmFsICIkdmFyaWFibGU9XCIke2lucHV0Ly9cIi9cXFwi
fVwiIgoJCWZpCgl9CgkKCSMgSGFuZGxlIHN1YnNoZWxsIGV4ZWN1dGlvbi4KCSMgSSBkb24ndCBo
YXZlIGFueSBpZGVhIGZvciBjaGVjayBsYXN0IHN0YXR1cyBjb2RlIGZyb20gc3Vic2hlbGwgCgkj
IGJlY2F1c2UgUElQRVNUQVRVUyBhbHdheXMgZ2l2ZSAxIHN0YXR1cyBjb2RlIHdoZW4gY29tbWFu
ZCB3b3JrIG9yIG5vIGVycm9yLgoJIyBleGVjdXRlOiBzdWJzaGVsbCAiY29tbWFuZCIgImZvcm1h
dHRlciIKCWZ1bmN0aW9uIHN1YnNoZWxsKCkgewoJCWxvY2FsIGNvbW1hbmQ9IiQxIgoJCWxvY2Fs
IGZvcm1hdHRlcj0iJDIiCgkJd2hpbGUgSUZTPSByZWFkIC1yIHN0ZG91dDsgZG8KCQkJaWYgW1sg
JChlY2hvIC1lICIkc3Rkb3V0IiB8IGN1dCAtZCAiPSIgLWYgIjEiICkgIT0gIlNVQlNIRUxMU1RB
VFVTIiBdXTsgdGhlbgoJCQkJcHV0cyAiICAkKGVjaG8gIiR7Zm9ybWF0dGVyL1x7c3Rkb3V0XH0v
LyRzdGRvdXR9IikiCgkJCQljb250aW51ZQoJCQlmaQoJCQlldmFsICRzdGRvdXQKCQlkb25lIDwg
PCgkY29tbWFuZDsgZWNobyAtZSAiU1VCU0hFTExTVEFUVVM9JHtQSVBFU1RBVFVTWzBdfSIpCgl9
CgkKCSMgSGFuZGxlIHVwZ3JhZGUgYXBwbGljYXRpb24gaW50byBuZXcgdmVyc2lvbgoJIyBmcm9t
IHJlbW90ZSByZXBvc2l0b3J5IGUuZyBnaXRodWIsIGdpdGxhYi4KCSMgZXhlY3V0ZTogdXBncmFk
ZSAteQoJZnVuY3Rpb24gdXBncmFkZSgpIHsKCQlpZiBbWyAteiAke2NvbmZpZ3NbcmVwb3NpdG9y
eV19IF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGkgPiB1cGdyYWRlOiBubyByZW1vdGUgcmVwb3Np
dG9yeSBhdmFpbGFibGUiCgkJCXJldHVybiAxCgkJZmkKCQlsb2NhbCB1cGdyYWRlPSQxCgkJaWYg
W1sgLXogIiR1cGdyYWRlIiBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4gdXBncmFkZTogJHti
YXNlcGF0aH06IHRoaXMgZGlyZWN0b3J5IHdpbGwgYmUgZGVsZXRlZCBwZXJtYW5lbnRseSIKCQkJ
c3RkaW4gInVwZ3JhZGUiICI8PC0gciA+IHVwZ3JhZGU6IGFyZSB5b3Ugc3VyZSB3YW50IHRvIHVw
Z3JhZGUgW1kvbl0iICJuIgoJCWVsc2UKCQkJdXBncmFkZT0kKGVjaG8gLWUgIiQxIiB8IGN1dCAt
ZCAiLSIgLWYgIjIiKQoJCWZpCgkJaWYgW1sgIiR7dXBncmFkZV5efSIgIT0gIlkiIF1dOyB0aGVu
CgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiBhYm9ydGVkIgoJCQlyZXR1cm4gMQoJCWZpCgkJ
bG9jYWwgYXJjaGl2ZT0kKGNkIC4uOyBwd2QpCgkJYXJjaGl2ZSs9Ii8iCgkJYXJjaGl2ZSs9JChl
Y2hvIC1lICQoYXJjaGl2ZSkgfCBjdXQgLWQgIi0iIC1mICIxIikKCQlsb2NhbCBicmFuY2g9JChn
aXQgcmVtb3RlIHNob3cgb3JpZ2luIHwgZ3JlcCAiSEVBRCBicmFuY2giIHwgYXdrICJ7cHJpbnQg
XCRORn0iKQoJCWlmIFtbIC16ICIkYnJhbmNoIiBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4g
dXBncmFkZTogZ2l0OiBzb21ldGhpbmcgd3Jvbmcgd2l0aCB5b3VyIGdpdCByZXBvc2l0b3J5IgoJ
CQlyZXR1cm4gMQoJCWZpCgkJbG9jYWwgY29tcHJlc3Npb249JHtjb25maWdzW2NvbXByZXNzXX0K
CQlpZiBbWyAteiAkYXJjaGl2ZSBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTog
JHtjb21wcmVzc2lvbn06IHVuc3VwcG9ydGVkIGNvbXByZXNzaW9uIgoJCQlyZXR1cm4gMQoJCWZp
CgkJbG9jYWwgcmVwb3NpdG9yeT0iJHtjb25maWdzW3JlcG9zaXRvcnldfSIKCQlpZiBbWyAiJGNv
bXByZXNzaW9uIiA9PSAidGFyIiBdXTsgdGhlbgoJCQlhcmNoaXZlKz0iLnRhci5neiIKCQkJcmVw
b3NpdG9yeSs9Ii9hcmNoaXZlL3JlZnMvaGVhZHMvJHticmFuY2h9LnRhci5neiIKCQllbHNlCgkJ
CWFyY2hpdmUrPSIuemlwIgoJCQlyZXBvc2l0b3J5Kz0iL2FyY2hpdmUvcmVmcy9oZWFkcy8ke2Jy
YW5jaH0uemlwIgoJCWZpCgkJbG9jYWwgZXh0cmFjdGVkPSQoZWNobyAtZSAiJHJlcG9zaXRvcnki
IHwgY3V0IC1kICIvIiAtZiAiNSIgKQoJCWV4dHJhY3RlZCs9Ii0ke2JyYW5jaH0iCgkJcHV0cyAi
ICA8PC0gZSA+IHVwZ3JhZGU6IHdnZXQ6ICRyZXBvc2l0b3J5OiBkb3dubG9hZGluZyBhcmNoaXZl
IgoJCXdnZXQgLS10cmllcz0yMCAiJHJlcG9zaXRvcnkiIC0tc2hvdy1wcm9ncmVzcyAtLXByb2dy
ZXNzPWJhcjpmb3JjZTpub3Njcm9sbCAtTyAiJGFyY2hpdmUiCgkJaWYgW1sgJD8gLW5lIDAgXV07
IHRoZW4KCQkJcHV0cyAiICA8PC0gZSA+IHVwZ3JhZGU6IHdnZXQ6IHNvbWV0aGluZyB3cm9uZyB3
aGVuIGRvd25sb2FkaW5nIGFyY2hpdmUiCgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiB3Z2V0
OiBwbGVhc2UgbWFrZXN1cmUgY2hlY2sgeW91ciByZW1vdGUgcmVwb3NpdG9yeSB1cmwiCgkJCXJl
dHVybiAxCgkJZmkKCQlsb2NhbCBjb21tYW5kPSJ0YXIgLXh2ZiAkYXJjaGl2ZSIKCQlpZiBbWyAi
JGNvbXByZXNzaW9uIiA9PSAiemlwIiBdXTsgdGhlbgoJCQljb21tYW5kPSJ1bnppcCAkYXJjaGl2
ZSIKCQlmaQoJCWNkIC4uCgkJc3Vic2hlbGwgIiRjb21tYW5kIiAiPDwtIGUgPiB1cGdyYWRlOiAk
e2NvbXByZXNzaW9ufToge3N0ZG91dH0iCgkJaWYgW1sgJFNVQlNIRUxMU1RBVFVTIC1lcSAwIF1d
OyB0aGVuCgkJCWlmIFtbICEgLWQgIiRleHRyYWN0ZWQiIF1dOyB0aGVuCgkJCQlwdXRzICIgIDw8
LSBlID4gdXBncmFkZTogJHtleHRyYWN0ZWR9OiBubyBzdWNoIGV4dHJhY3RlZCBkaXJlY3Rvcnki
CgkJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogcGxlYXNlIHJlcG9ydCB0aGlzIGluc2lkZW4g
aW50byBkZXZlbG9wZXIiCgkJCQlyZXR1cm4gMQoJCQlmaQoJCQlwdXRzICIgIDw8LSBlID4gdXBn
cmFkZTogJHtiYXNlcGF0aH06IHJlbW92aW5nIGRpcmVjdG9yeSIKCQkJcm0gLXJmICR7YmFzZXBh
dGh9CgkJCWlmIFtbICR7UElQRVNUQVRVU1swXX0gLW5lIDAgXV07IHRoZW4KCQkJCXB1dHMgIiAg
PDwtIGUgPiB1cGdyYWRlOiAke2Jhc2VwYXRofTogZmFpbGVkIHJlbW92aW5nIGRpcmVjdG9yeSIK
CQkJCXJldHVybiAxCgkJCWZpCgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiAke2V4dHJhY3Rl
ZH06IG1vdmluZyBkaXJlY3RvcnkiCgkJCW12ICR7ZXh0cmFjdGVkfSAke2Jhc2VwYXRofQoJCQlp
ZiBbWyAke1BJUEVTVEFUVVNbMF19IC1uZSAwIF1dOyB0aGVuCgkJCQlwdXRzICIgIDw8LSBlID4g
dXBncmFkZTogJHtleHRyYWN0ZWR9OiBmYWlsZWQgbW92aW5nIGRpcmVjdG9yeSIKCQkJCXJldHVy
biAxCgkJCWZpCgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiBjaGFuZ2Ugd29ya2luZyBkaXJl
Y3RvcnkiCgkJCWNkIC0KCQkJcHV0cyAiICA8PC0gZSA+IHVwZ3JhZGU6IHN1Y2Nlc3NmdWxseSB1
cGdyYWRlIHByb2dyYW0iCgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiBwbGVhc2UgcmUtcnVu
IHRoaXMgcHJvZ3JhbSB3aXRoIG9wdGlvbiAtLWluaXRpYWwiCgkJZWxzZQoJCQlwdXRzICIgIDw8
LSBlID4gdXBncmFkZTogJHtjb21wcmVzc2lvbn06ICR7YXJjaGl2ZSMjL306IGZhaWxlZCBkZWNv
bXByZXNzIGFyY2hpdmUiCgkJCXJldHVybiAxCgkJZmkKCX0KCQoJIyBDaGVjayBpZiBjb25maWd1
cmF0aW9uIGZpbGUgaXMgZXhpc3RzLgoJaWYgW1sgLWYgJGNvbmZpZyBdXTsgdGhlbgoJCWNvbmZp
ZyAtLXJlYWQKCQlpZiBbWyAkPyAtZXEgMSBdXTsgdGhlbgoJCQlyZXR1cm4gMQoJCWZpCglmaQoJ
CgkjIENoZWNrIGFuZCB2YWxpZGF0ZSBkZXBlbmRlbmN5IHJlcXVpcmVtZW50LgoJZGVwZW5kZW5j
eQoJaWYgW1sgJD8gLWVxIDEgXV07IHRoZW4KCQlyZXR1cm4gMQoJZmkKCQoJIyBDaGVjayB3aGV0
aGVyIGlmIHJvb3QgcHJldmlsZWdlcyByZXF1aXJlIGZvciBydW4gdGhlIHByb2dyYW0uCglpZiBb
WyAke2NvbmZpZ3Nbcm9vdF19ID09IHRydWUgXV07IHRoZW4KCQlpZiBbWyAkVUlEIC1uZSAwIF1d
OyB0aGVuCgkJCXB1dHMgIiAgPDwtICEgPiAke2NvbmZpZ3NbcHJvZ3JhbV19OiByb290IHByZXZp
bGVnZXMgcmVxdWlyZWQiCgkJCXJldHVybiAxCgkJZmkKCWZpCgkKCWlmIFtbIC1uICIkYWN0aW9u
IiBdXTsgdGhlbgoJCWNhc2UgIiRhY3Rpb24iIGluCgkJCWJhY2tpbmcpIGJhY2tpbmcgJHthcmd1
bWVudHNbQF19IDs7CgkJCWNvbW1pdHMpIGNvbW1pdHMgOzsKCQkJaW5zdGFsbCkgcHlpbnN0YWxs
IDs7CgkJCWxpbnRpbmcpIGxpbnRpbmcgOzsKCQkJcGFja2FnZSkgcGlwICR7YXJndW1lbnRzW0Bd
fSA7OwoJCQlkZXBsb3lzKSBkZXBsb3lzIDs7CgkJCXVwZ3JhZGUpIHVwZ3JhZGUgJHthcmd1bWVu
dHNbQF19IDs7CgkJCSopCgkJCQlwdXRzICIgICIKCQkJCXB1dHMgIiAgVXNhZ2U6IGJhc2ggXCIk
KGJhc2VuYW1lICR7X19uYW1lX199KVwiIFtPUFRJT05TXSBbQ09NTUFORF0gW0FSR1NdLi4uIgoJ
CQkJcHV0cyAiICAgICAgICAgYmFzaCBcIiQoYmFzZW5hbWUgJHtfX25hbWVfX30pXCIgW1tDT01N
QU5EXV0gW09QVElPTlNdIFtBUkdTXS4uLiIKCQkJCXB1dHMgIiAgIgoJCQkJcHV0cyAiICAgICR7
Y29uZmlnc1twcm9ncmFtXV59IgoJCQkJcHV0cyAiICAiCgkJCQlwdXRzICIgIENvbW1hbmRzOiIK
CQkJCXB1dHMgIiAgIgoJCQkJcHV0cyAiICAgIC0gW1tiYWNraW5nXV0gICAgICAgUGVyZm9ybWlu
ZyBhIGJhY2t1cCBvZiB0aGUgcHJvZ3JhbSBjb2RlIgoJCQkJcHV0cyAiICAgICAgICAgICAgICAg
ICAgICAgICAgwrcgQXJndW1lbnRzOiIKCQkJCXB1dHMgIiAgICAgICAgICAgICAgICAgICAgICAg
ICAgLSBbY29tcHJlc3Npb25dIGUuZyB0YXJ8emlwIgoJCQkJcHV0cyAiICAgICAgICAgICAgICAg
ICAgICAgICAgICAtIFtleHRlbnNpb25dIGUuZyB0YXIuZ3p8emlwIgoJCQkJcHV0cyAiICAgIC0g
W1tjb21taXRzXV0gICAgICAgTWFrZSBhIGNvbW1pdCB0byBhbGwgZmlsZXMgZXhjZXB0IGluIC5n
aXRpZ25vcmUiCgkJCQlwdXRzICIgICAgLSBbW2hlbHBdXSAgICAgICAgICBTaG93IHRoaXMgbWVz
c2FnZSBhbmQgZXhpdCIKCQkJCXB1dHMgIiAgICAtIFtbaW5zdGFsbF1dICAgICAgIEluc3RhbGwg
dGhlIHByb2dyYW0gY29kZSBhcyBhIHB5dGhvbiBtb2R1bGUiCgkJCQlwdXRzICIgICAgLSBbW2xp
bnRpbmddXSAgICAgICBSdW4gcHlsaW50IHRvIHBlcmZvcm0gY29kZSBhbmFseXNpcyIKCQkJCXB1
dHMgIiAgICAtIFtbcGFja2FnZV1dICAgICAgIEFsaWFzIGZvciBwaXAgd2hlbiB5b3UgcnVuIG9u
IHZlbnYiCgkJCQlwdXRzICIgICAgLSBbW2RlcGxveXNdXSAgICAgICBEZXBsb3kgY29kZSBpbnRv
IG11bHRpcGxlIGVudGlyZSByZW1vdGUgc2VydmVycyIKCQkJCXB1dHMgIiAgICAtIFtbdXBncmFk
ZV1dICAgICAgIFVwZ3JhZGUgcHJvZ3JhbSBpbnRvIGxhdGVzdCB2ZXJzaW9uIGZyb20gcmVtb3Rl
IHJlcG9zaXRvcnkiCgkJCQlwdXRzICIgICAgICAgICAgICAgICAgICAgICAgICDCtyBPcHRpb25z
OiIKCQkJCXB1dHMgIiAgICAgICAgICAgICAgICAgICAgICAgICAgLSBbLXldIEZvcmNlIGF1dG8g
dXBkYXRlIHdpdGhvdXQgY29uZmlybWF0aW9uIiAKCQkJCXB1dHMgIiAgIgoJCQkJcHV0cyAiICBF
eGFtcGxlOiBiYXNoIFwiJChiYXNlbmFtZSAke19fbmFtZV9ffSlcIiIKCQkJCXB1dHMgIiAgICAg
ICAgICAgYmFzaCBcIiQoYmFzZW5hbWUgJHtfX25hbWVfX30pXCIgW1tiYWNraW5nXV0gdGFyIHRh
ci5neiIKCQkJCXB1dHMgIiAgIgoJCQkJaWYgW1sgIiRhY3Rpb24iICE9ICJoZWxwIiBdXTsgdGhl
bgoJCQkJCXJldHVybiAxCgkJCQlmaQoJCQk7OwoJCWVzYWMKCWVsc2UKCQlweXRob24zIHNyYy8k
e2NvbmZpZ3NbcHJvZ3JhbV19LnB5ICIke2FyZ3VtZW50c1tAXX0iCglmaQoJCglpZiBbWyAkKGNv
bW1hbmQgLXYgZGVhY3RpdmF0ZSkgXV07IHRoZW4KCQlkZWFjdGl2YXRlCgkJaWYgW1sgJD8gLWVx
IDEgXV07IHRoZW4KCQkJcHV0cyAiICA8PC0gaSA+ICR7Y29uZmlnc1twcm9ncmFtXX06IHNvbWV0
aGluZyB3cm9uZyB3aGVuIGRlYWN0aXZhdGUgdmVudiIKCQkJcmV0dXJuIDEKCQlmaQoJZmkKCQoJ
aWYgW1sgJHtjb25maWdzW2NsZWFuXX0gPT0gdHJ1ZSBdXTsgdGhlbgoJCWZvciBjYWNoZSBpbiAk
KGZpbmQgIiR7YmFzZXBhdGh9LyIgfCBncmVwICJfX3B5Y2FjaGVfXyIpOyBkbwoJCQlpZiBbWyAt
ZCAkY2FjaGUgXV07IHRoZW4KCQkJCXJtIC1yZiAkY2FjaGUKCQkJCWlmIFtbICQ/IC1uZSAwIF1d
OyB0aGVuCgkJCQkJcHV0cyAiICA8PC0gaSA+PiAke2NvbmZpZ3NbcHJvZ3JhbV19OiAke2NhY2hl
fTogZmFpbGVkIHJlbW92ZSBjYWNoZSIKCQkJCQlyZXR1cm4gMQoJCQkJZmkKCQkJZmkKCQlkb25l
CglmaQoJCglyZXR1cm4gMAp9CgptYWluICIkQCIKZXhpdCAiJD8iCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
