----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IwojIEBhdXRob3Igez89YXV0aG9yfSAoez89bmlja25hbWV9KQojIEBjcmVhdGUgez89Y3JlYXRl
fQojIEBnaXRodWIgez89Z2l0aHVifQojCiMgez89YmlvZ3JhcGh9CiMKIyB7Pz1wcm9qZWN0fSBD
b3B5cmlnaHQgKGMpIHs/PXllYXJ9IC0gez89YXV0aG9yfSA8ez89dXNlcm1haWx9PgojIHs/PXBy
b2plY3R9IExpY2VuY2UgdW5kZXIgR05VIEdlbmVyYWwgUHVibGljIExpY2VuY2UgdjMKIwojIFRo
aXMgcHJvZ3JhbSBpcyBmcmVlIHNvZnR3YXJlOiB5b3UgY2FuIHJlZGlzdHJpYnV0ZSBpdCBhbmQv
b3IgbW9kaWZ5CiMgaXQgdW5kZXIgdGhlIHRlcm1zIG9mIHRoZSBHTlUgR2VuZXJhbCBQdWJsaWMg
TGljZW5zZSBhcyBwdWJsaXNoZWQgYnkKIyB0aGUgRnJlZSBTb2Z0d2FyZSBGb3VuZGF0aW9uLCBl
aXRoZXIgdmVyc2lvbiAzIG9mIHRoZSBMaWNlbnNlLCBvcgojIGFueSBsYXRlciB2ZXJzaW9uLgoj
CiMgWW91IHNob3VsZCBoYXZlIHJlY2VpdmVkIGEgY29weSBvZiB0aGUgR05VIEdlbmVyYWwgUHVi
bGljIExpY2Vuc2UKIyBhbG9uZyB3aXRoIHRoaXMgcHJvZ3JhbS4gSWYgbm90LCBzZWUgPGh0dHBz
Oi8vd3d3LmdudS5vcmcvbGljZW5zZXMvPi4KIwojIFRoaXMgcHJvZ3JhbSB3YXMgYnVpbHQgYW5k
IGNyZWF0ZWQgdW5kZXIgS2Vra2lqdXRzdS4KIyBWaXNpdCB0aGUgZ2l0aHViIHBhZ2UgPGh0dHBz
Oi8vZ2l0aHViLmNvbS9oeEFyaS9LZWtraWp1dHN1Pi4KIwo=

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
