----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KX19hbGxfXyA9IFsKCSJfX3Byb2dy
YW1fXyIKXQoKX19wcm9ncmFtX18gPSAiez89cHJvamVjdH0iCiIiIiBQcm9ncmFtIE5hbWUgIiIi
Cg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
