----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
aW50IGFzIEludCwgc3RyIGFzIFN0cgpmcm9tIGNvbmN1cnJlbnQuZnV0dXJlcyBpbXBvcnQgKAoJ
Q2FuY2VsbGVkRXJyb3IgYXMgVGhyZWFkQ2FuY2VsbGVkRXJyb3IsIAoJRnV0dXJlLCAKCVByb2Nl
c3NQb29sRXhlY3V0b3IsIAoJVGhyZWFkUG9vbEV4ZWN1dG9yLCAKCVRpbWVvdXRFcnJvciBhcyBU
aHJlYWRUaW1lb3V0RXJyb3IKKQpmcm9tIGl0ZXJ0b29scyBpbXBvcnQgaXNsaWNlCmZyb20gbXVs
dGlwcm9jZXNzaW5nIGltcG9ydCBUaW1lb3V0RXJyb3IgYXMgUHJvY2Vzc1RpbWVvdXRFcnJvcgpm
cm9tIG11bHRpcHJvY2Vzc2luZy5wb29sIGltcG9ydCBBc3luY1Jlc3VsdCBhcyBQcm9jZXNzUmVz
dWx0LCBQb29sIGFzIFByb2Nlc3NQb29sCmZyb20gcGlja2xlIGltcG9ydCBQaWNrbGVFcnJvcgpm
cm9tIHRpbWUgaW1wb3J0IHNsZWVwCmZyb20gdHlwaW5nIGltcG9ydCAoIAoJQW55LCAKCUNhbGxh
YmxlLCAKCUl0ZXJhYmxlLCAKCU11dGFibGVTZXF1ZW5jZSwgCglPcHRpb25hbCwgCglUdXBsZSwg
CglUeXBlVmFyIGFzIFZhciwgCglUeXBlVmFyVHVwbGUgYXMgVmFyVCwgCglVbmlvbiAKKQoKZnJv
bSB7Pz1tb2R1bGV9LmNvbW1vbiBpbXBvcnQgcGlja2xhYmxlLCB0cmFjZWJhY2ssIHR5cGVvZgpm
cm9tIHs/PW1vZHVsZX0ubG9nZ2VyIGltcG9ydCBMb2dnZXIKCgpfX2FsbF9fID0gKAoJImFuaW1h
dGUiLAoJImljaHVua2FibGUiLAoJIk11bHRpcHJvY2Vzc0V4ZWN1dG9yIiwKCSJQcm9jZXNzRXhl
Y3V0b3IiLAoJIlRocmVhZEV4ZWN1dG9yIgopCgoKX0FyZ3MgPSBWYXJUKCAiX0FyZ3MiICkKIiIi
IEFyZ3VtZW50cyBUeXBlICIiIgoKX1QgPSBWYXIoICJfVCIgKQoiIiIgUmV0dXJuIFR5cGUgIiIi
CgpfViA9IFZhciggIl9WIiApCiIiIiBEYXRhc2V0IFR5cGUgIiIiCgoKZGVmIGFuaW1hdGUoIGlu
Zm86U3RyLCBsb2dnZXI6TG9nZ2VyLCBwcmVmaXg6U3RyLCB0aHJlYWQ6VW5pb25bSW50LFN0cl09
MCApIC0+IE5vbmU6Cglwb3NpdGlvbiA9IC0xCglmb3IgdSBpbiAiXHwvLSIgKiAxNjoKCQlsb2Fk
aW5nID0gInt9OiB7fSIuZm9ybWF0KCBpbmZvLCB1ICkKCQlsZW5ndGggPSBsZW4oIGxvYWRpbmcg
KQoJCWlmIHBvc2l0aW9uID49IGxlbmd0aDoKCQkJcG9zaXRpb24gPSAtMQoJCXBvc2l0aW9uICs9
IDEKCQltZXNzYWdlcyA9IGxvYWRpbmcKCQlpZiBwb3NpdGlvbiA+PSAxOgoJCQltZXNzYWdlQ2hh
ciA9IGxvYWRpbmdbcG9zaXRpb24tMTpwb3NpdGlvbl0KCQkJbWVzc2FnZUNoYXIgPSBtZXNzYWdl
Q2hhci5sb3dlcigpIFwKCQkJCWlmIG1lc3NhZ2VDaGFyLmlzdXBwZXIoKSBcCgkJCQllbHNlIG1l
c3NhZ2VDaGFyLnVwcGVyKCkKCQkJbWVzc2FnZVByZWZpeCA9IGxvYWRpbmdbMDpwb3NpdGlvbi0x
XQoJCQltZXNzYWdlU3VmZml4ID0gbG9hZGluZ1twb3NpdGlvbjpdCgkJCW1lc3NhZ2VzID0gIiIu
am9pbihbCgkJCQltZXNzYWdlUHJlZml4LCAKCQkJCW1lc3NhZ2VDaGFyLCAKCQkJCW1lc3NhZ2VT
dWZmaXgKCQkJXSkKCQlsb2dnZXIuaW5mbyggbWVzc2FnZXMsIGVuZD0iXHgyMCIsIHN0YXJ0PXBy
ZWZpeCwgdGhyZWFkPXRocmVhZCApCgkJc2xlZXAoIDAuMDEgKQoKZGVmIGljaHVua2FibGUoIGl0
ZXJhYmxlOkl0ZXJhYmxlW19UXSwgc2l6ZTpJbnQ9MTAwICkgLT4gSXRlcmFibGVbX1RdOgoJaXRl
cmF0b3IgPSBpdGVyKCBpdGVyYWJsZSApCgl3aGlsZSBUcnVlOgoJCWNvbXByZXNzID0gbGlzdCgg
aXNsaWNlKCBpdGVyYXRvciwgc2l6ZSApICkKCQlpZiBjb21wcmVzczoKCQkJeWllbGQgaXRlcigg
Y29tcHJlc3MgKQoJCQljb250aW51ZQoJCWJyZWFrCgpkZWYgTXVsdGlwcm9jZXNzRXhlY3V0b3Io
IG5hbWU6U3RyLCBjYWxsYmFjazpDYWxsYWJsZVtbX1YsKl9BcmdzLEludF0sX1RdLCBkYXRhc2V0
czpJdGVyYWJsZVtfVl0sIGVoYW5kbGVyOk9wdGlvbmFsW0NhbGxhYmxlW1tCYXNlRXhjZXB0aW9u
XSxOb25lXV09Tm9uZSwgdGltZW91dDpJbnQ9NCwgd29ya2VyczpJbnQ9MSwgKmFyZ3M6QW55LCAq
Kmt3YXJnczpBbnkgKSAtPiBJdGVyYWJsZVtfVF06CgkKCSIiIgoJU2hvcnQgTXVsdGlwcm9jZXNz
aW5nUG9vbCAobXVsdGlwcm9jZXNzaW5nLnBvb2wuUG9vbCkKCQoJUGFyYW1ldGVyczoKCQluYW1l
IChTdHIpOgoJCQlQcm9jZXNzIG5hbWUKCQljYWxsYmFjayAoQ2FsbGFibGVbW19WLCpfQXJncyxJ
bnRdLF9UXSk6CgkJCVByb2Nlc3MgY2FsbGJhY2sgaGFuZGxlcgoJCWRhdGFzZXRzIChJdGVyYWJs
ZVtfVl0pOgoJCQlEYXRhc2V0cwoJCWVoYW5kbGVyIChPcHRpb25hbFtDYWxsYWJsZVtbQmFzZUV4
Y2VwdGlvbl0sTm9uZV1dKToKCQkJUHJvY2VzcyBlcnJvciBoYW5kbGVyIGNhbGxiYWNrCgkJdGlt
ZW91dCAoSW50KToKCQkJVGhyZWFkIHRpbWVvdXQKCQl3b3JrZXJzIChJbnQpOgoJCQlUaHJlYWQg
d29ya2VycwoJCWFyZ3MgKCpBbnkpOgoJCQlDYWxsYmFjayBoYW5kbGVyIGFyZ3VtZW50cwoJCWt3
YXJncyAoKipBbnkpOgoJCQlDYWxsYmFjayBoYW5kbGVyIGtleSBhcmd1bWVudHMKCQoJUmV0dXJu
czoKCQlyZXN1bHRzIChJdGVyYWJsZVtfVF0pOgoJCQlJdGVyYWJsZSBvZiBjYWxsYmFjayByZXR1
cm4KCQoJRXhhbXBsZXM6Cgk+Pj4gZGF0YXNldHMgPSBbIC4uLiBdCgk+Pj4gZXhlY3V0b3IgPSBQ
cm9jZXNzRXhlY3V0b3IoCgk+Pj4gICAgIG5hbWU9Ik11bHRpcHJvY2Vzc2luZyBQb29sIiwKCT4+
PiAgICAgY2FsbGJhY2s9aGFuZGxlciwKCT4+PiAgICAgZGF0YXNldD1kYXRhc2V0cywKCT4+PiAg
ICAgc2xlZXB5PTAsCgk+Pj4gICAgIHdvcmtlcnM9MTAsCgk+Pj4gICAgIHRpbWVvdXQ9MTIwCgk+
Pj4gKQoJPj4+IGZvciBleGVjdXRpb24gaW4gZXhlY3V0b3I6Cgk+Pj4gICAgIHByaW50KCBleGVj
dXRpb24gKQoJIiIiCgkKCXByZWZpeCA9ICJceDBkIgoJbG9nZ2VyID0gTG9nZ2VyKCBfX25hbWVf
XyApCgllcnJvcnMsIHN0YXJ0aW5nLCBzdWNjZXNzLCB0b3RhbHMgPSAwLCAwLCAwLCAwCglpZiBu
b3QgY2FsbGFibGUoIGVoYW5kbGVyICk6CgkJZGVmIGVoYW5kbGVyKCBlOkJhc2VFeGNlcHRpb24g
KSAtPiBOb25lOgoJCQlsb2dnZXIuZXJyb3IoICJQcm9jZXNzIHt9OiB7fSIsIHR5cGVvZiggZSAp
LCB0cmFjZWJhY2soIGUsICJceDBhIiApLCBzdGFydD0iXHgwYSIgKQoJaWYgbm90IHBpY2tsYWJs
ZSggY2FsbGJhY2sgKToKCQlyYWlzZSBQaWNrbGVFcnJvciggIkZ1bmN0aW9uIGNhbm5vdCBiZSBw
aWNrbGVkIGFuZCB1c2VkIGluIG11bHRpcHJvY2Vzc2luZyIgKQoJbG9nZ2VyLmluZm8oICJCdWls
ZGluZyBQcm9jZXNzUG9vbCB3aXRoIHt9IHdvcmtlcnMgZm9yIHt9Iiwgd29ya2VycywgbmFtZSAp
Cgl3aXRoIFByb2Nlc3NQb29sKCB3b3JrZXJzICkgYXMgcG9vbDoKCQlmb3IgaXRlcmFibGUgaW4g
aWNodW5rYWJsZSggZGF0YXNldHMsIHdvcmtlcnMgKiAyICk6CgkJCWhhc2hpbmdzID0gc2V0KCkK
CQkJcHJvY2Vzc2VzOk11dGFibGVTZXF1ZW5jZVtUdXBsZVtJbnQsUHJvY2Vzc1Jlc3VsdF1dID0g
W10KCQkJaXByb2Nlc3NlczpNdXRhYmxlU2VxdWVuY2VbVHVwbGVbSW50LFByb2Nlc3NSZXN1bHRd
XSA9IFtdCgkJCXRyeToKCQkJCWZvciBpbmRleCwgaXRlbSBpbiBlbnVtZXJhdGUoIGl0ZXJhYmxl
LCAxICk6CgkJCQkJaW5kZXgrPSBzdGFydGluZwoJCQkJCWxvZ2dlci5pbmZvKCAiQ3JlYXRpbmcg
cHJvY2VzcyB3b3JrZXIgUDx7fT4gaW4gcG9vbCIsIGluZGV4LCBlbmQ9Ilx4MjAiLCBzdGFydD1w
cmVmaXgsIHRocmVhZD1pbmRleCApCgkJCQkJcHJvY2VzcyA9IHBvb2wuYXBwbHlfYXN5bmMoIGZ1
bmM9Y2FsbGJhY2ssIGFyZ3M9KCBpdGVtLCAqYXJncyApLCBlcnJvcl9jYWxsYmFjaz1laGFuZGxl
ciwga3dkcz17ICoqa3dhcmdzLCAicHJvY2VzcyI6IGluZGV4IH0gKQoJCQkJCXByb2Nlc3Nlcy5h
cHBlbmQoICggaGFzaCggcHJvY2VzcyApLCBwcm9jZXNzICkgKQoJCQkJCXRvdGFscys9IDEKCQkJ
CWlwcm9jZXNzZXMuZXh0ZW5kKCBwcm9jZXNzZXMgKQoJCQkJd2hpbGUgbm90IGFsbCggcHJvY2Vz
c1sxXS5yZWFkeSgpIGFuZCBwcm9jZXNzWzFdLnN1Y2Nlc3NmdWwoKSBmb3IgcHJvY2VzcyBpbiBp
cHJvY2Vzc2VzICk6CgkJCQkJZm9yIF8sIGl0ZW0gaW4gZW51bWVyYXRlKCBbICppcHJvY2Vzc2Vz
IF0sIDEgKToKCQkJCQkJaGFzaG51bSwgcHJvY2VzcyA9IGl0ZW0KCQkJCQkJaW5kZXggPSBwcm9j
ZXNzZXMuaW5kZXgoIGl0ZW0gKQoJCQkJCQlpbmRleGVkID0gaW5kZXggKyBzdGFydGluZyArIDEK
CQkJCQkJaWYgcHJvY2Vzcy5yZWFkeSgpIGFuZCBwcm9jZXNzLnN1Y2Nlc3NmdWwoKToKCQkJCQkJ
CWxvZ2dlci5zdWNjZXNzKCAiUHJvY2VzcyB3b3JrZXIgUDx7fT4geWllbGRpbmciLCBpbmRleGVk
LCBzdGFydD1wcmVmaXgsIHRocmVhZD1pbmRleGVkICkKCQkJCQkJCWRlbCBpcHJvY2Vzc2VzW2lw
cm9jZXNzZXMuaW5kZXgoIGl0ZW0gKV0KCQkJCQkJCXlpZWxkIHByb2Nlc3MuZ2V0KCB0aW1lb3V0
ICkKCQkJCQkJCWhhc2hpbmdzLmFkZCggaGFzaG51bSApCgkJCQkJCQlzdWNjZXNzKz0gMQoJCQkJ
CQkJY29udGludWUKCQkJCQkJaWYgbm90IHByb2Nlc3MucmVhZHkoKSBvciBub3QgcHJvY2Vzcy5z
dWNjZXNzZnVsKCk6CgkJCQkJCQlhbmltYXRlKCAiUHJvY2VzcyB3b3JrZXJzIGFyZSBzdGlsbCBy
dW5uaW5nOiB7fToge30iLmZvcm1hdCggbGVuKCBpcHJvY2Vzc2VzICksIGluZGV4ZWQgKSwgbG9n
Z2VyLCBwcmVmaXgsIHRocmVhZD1pbmRleGVkICkKCQkJCQkJCXRyeToKCQkJCQkJCQlfID0gcHJv
Y2Vzcy5nZXQoIDAgKQoJCQkJCQkJZXhjZXB0IFByb2Nlc3NUaW1lb3V0RXJyb3I6CgkJCQkJCQkJ
cGFzcwoJCQkJCQkJZXhjZXB0IEJhc2VFeGNlcHRpb24gYXMgZToKCQkJCQkJCQlsb2dnZXIuZXJy
b3IoICJQcm9jZXNzIHdvcmtlciBQPHt9PiBpcyByYWlzZWQge306IHt9IiwgaW5kZXhlZCwgdHlw
ZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICksIHRocmVhZD1pbmRleGVkICkKCQkJCQkJ
CQlsb2dnZXIuZXJyb3IoICJQcm9jZXNzIHdvcmtlciBQPHt9PiBpcyBkZWxldGVkIGZyb20gcHJv
Y2Vzc2VzIiwgaW5kZXhlZCwgdGhyZWFkPWluZGV4ZWQgKQoJCQkJCQkJCWlmIHByb2Nlc3MgaW4g
aXByb2Nlc3NlczoKCQkJCQkJCQkJZGVsIGlwcm9jZXNzZXNbaXByb2Nlc3Nlcy5pbmRleCggaXRl
bSApXQoJCQkJCQkJCQloYXNoaW5ncy5hZGQoIGhhc2hudW0gKQoJCQkJCQkJCQllcnJvcnMrPSAx
CgkJCQkJCQljb250aW51ZQoJCQkJZm9yIF8sIGl0ZW0gaW4gZW51bWVyYXRlKCBbICpwcm9jZXNz
ZXMgXSwgMSApOgoJCQkJCWluZGV4ID0gcHJvY2Vzc2VzLmluZGV4KCBpdGVtICkKCQkJCQlpbmRl
eCs9IHN0YXJ0aW5nCgkJCQkJaGFzaG51bSwgcHJvY2VzcyA9IGl0ZW0KCQkJCQlpZiBoYXNobnVt
IG5vdCBpbiBoYXNoaW5nczoKCQkJCQkJdHJ5OgoJCQkJCQkJbG9nZ2VyLnN1Y2Nlc3MoICJQcm9j
ZXNzIHdvcmtlciBQPHt9PiB0cnlpbmcgdG8geWllbGQiLCBpbmRleGVkLCBzdGFydD1wcmVmaXgs
IHRocmVhZD1pbmRleCApCgkJCQkJCQl5aWVsZCBwcm9jZXNzLmdldCggMCApCgkJCQkJCQlzdWNj
ZXNzKz0gMQoJCQkJCQlleGNlcHQgUHJvY2Vzc1RpbWVvdXRFcnJvcjoKCQkJCQkJCXBhc3MKCQkJ
CQkJZXhjZXB0IEJhc2VFeGNlcHRpb24gYXMgZToKCQkJCQkJCWxvZ2dlci5lcnJvciggIlByb2Nl
c3Mgd29ya2VyIFA8e30+IGlzIHJhaXNlZCB7fToge30iLCBpbmRleCwgdHlwZW9mKCBlICksIHRy
YWNlYmFjayggZSwgIlx4MGEiICksIHRocmVhZD1pbmRleCApCgkJCQkJCQlsb2dnZXIuZXJyb3Io
ICJQcm9jZXNzIHdvcmtlciBQPHt9PiBpcyBkZWxldGVkIGZyb20gcHJvY2Vzc2VzIiwgaW5kZXgs
IHRocmVhZD1pbmRleCApCgkJCQkJCQlpZiBwcm9jZXNzIGluIGlwcm9jZXNzZXM6CgkJCQkJCQkJ
ZGVsIGlwcm9jZXNzZXNbaXByb2Nlc3Nlcy5pbmRleCggaXRlbSApXQoJCQkJCQkJCWVycm9ycys9
IDEKCQkJCXN0YXJ0aW5nKz0gbGVuKCBwcm9jZXNzZXMgKQoJCQkJZGVsIGhhc2hpbmdzCgkJCQlk
ZWwgcHJvY2Vzc2VzCgkJCQlkZWwgaXByb2Nlc3NlcwoJCQlleGNlcHQgQmFzZUV4Y2VwdGlvbiBh
cyBlOgoJCQkJbG9nZ2VyLmVycm9yKCAiVW5jYXVnaHQge306IHt9IiwgdHlwZW9mKCBlICksIHRy
YWNlYmFjayggZSwgIlx4MGEiICksIHN0YXJ0PXByZWZpeCApCgkJCQlicmVhawoJCWxvZ2dlci5p
bmZvKCAiUHJvY2Vzc1Bvb2wgaGFzIGJlZW4gdGVybWluYXRlZCIsIHN0YXJ0PXByZWZpeCwgdGhy
ZWFkPSJQIiApCgkJcG9vbC50ZXJtaW5hdGUoKQoJCWxvZ2dlci5pbmZvKCAiUHJvY2Vzc1Bvb2wg
aGFzIGJlZW4gY2xvc2VkIiwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9IlAiICkKCQlwb29sLmNsb3Nl
KCkKCWxvZ2dlci5pbmZvKCAiQSB0b3RhbCBvZiB7fSB3b3JrZXIgcHJvY2VzcyBoYXZlIGJlZW4g
Y29tcGxldGVkIiwgdG90YWxzLCBzdGFydD1wcmVmaXgsIHRocmVhZD0iUCIgKQoJbG9nZ2VyLmlu
Zm8oICJQcm9jZXNzIGV4ZWN1dGlvbiB7fSBlcnJvcnMsIGFuZCB7fSBzdWNjZXNzIiwgZXJyb3Jz
LCBzdWNjZXNzLCBzdGFydD1wcmVmaXgsIHRocmVhZD0iUCIgKQoJbG9nZ2VyLmluZm8oICJQcm9j
ZXNzUG9vbCBmb3Ige30gc3RvcGVkIiwgbmFtZSwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9IlAiICkK
CmRlZiBQcm9jZXNzRXhlY3V0b3IoIG5hbWU6U3RyLCBjYWxsYmFjazpDYWxsYWJsZVtbX1YsKl9B
cmdzLEludF0sX1RdLCBkYXRhc2V0czpJdGVyYWJsZVtfVl0sIHRpbWVvdXQ6SW50PTQsIHdvcmtl
cnM6SW50PTEsICphcmdzOkFueSwgKiprd2FyZ3M6QW55ICkgLT4gSXRlcmFibGVbX1RdOgoJCgki
IiIKCVNob3J0IFByb2Nlc3NQb29sRXhlY3V0b3IgKGNvbmN1cnJlbnQuZnV0dXJlcy5Qcm9jZXNz
UG9vbEV4ZWN1dG9yKQoJCglQYXJhbWV0ZXJzOgoJCW5hbWUgKFN0cik6CgkJCVByb2Nlc3MgbmFt
ZQoJCWNhbGxiYWNrIChDYWxsYWJsZVtbX1YsKl9BcmdzLEludF0sX1RdKToKCQkJUHJvY2VzcyBj
YWxsYmFjayBoYW5kbGVyCgkJZGF0YXNldHMgKEl0ZXJhYmxlW19WXSk6CgkJCURhdGFzZXRzCgkJ
dGltZW91dCAoSW50KToKCQkJVGhyZWFkIHRpbWVvdXQKCQl3b3JrZXJzIChJbnQpOgoJCQlUaHJl
YWQgd29ya2VycwoJCWFyZ3MgKCpBbnkpOgoJCQlDYWxsYmFjayBoYW5kbGVyIGFyZ3VtZW50cwoJ
CWt3YXJncyAoKipBbnkpOgoJCQlDYWxsYmFjayBoYW5kbGVyIGtleSBhcmd1bWVudHMKCQoJUmV0
dXJuczoKCQlyZXN1bHRzIChJdGVyYWJsZVtfVF0pOgoJCQlJdGVyYWJsZSBvZiBjYWxsYmFjayBy
ZXR1cm4KCQoJRXhhbXBsZXM6Cgk+Pj4gZGF0YXNldHMgPSBbIC4uLiBdCgk+Pj4gZXhlY3V0b3Ig
PSBQcm9jZXNzRXhlY3V0b3IoCgk+Pj4gICAgIG5hbWU9IlByb2Nlc3MgRXhlY3V0b3IiLAoJPj4+
ICAgICBjYWxsYmFjaz1oYW5kbGVyLAoJPj4+ICAgICBkYXRhc2V0PWRhdGFzZXRzLAoJPj4+ICAg
ICB3b3JrZXJzPTEwLAoJPj4+ICAgICB0aW1lb3V0PTEyMAoJPj4+ICkKCT4+PiBmb3IgZXhlY3V0
aW9uIGluIGV4ZWN1dG9yOgoJPj4+ICAgICBwcmludCggZXhlY3V0aW9uICkKCSIiIgoJCglwcmVm
aXggPSAiXHgwZCIKCWxvZ2dlciA9IExvZ2dlciggX19uYW1lX18gKQoJY2FuY2VscywgZXJyb3Jz
LCBzdGFydGluZywgc3VjY2VzcywgdG90YWxzID0gMCwgMCwgMCwgMCwgMAoJaWYgbm90IHBpY2ts
YWJsZSggY2FsbGJhY2sgKToKCQlyYWlzZSBQaWNrbGVFcnJvciggIkZ1bmN0aW9uIGNhbm5vdCBi
ZSBwaWNrbGVkIGFuZCB1c2VkIGluIG11bHRpcHJvY2Vzc2luZyIgKQoJbG9nZ2VyLmluZm8oICJC
dWlsZGluZyBQcm9jZXNzUG9vbEV4ZWN1dG9yIHdpdGgge30gd29ya2VycyBmb3Ige30iLCB3b3Jr
ZXJzLCBuYW1lLCBzdGFydD1wcmVmaXggKQoJd2l0aCBQcm9jZXNzUG9vbEV4ZWN1dG9yKCB3b3Jr
ZXJzICkgYXMgcG9vbDoKCQlmb3IgaXRlcmFibGUgaW4gaWNodW5rYWJsZSggZGF0YXNldHMsIHdv
cmtlcnMgKiAyICk6CgkJCWhhc2hpbmdzID0gc2V0KCkKCQkJZnV0dXJlczpNdXRhYmxlU2VxdWVu
Y2VbVHVwbGVbSW50LEZ1dHVyZV1dID0gW10KCQkJaWZ1dHVyZXM6TXV0YWJsZVNlcXVlbmNlW1R1
cGxlW0ludCxGdXR1cmVdXSA9IFtdCgkJCXRyeToKCQkJCWZvciBpbmRleCwgaXRlbSBpbiBlbnVt
ZXJhdGUoIGl0ZXJhYmxlLCAxICk6CgkJCQkJaW5kZXgrPSBzdGFydGluZwoJCQkJCWxvZ2dlci5p
bmZvKCAiQ3JlYXRpbmcgcHJvY2VzcyBmdXR1cmUgUDx7fT4gaW4gcG9vbCIsIGluZGV4LCBlbmQ9
Ilx4MjAiLCBzdGFydD1wcmVmaXgsIHRocmVhZD1pbmRleCApCgkJCQkJZnV0dXJlID0gcG9vbC5z
dWJtaXQoIGNhbGxiYWNrLCBpdGVtLCAqYXJncywgKiprd2FyZ3MsIHByb2Nlc3M9aW5kZXggKQoJ
CQkJCWZ1dHVyZXMuYXBwZW5kKCAoIGhhc2goIGZ1dHVyZSApLCBmdXR1cmUgKSApCgkJCQkJdG90
YWxzKz0gMQoJCQkJaWZ1dHVyZXMuZXh0ZW5kKCBmdXR1cmVzICkKCQkJCXdoaWxlIG5vdCBhbGwo
IGZ1dHVyZVsxXS5kb25lKCkgZm9yIGZ1dHVyZSBpbiBpZnV0dXJlcyApOgoJCQkJCWZvciBfLCBp
dGVtIGluIGVudW1lcmF0ZSggWyAqaWZ1dHVyZXMgXSwgMSApOgoJCQkJCQloYXNobnVtLCBmdXR1
cmUgPSBpdGVtCgkJCQkJCWluZGV4ID0gZnV0dXJlcy5pbmRleCggaXRlbSApCgkJCQkJCWluZGV4
ZWQgPSBpbmRleCArIHN0YXJ0aW5nICsgMQoJCQkJCQl0cnk6CgkJCQkJCQlpZiBmdXR1cmUucnVu
bmluZygpOgoJCQkJCQkJCWFuaW1hdGUoICJGdXR1cmUgcHJvY2VzcyB3b3JrZXJzIGFyZSBzdGls
bCBydW5uaW5nOiB7fToge30iLmZvcm1hdCggbGVuKCBpZnV0dXJlcyApLCBpbmRleGVkICksIGxv
Z2dlciwgcHJlZml4LCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJCQlpZiBmdXR1cmUuY2FuY2VsbGVk
KCk6CgkJCQkJCQkJbG9nZ2VyLndhcm5pbmcoICJGdXR1cmUgcHJvY2VzcyB3b3JrZXIgVDx7fT4g
Y2FuY2VsbGVkIiwgaW5kZXhlZCwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJ
CQkJZGVsIGlmdXR1cmVzW2lmdXR1cmVzLmluZGV4KCBpdGVtICldCgkJCQkJCQkJaGFzaGluZ3Mu
YWRkKCBoYXNobnVtICkKCQkJCQkJCQljYW5jZWxzKz0gMQoJCQkJCQkJCWNvbnRpbnVlCgkJCQkJ
CQlpZiBmdXR1cmUuZG9uZSgpOgoJCQkJCQkJCWxvZ2dlci5zdWNjZXNzKCAiRnV0dXJlIHByb2Nl
c3Mgd29ya2VyIFQ8e30+IHlpZWxkaW5nIiwgaW5kZXhlZCwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9
aW5kZXhlZCApCgkJCQkJCQkJZGVsIGlmdXR1cmVzW2lmdXR1cmVzLmluZGV4KCBpdGVtICldCgkJ
CQkJCQkJeWllbGQgZnV0dXJlLnJlc3VsdCggdGltZW91dCApCgkJCQkJCQkJaGFzaGluZ3MuYWRk
KCBoYXNobnVtICkKCQkJCQkJCQlzdWNjZXNzKz0gMQoJCQkJCQkJCWNvbnRpbnVlCgkJCQkJCQl0
aHJvd24gPSBmdXR1cmUuZXhjZXB0aW9uKCkKCQkJCQkJCWlmIGlzaW5zdGFuY2UoIHRocm93biwg
QmFzZUV4Y2VwdGlvbiApOgoJCQkJCQkJCWxvZ2dlci5lcnJvciggIkZ1dHVyZSBwcm9jZXNzIHdv
cmtlciBUPHt9PiBpcyByYWlzZWQge306IHt9IiwgaW5kZXhlZCwgdHlwZW9mKCB0aHJvd24gKSwg
dHJhY2ViYWNrKCB0aHJvd24sICJceDBhIiApLCBzdGFydD1wcmVmaXgsIHRocmVhZD1pbmRleGVk
ICkKCQkJCQkJCQlsb2dnZXIuZXJyb3IoICJGdXR1cmUgcHJvY2VzcyB3b3JrZXIgVDx7fT4gaXMg
ZGVsZXRlZCBmcm9tIGZ1dHVyZXMiLCBpbmRleGVkLCBzdGFydD1wcmVmaXgsIHRocmVhZD1pbmRl
eGVkICkKCQkJCQkJCQlkZWwgaWZ1dHVyZXNbaWZ1dHVyZXMuaW5kZXgoIGl0ZW0gKV0KCQkJCQkJ
CQloYXNoaW5ncy5hZGQoIGhhc2hudW0gKQoJCQkJCQkJCWVycm9ycys9IDEKCQkJCQkJZXhjZXB0
IFRocmVhZENhbmNlbGxlZEVycm9yOgoJCQkJCQkJbG9nZ2VyLmVycm9yKCAiRnV0dXJlIHByb2Nl
c3Mgd29ya2VyIGNhbmNlbGxlZDoge30iLCBpbmRleGVkLCBzdGFydD1wcmVmaXgsIHRocmVhZD1p
bmRleGVkICkKCQkJCQkJZXhjZXB0IFRocmVhZFRpbWVvdXRFcnJvcjoKCQkJCQkJCWxvZ2dlci5l
cnJvciggIkZ1dHVyZSBwcm9jZXNzIHdvcmtlciB0aW1lb3V0OiB7fSIsIGluZGV4ZWQsIHN0YXJ0
PXByZWZpeCwgdGhyZWFkPWluZGV4ZWQgKQoJCQkJCQlleGNlcHQgQmFzZUV4Y2VwdGlvbiBhcyBl
OgoJCQkJCQkJbG9nZ2VyLmVycm9yKCAiUHJvY2VzcyB1bmNhdWdodCB7fToge30iLCB0eXBlb2Yo
IGUgKSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9aW5kZXhl
ZCApCgkJCQlmb3IgXywgaXRlbSBpbiBlbnVtZXJhdGUoIGZ1dHVyZXMsIDEgKToKCQkJCQloYXNo
bnVtLCBmdXR1cmUgPSBpdGVtCgkJCQkJaW5kZXggPSBmdXR1cmVzLmluZGV4KCBpdGVtICkKCQkJ
CQlpbmRleGVkID0gaW5kZXggKyBzdGFydGluZyArIDEKCQkJCQlpZiBoYXNobnVtIG5vdCBpbiBo
YXNoaW5nczoKCQkJCQkJdGhyb3duID0gZnV0dXJlLmV4Y2VwdGlvbigpCgkJCQkJCWlmIGlzaW5z
dGFuY2UoIHRocm93biwgQmFzZUV4Y2VwdGlvbiApOgoJCQkJCQkJbG9nZ2VyLmVycm9yKCAiRnV0
dXJlIHByb2Nlc3Mgd29ya2VyIFQ8e30+IGlzIHJhaXNlZCB7fToge30iLCBpbmRleGVkLCB0eXBl
b2YoIHRocm93biApLCB0cmFjZWJhY2soIHRocm93biwgIlx4MGEiICksIHN0YXJ0PXByZWZpeCwg
dGhyZWFkPWluZGV4ZWQgKQoJCQkJCQkJbG9nZ2VyLmVycm9yKCAiRnV0dXJlIHByb2Nlc3Mgd29y
a2VyIFQ8e30+IGlzIGRlbGV0ZWQgZnJvbSBmdXR1cmVzIiwgaW5kZXhlZCwgc3RhcnQ9cHJlZml4
LCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJCQllcnJvcnMrPSAxCgkJCQkJCQljb250aW51ZQoJCQkJ
CQlpZiBmdXR1cmUuY2FuY2VsbGVkKCk6CgkJCQkJCQljYW5jZWxzKz0gMQoJCQkJCQkJY29udGlu
dWUKCQkJCQkJbG9nZ2VyLnN1Y2Nlc3MoICJGdXR1cmUgcHJvY2VzcyB3b3JrZXIgUDx7fT4gdHJ5
aW5nIHRvIHlpZWxkIiwgaW5kZXhlZCwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9aW5kZXhlZCApCgkJ
CQkJCXlpZWxkIGZ1dHVyZS5yZXN1bHQoIDAgKQoJCQkJCQlzdWNjZXNzKz0gMQoJCQkJc3RhcnRp
bmcrPSBsZW4oIGZ1dHVyZXMgKQoJCQkJZGVsIGhhc2hpbmdzCgkJCQlkZWwgZnV0dXJlcwoJCQkJ
ZGVsIGlmdXR1cmVzCgkJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCQlsb2dnZXIuZXJy
b3IoICJVbmNhdWdodCB7fToge30iLCB0eXBlb2YoIGUgKSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIg
KSwgc3RhcnQ9cHJlZml4ICkKCQkJCWxvZ2dlci5pbmZvKCAiUHJvY2Vzc1Bvb2xFeGVjdXRvciBo
YXMgYmVlbiBzaHV0aW5nIGRvd24iLCBzdGFydD1wcmVmaXggKQoJCQkJcG9vbC5zaHV0ZG93bigg
d2FpdD1GYWxzZSApCgkJCQlicmVhawoJbG9nZ2VyLmluZm8oICIiLCBzdGFydD0iXHgwYSIsIHRo
cmVhZD0iUCIgKQoJbG9nZ2VyLmluZm8oICJBIHRvdGFsIG9mIHt9IHdvcmtlciBwcm9jZXNzIGhh
dmUgYmVlbiBleGVjdXRlZCIsIHRvdGFscywgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9IlAiICkKCWxv
Z2dlci5pbmZvKCAiUHJvY2VzcyBleGVjdXRpb24ge30gY2FuY2VsbGVkLCB7fSBlcnJvcnMsIGFu
ZCB7fSBzdWNjZXNzIiwgY2FuY2VscywgZXJyb3JzLCBzdWNjZXNzLCBzdGFydD1wcmVmaXgsIHRo
cmVhZD0iUCIgKQoJbG9nZ2VyLmluZm8oICJQcm9jZXNzUG9vbEV4ZWN1dG9yIGZvciB7fSBzdG9w
ZWQiLCBuYW1lLCBzdGFydD1wcmVmaXgsIHRocmVhZD0iUCIgKQoKZGVmIFRocmVhZEV4ZWN1dG9y
KCBuYW1lOlN0ciwgY2FsbGJhY2s6Q2FsbGFibGVbW19WLCpfQXJncyxJbnRdLF9UXSwgZGF0YXNl
dHM6SXRlcmFibGVbX1ZdLCBkZWxheXM6SW50PTIsIHNsZWVweTpJbnQ9MSwgdGltZW91dDpJbnQ9
NCwgd29ya2VyczpJbnQ9MSwgKmFyZ3M6QW55LCAqKmt3YXJnczpBbnkgKSAtPiBJdGVyYWJsZVtf
VF06CgkKCSIiIgoJU2hvcnQgVGhyZWFkUG9vbEV4ZWN1dG9yIChjb25jdXJyZW50LmZ1dHVyZXMu
VGhyZWFkUG9vbEV4ZWN1dG9yKQoJCglQYXJhbWV0ZXJzOgoJCW5hbWUgKFN0cik6CgkJCVRocmVh
ZCBwcmVmaXggbmFtZQoJCWNhbGxiYWNrIChDYWxsYWJsZVtbX1YsKl9BcmdzXSxfVF0pOgoJCQlU
aHJlYWQgY2FsbGJhY2sgaGFuZGxlcgoJCWRhdGFzZXRzIChJdGVyYWJsZVtfVl0pOgoJCQlEYXRh
c2V0cwoJCWRlbGF5cyAoSW50KToKCQkJVGhyZWFkIGRlbGF0IHBlci13b3JrZXJzCgkJc2xlZXB5
IChJbnQpOgoJCQlUaHJlYWQgZGVsYXkgcGVyLXRocmVhZAoJCXRpbWVvdXQgKEludCk6CgkJCVRo
cmVhZCB0aW1lb3V0CgkJd29ya2VycyAoSW50KToKCQkJVGhyZWFkIHdvcmtlcnMKCQlhcmdzICgq
QW55KToKCQkJQ2FsbGJhY2sgaGFuZGxlciBhcmd1bWVudHMKCQlrd2FyZ3MgKCoqQW55KToKCQkJ
Q2FsbGJhY2sgaGFuZGxlciBrZXkgYXJndW1lbnRzCgkKCVJldHVybnM6CgkJcmVzdWx0cyAoSXRl
cmFibGVbX1RdKToKCQkJSXRlcmFibGUgb2YgY2FsbGJhY2sgcmV0dXJuCgkKCUV4YW1wbGVzOgoJ
Pj4+IGRhdGFzZXRzID0gWyAuLi4gXQoJPj4+IGV4ZWN1dG9yID0gVGhyZWFkRXhlY3V0b3IoCgk+
Pj4gICAgIG5hbWU9IlRocmVhZCBFeGVjdXRvciIsCgk+Pj4gICAgIGNhbGxiYWNrPWhhbmRsZXIs
Cgk+Pj4gICAgIGRhdGFzZXQ9ZGF0YXNldHMsCgk+Pj4gICAgIGRlbGF5cz0wLAoJPj4+ICAgICBz
bGVlcHk9MSwsCgk+Pj4gICAgIHRpbWVvdXQ9MTIwLAoJPj4+ICAgICB3b3JrZXJzPTEwCgk+Pj4g
KQoJPj4+IGZvciBleGVjdXRpb24gaW4gZXhlY3V0b3I6Cgk+Pj4gICAgIHByaW50KCBleGVjdXRp
b24gKQoJIiIiCgkKCXByZWZpeCA9ICJceDBkIgoJbG9nZ2VyID0gTG9nZ2VyKCBfX25hbWVfXyAp
CgljYW5jZWxzLCBlcnJvcnMsIHN0YXJ0aW5nLCBzdWNjZXNzLCB0b3RhbHMgPSAwLCAwLCAwLCAw
LCAwCglsb2dnZXIuaW5mbyggIkJ1aWxkaW5nIFRocmVhZFBvb2xFeGVjdXRvciB3aXRoIHt9IHdv
cmtlcnMgZm9yIHt9Iiwgd29ya2VycywgbmFtZSwgc3RhcnQ9cHJlZml4ICkKCXdpdGggVGhyZWFk
UG9vbEV4ZWN1dG9yKCB3b3JrZXJzICkgYXMgcG9vbDoKCQlmb3IgaXRlcmFibGUgaW4gaWNodW5r
YWJsZSggZGF0YXNldHMsIHdvcmtlcnMgKToKCQkJaGFzaGluZ3MgPSBzZXQoKQoJCQlmdXR1cmVz
Ok11dGFibGVTZXF1ZW5jZVtUdXBsZVtJbnQsRnV0dXJlXV0gPSBbXQoJCQlpZnV0dXJlczpNdXRh
YmxlU2VxdWVuY2VbVHVwbGVbSW50LEZ1dHVyZV1dID0gW10KCQkJdHJ5OgoJCQkJZm9yIGluZGV4
LCBpdGVtIGluIGVudW1lcmF0ZSggaXRlcmFibGUsIDEgKToKCQkJCQlpbmRleCs9IHN0YXJ0aW5n
CgkJCQkJbG9nZ2VyLmluZm8oICJDcmVhdGluZyB0aHJlYWQgZnV0dXJlIFA8e30+IGluIHBvb2wi
LCBpbmRleCwgZW5kPSJceDIwIiwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9aW5kZXggKQoJCQkJCWZ1
dHVyZSA9IHBvb2wuc3VibWl0KCBjYWxsYmFjaywgaXRlbSwgKmFyZ3MsICoqa3dhcmdzLCB0aHJl
YWQ9aW5kZXggKQoJCQkJCWZ1dHVyZXMuYXBwZW5kKCAoIGhhc2goIGZ1dHVyZSApLCBmdXR1cmUg
KSApCgkJCQkJdG90YWxzKz0gMQoJCQkJCXNsZWVwKCBkZWxheXMgaWYgaW5kZXggJSB3b3JrZXJz
ID09IDAgZWxzZSBzbGVlcHkgKQoJCQkJaWZ1dHVyZXMuZXh0ZW5kKCBmdXR1cmVzICkKCQkJCXdo
aWxlIG5vdCBhbGwoIGZ1dHVyZVsxXS5kb25lKCkgZm9yIGZ1dHVyZSBpbiBpZnV0dXJlcyApOgoJ
CQkJCWZvciBfLCBpdGVtIGluIGVudW1lcmF0ZSggWyAqaWZ1dHVyZXMgXSwgMSApOgoJCQkJCQlo
YXNobnVtLCBmdXR1cmUgPSBpdGVtCgkJCQkJCWluZGV4ID0gZnV0dXJlcy5pbmRleCggaXRlbSAp
CgkJCQkJCWluZGV4ZWQgPSBpbmRleCArIHN0YXJ0aW5nICsgMQoJCQkJCQl0cnk6CgkJCQkJCQlp
ZiBmdXR1cmUucnVubmluZygpOgoJCQkJCQkJCWFuaW1hdGUoICJGdXR1cmUgdGhyZWFkIHdvcmtl
cnMgYXJlIHN0aWxsIHJ1bm5pbmc6IHt9OiB7fSIuZm9ybWF0KCBsZW4oIGlmdXR1cmVzICksIGlu
ZGV4ZWQgKSwgbG9nZ2VyLCBwcmVmaXgsIHRocmVhZD1pbmRleGVkICkKCQkJCQkJCWlmIGZ1dHVy
ZS5jYW5jZWxsZWQoKToKCQkJCQkJCQlsb2dnZXIud2FybmluZyggIkZ1dHVyZSB0aHJlYWQgd29y
a2VyIFQ8e30+IGNhbmNlbGxlZCIsIGluZGV4ZWQsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPWluZGV4
ZWQgKQoJCQkJCQkJCWRlbCBpZnV0dXJlc1tpZnV0dXJlcy5pbmRleCggaXRlbSApXQoJCQkJCQkJ
CWhhc2hpbmdzLmFkZCggaGFzaG51bSApCgkJCQkJCQkJY2FuY2Vscys9IDEKCQkJCQkJCQljb250
aW51ZQoJCQkJCQkJaWYgZnV0dXJlLmRvbmUoKToKCQkJCQkJCQlsb2dnZXIuc3VjY2VzcyggIkZ1
dHVyZSB0aHJlYWQgd29ya2VyIFQ8e30+IHlpZWxkaW5nIiwgaW5kZXhlZCwgc3RhcnQ9cHJlZml4
LCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJCQkJZGVsIGlmdXR1cmVzW2lmdXR1cmVzLmluZGV4KCBp
dGVtICldCgkJCQkJCQkJeWllbGQgZnV0dXJlLnJlc3VsdCggdGltZW91dCApCgkJCQkJCQkJaGFz
aGluZ3MuYWRkKCBoYXNobnVtICkKCQkJCQkJCQlzdWNjZXNzKz0gMQoJCQkJCQkJCWNvbnRpbnVl
CgkJCQkJCQl0aHJvd24gPSBmdXR1cmUuZXhjZXB0aW9uKCkKCQkJCQkJCWlmIGlzaW5zdGFuY2Uo
IHRocm93biwgQmFzZUV4Y2VwdGlvbiApOgoJCQkJCQkJCWxvZ2dlci5lcnJvciggIkZ1dHVyZSB0
aHJlYWQgd29ya2VyIFQ8e30+IGlzIHJhaXNlZCB7fToge30iLCBpbmRleGVkLCB0eXBlb2YoIHRo
cm93biApLCB0cmFjZWJhY2soIHRocm93biwgIlx4MGEiICksIHN0YXJ0PXByZWZpeCwgdGhyZWFk
PWluZGV4ZWQgKQoJCQkJCQkJCWxvZ2dlci5lcnJvciggIkZ1dHVyZSB0aHJlYWQgd29ya2VyIFQ8
e30+IGlzIGRlbGV0ZWQgZnJvbSBmdXR1cmVzIiwgaW5kZXhlZCwgc3RhcnQ9cHJlZml4LCB0aHJl
YWQ9aW5kZXhlZCApCgkJCQkJCQkJZGVsIGlmdXR1cmVzW2lmdXR1cmVzLmluZGV4KCBpdGVtICld
CgkJCQkJCQkJaGFzaGluZ3MuYWRkKCBoYXNobnVtICkKCQkJCQkJCQllcnJvcnMrPSAxCgkJCQkJ
CWV4Y2VwdCBUaHJlYWRDYW5jZWxsZWRFcnJvcjoKCQkJCQkJCWxvZ2dlci5lcnJvciggIkZ1dHVy
ZSB0aHJlYWQgd29ya2VyIGNhbmNlbGxlZDoge30iLCBpbmRleGVkLCBzdGFydD1wcmVmaXgsIHRo
cmVhZD1pbmRleGVkICkKCQkJCQkJZXhjZXB0IFRocmVhZFRpbWVvdXRFcnJvcjoKCQkJCQkJCWxv
Z2dlci5lcnJvciggIkZ1dHVyZSB0aHJlYWQgd29ya2VyIHRpbWVvdXQ6IHt9IiwgaW5kZXhlZCwg
c3RhcnQ9cHJlZml4LCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJCWV4Y2VwdCBCYXNlRXhjZXB0aW9u
IGFzIGU6CgkJCQkJCQlsb2dnZXIuZXJyb3IoICJUaHJlYWQgdW5jYXVnaHQge306IHt9IiwgdHlw
ZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICksIHN0YXJ0PXByZWZpeCwgdGhyZWFkPWlu
ZGV4ZWQgKQoJCQkJZm9yIF8sIGl0ZW0gaW4gZW51bWVyYXRlKCBmdXR1cmVzLCAxICk6CgkJCQkJ
aGFzaG51bSwgZnV0dXJlID0gaXRlbQoJCQkJCWluZGV4ID0gZnV0dXJlcy5pbmRleCggaXRlbSAp
CgkJCQkJaW5kZXhlZCA9IGluZGV4ICsgc3RhcnRpbmcgKyAxCgkJCQkJaWYgaGFzaG51bSBub3Qg
aW4gaGFzaGluZ3M6CgkJCQkJCXRocm93biA9IGZ1dHVyZS5leGNlcHRpb24oKQoJCQkJCQlpZiBp
c2luc3RhbmNlKCB0aHJvd24sIEJhc2VFeGNlcHRpb24gKToKCQkJCQkJCWxvZ2dlci5lcnJvcigg
IkZ1dHVyZSB0aHJlYWQgd29ya2VyIFQ8e30+IGlzIHJhaXNlZCB7fToge30iLCBpbmRleGVkLCB0
eXBlb2YoIHRocm93biApLCB0cmFjZWJhY2soIHRocm93biwgIlx4MGEiICksIHN0YXJ0PXByZWZp
eCwgdGhyZWFkPWluZGV4ZWQgKQoJCQkJCQkJbG9nZ2VyLmVycm9yKCAiRnV0dXJlIHRocmVhZCB3
b3JrZXIgVDx7fT4gaXMgZGVsZXRlZCBmcm9tIGZ1dHVyZXMiLCBpbmRleGVkLCBzdGFydD1wcmVm
aXgsIHRocmVhZD1pbmRleGVkICkKCQkJCQkJCWVycm9ycys9IDEKCQkJCQkJCWNvbnRpbnVlCgkJ
CQkJCWlmIGZ1dHVyZS5jYW5jZWxsZWQoKToKCQkJCQkJCWNhbmNlbHMrPSAxCgkJCQkJCQljb250
aW51ZQoJCQkJCQlsb2dnZXIuc3VjY2VzcyggIkZ1dHVyZSB0aHJlYWQgd29ya2VyIFA8e30+IHRy
eWluZyB0byB5aWVsZCIsIGluZGV4ZWQsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPWluZGV4ZWQgKQoJ
CQkJCQl5aWVsZCBmdXR1cmUucmVzdWx0KCAwICkKCQkJCQkJc3VjY2Vzcys9IDEKCQkJCXN0YXJ0
aW5nKz0gbGVuKCBmdXR1cmVzICkKCQkJCWRlbCBoYXNoaW5ncwoJCQkJZGVsIGZ1dHVyZXMKCQkJ
CWRlbCBpZnV0dXJlcwoJCQlleGNlcHQgQmFzZUV4Y2VwdGlvbiBhcyBlOgoJCQkJbG9nZ2VyLmVy
cm9yKCAiVW5jYXVnaHQge306IHt9IiwgdHlwZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEi
ICksIHN0YXJ0PXByZWZpeCApCgkJCQlsb2dnZXIuaW5mbyggIlRocmVhZFBvb2xFeGVjdXRvciBo
YXMgYmVlbiBzaHV0aW5nIGRvd24iLCBzdGFydD1wcmVmaXggKQoJCQkJcG9vbC5zaHV0ZG93bigg
d2FpdD1GYWxzZSApCgkJCQlicmVhawoJbG9nZ2VyLmluZm8oICIiLCBzdGFydD0iXHgwYSIsIHRo
cmVhZD0iVCIgKQoJbG9nZ2VyLmluZm8oICJBIHRvdGFsIG9mIHt9IHdvcmtlciB0aHJlYWQgaGF2
ZSBiZWVuIGV4ZWN1dGVkIiwgdG90YWxzLCBzdGFydD1wcmVmaXgsIHRocmVhZD0iVCIgKQoJbG9n
Z2VyLmluZm8oICJUaHJlYWQgZXhlY3V0aW9uIHt9IGNhbmNlbGxlZCwge30gZXJyb3JzLCBhbmQg
e30gc3VjY2VzcyIsIGNhbmNlbHMsIGVycm9ycywgc3VjY2Vzcywgc3RhcnQ9cHJlZml4LCB0aHJl
YWQ9IlQiICkKCWxvZ2dlci5pbmZvKCAiVGhyZWFkUG9vbEV4ZWN1dG9yIGZvciB7fSBzdG9wZWQi
LCBuYW1lLCBzdGFydD1wcmVmaXgsIHRocmVhZD0iVCIgKQo=

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
