IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gZGF0ZXRpbWUgaW1wb3J0
IGRhdGV0aW1lCmZyb20gZW51bSBpbXBvcnQgRW51bQpmcm9tIGluc3BlY3QgaW1wb3J0IGdldGZy
YW1laW5mbywgc3RhY2sKZnJvbSBvcyBpbXBvcnQgZ2V0cGlkLCBnZXR1aWQsIG1ha2VkaXJzIGFz
IG1rZGlyCmZyb20gb3MucGF0aCBpbXBvcnQgaXNkaXIKZnJvbSBwd2QgaW1wb3J0IGdldHB3dWlk
CmZyb20gcHl0eiBpbXBvcnQgdGltZXpvbmUKZnJvbSBweXR6LnR6aW5mbyBpbXBvcnQgQmFzZVR6
SW5mbwpmcm9tIHJhbmRvbSBpbXBvcnQgcmFuZGludApmcm9tIHR5cGluZyBpbXBvcnQgKAoJQW55
LCAKCWZpbmFsLCAKCUdlbmVyaWMsIAoJVHVwbGUsIAoJVHlwZVZhciBhcyBWYXIsIAoJVW5pb24K
KQpmcm9tIHR6bG9jYWwgaW1wb3J0IGdldF9sb2NhbHpvbmVfbmFtZSBhcyBUekxvY2Fsem9uZU5h
bWUKCmZyb20gez89cHJvamVjdH0gaW1wb3J0IF9fbmFtZV9fIGFzIHByb2dyYW0KZnJvbSB7Pz1w
cm9qZWN0fS5jb21tb24gaW1wb3J0IGNvbG9yaXplCmZyb20gez89cHJvamVjdH0uY29uc3RhbnQg
aW1wb3J0IEJhc2VQYXRoCgoKX19hbGxfXyA9IFsKCSJkaXNhYmxlU3RvcmVMb2ciLAoJImVuYWJs
ZVN0b3JlTG9nIiwKCSJMZXZlbCIsCgkiTG9nZ2VyIiwKCSJ0aHJlc2hvbGQiCl0KCgpfQ29udGV4
dCA9IFZhciggIl9Db250ZXh0IiApCiIiIiBDb250ZXh0IFR5cGUgIiIiCgpfRW5hYmxlU3RvcmU6
Qm9vbCA9IFRydWUKIiIiIExvZ2dlciBlbmFibGUgc2F2ZSBsb2cgIiIiCgpfRkRhdGV0aW1lOlN0
ciA9ICIlWS0lbS0lZFQlSDolTTolUyIKIiIiIERhdGVUaW1lIGZvcm1hdHRlciAiIiIKCl9Gb3Jt
YXR0ZXI6U3RyID0gIntkYXRldGltZX17dXRjb2Zmc2V0fSB7bGV2ZWx9IHt1c2VybmFtZX0gUHtw
aWR9OlR7dGhyZWFkfSAtLS0gW3twcm9ncmFtfV0ge2NvbnRleHR9IDoge2xpbmVudW19IDoge21l
c3NhZ2V9IgoiIiIgTG9nZ2luZyBmb3JtYXR0ZXIgIiIiCgpfU3RyZnRpbWUgPSBWYXIoICJfU3Ry
ZnRpbWUiLCBieXRlcywgc3RyICkKIiIiIERhdGVUaW1lIFN0cmluZyBGb3JtYXR0ZWQgVHlwZSAi
IiIKCl9VdGNvZmZzZXRzID0gVmFyKCAiX1V0Y29mZnNldHMiLCBieXRlcywgc3RyICkKIiIiIERh
dGVUaW1lIFN0cmluZyBvZiBVdGNvZmZzZXQgVHlwZSAiIiIKCgpkZWYgZGlzYWJsZVN0b3JlTG9n
KCkgLT4gTm9uZToKCQoJIiIiIEVuYWJsZSBzdG9yZSBsb2cgaW50byBmaWxlICIiIgoJCglnbG9i
YWwgX0VuYWJsZVN0b3JlCglfRW5hYmxlU3RvcmUgPSBGYWxzZQoKZGVmIGVuYWJsZVN0b3JlTG9n
KCkgLT4gTm9uZToKCQoJIiIiIEVuYWJsZSBzdG9yZSBsb2cgaW50byBmaWxlICIiIgoJCglnbG9i
YWwgX0VuYWJsZVN0b3JlCglfRW5hYmxlU3RvcmUgPSBUcnVlCgoKY2xhc3MgTGV2ZWwoIEVudW0g
KToKCQoJIiIiIEFwcGxpY2F0aW9uIExvZ2dlciBMZXZlbCAiIiIKCQoJQ1JJVElDQUwgPSAxCgki
IiIgQ3JpdGljYWwgIiIiCgkKCURFQlVHID0gMAoJIiIiIERlYnVnICIiIgoJCglESVNBQkxFID0g
cmFuZGludCggODk5OSwgOTk5OSApCgkiIiIgRGlzYWJsZSAiIiIKCQoJRVJST1IgPSAyCgkiIiIg
RXJyb3IgIiIiCgkKCUlORk8gPSAzCgkiIiIgSW5mbyAiIiIKCQoJU1VDQ0VTUyA9IDQKCSIiIiBT
dWNjZXNzICIiIgoJCglWRVJCT1NFID0gLTk5OTkKCSIiIiBWZXJib3NlICIiIgoJCglXQVJOSU5H
ID0gNQoJIiIiIFdhcm5pbmcgIiIiCgkKCS4uLgoKCl9UaHJlc2hsb2Q6TGV2ZWwgPSBMZXZlbC5J
TkZPCiIiIiBMb2dnZXIgVGhyZXNob2xkICIiIgoKCmRlZiB0aHJlc2hvbGQoIGxldmVsOkxldmVs
ICkgLT4gTm9uZToKCQoJIiIiIFNldCBsb2dnZXIgdGhyZXNob2xkIGxldmVsICIiIgoJCglnbG9i
YWwgX1RocmVzaGxvZAoJX1RocmVzaGxvZCA9IGxldmVsCgoKY2xhc3MgTG9nZ2VyKCBHZW5lcmlj
W19Db250ZXh0XSApOgoJCgkiIiIKCUFwcGxpY2F0aW9uIExvZ2dlciBJbXBsZW1lbnRhdGlvbgoJ
Cgk+Pj4gbG9nZ2VyID0gTG9nZ2VyKCBDbGFzcyApCgk+Pj4gbG9nZ2VyID0gTG9nZ2VyKCBJbnN0
YW5jZSApCgk+Pj4gbG9nZ2VyID0gTG9nZ2VyKCAiY29tLmV4YW1wbGUuTWFpbiIgKQoJPj4+IGxv
Z2dlci5kZWJ1ZyggIkhlbGxvIFdvcmxkISIsICphcmdzLCAqKmt3YXJncyApCgkiIiIKCQoJX19i
YXNlcGF0aDpTdHIKCSIiIiBCYXNlcGF0aCBsb2dnaW5nIHN0b3JlZCAiIiIKCQoJX19jb250ZXh0
Ol9Db250ZXh0CgkiIiIgQXBwbGljYXRpb24gY29udGV4dCAiIiIKCQoJX19maWxlbmFtZTpTdHIK
CSIiIiBMb2dnaW5nIHN0b3JlZCBjb250ZW50cyAiIiIKCQoJX19mb3JtYXR0ZXI6U3RyCgkiIiIg
TG9nZ2luZyBtZXNzYWdlIGZvcm1hdCAiIiIKCQoJX190aW1lem9uZTpCYXNlVHpJbmZvCgkiIiIg
Q3VycmVudCBUaW1lem9uZSAiIiIKCQoJZGVmIF9faW5pdF9fKCBzZWxmLCBjb250ZXh0Ol9Db250
ZXh0LCBmb3JtYXR0ZXI6U3RyPV9Gb3JtYXR0ZXIgKSAtPiBOb25lOgoJCQoJCSIiIgoJCUNvbnN0
cnVjdCBtZXRob2Qgb2YgY2xhc3MgTG9nZ2VyCgkJCgkJUGFyYW1ldGVyczoKCQkJY29udGV4dCAo
X0NvbnRleHQpOgoJCQkJQXBwbGljYXRpb24gY29udGV4dCBsb2dnZXIgaW5pdGlhbAoJCQlmb3Jt
YXR0ZXIgKFN0cik6CgkJCQlMb2dnZXIgb3V0cHV0IGZvcm1hdAoJCSIiIgoJCQoJCWN1cnJ0aW1l
ID0gZGF0ZXRpbWUubm93KCkKCQlzZWxmLl9fYmFzZXBhdGggPSBmIntCYXNlUGF0aH0vbG9nZ2lu
ZyIKCQlpZiBub3QgaXNkaXIoIHNlbGYuYmFzZXBhdGggKToKCQkJbWtkaXIoIHNlbGYuYmFzZXBh
dGggKQoJCXNlbGYuX19jb250ZXh0ID0gY29udGV4dAoJCXNlbGYuX19maWxlbmFtZSA9IGN1cnJ0
aW1lLnN0cmZ0aW1lKCBmIntzZWxmLmJhc2VwYXRofS97cHJvZ3JhbS5sb3dlcigpfS0lWS0lbS0l
ZC5sb2ciICkKCQlzZWxmLl9fZm9ybWF0dGVyID0gZm9ybWF0dGVyCgkJc2VsZi5fX3RpbWV6b25l
ID0gdGltZXpvbmUoIFR6TG9jYWx6b25lTmFtZSgpICkKCQoJQGZpbmFsCglAcHJvcGVydHkKCWRl
ZiBiYXNlcGF0aCggc2VsZiApIC0+IFN0cjoKCQkKCQkiIiIgQmFzZXBhdGggbG9nZ2luZyBzdG9y
ZWQgIiIiCgkJCgkJcmV0dXJuIHNlbGYuX19iYXNlcGF0aAoJCglAZmluYWwKCUBwcm9wZXJ0eQoJ
ZGVmIGNvbnRleHQoIHNlbGYgKSAtPiBTdHI6CgkJCgkJIiIiIExvZ2dlciBjb250ZXh0ICIiIgoJ
CQoJCWNvbnRleHQgPSBzZWxmLl9fY29udGV4dAoJCWlmIG5vdCBpc2luc3RhbmNlKCBjb250ZXh0
LCBTdHIgKToKCQkJaWYgbm90IGhhc2F0dHIoIGNvbnRleHQsICJfX3F1YWxuYW1lX18iICk6CgkJ
CQljb250ZXh0ID0gdHlwZSggY29udGV4dCApCgkJCWlmIGhhc2F0dHIoIGNvbnRleHQsICJfX3F1
YWxuYW1lX18iICk6CgkJCQlyZXR1cm4gZiJ7Y29udGV4dC5fX21vZHVsZV9ffS57Y29udGV4dC5f
X3F1YWxuYW1lX199IgoJCQlyZXR1cm4gZiJ7Y29udGV4dC5fX21vZHVsZV9ffS57Y29udGV4dC5f
X25hbWVfX30iCgkJcmV0dXJuIGNvbnRleHQKCQoJZGVmIGNyaXRpY2FsKCBzZWxmLCBtZXNzYWdl
OlN0ciwgKmFyZ3M6QW55LCAqKmt3YXJnczpBbnkgKSAtPiBOb25lOgoJCXNlbGYud3JpdGUoIExl
dmVsLkNSSVRJQ0FMLCBtZXNzYWdlLCAqYXJncywgKiprd2FyZ3MgKQoJCglkZWYgZGVidWcoIHNl
bGYsIG1lc3NhZ2U6U3RyLCAqYXJnczpBbnksICoqa3dhcmdzOkFueSApIC0+IE5vbmU6CgkJc2Vs
Zi53cml0ZSggTGV2ZWwuREVCVUcsIG1lc3NhZ2UsICphcmdzLCAqKmt3YXJncyApCgkKCWRlZiBl
cnJvciggc2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFueSwgKiprd2FyZ3M6QW55ICkgLT4gTm9u
ZToKCQlzZWxmLndyaXRlKCBMZXZlbC5FUlJPUiwgbWVzc2FnZSwgKmFyZ3MsICoqa3dhcmdzICkK
CQoJQGZpbmFsCglAcHJvcGVydHkKCWRlZiBmaWxlbmFtZSggc2VsZiApIC0+IFN0cjoKCQkKCQki
IiIgTG9nZ2VyIGZpbGVuYW1lICIiIgoJCQoJCXJldHVybiBzZWxmLl9fZmlsZW5hbWUKCQoJQGZp
bmFsCglAcHJvcGVydHkKCWRlZiBmb3JtYXR0ZXIoIHNlbGYgKSAtPiBTdHI6CgkJCgkJIiIiIExv
Z2dlciBmb21hdHRlciAiIiIKCQkKCQlyZXR1cm4gc2VsZi5fX2Zvcm1hdHRlcgoJCglkZWYgaW5m
byggc2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFueSwgKiprd2FyZ3M6QW55ICkgLT4gTm9uZToK
CQlzZWxmLndyaXRlKCBMZXZlbC5JTkZPLCBtZXNzYWdlLCAqYXJncywgKiprd2FyZ3MgKQoJCglk
ZWYgc3VjY2Vzcyggc2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFueSwgKiprd2FyZ3M6QW55ICkg
LT4gTm9uZToKCQlzZWxmLndyaXRlKCBMZXZlbC5TVUNDRVNTLCBtZXNzYWdlLCAqYXJncywgKipr
d2FyZ3MgKQoJCglAZmluYWwKCUBwcm9wZXJ0eQoJZGVmIHRpbWV6b25lKCBzZWxmICkgLT4gQmFz
ZVR6SW5mbzoKCQkKCQkiIiIgQ3VycmVudCB0aW1lem9uZSAiIiIKCQkKCQlyZXR1cm4gc2VsZi5f
X3RpbWV6b25lCgkKCUBmaW5hbAoJQHByb3BlcnR5CglkZWYgdXNlcm5hbWUoIHNlbGYgKSAtPiBT
dHI6CgkJCgkJIiIiIEN1cnJlbnQgb3MgYWNjb3VudCB1c2VybmFtZSAiIiIKCQkKCQlyZXR1cm4g
Z2V0cHd1aWQoIGdldHVpZCgpIClbMF0KCQoJZGVmIHV0Y29mZnNldCggc2VsZiApIC0+IFR1cGxl
W19TdHJmdGltZSxfVXRjb2Zmc2V0c106CgkJCgkJIiIiIFJldHVybiBmb3JtYXR0ZWQgZGF0ZXRp
bWUgYW5kIHV0Y29mZnNldCAiIiIKCQkKCQlsb2NhbHRpbWUgPSBkYXRldGltZS5ub3coIHNlbGYu
dGltZXpvbmUgKQoJCXV0Zm9mZnNldCA9IGxvY2FsdGltZS51dGNvZmZzZXQoKQoJCXNlY29uZHMg
PSB1dGZvZmZzZXQudG90YWxfc2Vjb25kcygpCgkJaG91cnMsIHJlbWFpbmRlciA9IGRpdm1vZCgg
c2Vjb25kcywgMzYwMCApCgkJbWludXRlcyA9IHJlbWFpbmRlciAvLyA2MAoJCW9wZXJhdG9yID0g
IisiIGlmIHNlY29uZHMgPj0gMCBlbHNlICItIgoJCW9mZnNldHMgPSBmIntvcGVyYXRvcn17aW50
KGhvdXJzKTowMn06e2ludChtaW51dGVzKTowMn0iCgkJc3RyZnRpbWUgPSBsb2NhbHRpbWUuc3Ry
ZnRpbWUoIF9GRGF0ZXRpbWUgKQoJCXJldHVybiB0dXBsZShbIHN0cmZ0aW1lLCBvZmZzZXRzIF0p
CgkKCWRlZiB3YXJuaW5nKCBzZWxmLCBtZXNzYWdlOlN0ciwgKmFyZ3M6QW55LCAqKmt3YXJnczpB
bnkgKSAtPiBOb25lOgoJCXNlbGYud3JpdGUoIExldmVsLldBUk5JTkcsIG1lc3NhZ2UsICphcmdz
LCAqKmt3YXJncyApCgkKCWRlZiB3cml0ZSggc2VsZiwgbGV2ZWw6VW5pb25bSW50LExldmVsLFN0
cl0sIG1lc3NhZ2U6U3RyLCAqYXJnczpBbnksIHRocmVhZDpVbmlvbltJbnQsU3RyXT0wLCAqKmt3
YXJnczpBbnkgKSAtPiBOb25lOgoJCQoJCSIiIgoJCUxvZ2dlciB3cml0ZQoJCQoJCVBhcmFtZXRl
cnM6CgkJCWxldmVsIChJbnR8TGV2ZWx8U3RyKToKCQkJCUxvZ2dlciBsb2dnaW5nIGxldmVsCgkJ
CW1lc3NhZ2UgKFN0cik6CgkJCQlMb2dnZXIgbWVzc2FnZQoJCQlhcmdzICgqQW55KToKCQkJCUxv
Z2dlciBhcmd1bWVudCBtZXNzYWdlCgkJCXRocmVhZCAoSW50fFN0cik6CgkJCQlDdXJyZW50IHRo
cmVhZCBwb3NpdGlvbiBudW1iZXIKCQkJa3dhcmdzICgqKkFueSk6CgkJCQlMb2dnZXIga2V5IGFy
Z3VtZW50IG1lc3NhZ2UKCQkiIiIKCQkKCQlzdGFja3MgPSBzdGFjaygpCgkJcHJvZ3BpZCA9IHN0
ciggZ2V0cGlkKCkgKQoJCWluZnJhbWUgPSBnZXRmcmFtZWluZm8oIHN0YWNrc1syXVswXSApCgkJ
bGluZW51bSA9IHN0ciggaW5mcmFtZS5saW5lbm8gKQoJCWNvbnRleHQgPSBmIntzZWxmLmNvbnRl
eHR9LntpbmZyYW1lLmZ1bmN0aW9ufSIKCQljb250ZXh0ID0gY29udGV4dCBcCgkJCS5yZXBsYWNl
KCAiX19tYWluX18iLCBwcm9ncmFtLmxvd2VyKCkgKSBcCgkJCS5yZXBsYWNlKCAiPG1vZHVsZT4i
LCAiaW52b2tlIiApCgkJc3RyZnRpbWUsIG9mZnNldHMgPSBzZWxmLnV0Y29mZnNldCgpCgkJbGV2
ZWxuYW1lID0gbGV2ZWwKCQlpZiBpc2luc3RhbmNlKCBsZXZlbCwgSW50ICk6CgkJCWxldmVsID0g
TGV2ZWwoIHZhbHVlPTAgKQoJCWlmIGlzaW5zdGFuY2UoIGxldmVsLCBMZXZlbCApOgoJCQlsZXZl
bG5hbWUgPSBsZXZlbC5uYW1lCgkJdGhyZWFkID0gc3RyKCB0aHJlYWQgKQoJCXVzZXJuYW1lID0g
c2VsZi51c2VybmFtZQoJCWZvcm1hdHRlZCA9IHNlbGYuZm9ybWF0dGVyLmZvcm1hdCgKCQkJZGF0
ZXRpbWU9c3RyZnRpbWUsCgkJCWNvbnRleHQ9Y29udGV4dFs6MzhdLmxqdXN0KCAzOCApLAoJCQlw
cm9ncmFtPXByb2dyYW1bOjE2XS5sanVzdCggMTYgKSwKCQkJdXNlcm5hbWU9dXNlcm5hbWVbOjZd
LmNlbnRlciggNiApLAoJCQl1dGNvZmZzZXQ9b2Zmc2V0c1s6Nl0ubGp1c3QoIDYgKSwKCQkJbGV2
ZWw9bGV2ZWxuYW1lWzo4XS5jZW50ZXIoIDggKSwKCQkJbGluZW51bT1saW5lbnVtWzo0XS5sanVz
dCggNCApLAoJCQl0aHJlYWQ9dGhyZWFkWzo0XS5sanVzdCggNCApLAoJCQlwaWQ9cHJvZ3BpZFs6
Nl0ubGp1c3QoIDYgKSwKCQkJbWVzc2FnZT1tZXNzYWdlLmZvcm1hdCggKmFyZ3MsICoqa3dhcmdz
ICkKCQkpCgkJaWYgX0VuYWJsZVN0b3JlIGlzIFRydWU6CgkJCXdpdGggb3Blbiggc2VsZi5maWxl
bmFtZSwgImEiICkgYXMgZm9wZW46CgkJCQlmb3Blbi53cml0ZSggZm9ybWF0dGVkLnJlcGxhY2Uo
ICJceDBhIiwgIlxcbiIgKSApCgkJCQlmb3Blbi53cml0ZSggIlx4MGEiICkKCQkJCWZvcGVuLmNs
b3NlKCkKCQlpZiBub3QgaXNpbnN0YW5jZSggbGV2ZWwsIFN0ciApIGFuZCBsZXZlbC52YWx1ZSA+
PSBfVGhyZXNobG9kLnZhbHVlOgoJCQlwcmludCggZiJceDBke2NvbG9yaXplKCBmb3JtYXR0ZWQg
KX0iICkKCQkuLi4KCQoJLi4uCg==
