----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gcmVxdWVzdHMgaW1wb3J0
IFJlc3BvbnNlLCBTZXNzaW9uCmZyb20gcmVxdWVzdHMuZXhjZXB0aW9ucyBpbXBvcnQgKAoJQ29u
bmVjdGlvbkVycm9yIGFzIFJlcXVlc3RDb25uZWN0aW9uRXJyb3IsIAoJQ29ubmVjdFRpbWVvdXQg
YXMgUmVxdWVzdENvbm5lY3Rpb25UaW1lb3V0LCAKCVJlcXVlc3RFeGNlcHRpb24gYXMgUmVxdWVz
dEVycm9yCikKZnJvbSB0eXBpbmcgaW1wb3J0ICggCglBbnksIAoJTXV0YWJsZU1hcHBpbmcsIAoJ
VHVwbGUsIAoJVW5pb24KKQpmcm9tIHVybGxpYjMuZXhjZXB0aW9ucyBpbXBvcnQgKAoJQ29ubmVj
dGlvbkVycm9yIGFzIFVybGxpYkNvbm5lY3Rpb25FcnJvciwKCUNvbm5lY3RUaW1lb3V0RXJyb3Ig
YXMgVXJsbGliQ29ubmVjdFRpbWVvdXRFcnJvciwKCVJlcXVlc3RFcnJvciBhcyBVcmxsaWJSZXF1
ZXN0RXJyb3IsCglOZXdDb25uZWN0aW9uRXJyb3IgYXMgVXJsbGliTmV3Q29ubmVjdGlvbkVycm9y
CikKZnJvbSB1cmxsaWIucGFyc2UgaW1wb3J0IHVybHBhcnNlIGFzIHVybHBhcnNlcgoKZnJvbSB7
Pz1tb2R1bGV9LmNvbW1vbiBpbXBvcnQgdHJhY2ViYWNrLCB0eXBlb2YKZnJvbSB7Pz1tb2R1bGV9
LmxvZ2dlciBpbXBvcnQgTG9nZ2VyCgoKX19hbGxfXyA9IFsKCSJyZXF1ZXN0IgpdCgoKX2xvZ2dl
cjpMb2dnZXIgPSBMb2dnZXIoIF9fbmFtZV9fICkKIiIiIExvZ2dlciBJbnN0YW5jZSAiIiIKCgpk
ZWYgcmVxdWVzdCggbWV0aG9kOlN0ciwgdXJsOlN0ciwgYXV0aDpUdXBsZVtTdHIsU3RyXT1Ob25l
LCBkYXRhOk11dGFibGVNYXBwaW5nW1N0cixBbnldPU5vbmUsIGNvb2tpZXM6TXV0YWJsZU1hcHBp
bmdbU3RyLFN0cl09Tm9uZSwgaGVhZGVyczpNdXRhYmxlTWFwcGluZ1tTdHIsU3RyXT1Ob25lLCBw
YXJhbXM6TXV0YWJsZU1hcHBpbmdbU3RyLFN0cl09Tm9uZSwgcGF5bG9hZDpNdXRhYmxlTWFwcGlu
Z1tTdHIsQW55XT1Ob25lLCBwcm94aWVzOk11dGFibGVNYXBwaW5nW1N0cixTdHJdPU5vbmUsIHN0
cmVhbTpCb29sPUZhbHNlLCB2ZXJpZnk6Qm9vbD1Ob25lLCB0aW1lb3V0OkludD1Ob25lLCB0cmll
czpJbnQ9MTAsIHRocmVhZDpVbmlvbltJbnQsU3RyXT0wICkgLT4gUmVzcG9uc2U6CgkKCSIiIgoJ
U2VuZCBIVFRQIFJlcXVlc3QKCQoJUGFyYW1ldGVyczoKCQltZXRob2QgKFN0cik6CgkJCUh0dHAg
cmVxdWVzdCBtZXRob2QKCQl1cmwgKFN0cik6CgkJCUh0dHAgcmVxdWVzdCB1cmwgdGFyZ2V0CgkJ
YXV0aCAoVHVwbGU8U3RyLFN0cj4pOgoJCQlIdHRwIHJlcXVlc3QgYXV0aGVudGljYXRpb24KCQlk
YXRhIChNdXRhYmxlTWFwcGluZzxTdHIsQW55Pik6CgkJCUh0dHAgcmVxdWVzdCBtdWx0aXBhcnQg
Zm9ybSBkYXRhCgkJY29va2llcyAoTXV0YWJsZU1hcHBpbmc8U3RyLFN0cj4pOgoJCQlIdHRwIHJl
cXVlc3QgY29va2llcwoJCWhlYWRlcnMgKE11dGFibGVNYXBwaW5nPFN0cixTdHI+KToKCQkJSHR0
cCByZXF1ZXN0IGhlYWRlcnMKCQlwYXJhbXMgKE11dGFibGVNYXBwaW5nPFN0cixTdHI+KToKCQkJ
SHR0cCByZXF1ZXN0IHBhcmFtZXRlcnMKCQlwYXlsb2FkIChNdXRhYmxlTWFwcGluZzxTdHIsQW55
Pik6CgkJCUh0dHAgcmVxdWVzdCBqc29uIHBheWxvYWQgZGF0YQoJCXByb3hpZXMgKE11dGFibGVN
YXBwaW5nPFN0cixBbnk+KToKCQkJSHR0cCByZXF1ZXN0IHByb3hpZXMKCQlzdHJlYW0gKEJvb2wp
OgoJCQlBbGxvdyByZXF1ZXN0IHN0cmVhbQoJCXZlcmlmeSAoQm9vbCk6CgkJCVZlcmlmeSBodHRw
IHJlcXVlc3QKCQl0aW1lb3V0IChJbnQpOgoJCQlIdHRwIHJlcXVlc3QgdGltZW91dAoJCXRyaWVz
IChJbnQpOgoJCQlIdHRwIHJlcXVlc3QgdGltZW91dCB0cmllcwoJCXRocmVhZCAoSW50fFN0cik6
CgkJCUN1cnJlbnQgdGhyZWFkIHBvc2l0aW9uIG51bWJlcgoJCglSZXR1cm5zOgoJCXJlc3BvbnNl
IChSZXNwb25zZSk6CgkJCVJlcXVlc3QgcmVzcG9uc2UKCSIiIgoJCgljb3VudGVyID0gMAoJc2Vz
c2lvbiA9IFNlc3Npb24oKQoJdGhyb3duZWQgPSBbXQoJdGhyb3dhYmxlID0gWwoJCVJlcXVlc3RD
b25uZWN0aW9uRXJyb3IsIAoJCVJlcXVlc3RDb25uZWN0aW9uVGltZW91dCwgCgkJUmVxdWVzdEVy
cm9yLAoJCVVybGxpYkNvbm5lY3Rpb25FcnJvciwKCQlVcmxsaWJDb25uZWN0VGltZW91dEVycm9y
LAoJCVVybGxpYlJlcXVlc3RFcnJvciwKCQlVcmxsaWJOZXdDb25uZWN0aW9uRXJyb3IKCV0KCWNv
bnRpbnVlYWJsZSA9ICggCgkJUmVxdWVzdENvbm5lY3Rpb25FcnJvciwgCgkJUmVxdWVzdENvbm5l
Y3Rpb25UaW1lb3V0LCAKCQlVcmxsaWJDb25uZWN0aW9uRXJyb3IsCgkJVXJsbGliQ29ubmVjdFRp
bWVvdXRFcnJvciwKCQlVcmxsaWJOZXdDb25uZWN0aW9uRXJyb3IKCSkKCWlmIHRyaWVzIDw9IDA6
CgkJdHJpZXMgPSAxMAoJdXJscGFyc2VkID0gdXJscGFyc2VyKCB1cmwgKQoJc291cmNlID0gZiJ7
dXJscGFyc2VkLnNjaGVtZX06Ly97dXJscGFyc2VkLm5ldGxvY317dXJscGFyc2VkLnBhdGh9IgoJ
d2hpbGUgY291bnRlciA8PSB0cmllczoKCQlfbG9nZ2VyLmluZm8oIGYiUmVxdWVzdCB7bWV0aG9k
fSB1cmw9XCJ7c291cmNlfVwiIiwgdGhyZWFkPXRocmVhZCApCgkJdHJ5OgoJCQlyZXNwb25zZSA9
IHNlc3Npb24ucmVxdWVzdCggCgkJCQl1cmw9dXJsLCAKCQkJCWF1dGg9YXV0aCwKCQkJCWRhdGE9
ZGF0YSwgCgkJCQlqc29uPXBheWxvYWQsIAoJCQkJc3RyZWFtPXN0cmVhbSwKCQkJCXZlcmlmeT12
ZXJpZnksCgkJCQltZXRob2Q9bWV0aG9kLCAKCQkJCWNvb2tpZXM9Y29va2llcywgCgkJCQloZWFk
ZXJzPWhlYWRlcnMsIAoJCQkJdGltZW91dD10aW1lb3V0LAoJCQkJcHJveGllcz1wcm94aWVzLAoJ
CQkJcGFyYW1zPXBhcmFtcyAKCQkJKQoJCQlfbG9nZ2VyLmluZm8oIGYiUmVzcG9uc2Uge21ldGhv
ZH0gdXJsPVwie3NvdXJjZX1cIiBjb2RlPXtyZXNwb25zZS5zdGF0dXNfY29kZX0iLCB0aHJlYWQ9
dGhyZWFkICkKCQkJcmV0dXJuIHJlc3BvbnNlCgkJZXhjZXB0IEJhc2VFeGNlcHRpb24gYXMgZToK
CQkJaW5zdGFuY2UgPSB0eXBlKCBlICkKCQkJdGhyb3dhYmxlLmFwcGVuZCggZSApCgkJCV9sb2dn
ZXIuaW5mbyggIlx4MjBceDNhIi5qb2luKFsgdHlwZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4
MGEiICkgXSksIHRocmVhZD10aHJlYWQgKQoJCQlpZiBpbnN0YW5jZSBpbiB0aHJvd2FibGU6CgkJ
CQlpZiBpc2luc3RhbmNlKCBlLCBjb250aW51ZWFibGUgKToKCQkJCQljb3VudGVyICs9IDEKCQkJ
CQljb250aW51ZQoJCQlpZiB0aHJvd25lZDoKCQkJCXJhaXNlIEV4Y2VwdGlvbkdyb3VwKCBmIkFu
IGVycm9yIG9jY3VycmVkIHdoaWxlIHNlbmRpbmcgYSB7bWV0aG9kfSByZXF1ZXN0IHRvIHVybD1c
Int1cmx9XCIiLCB0aHJvd25lZCApCgkJCXJhaXNlIGUKCS4uLgo=

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
