----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gZGF0ZXRpbWUgaW1wb3J0
IGRhdGV0aW1lCmZyb20gaW5zcGVjdCBpbXBvcnQgZ2V0ZnJhbWVpbmZvLCBzdGFjawpmcm9tIGpz
b24gaW1wb3J0IGxvYWRzIGFzIEpzb25EZWNvZGVyLCBKU09ORGVjb2RlRXJyb3IKZnJvbSBwaWNr
bGUgaW1wb3J0IGR1bXBzIGFzIFBpY2tsZUR1bXBzLCBQaWNrbGluZ0Vycm9yCmZyb20gcHl0eiBp
bXBvcnQgdGltZXpvbmUKZnJvbSByYW5kb20gaW1wb3J0IGNob2ljZQpmcm9tIHJlIGltcG9ydCBN
VUxUSUxJTkUsIFMKZnJvbSByZSBpbXBvcnQgY29tcGlsZSwgbWF0Y2gsIHNwbGl0LCBzdWIgYXMg
c3Vic3RyCmZyb20gdGltZSBpbXBvcnQgc2xlZXAKZnJvbSB0cmFjZWJhY2sgaW1wb3J0IGZvcm1h
dF9leGNlcHRpb24KZnJvbSB0eXBpbmcgaW1wb3J0ICggCglBbnksIAoJSXRlcmFibGUsIAoJTXV0
YWJsZU1hcHBpbmcsIAoJTXV0YWJsZVNlcXVlbmNlLCAKCU9wdGlvbmFsLCAKCVVuaW9uIAopCgpm
cm9tIHs/PW1vZHVsZX0uY29uc3RhbnQgaW1wb3J0IEJhc2VQYXRoLCBCYXNlVmVudgoKCl9fYWxs
X18gPSBbCgkiY29sb3JpemUiLAoJImNzZXJpYWxpemVyIiwKCSJkZWxheXMiLAoJImV4dHJhY3Rv
ciIsCgkicGlja2xhYmxlIiwKCSJwdXRzIiwKCSJzb3J0ZXIiLAoJInRyYWNlYmFjayIsCgkidHlw
ZW9mIgpdCgoKZGVmIGNvbG9yaXplKCBzdHJpbmc6U3RyLCBiYXNlOlN0cj1Ob25lICkgLT4gU3Ry
OgoJCgkiIiIKCUF1dG9tYXRpYyBjb2xvcml6ZSB0aGUgZ2l2ZW4gc3RyaW5nYQoJCglQYXJhbWV0
ZXJzOgoJCXN0cmluZyAoU3RyKToKCQliYXNlIChTdHIpOgoJCQlUaGUgc3RyaW5nIGJhc2UgY29s
b3IgYW5zaSBjb2RlCgkKCVJldHVybnM6CgkJcmVzdWx0IChTdHIpOgoJCQlDb2xvcml6ZWQgc3Ry
aW5nCgkiIiIKCQoJcmVzdWx0ID0gIiIKCXN0cmluZ3MgPSBbIHggZm9yIHggaW4gc3BsaXQoIHIi
KCg/Olx4MWJ8XDAzMylcW1swLTlcO10rbSkiLCBzdHJpbmcgKSBpZiB4ICE9ICIiIF0KCXJlZ2V4
cHMgPSB7CgkJIm51bWJlciI6IHsKCQkJInBhdHRlcm4iOiByIig/UDxudW1iZXI+XGIoPzpcZCsp
XGIpIiwKCQkJImNvbG9yaXplIjogIlx4MWJbMTszODs1OzYxbXt9e30iCgkJfSwKCQkiZGVmaW5l
IjogewoJCQkiaGFuZGxlciI6IGxhbWJkYSBtYXRjaGVkOiBzdWJzdHIoIHIiKFwufFwtKXsxLH0i
LCBsYW1iZGEgbTogIlx4MWJbMTszODs1OzY5bXt9XHgxYlsxOzM4OzU7MTExbSIuZm9ybWF0KCBt
Lmdyb3VwKCkgKSwgbWF0Y2hlZC5ncm91cCggMCApICksCgkJCSJwYXR0ZXJuIjogciIoP1A8ZGVm
aW5lPig/OkB8XCQpW2EtekEtWjAtOV9cLVwuXSspIiwKCQkJImNvbG9yaXplIjogIlx4MWJbMTsz
ODs1OzExMW17fXt9IgoJCX0sCgkJInN5bWJvbCI6IHsKCQkJInBhdHRlcm4iOiByIig/UDxzeW1i
b2w+XFx8XDp8XCp8LXxcK3wvfCZ8JXw9fFw7fCx8XC58XD98XCF8XHx8PHw+fFx+KXsxLH0iLAoJ
CQkiY29sb3JpemUiOiAiXHgxYlsxOzM4OzU7Njlte317fSIKCQl9LAoJCSJicmFja2V0IjogewoJ
CQkicGF0dGVybiI6IHIiKD9QPGJyYWNrZXQ+XHt8XH18XFt8XF18XCh8XCkpezEsfSIsCgkJCSJj
b2xvcml6ZSI6ICJceDFiWzE7Mzg7NTsyMTRte317fSIKCQl9LAoJCSJib29sZWFuIjogewoJCQki
cGF0dGVybiI6IHIiKD9QPGJvb2xlYW4+XGIoPzpGYWxzZXxUcnVlfE5vbmUpXGIpIiwKCQkJImNv
bG9yaXplIjogIlx4MWJbMTszODs1OzE5OW17fXt9IgoJCX0sCgkJInR5cGVkZWYiOiB7CgkJCSJw
YXR0ZXJuIjogciIoP1A8dHlwZWRlZj5cYig/OkFCQ01ldGF8QWJzdHJhY3RTZXR8QW5ub3RhdGVk
fEFueXxBbnlTdHJ8QXJpdGhtZXRpY0Vycm9yfEFzc2VydGlvbkVycm9yfEFzeW5jQ29udGV4dE1h
bmFnZXJ8QXN5bmNHZW5lcmF0b3J8QXN5bmNJdGVyYWJsZXxBc3luY0l0ZXJhdG9yfEF0dHJpYnV0
ZUVycm9yfEF3YWl0YWJsZXxCYXNlRXhjZXB0aW9ufEJpbmFyeUlPfEJsb2NraW5nSU9FcnJvcnxC
cm9rZW5QaXBlRXJyb3J8QnVmZmVyRXJyb3J8Qnl0ZVN0cmluZ3xCeXRlc1dhcm5pbmd8Q2FsbGFi
bGV8Q2hhaW5NYXB8Q2hpbGRQcm9jZXNzRXJyb3J8Q2xhc3NWYXJ8Q29sbGVjdGlvbnxDb25jYXRl
bmF0ZXxDb25uZWN0aW9uQWJvcnRlZEVycm9yfENvbm5lY3Rpb25FcnJvcnxDb25uZWN0aW9uUmVm
dXNlZEVycm9yfENvbm5lY3Rpb25SZXNldEVycm9yfENvbnRhaW5lcnxDb250ZXh0TWFuYWdlcnxD
b3JvdXRpbmV8Q291bnRlcnxEZWZhdWx0RGljdHxEZXByZWNhdGlvbldhcm5pbmd8RGVxdWV8RGlj
dHxFT0ZFcnJvcnxFbGxpcHNpc3xFbmNvZGluZ1dhcm5pbmd8RW52aXJvbm1lbnRFcnJvcnxFeGNl
cHRpb258RmFsc2V8RmlsZUV4aXN0c0Vycm9yfEZpbGVOb3RGb3VuZEVycm9yfEZpbmFsfEZsb2F0
aW5nUG9pbnRFcnJvcnxGb3J3YXJkUmVmfEZyb3plblNldHxGdXR1cmVXYXJuaW5nfEdlbmVyYXRv
cnxHZW5lcmF0b3JFeGl0fEdlbmVyaWN8R2VuZXJpY0FsaWFzfEhhc2hhYmxlfElPfElPRXJyb3J8
SW1wb3J0RXJyb3J8SW1wb3J0V2FybmluZ3xJbmRlbnRhdGlvbkVycm9yfEluZGV4RXJyb3J8SW50
ZXJydXB0ZWRFcnJvcnxJc0FEaXJlY3RvcnlFcnJvcnxJdGVtc1ZpZXd8SXRlcmFibGV8SXRlcmF0
b3J8S1R8S2V5fEtleUVycm9yfEtleWJvYXJkSW50ZXJydXB0fEtleXNWaWV3fExpc3R8TGl0ZXJh
bHxMb29rdXBFcnJvcnxNYXBwaW5nfE1hcHBpbmdWaWV3fE1hdGNofE1lbW9yeUVycm9yfE1ldGhv
ZERlc2NyaXB0b3JUeXBlfE1ldGhvZFdyYXBwZXJUeXBlfE1vZHVsZU5vdEZvdW5kRXJyb3J8TXV0
YWJsZU1hcHBpbmd8TXV0YWJsZVNlcXVlbmNlfE11dGFibGVTZXR8TmFtZUVycm9yfE5hbWVkVHVw
bGV8TmFtZWRUdXBsZU1ldGF8TmV3VHlwZXxOb1JldHVybnxOb25lfE5vdEFEaXJlY3RvcnlFcnJv
cnxOb3RJbXBsZW1lbnRlZHxOb3RJbXBsZW1lbnRlZEVycm9yfE9TRXJyb3J8T3B0aW9uYWx8T3Jk
ZXJlZERpY3R8T3ZlcmZsb3dFcnJvcnxQYXJhbVNwZWN8UGFyYW1TcGVjQXJnc3xQYXJhbVNwZWNL
d2FyZ3N8UGF0dGVybnxQZW5kaW5nRGVwcmVjYXRpb25XYXJuaW5nfFBlcm1pc3Npb25FcnJvcnxQ
cm9jZXNzTG9va3VwRXJyb3J8UHJvdG9jb2x8UmVjdXJzaW9uRXJyb3J8UmVmZXJlbmNlRXJyb3J8
UmVzb3VyY2VXYXJuaW5nfFJldmVyc2libGV8UnVudGltZUVycm9yfFJ1bnRpbWVXYXJuaW5nfFNl
cXVlbmNlfFNldHxTaXplZHxTdG9wQXN5bmNJdGVyYXRpb258U3RvcEl0ZXJhdGlvbnxTdXBwb3J0
c0Fic3xTdXBwb3J0c0J5dGVzfFN1cHBvcnRzQ29tcGxleHxTdXBwb3J0c0Zsb2F0fFN1cHBvcnRz
SW5kZXh8U3VwcG9ydHNJbnR8U3VwcG9ydHNSb3VuZHxTeW50YXhFcnJvcnxTeW50YXhXYXJuaW5n
fFN5c3RlbUVycm9yfFN5c3RlbUV4aXR8VHxUYWJFcnJvcnxUZXh0fFRleHRJT3xUaW1lb3V0RXJy
b3J8VHJ1ZXxUdXBsZXxUeXBlfFR5cGVBbGlhc3xUeXBlRXJyb3J8VHlwZUd1YXJkfFR5cGVWYXJ8
VHlwZWREaWN0fFVuYm91bmRMb2NhbEVycm9yfFVuaWNvZGVEZWNvZGVFcnJvcnxVbmljb2RlRW5j
b2RlRXJyb3J8VW5pY29kZUVycm9yfFVuaWNvZGVUcmFuc2xhdGVFcnJvcnxVbmljb2RlV2Fybmlu
Z3xVbmlvbnxVc2VyV2FybmluZ3xWYWx8YWx1ZUVycm9yfFZhbHVlc1ZpZXd8V2FybmluZ3xXcmFw
cGVyRGVzY3JpcHRvclR5cGV8WmVyb0RpdmlzaW9uRXJyb3J8YWJzfGFic3RyYWN0bWV0aG9kfGFp
dGVyfGFsbHxhbmV4dHxhbnl8YXNjaWl8YmlufGJvb2x8YnJlYWtwb2ludHxieXRlYXJyYXl8Ynl0
ZXN8Y2FsbGFibGV8Y2FzdHxjaHJ8Y2xhc3NtZXRob2R8Y29sbGVjdGlvbnN8Y29tcGlsZXxjb21w
bGV4fGNvbnRleHRsaWJ8Y29weXJpZ2h0fGNyZWRpdHN8ZGVsYXR0cnxkaWN0fGRpcnxkaXZtb2R8
ZW51bWVyYXRlfGV2YWx8ZXhlY3xleGl0fGZpbHRlcnxmaW5hbHxmbG9hdHxmb3JtYXR8ZnJvemVu
c2V0fGZ1bmN0b29sc3xnZXRhdHRyfGdsb2JhbHN8aGFzYXR0cnxoYXNofGhlbHB8aGV4fGlkfGlu
cHV0fGludHxpb3xpc2luc3RhbmNlfGlzc3ViY2xhc3N8aXRlcnxsZW58bGljZW5zZXxsaXN0fGxv
Y2Fsc3xtYXB8bWF4fG1lbW9yeXZpZXd8bWlufG5leHR8b2JqZWN0fG9jdHxvcGVufG9wZXJhdG9y
fG9yZHxvdmVybG9hZHxwb3d8cHJpbnR8cHJvcGVydHl8cXVpdHxyYW5nZXxyZXxyZXByfHJldmVy
c2VkfHJvdW5kfHNldHxzZXRhdHRyfHNsaWNlfHNvcnRlZHxzdGF0aWNtZXRob2R8c3RyfHN1bXxz
dXBlcnxzeXN8dHVwbGV8dHlwZXx0eXBlc3x2YXJzfHppcClcYikiLAoJCQkiY29sb3JpemUiOiAi
XHgxYlsxOzM4OzU7MjEzbXt9e30iCgkJfSwKCQkibGlua2VkIjogewoJCQkiaGFuZGxlciI6IGxh
bWJkYSBtYXRjaGVkOiBzdWJzdHIoIHIiKFxcfFw6fFwqfC18XCt8L3wmfCV8PXxcO3wsfFwufFw/
fFwhfFx8fDx8Pnxcfil7MSx9IiwgbGFtYmRhIG06ICJceDFiWzE7Mzg7NTs2OW17fVx4MWJbMTsz
ODs1OzQzbSIuZm9ybWF0KCBtLmdyb3VwKCkgKSwgbWF0Y2hlZC5ncm91cCggMCApICksCgkJCSJw
YXR0ZXJuIjogciIoP1A8bGlua2VkPlxiaHR0cHM/Oi8vW15cc10rKSIsCgkJCSJjb2xvcml6ZSI6
ICJceDFiWzE7Mzg7NTs0M21ceDFiWzRte317fSIKCQl9LAoJCSJ2ZXJzaW9uIjogewoJCQkiaGFu
ZGxlciI6IGxhbWJkYSBtYXRjaGVkOiBzdWJzdHIoIHIiKFtcZFwuXSspIiwgbGFtYmRhIG06ICJc
eDFiWzE7Mzg7NTsxOTBte31ceDFiWzE7Mzg7NTsxMTJtIi5mb3JtYXQoIG0uZ3JvdXAoKSApLCBt
YXRjaGVkLmdyb3VwKCAwICkgKSwKCQkJInBhdHRlcm4iOiByIig/UDx2ZXJzaW9uPlxiW3ZWXVtc
ZFwuXStcYikiLAoJCQkiY29sb3JpemUiOiAiXHgxYlsxOzM4OzU7MTEybXt9e30iCgkJfSwKCQki
YXV0aG9yIjogewoJCQkicGF0dGVybiI6IHIiKD9QPGF1dGhvcj5cYig/Omh4W2FBXXJpKVxiKSIs
CgkJCSJjb2xvcml6ZSI6ICJceDFiWzE7Mzg7NTsxMTFte317fSIKCQl9LAoJCSJjb21tZW50Ijog
ewoJCQkicGF0dGVybiI6IHIiKD9QPGNvbW1lbnQ+XCNbXlxuXSopIiwKCQkJImNvbG9yaXplIjog
Ilx4MWJbMTszODs1OzI1MG17fXt9IgoJCX0sCgkJInN0cmluZyI6IHsKCQkJImhhbmRsZXIiOiBs
YW1iZGEgbWF0Y2hlZDogc3Vic3RyKCByIig/PCFcXCkoXFxcInxcXFwnfFxcYHxcXHJ8XFx0fFxc
bnxcXHMpIiwgbGFtYmRhIG06ICJceDFiWzE7Mzg7NTsyMDhte31ceDFiWzE7Mzg7NTsyMjBtIi5m
b3JtYXQoIG0uZ3JvdXAoKSApLCBtYXRjaGVkLmdyb3VwKCAwICkgKSwKCQkJInBhdHRlcm4iOiBy
Iig/UDxzdHJpbmc+KD88IVxcKShcIi4qPyg/PCFcXClcInxcJy4qPyg/PCFcXClcJ3xgLio/KD88
IVxcKWApKSIsCgkJCSJjb2xvcml6ZSI6ICJceDFiWzE7Mzg7NTsyMjBte317fSIKCQl9Cgl9Cglp
ZiBub3QgaXNpbnN0YW5jZSggYmFzZSwgU3RyICk6CgkJYmFzZSA9ICJceDFiWzBtIgoJdHJ5OgoJ
CWxhc3QgPSBiYXNlCgkJZXNjYXBlID0gTm9uZQoJCXBhdHRlcm4gPSAiKD86e30pIi5mb3JtYXQo
ICJ8Ii5qb2luKCByZWdleHBbJ3BhdHRlcm4nXSBmb3IgcmVnZXhwIGluIHJlZ2V4cHMudmFsdWVz
KCkgKSApCgkJY29tcGlsZXMgPSBjb21waWxlKCBwYXR0ZXJuLCBNVUxUSUxJTkV8UyApCgkJc2tp
cGFibGUgPSBbXQoJCWZvciBpZHgsIHN0cmluZyBpbiBlbnVtZXJhdGUoIHN0cmluZ3MgKToKCQkJ
aWYgaWR4IGluIHNraXBhYmxlOgoJCQkJY29udGludWUKCQkJY29sb3IgPSBtYXRjaCggciJeKD86
XHgxYnxcMDMzKVxbKFtebV0rKW0kIiwgc3RyaW5nICkKCQkJaWYgY29sb3IgaXMgbm90IE5vbmU6
CgkJCQlpbmRleCA9IGlkeCArMQoJCQkJZXNjYXBlID0gY29sb3IuZ3JvdXAoIDAgKQoJCQkJbGFz
dCA9IGVzY2FwZQoJCQkJdHJ5OgoJCQkJCXJlc2NhcGUgPSBtYXRjaCggciIoPzpceDFifFwwMzMp
XFsoW15tXSspbSIsIHN0cmluZ3NbaW5kZXhdICkKCQkJCQl3aGlsZSByZXNjYXBlIGlzIG5vdCBO
b25lOgoJCQkJCQlza2lwYWJsZS5hcHBlbmQoIGluZGV4ICkKCQkJCQkJZXNjYXBlICs9IHJlc2Nh
cGUuZ3JvdXAoIDAgKQoJCQkJCQlsYXN0ID0gcmVzY2FwZS5ncm91cCggMCApCgkJCQkJCWluZGV4
ICs9IDEKCQkJCQkJcmVzY2FwZSA9IG1hdGNoKCByIig/Olx4MWJ8XDAzMylcWyhbXm1dKyltIiwg
c3RyaW5nc1tpbmRleF0gKQoJCQkJZXhjZXB0IEluZGV4RXJyb3I6CgkJCQkJYnJlYWsKCQkJCWlm
IGluZGV4ICsxIGluIHNraXBhYmxlOgoJCQkJCWluZGV4ICs9IDEKCQkJCXNraXBhYmxlLmFwcGVu
ZCggaW5kZXggKQoJCQllbHNlOgoJCQkJZXNjYXBlID0gbGFzdAoJCQkJaW5kZXggPSBpZHgKCQkJ
c3RyaW5nID0gc3RyaW5nc1tpbmRleF0KCQkJc2VhcmNoID0gMAoJCQltYXRjaGVkID0gY29tcGls
ZXMuc2VhcmNoKCBzdHJpbmcsIHNlYXJjaCApCgkJCXdoaWxlIG1hdGNoZWQgaXMgbm90IE5vbmU6
CgkJCQlpZiBtYXRjaGVkLmdyb3VwZGljdCgpOgoJCQkJCWdyb3VwID0gTm9uZQoJCQkJCWdyb3Vw
cyA9IG1hdGNoZWQuZ3JvdXBkaWN0KCkua2V5cygpCgkJCQkJZm9yIGdyb3VwIGluIGdyb3VwczoK
CQkJCQkJaWYgZ3JvdXAgaW4gcmVnZXhwcyBhbmQgXAoJCQkJCQkJaXNpbnN0YW5jZSggcmVnZXhw
c1tncm91cF0sIE11dGFibGVNYXBwaW5nICkgYW5kIFwKCQkJCQkJCWlzaW5zdGFuY2UoIG1hdGNo
ZWQuZ3JvdXAoIGdyb3VwICksIHN0ciApOgoJCQkJCQkJY29sb3JpemUgPSByZWdleHBzW2dyb3Vw
XVsnY29sb3JpemUnXQoJCQkJCQkJYnJlYWsKCQkJCQljaGFycyA9IG1hdGNoZWQuZ3JvdXAoIDAg
KQoJCQkJCWlmICJyZW1hdGNoIiBpbiByZWdleHBzW2dyb3VwXSBhbmQgaXNpbnN0YW5jZSggcmVn
ZXhwc1tncm91cF1bJ3JlbWF0Y2gnXSwgTXV0YWJsZU1hcHBpbmcgKToKCQkJCQkJcGFzcwoJCQkJ
CWlmICJoYW5kbGVyIiBpbiByZWdleHBzW2dyb3VwXSBhbmQgY2FsbGFibGUoIHJlZ2V4cHNbZ3Jv
dXBdWydoYW5kbGVyJ10gKToKCQkJCQkJcmVzdWx0ICs9IGVzY2FwZQoJCQkJCQlyZXN1bHQgKz0g
c3RyaW5nW3NlYXJjaDptYXRjaGVkLmVuZCgpIC0gbGVuKCBjaGFycyApXQoJCQkJCQlyZXN1bHQg
Kz0gY29sb3JpemUuZm9ybWF0KCByZWdleHBzW2dyb3VwXVsnaGFuZGxlciddKCBtYXRjaGVkICks
IGVzY2FwZSApCgkJCQkJCXNlYXJjaCA9IG1hdGNoZWQuZW5kKCkKCQkJCQkJbWF0Y2hlZCA9IGNv
bXBpbGVzLnNlYXJjaCggc3RyaW5nLCBzZWFyY2ggKQoJCQkJCQljb250aW51ZQoJCQkJCXJlc3Vs
dCArPSBlc2NhcGUKCQkJCQlyZXN1bHQgKz0gc3RyaW5nW3NlYXJjaDptYXRjaGVkLmVuZCgpIC0g
bGVuKCBjaGFycyApXQoJCQkJCXJlc3VsdCArPSBjb2xvcml6ZS5mb3JtYXQoIGNoYXJzLCBlc2Nh
cGUgKQoJCQkJCXNlYXJjaCA9IG1hdGNoZWQuZW5kKCkKCQkJCQltYXRjaGVkID0gY29tcGlsZXMu
c2VhcmNoKCBzdHJpbmcsIHNlYXJjaCApCgkJCQllbHNlOgoJCQkJCW1hdGNoZWQgPSBOb25lCgkJ
CXJlc3VsdCArPSBlc2NhcGUKCQkJcmVzdWx0ICs9IHN0cmluZ1tzZWFyY2g6XQoJZXhjZXB0IEV4
Y2VwdGlvbiBhcyBlOgoJCXJhaXNlIGUKCXJldHVybiByZXN1bHQKCmRlZiBjc2VyaWFsaXplcigg
Y29va2llczpNdXRhYmxlTWFwcGluZ1tTdHIsU3RyXSApIC0+IFN0cjoKCQoJIiIiCglDb29raWUg
c2VyaWFsaXplcgoJCglQYXJhbWV0ZXJzOgoJCWNvb2tpZXMgKE11dGFibGVNYXBwaW5nW1N0cixT
dHJdKToKCQkJTXV0YWJsZU1hcHBpbmcgb2YgY29va2llcwoJCglSZXR1cm5zOgoJCVN0cjoKCQkJ
U3RyaW5nIG9mIHNlcmlhbGl6ZWQgY29va2llcwoJIiIiCgkKCXJldHVybiAiXHgzYlx4MjAiLmpv
aW4oIGxpc3QoIGYie2tleXNldH09e3ZhbHVlfSIgZm9yIGtleXNldCwgdmFsdWUgaW4gY29va2ll
cy5pdGVtcygpICkgKQoKZGVmIGRlbGF5cygpIC0+IE5vbmU6CgkKCSIiIiBSYW5kb20gZGVsYXlz
ICIiIgoJCglzbGVlcCggY2hvaWNlKFsgOSwgOC4yLCAzLjQsIDYuNiwgMS42LCAyLjgsIDQsIDEu
NCwgNi4zLCAzLjYsIDUuOSwgNywgMSwgMS4yIF0pICkKCmRlZiBleHRyYWN0b3IoIGNvbnRlbnRz
OlN0ciApIC0+IEl0ZXJhYmxlW011dGFibGVNYXBwaW5nW1N0cixNdXRhYmxlU2VxdWVuY2VbQW55
XV1dOgoJCgkiIiIKCUpzb24gaHRtbCBzY3JpcHQgdGFnCgkKCVBhcmFtZXRlcnM6CgkJY29udGVu
dHMgKFN0cik6CgkJCUh0bWwgY29udGVudHMKCQoJUmV0dXJuczoKCQljb250ZW50IChJdGVyYWJs
ZVtNdXRhYmxlTWFwcGluZ1tTdHIsTXV0YWJsZVNlcXVlbmNlW0FueV1dXSk6CgkJCUl0ZXJhYmxl
IE11dGFibGVNYXBwaW5nIG9mIGNvbnRlbnRzCgkiIiIKCQoJcG9zaXRpb24gPSAwCgl3aGlsZSBU
cnVlOgoJCXRyeToKCQkJcG9zaXRpb25CZWdpbiA9IGNvbnRlbnRzLmluZGV4KCAiPHNjcmlwdCIs
IHBvc2l0aW9uICkKCQkJcG9zaXRpb25CZWdpblN0b3AgPSBjb250ZW50cy5pbmRleCggIj4iLCBw
b3NpdGlvbkJlZ2luKzEgKQoJCQlwb3NpdGlvbkVuZCA9IGNvbnRlbnRzLmluZGV4KCAiPC9zY3Jp
cHQ+IiwgcG9zaXRpb25CZWdpblN0b3AgKQoJCQlwb3NpdGlvbkVuZFN0b3AgPSBwb3NpdGlvbkVu
ZAoJCQlwb3NpdGlvbkVuZFN0b3ArPSAxCgkJCXBvc2l0aW9uID0gcG9zaXRpb25FbmRTdG9wCgkJ
CWNvbnRlbnQgPSBjb250ZW50c1twb3NpdGlvbkJlZ2luU3RvcCsxOnBvc2l0aW9uRW5kXQoJCQlp
ZiBub3QgY29udGVudDoKCQkJCWNvbnRpbnVlCgkJCXRyeToKCQkJCXlpZWxkIEpzb25EZWNvZGVy
KCBjb250ZW50ICkKCQkJZXhjZXB0IEpTT05EZWNvZGVFcnJvcjoKCQkJCS4uLgoJCQlmaW5hbGx5
OgoJCQkJLi4uCgkJCWNvbnRpbnVlCgkJZXhjZXB0IFZhbHVlRXJyb3I6CgkJCS4uLgoJCWZpbmFs
bHk6CgkJCS4uLgoJCWJyZWFrCgkuLi4KCmRlZiBwaWNrbGFibGUoIG9iamVjdCApIC0+IEJvb2w6
CgkKCSIiIiBSZXR1cm4gd2hldGhlciB0aGUgb2JqZWN0IGlzIHBpY2thYmxlICIiIgoJCgl0cnk6
CgkJUGlja2xlRHVtcHMoIG9iamVjdCApCglleGNlcHQgUGlja2xpbmdFcnJvcjoKCQlyZXR1cm4g
RmFsc2UKCWV4Y2VwdCBBdHRyaWJ1dGVFcnJvcjoKCQlyZXR1cm4gRmFsc2UKCXJldHVybiBUcnVl
CgpkZWYgcHV0cyggKnZhbHVlczpBbnksIGJhc2U6U3RyPSJceDFiWzBtIiwgZW5kOlN0cj0iXHgw
YSIsIHNlcDpTdHI9Ilx4MjAiLCBzdGFydDpTdHI9IiIsIHRocmVhZDpVbmlvbltJbnQsU3RyXT1O
b25lLCBsb2dnaW5nOkJvb2w9RmFsc2UsIGNsb3NlOkludD1Ob25lICkgLT4gTm9uZToKCQoJIiIi
CglQcmludCB0aGUgdmFsdWUgaW50byB0ZXJtaW5hbCBzY3JlZW4KCQoJUGFyYW1ldGVyczoKCQl2
YWx1ZXMgKCpBbnkpOgoJCWJhc2UgKFN0cik6CgkJCVRoZSBiYXNlIGNvbG9yIGNvZGUKCQllbmQg
KFN0cik6CgkJCVRoZSBlbmQgb2YgbGluZSwgZGVmYXVsdCBpcyBuZXdsaW5lIChcXG4pCgkJc2Vw
IChTdHIpOgoJCQlUaGUgc2VwYXJhdG9yIG9mIHZhbHVlcywgZGVmYXVsdCBpcyBzcGFjZXMgKFxc
cykKCQlzdGFydCAoU3RyKToKCQkJUHJlZml4IG9mIG91dHB1dAoJCXRocmVhZCAoSW50fFN0cik6
CgkJCUN1cnJlbnQgdGhyZWFkIHBvc2l0aW9uIG51bWJlcgoJCWxvZ2dpbmcgKEJvb2wpOgoJCQlB
bGxvdyBsb2dnaW5nIG91dHB1dAoJCWNsb3NlIChJbnQpOgoJCQlDbG9zZSB0aGUgcHJvZ3JhbSBh
ZnRlciB0ZXh0IHByaW50ZWQgaW50byB0ZXJtaW5hbCBzY3JlZW4KCSIiIgoJCglpZiBsb2dnaW5n
IGlzIFRydWU6CgkJc3RhY2tzID0gc3RhY2soKQoJCXBvc2l0aW9uID0gMSBpZiBsZW4oIHN0YWNr
cyApPj0gMiBlbHNlIDAKCQljdXJydGltZSA9IGRhdGV0aW1lLm5vdyggdGltZXpvbmUoICJBc2lh
L0pha2FydGEiICkgKQoJCWN1cnJlbnQgPSBjdXJydGltZS5zdHJmdGltZSggIiVkLiVtLSVZICVI
OiVNOiVTIiApCgkJZm9ybWF0dGVyID0gIntzdGFydH0tLSB7ZGF0ZXRpbWV9IC0tIHtmaWxlfTp7
ZnVuY306e2xpbmV9IHttZXNzYWdlfSIKCQlpZiBpc2luc3RhbmNlKCB0aHJlYWQsIEludCApIGFu
ZCB0aHJlYWQgPj0gMSBvciBcCgkJICAgaXNpbnN0YW5jZSggdGhyZWFkLCBTdHIgKSBhbmQgdGhy
ZWFkOgoJCQlmb3JtYXR0ZXIgPSAie3N0YXJ0fS0tIHtkYXRldGltZX0gLS0ge2ZpbGV9OntmdW5j
fTp7bGluZX06e3RocmVhZH0ge21lc3NhZ2V9IgoJCQkjIHBvc2l0aW9uID0gMiBpZiBsZW4oIHN0
YWNrcyApPj0gMyBlbHNlIDEKCQl0aWZyYW1lID0gZ2V0ZnJhbWVpbmZvKCBzdGFja3NbcG9zaXRp
b25dWzBdICkKCQlmb3IgdmFsdWUgaW4gdmFsdWVzOgoJCQltZXNzYWdlID0gdmFsdWUgaWYgaXNp
bnN0YW5jZSggdmFsdWUsIFN0ciApIGVsc2UgcmVwciggdmFsdWUgKQoJCQlmb3JtYXR0ZWQgPSBm
b3JtYXR0ZXIuZm9ybWF0KAoJCQkJbWVzc2FnZT1tZXNzYWdlLAoJCQkJZmlsZT10aWZyYW1lLmZp
bGVuYW1lLnJlcGxhY2UoIGYie0Jhc2VQYXRofS8iLCAiIiApLAoJCQkJZnVuYz10aWZyYW1lLmZ1
bmN0aW9uLAoJCQkJbGluZT10aWZyYW1lLmxpbmVubywKCQkJCWRhdGV0aW1lPWN1cnJlbnQsCgkJ
CQl0aHJlYWQ9dGhyZWFkLAoJCQkJc3RhcnQ9c3RhcnQKCQkJKQoJCQlmb3JtYXR0ZWQgPSBmb3Jt
YXR0ZWQgXAoJCQkJLnJlcGxhY2UoIEJhc2VQYXRoLCAie2Jhc2VwYXRofSIgKSBcCgkJCQkucmVw
bGFjZSggQmFzZVZlbnYsICJ7dmlydHVhbH0iICkKCQkJcHJpbnQoIGNvbG9yaXplKCBiYXNlPWJh
c2UsIHN0cmluZz1mb3JtYXR0ZWQgKSwgZW5kPWVuZCApCgllbHNlOgoJCWZvciB2YWx1ZSBpbiB2
YWx1ZXM6CgkJCXZhbHVlID0gdmFsdWUgaWYgaXNpbnN0YW5jZSggdmFsdWUsIFN0ciApIGVsc2Ug
cmVwciggdmFsdWUgKQoJCQl2YWx1ZSA9ICIiLmpvaW4oWyBzdGFydCwgdmFsdWUgXSkKCQkJcHJp
bnQoIGNvbG9yaXplKCBiYXNlPWJhc2UsIHN0cmluZz12YWx1ZSApLCBlbmQ9ZW5kLCBzZXA9c2Vw
ICkKCWlmIGNsb3NlIGlzIG5vdCBOb25lOgoJCWV4aXQoIGNsb3NlICkKCS4uLgoKZGVmIHNvcnRl
ciggY29udGVudDpNdXRhYmxlTWFwcGluZ1tTdHIsQW55XSApIC0+IE11dGFibGVNYXBwaW5nW1N0
cixBbnldOgoJcmVzdWx0cyA9IGRpY3QoKQoJa2V5c2V0cyA9IHNvcnRlZCggbGlzdCggY29udGVu
dC5rZXlzKCkgKSApCglmb3Iga2V5c2V0IGluIGtleXNldHM6CgkJdmFsdWVzID0gY29udGVudFtr
ZXlzZXRdCgkJaWYgaXNpbnN0YW5jZSggdmFsdWVzLCBkaWN0ICk6CgkJCXZhbHVlcyA9IHNvcnRl
ciggdmFsdWVzICkKCQllbGlmIGlzaW5zdGFuY2UoIHZhbHVlcywgbGlzdCApOgoJCQlmb3IgaSwg
dmFsdWUgaW4gZW51bWVyYXRlKCB2YWx1ZXMgKToKCQkJCWlmIGlzaW5zdGFuY2UoIHZhbHVlLCBk
aWN0ICk6CgkJCQkJdmFsdWVzW2ldID0gc29ydGVyKCB2YWx1ZSApCgkJcmVzdWx0c1trZXlzZXRd
ID0gdmFsdWVzCglyZXR1cm4gcmVzdWx0cwoKZGVmIHRyYWNlYmFjayggZTpCYXNlRXhjZXB0aW9u
LCBzZXBhcmF0b3I6T3B0aW9uYWxbU3RyXT1Ob25lICkgLT4gVW5pb25bTXV0YWJsZVNlcXVlbmNl
W1N0cl0sU3RyXToKCQoJIiIiIEV4Y2VwdGlvbiBmb3JtYXQgKGhhbmRsZSBjb21wYXRpYmlsaXR5
IHdpdGggcHl0aG9uPD0zLjExKSAiIiIKCQoJZm9ybWF0cyA9IGZvcm1hdF9leGNlcHRpb24oIHR5
cGUoIGUgKSwgZSwgZS5fX3RyYWNlYmFja19fICkKCWlmIHNlcGFyYXRvciBpcyBub3QgTm9uZToK
CQlyZXR1cm4gc2VwYXJhdG9yLmpvaW4oIGZvcm1hdHMgKQoJcmV0dXJuIGZvcm1hdHMKCmRlZiB0
eXBlb2YoIGluc3RhbmNlOkFueSApIC0+IFN0cjoKCQoJIiIiCglSZXR1cm4gbmFtZSB0eXBlIG9i
amVjdAoJCglQYXJhbWV0ZXJzOgoJCWluc3RhbmNlIChBbnkpOgoJCQlWYWx1ZSB0eXBlCgkKCVJl
dHVybnM6CgkJbmFtZSAoU3RyKToKCSIiIgoJCglpZiBub3QgaGFzYXR0ciggaW5zdGFuY2UsICJf
X3F1YWxuYW1lX18iICk6CgkJaW5zdGFuY2UgPSB0eXBlKCBpbnN0YW5jZSApCglpZiBoYXNhdHRy
KCBpbnN0YW5jZSwgIl9fcXVhbG5hbWVfXyIgKToKCQlyZXR1cm4gZiJ7aW5zdGFuY2UuX19tb2R1
bGVfX30ue2luc3RhbmNlLl9fcXVhbG5hbWVfX30iCglyZXR1cm4gZiJ7aW5zdGFuY2UuX19tb2R1
bGVfX30ue2luc3RhbmNlLl9fbmFtZV9ffSIKCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
