IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
c3RyIGFzIFN0cgpmcm9tIG9zIGltcG9ydCBnZXRlbnYKZnJvbSBzeXMgaW1wb3J0IHBhdGggYXMg
cGF0aHMKZnJvbSB0eXBpbmcgaW1wb3J0IE11dGFibGVTZXF1ZW5jZQoKCl9fYWxsX18gPSAoCgki
QmFzZVBhdGgiLAoJIkJhc2VWZW52IiwKCSJIb21lUGF0aCIKKQoKCkJhc2VQYXJ0czpNdXRhYmxl
U2VxdWVuY2VbU3RyXSA9IHBhdGhzWzBdLnNwbGl0KCAiXHgyZiIgKQpCYXNlUGF0aDpTdHIgPSAi
XHgyZiIuam9pbiggQmFzZVBhcnRzWzpCYXNlUGFydHMuaW5kZXgoICJzcmMiICldICkKIiIiIFRo
ZSBCYXNlIFBhdGggb2YgQXBwbGljYXRpb24gIiIiCgpCYXNlUGFydHM6TXV0YWJsZVNlcXVlbmNl
W1N0cl0gPSBwYXRoc1s0XS5zcGxpdCggIlx4MmYiICkKQmFzZVZlbnY6U3RyID0gIlx4MmYiLmpv
aW4oIEJhc2VQYXJ0c1s6QmFzZVBhcnRzLmluZGV4KCAibGliIiApXSApCiIiIiBUaGUgQmFzZSBQ
YXRoIG9mIFZpcnR1YWwgRW52aXJvbm1lbnQgIiIiCgpIb21lUGF0aDpTdHIgPSBnZXRlbnYoICJI
T01FIiApCiIiIiBUaGUgSG9tZSBQYXRoIG9mIFVzZXIgUHJldmlsZWdlICIiIgoKZGVsIEJhc2VQ
YXJ0cwo=
