IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSB7Pz1wcm9qZWN0fS5sb2dn
ZXIgaW1wb3J0IExvZ2dlcgoKCl9fYWxsX18gPSBbCl0KCgpfbG9nZ2VyOkxvZ2dlciA9IExvZ2dl
ciggX19uYW1lX18gKQoiIiIgTG9nZ2VyIEluc3RhbmNlICIiIgoKCmlmIF9fbmFtZV9fID09ICJf
X21haW5fXyI6CglfbG9nZ2VyLmluZm8oICJIZWxsbyBXb3JsZCEiICkK
