----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

Cns/PWNvbW1lbnR9CmJyYW5jaD0KY2hlY2tlZD1mYWxzZQpjbGVhbj10cnVlCmNvbXByZXNzPXRh
cgplbnZpcm9ubWVudD1kZXZlbG9wbWVudAppbmNsdWRlPS5jb25maWcsLmdpdCwuZ2l0aWdub3Jl
LHs/PXByb2plY3QubG93ZXJ9LExJQ0VOU0UsUkVBRE1FLm1kLHJlcXVpcmVtZW50cy50eHQscmVz
b3VyY2VzLHNyYwpsaWJyYXJ5PQpwYWNrYWdlcz1naXQsb3BlbnNzaC1jbGllbnQscHl0aG9uMy4x
MSxweXRob24zLjExLWRldixweXRob24zLjExLXZlbnYsdGFyLHVuemlwLHdnZXQsemlwCnByb2dy
YW09ez89cHJvamVjdC5sb3dlcn0KcmVwb3NpdG9yeT17Pz1naXRodWJ9CnJvb3Q9ZmFsc2UKc2Vy
dmVycz0KdmVyc2lvbj0xLjAuMAp2aXJ0dWFsPS9ob21lL3ZpcnR1YWwvYmluL2FjdGl2YXRlCnZp
cnR1YWxpemU9dHJ1ZQo=

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
