IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20ganNvbiBpbXBvcnQgZHVt
cHMgYXMgSnNvbkVuY29kZXIKZnJvbSBrYWZrYS5jb25zdW1lciBpbXBvcnQgS2Fma2FDb25zdW1l
cgpmcm9tIGthZmthLmNvbnN1bWVyLmZldGNoZXIgaW1wb3J0IENvbnN1bWVyUmVjb3JkIGFzIEth
ZmthQ29uc3VtZXJSZWNvcmQKZnJvbSBrYWZrYS5wcm9kdWNlciBpbXBvcnQgS2Fma2FQcm9kdWNl
cgpmcm9tIHR5cGluZyBpbXBvcnQgKAoJQW55LCAKCUNhbGxhYmxlLCAKCUdlbmVyaWMsIAoJSXRl
cmFibGUsIAoJTXV0YWJsZU1hcHBpbmcsIAoJTXV0YWJsZVNlcXVlbmNlLCAKCVR1cGxlLCAKCVR5
cGVWYXIgYXMgVmFyLCAKCVVuaW9uIAopCgpmcm9tIHs/PW1vZHVsZX0uY29tbW9uIGltcG9ydCB0
cmFjZWJhY2ssIHR5cGVvZgpmcm9tIHs/PW1vZHVsZX0uZnV0dXJlcyBpbXBvcnQgVGhyZWFkRXhl
Y3V0b3IKZnJvbSB7Pz1tb2R1bGV9LmxvZ2dlciBpbXBvcnQgTG9nZ2VyCgoKX19hbGxfXyA9IFsK
CSJLYWZrYSIKXQoKCkVuY29kaW5nID0gVmFyKCAiRW5jb2RpbmciICkKIiIiIEVuY29kaW5nIFR5
cGUgIiIiCgpUID0gVmFyKCAiVCIgKQoiIiIgUmV0dXJuIFR5cGUgIiIiCgoKY2xhc3MgS2Fma2Eo
IEdlbmVyaWNbRW5jb2RpbmddICk6CgkKCSIiIiBLYWZrYSBJbXBsZW1lbnRhdGlvbiAiIiIKCQoJ
ZW5jb2Rpbmc6RW5jb2RpbmcKCSIiIiBLYWZrYSBWYWx1ZSBFbmNvZGluZyAiIiIKCQoJbG9nZ2Vy
OkxvZ2dlcgoJIiIiIExvZ2dlciBJbnN0YW5jZSAiIiIKCQoJcHJvZHVjZXI6S2Fma2FQcm9kdWNl
cgoJIiIiIEthZmthIFByb2R1Y2VyIEluc3RhbmNlICIiIgoJCglzZXJpYWxpemVyOkNhbGxhYmxl
W1tBbnldLFN0cl0KCSIiIiBLYWZrYSBWYWx1ZSBTZXJpYWxpemVyICIiIgoJCglzZXJ2ZXJzOk11
dGFibGVTZXF1ZW5jZVtTdHJdCgkiIiIgS2Fma2EgQm9vdHN0cmFwIFNlcnZlcnMgIiIiCgkKCWRl
ZiBfX2luaXRfXyggc2VsZiwgc2VydmVyczpNdXRhYmxlU2VxdWVuY2VbU3RyXSwgZW5jb2Rpbmc6
RW5jb2Rpbmc9IlVURi04Iiwgc2VyaWFsaXplcjpDYWxsYWJsZVtbQW55XSxTdHJdPUpzb25FbmNv
ZGVyICkgLT4gTm9uZToKCQkKCQkiIiIgQ29uc3RydWN0IG1ldGhvZCBvZiBjbGFzcyBLYWZrYSAi
IiIKCQkKCQlpZiBub3QgY2FsbGFibGUoIHNlcmlhbGl6ZXIgKToKCQkJcmFpc2UgVHlwZUVycm9y
KCAiS2Fma2EgdmFsdWUgc2VyaWFsaXplciBtdXN0IGJlIGNhbGxhYmxlIiApCgkJCgkJc2VsZi5l
bmNvZGluZyA9IGVuY29kaW5nCgkJc2VsZi5sb2dnZXIgPSBMb2dnZXIoIHNlbGYgKQoJCXNlbGYu
c2VyaWFsaXplciA9IGxhbWJkYSB2YWx1ZTogc2VyaWFsaXplciggdmFsdWUgKS5lbmNvZGluZygg
ZW5jb2RpbmcgKQoJCXNlbGYuc2VydmVycyA9IHNlcnZlcnMKCQoJZGVmIGNsb3NlKCBzZWxmICkg
LT4gTm9uZToKCQkKCQkiIiIgS2Fma2EgQ2xvc2UgUHJvZHVjZXIgIiIiCgkJCgkJc2VsZi5wcm9k
dWNlci5jbG9zZSgpCgkKCWRlZiBjb25uZWN0KCBzZWxmICkgLT4gTm9uZToKCQkKCQkiIiIgS2Fm
a2EgQ29ubmVjdCBQcm9kdWNlciAiIiIKCQkKCQlpZiBub3QgaGFzYXR0ciggS2Fma2EsICJwcm9k
dWNlciIgKSBvciBcCgkJICAgbm90IGlzaW5zdGFuY2UoIEthZmthLnByb2R1Y2VyLCBLYWZrYVBy
b2R1Y2VyICk6CgkJCXNlbGYubG9nZ2VyLmluZm8oICJLYWZrYSBjb25uZWN0aW5nIGludG8gc2Vy
dmVyczoge30iLCBKc29uRW5jb2Rlciggc2VsZi5zZXJ2ZXJzLCBpbmRlbnQ9NCApICkKCQkJc2Vs
Zi5wcm9kdWNlciA9IEthZmthUHJvZHVjZXIoIAoJCQkJYm9vdHN0cmFwX3NlcnZlcnM9c2VsZi5z
ZXJ2ZXJzLCAKCQkJCXZhbHVlX3NlcmlhbGl6ZXI9c2VsZi5zZXJpYWxpemVyCgkJCSkKCQkuLi4K
CQoJZGVmIGNvbnN1bWUoIHNlbGYsIAoJCQkqdG9waWNzOlN0ciwgCgkJCWF1dG9PZmZzZXRSZXNl
dDpTdHIsIAoJCQljYWxsYmFjazpDYWxsYWJsZVtbS2Fma2FDb25zdW1lclJlY29yZCxdLFRdLAoJ
CQllbmFibGVBdXRvQ29tbWl0OkJvb2wsIAoJCQlncm91cElkOlN0ciwKCQkJdGltZW91dDpJbnQ9
NCwKCQkJd29ya2VyczpJbnQ9MjAsIAoJCQkqKmt3YXJnczpBbnkKCQkpIC0+IFR1cGxlW0thZmth
Q29uc3VtZXIsSXRlcmFibGVbVF1dOgoJCQoJCSIiIgoJCUthZmthIENvbnN1bWUgdG9waWMKCQkK
CQlQYXJhbWV0ZXJzOgoJCQl0b3BpY3MgKFN0cik6CgkJCQlLYWZrYSB0b3BpYyBuYW1lcwoJCQln
cm91cElkIChTdHIpOgoJCQkJQ29uc3VtZXIgZ3JvdXAgSUQKCQkJYXV0b09mZnNldFJlc2V0IChT
dHIpOgoJCQkJU3RhcnQgY29uc3VtaW5nIGZyb20gdGhlIGJlZ2lubmluZyBvZiB0aGUgdG9waWMK
CQkJZW5hYmxlQXV0b0NvbW1pdCAoQm9vbCk6CgkJCQlDb21taXQgb2Zmc2V0cyBhdXRvbWF0aWNh
bGx5CgkJCgkJUmV0dXJuczoKCQkJY29uc3VtZXIgKEthZmthQ29uc3VtZXIpOgoJCQkJS2Fma2Eg
cHJvZHVjZXIgaW5zdGFuY2UKCQkiIiIKCQkKCQl0cnk6CgkJCXNlbGYubG9nZ2VyKCAiS2Fma2Eg
Y29uc3VtaW5nIGdyb3VwPXt9IG9mZnNldD17fSB0b3BpY3M9e30iLCBncm91cElkLCBhdXRvT2Zm
c2V0UmVzZXQsIHRvcGljcyApCgkJCWNvbnN1bWVyOkthZmthQ29uc3VtZXIgPSBLYWZrYUNvbnN1
bWVyKCAqdG9waWNzLAoJCQkJYm9vdHN0cmFwX3NlcnZlcnM9c2VsZi5zZXJ2ZXJzLAoJCQkJYXV0
b19vZmZzZXRfcmVzZXQ9YXV0b09mZnNldFJlc2V0LAoJCQkJZW5hYmxlX2F1dG9fY29tbWl0PWVu
YWJsZUF1dG9Db21taXQsCgkJCQlncm91cF9pZD1ncm91cElkCgkJCSkKCQkJZXhlY3V0b3IgPSBU
aHJlYWRFeGVjdXRvcigKCQkJCW5hbWU9ZiJLYWZrYSBDb25zdW1lciBHcm91cD17Z3JvdXBJZH0g
T2Zmc2V0PXthdXRvT2Zmc2V0UmVzZXR9IFRvcGljPXt0b3BpY3N9IiwKCQkJCWNhbGxiYWNrPWNh
bGxiYWNrLAoJCQkJZGF0YXNldHM9Y29uc3VtZXIsCgkJCQlkZWxheXM9MCwKCQkJCXNsZWVweT0w
LAoJCQkJdGltZW91dD10aW1lb3V0LAoJCQkJd29ya2Vycz13b3JrZXJzLAoJCQkJKiprd2FyZ3MK
CQkJKQoJCQlyZXR1cm4gY29uc3VtZXIsIGV4ZWN1dG9yCgkJZXhjZXB0IEJhc2VFeGNlcHRpb24g
YXMgZToKCQkJc2VsZi5sb2dnZXIuZXJyb3IoICJGYWlsZWQgY29uc3VtZSBLYWZrYSB0b3BpY3M9
XCJ7fVwiIiwgdG9waWNzICkKCQkJc2VsZi5sb2dnZXIuZXJyb3IoICJVbmNhdWdodCB7fToge30i
LCB0eXBlb2YoIGUgKSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSApCgkJLi4uCgkKCUBzdGF0aWNt
ZXRob2QKCWRlZiBzZW5kKCBzZWxmLCB0b3BpYzpTdHIsIG1lc3NhZ2U6TXV0YWJsZU1hcHBpbmdb
U3RyLEFueV0sIHRocmVhZDpVbmlvbltJbnQsU3RyXT0wICkgLT4gTm9uZToKCQkKCQkiIiIKCQlL
YWZrYSBQcm9kdWNlIGRhdGEKCQkKCQlQYXJhbWV0ZXJzOgoJCQl0b3BpYyAoU3RyKToKCQkJCUth
ZmthIHRvcGljIG5hbWUKCQkJbWVzc2FnZSAoTXV0YWJsZU1hcHBpbmdbU3RyLEFueV0pOgoJCQkJ
S2Fma2EgbWVzc2FhZ2UKCQkJdGhyZWFkIChJbnR8U3RyKToKCQkJCUN1cnJlbnQgdGhyZWFkIHBv
c2l0aW9uIG51bWJlcgoJCSIiIgoJCQoJCQoJCWlkZW50aWZpZXIgPSBtZXNzYWdlWydpZCddIGlm
IGlzaW5zdGFuY2UoIG1lc3NhZ2UsIGRpY3QgKSBhbmQgImlkIiBpbiBtZXNzYWdlIGVsc2UgSnNv
bkVuY29kZXIoIG1lc3NhZ2UsIGluZGVudD00ICkKCQlzZWxmLmNvbm5lY3QoKQoJCXRyeToKCQkJ
c2VsZi5wcm9kdWNlci5zZW5kKCB0b3BpYywgdmFsdWU9bWVzc2FnZSApCgkJCXNlbGYubG9nZ2Vy
LnN1Y2Nlc3MoICJTdWNjZXNzZnVsbHkgc2VuZCBkYXRhIGludG8gS2Fma2EgdG9waWM9e30gbWVz
c2FnZT17fSIsIHRvcGljLCBpZGVudGlmaWVyLCB0aHJlYWQ9dGhyZWFkICkKCQlleGNlcHQgQmFz
ZUV4Y2VwdGlvbiBhcyBlOgoJCQlzZWxmLmxvZ2dlci5lcnJvciggIkZhaWxlZCBzZW5kIGRhdGEg
aW50byBLYWZrYSB0b3BpYz17fSBtZXNzYWdlPXt9IiwgdG9waWMsIGlkZW50aWZpZXIsIHRocmVh
ZD10aHJlYWQgKQoJCQlzZWxmLmxvZ2dlci5lcnJvciggIlVuY2F1Z2h0IHt9OiB7fSIsIHR5cGVv
ZiggZSApLCB0cmFjZWJhY2soIGUsICJceDBhIiApICkKCQkuLi4KCQoJLi4uCgo=
