IyBCeXRlLWNvbXBpbGVkIC8gb3B0aW1pemVkIC8gRExMIGZpbGVzCl9fcHljYWNoZV9fLwoqLnB5
W2NvZF0KKiRweS5jbGFzcwoKIyBDIGV4dGVuc2lvbnMKKi5zbwoKIyBEaXN0cmlidXRpb24gLyBw
YWNrYWdpbmcKLlB5dGhvbgpidWlsZC8KZGV2ZWxvcC1lZ2dzLwpkaXN0Lwpkb3dubG9hZHMvCmVn
Z3MvCi5lZ2dzLwpsaWIvCmxpYjY0LwpwYXJ0cy8Kc2Rpc3QvCnZhci8Kd2hlZWxzLwpzaGFyZS9w
eXRob24td2hlZWxzLwoqLmVnZy1pbmZvLwouaW5zdGFsbGVkLmNmZwoqLmVnZwpNQU5JRkVTVAoK
IyBQeUluc3RhbGxlcgojICBVc3VhbGx5IHRoZXNlIGZpbGVzIGFyZSB3cml0dGVuIGJ5IGEgcHl0
aG9uIHNjcmlwdCBmcm9tIGEgdGVtcGxhdGUKIyAgYmVmb3JlIFB5SW5zdGFsbGVyIGJ1aWxkcyB0
aGUgZXhlLCBzbyBhcyB0byBpbmplY3QgZGF0ZS9vdGhlciBpbmZvcyBpbnRvIGl0LgoqLm1hbmlm
ZXN0Ciouc3BlYwoKIyBJbnN0YWxsZXIgbG9ncwpwaXAtbG9nLnR4dApwaXAtZGVsZXRlLXRoaXMt
ZGlyZWN0b3J5LnR4dAoKIyBVbml0IHRlc3QgLyBjb3ZlcmFnZSByZXBvcnRzCmh0bWxjb3YvCi50
b3gvCi5ub3gvCi5jb3ZlcmFnZQouY292ZXJhZ2UuKgouY2FjaGUKbm9zZXRlc3RzLnhtbApjb3Zl
cmFnZS54bWwKKi5jb3ZlcgoqLnB5LGNvdmVyCi5oeXBvdGhlc2lzLwoucHl0ZXN0X2NhY2hlLwpj
b3Zlci8KCiMgVHJhbnNsYXRpb25zCioubW8KKi5wb3QKCiMgRGphbmdvIHN0dWZmOgoqLmxvZwps
b2NhbF9zZXR0aW5ncy5weQpkYi5zcWxpdGUzCmRiLnNxbGl0ZTMtam91cm5hbAoKIyBGbGFzayBz
dHVmZjoKaW5zdGFuY2UvCi53ZWJhc3NldHMtY2FjaGUKCiMgU2NyYXB5IHN0dWZmOgouc2NyYXB5
CgojIFNwaGlueCBkb2N1bWVudGF0aW9uCmRvY3MvX2J1aWxkLwoKIyBQeUJ1aWxkZXIKLnB5YnVp
bGRlci8KdGFyZ2V0LwoKIyBKdXB5dGVyIE5vdGVib29rCi5pcHluYl9jaGVja3BvaW50cwoKIyBJ
UHl0aG9uCnByb2ZpbGVfZGVmYXVsdC8KaXB5dGhvbl9jb25maWcucHkKCiMgcHllbnYKIyAgIEZv
ciBhIGxpYnJhcnkgb3IgcGFja2FnZSwgeW91IG1pZ2h0IHdhbnQgdG8gaWdub3JlIHRoZXNlIGZp
bGVzIHNpbmNlIHRoZSBjb2RlIGlzCiMgICBpbnRlbmRlZCB0byBydW4gaW4gbXVsdGlwbGUgZW52
aXJvbm1lbnRzOyBvdGhlcndpc2UsIGNoZWNrIHRoZW0gaW46CiMgLnB5dGhvbi12ZXJzaW9uCgoj
IHBpcGVudgojICAgQWNjb3JkaW5nIHRvIHB5cGEvcGlwZW52IzU5OCwgaXQgaXMgcmVjb21tZW5k
ZWQgdG8gaW5jbHVkZSBQaXBmaWxlLmxvY2sgaW4gdmVyc2lvbiBjb250cm9sLgojICAgSG93ZXZl
ciwgaW4gY2FzZSBvZiBjb2xsYWJvcmF0aW9uLCBpZiBoYXZpbmcgcGxhdGZvcm0tc3BlY2lmaWMg
ZGVwZW5kZW5jaWVzIG9yIGRlcGVuZGVuY2llcwojICAgaGF2aW5nIG5vIGNyb3NzLXBsYXRmb3Jt
IHN1cHBvcnQsIHBpcGVudiBtYXkgaW5zdGFsbCBkZXBlbmRlbmNpZXMgdGhhdCBkb24ndCB3b3Jr
LCBvciBub3QKIyAgIGluc3RhbGwgYWxsIG5lZWRlZCBkZXBlbmRlbmNpZXMuCiNQaXBmaWxlLmxv
Y2sKCiMgcG9ldHJ5CiMgICBTaW1pbGFyIHRvIFBpcGZpbGUubG9jaywgaXQgaXMgZ2VuZXJhbGx5
IHJlY29tbWVuZGVkIHRvIGluY2x1ZGUgcG9ldHJ5LmxvY2sgaW4gdmVyc2lvbiBjb250cm9sLgoj
ICAgVGhpcyBpcyBlc3BlY2lhbGx5IHJlY29tbWVuZGVkIGZvciBiaW5hcnkgcGFja2FnZXMgdG8g
ZW5zdXJlIHJlcHJvZHVjaWJpbGl0eSwgYW5kIGlzIG1vcmUKIyAgIGNvbW1vbmx5IGlnbm9yZWQg
Zm9yIGxpYnJhcmllcy4KIyAgIGh0dHBzOi8vcHl0aG9uLXBvZXRyeS5vcmcvZG9jcy9iYXNpYy11
c2FnZS8jY29tbWl0LXlvdXItcG9ldHJ5bG9jay1maWxlLXRvLXZlcnNpb24tY29udHJvbAojcG9l
dHJ5LmxvY2sKCiMgcGRtCiMgICBTaW1pbGFyIHRvIFBpcGZpbGUubG9jaywgaXQgaXMgZ2VuZXJh
bGx5IHJlY29tbWVuZGVkIHRvIGluY2x1ZGUgcGRtLmxvY2sgaW4gdmVyc2lvbiBjb250cm9sLgoj
cGRtLmxvY2sKIyAgIHBkbSBzdG9yZXMgcHJvamVjdC13aWRlIGNvbmZpZ3VyYXRpb25zIGluIC5w
ZG0udG9tbCwgYnV0IGl0IGlzIHJlY29tbWVuZGVkIHRvIG5vdCBpbmNsdWRlIGl0CiMgICBpbiB2
ZXJzaW9uIGNvbnRyb2wuCiMgICBodHRwczovL3BkbS5mbWluZy5kZXYvbGF0ZXN0L3VzYWdlL3By
b2plY3QvI3dvcmtpbmctd2l0aC12ZXJzaW9uLWNvbnRyb2wKLnBkbS50b21sCi5wZG0tcHl0aG9u
Ci5wZG0tYnVpbGQvCgojIFBFUCA1ODI7IHVzZWQgYnkgZS5nLiBnaXRodWIuY29tL0RhdmlkLU9D
b25ub3IvcHlmbG93IGFuZCBnaXRodWIuY29tL3BkbS1wcm9qZWN0L3BkbQpfX3B5cGFja2FnZXNf
Xy8KCiMgQ2VsZXJ5IHN0dWZmCmNlbGVyeWJlYXQtc2NoZWR1bGUKY2VsZXJ5YmVhdC5waWQKCiMg
U2FnZU1hdGggcGFyc2VkIGZpbGVzCiouc2FnZS5weQoKIyBFbnZpcm9ubWVudHMKLmVudgoudmVu
dgplbnYvCnZlbnYvCkVOVi8KZW52LmJhay8KdmVudi5iYWsvCgojIFNweWRlciBwcm9qZWN0IHNl
dHRpbmdzCi5zcHlkZXJwcm9qZWN0Ci5zcHlwcm9qZWN0CgojIFJvcGUgcHJvamVjdCBzZXR0aW5n
cwoucm9wZXByb2plY3QKCiMgbWtkb2NzIGRvY3VtZW50YXRpb24KL3NpdGUKCiMgbXlweQoubXlw
eV9jYWNoZS8KLmRteXB5Lmpzb24KZG15cHkuanNvbgoKIyBQeXJlIHR5cGUgY2hlY2tlcgoucHly
ZS8KCiMgcHl0eXBlIHN0YXRpYyB0eXBlIGFuYWx5emVyCi5weXR5cGUvCgojIEN5dGhvbiBkZWJ1
ZyBzeW1ib2xzCmN5dGhvbl9kZWJ1Zy8KCiMgUHlDaGFybQojICBKZXRCcmFpbnMgc3BlY2lmaWMg
dGVtcGxhdGUgaXMgbWFpbnRhaW5lZCBpbiBhIHNlcGFyYXRlIEpldEJyYWlucy5naXRpZ25vcmUg
dGhhdCBjYW4KIyAgYmUgZm91bmQgYXQgaHR0cHM6Ly9naXRodWIuY29tL2dpdGh1Yi9naXRpZ25v
cmUvYmxvYi9tYWluL0dsb2JhbC9KZXRCcmFpbnMuZ2l0aWdub3JlCiMgIGFuZCBjYW4gYmUgYWRk
ZWQgdG8gdGhlIGdsb2JhbCBnaXRpZ25vcmUgb3IgbWVyZ2VkIGludG8gdGhpcyBmaWxlLiAgRm9y
IGEgbW9yZSBudWNsZWFyCiMgIG9wdGlvbiAobm90IHJlY29tbWVuZGVkKSB5b3UgY2FuIHVuY29t
bWVudCB0aGUgZm9sbG93aW5nIHRvIGlnbm9yZSB0aGUgZW50aXJlIGlkZWEgZm9sZGVyLgojLmlk
ZWEvCgojIEFyY2hpdmUKIyAgVGhlIHByb2dyYW0gYXJjaGl2ZQoqKi50YXIqKgoqKi56aXAqKgoK
IyBEaXNhYmxlIGxvZ2dpbmcgZmlsZQpsb2dnaW5nLyoqLmxvZwo=
