----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
aW50IGFzIEludCwgc3RyIGFzIFN0cgpmcm9tIGNvbmN1cnJlbnQuZnV0dXJlcyBpbXBvcnQgKAoJ
Q2FuY2VsbGVkRXJyb3IgYXMgVGhyZWFkQ2FuY2VsbGVkRXJyb3IsIAoJRnV0dXJlLCAKCVByb2Nl
c3NQb29sRXhlY3V0b3IsIAoJVGhyZWFkUG9vbEV4ZWN1dG9yLCAKCVRpbWVvdXRFcnJvciBhcyBU
aHJlYWRUaW1lb3V0RXJyb3IKKQpmcm9tIGl0ZXJ0b29scyBpbXBvcnQgaXNsaWNlCmZyb20gbXVs
dGlwcm9jZXNzaW5nIGltcG9ydCBUaW1lb3V0RXJyb3IgYXMgUHJvY2Vzc1RpbWVvdXRFcnJvcgpm
cm9tIG11bHRpcHJvY2Vzc2luZy5wb29sIGltcG9ydCBBc3luY1Jlc3VsdCBhcyBQcm9jZXNzUmVz
dWx0LCBQb29sIGFzIFByb2Nlc3NQb29sCmZyb20gcGlja2xlIGltcG9ydCBQaWNrbGVFcnJvcgpm
cm9tIHRpbWUgaW1wb3J0IHNsZWVwCmZyb20gdHlwaW5nIGltcG9ydCAoIAoJQW55LCAKCUNhbGxh
YmxlLCAKCUl0ZXJhYmxlLCAKCU11dGFibGVTZXF1ZW5jZSwgCglPcHRpb25hbCwgCglUdXBsZSwg
CglUeXBlVmFyIGFzIFZhciwgCglUeXBlVmFyVHVwbGUgYXMgVmFyVCwgCglVbmlvbiAKKQoKZnJv
bSB7Pz1tb2R1bGV9LmNvbW1vbiBpbXBvcnQgcGlja2xhYmxlLCB0cmFjZWJhY2ssIHR5cGVvZgpm
cm9tIHs/PW1vZHVsZX0ubG9nZ2VyIGltcG9ydCBMb2dnZXIKCgpfX2FsbF9fID0gKAoJIlByb2Nl
c3NFeGVjdXRvciIsCgkiVGhyZWFkRXhlY3V0b3IiCikKCgpfQXJncyA9IFZhclQoICJfQXJncyIg
KQoiIiIgQXJndW1lbnRzIFR5cGUgIiIiCgpfVCA9IFZhciggIl9UIiApCiIiIiBSZXR1cm4gVHlw
ZSAiIiIKCl9WID0gVmFyKCAiX1YiICkKIiIiIERhdGFzZXQgVHlwZSAiIiIKCgpkZWYgYW5pbWF0
ZSggaW5mbzpTdHIsIGxvZ2dlcjpMb2dnZXIsIHByZWZpeDpTdHIsIHRocmVhZDpVbmlvbltJbnQs
U3RyXT0wICkgLT4gTm9uZToKCXBvc2l0aW9uID0gLTEKCWZvciB1IGluICJcfC8tIiAqIDE2OgoJ
CWxvYWRpbmcgPSAie306IHt9Ii5mb3JtYXQoIGluZm8sIHUgKQoJCWxlbmd0aCA9IGxlbiggbG9h
ZGluZyApCgkJaWYgcG9zaXRpb24gPj0gbGVuZ3RoOgoJCQlwb3NpdGlvbiA9IC0xCgkJcG9zaXRp
b24gKz0gMQoJCW1lc3NhZ2VzID0gbG9hZGluZwoJCWlmIHBvc2l0aW9uID49IDE6CgkJCW1lc3Nh
Z2VDaGFyID0gbG9hZGluZ1twb3NpdGlvbi0xOnBvc2l0aW9uXQoJCQltZXNzYWdlQ2hhciA9IG1l
c3NhZ2VDaGFyLmxvd2VyKCkgXAoJCQkJaWYgbWVzc2FnZUNoYXIuaXN1cHBlcigpIFwKCQkJCWVs
c2UgbWVzc2FnZUNoYXIudXBwZXIoKQoJCQltZXNzYWdlUHJlZml4ID0gbG9hZGluZ1swOnBvc2l0
aW9uLTFdCgkJCW1lc3NhZ2VTdWZmaXggPSBsb2FkaW5nW3Bvc2l0aW9uOl0KCQkJbWVzc2FnZXMg
PSAiIi5qb2luKFsKCQkJCW1lc3NhZ2VQcmVmaXgsIAoJCQkJbWVzc2FnZUNoYXIsIAoJCQkJbWVz
c2FnZVN1ZmZpeAoJCQldKQoJCWxvZ2dlci5pbmZvKCBtZXNzYWdlcywgZW5kPSJceDIwIiwgc3Rh
cnQ9cHJlZml4LCB0aHJlYWQ9dGhyZWFkICkKCQlzbGVlcCggMC4wMSApCgpkZWYgaWNodW5rYWJs
ZSggaXRlcmFibGU6SXRlcmFibGVbX1RdLCBzaXplOkludD0xMDAgKSAtPiBJdGVyYWJsZVtfVF06
CglpdGVyYXRvciA9IGl0ZXIoIGl0ZXJhYmxlICkKCXdoaWxlIFRydWU6CgkJY29tcHJlc3MgPSBs
aXN0KCBpc2xpY2UoIGl0ZXJhdG9yLCBzaXplICkgKQoJCWlmIGNvbXByZXNzOgoJCQl5aWVsZCBp
dGVyKCBjb21wcmVzcyApCgkJCWNvbnRpbnVlCgkJYnJlYWsKCmRlZiBNdWx0aXByb2Nlc3NFeGVj
dXRvciggbmFtZTpTdHIsIGNhbGxiYWNrOkNhbGxhYmxlW1tfViwqX0FyZ3MsSW50XSxfVF0sIGRh
dGFzZXRzOkl0ZXJhYmxlW19WXSwgZWhhbmRsZXI6T3B0aW9uYWxbQ2FsbGFibGVbW0Jhc2VFeGNl
cHRpb25dLE5vbmVdXT1Ob25lLCB0aW1lb3V0OkludD00LCB3b3JrZXJzOkludD0xLCAqYXJnczpB
bnksICoqa3dhcmdzOkFueSApIC0+IEl0ZXJhYmxlW19UXToKCQoJIiIiCglTaG9ydCBNdWx0aXBy
b2Nlc3NpbmdQb29sIChtdWx0aXByb2Nlc3NpbmcucG9vbC5Qb29sKQoJCglQYXJhbWV0ZXJzOgoJ
CW5hbWUgKFN0cik6CgkJCVByb2Nlc3MgbmFtZQoJCWNhbGxiYWNrIChDYWxsYWJsZVtbX1YsKl9B
cmdzLEludF0sX1RdKToKCQkJUHJvY2VzcyBjYWxsYmFjayBoYW5kbGVyCgkJZGF0YXNldHMgKEl0
ZXJhYmxlW19WXSk6CgkJCURhdGFzZXRzCgkJZWhhbmRsZXIgKE9wdGlvbmFsW0NhbGxhYmxlW1tC
YXNlRXhjZXB0aW9uXSxOb25lXV0pOgoJCQlQcm9jZXNzIGVycm9yIGhhbmRsZXIgY2FsbGJhY2sK
CQl0aW1lb3V0IChJbnQpOgoJCQlUaHJlYWQgdGltZW91dAoJCXdvcmtlcnMgKEludCk6CgkJCVRo
cmVhZCB3b3JrZXJzCgkJYXJncyAoKkFueSk6CgkJCUNhbGxiYWNrIGhhbmRsZXIgYXJndW1lbnRz
CgkJa3dhcmdzICgqKkFueSk6CgkJCUNhbGxiYWNrIGhhbmRsZXIga2V5IGFyZ3VtZW50cwoJCglS
ZXR1cm5zOgoJCXJlc3VsdHMgKEl0ZXJhYmxlW19UXSk6CgkJCUl0ZXJhYmxlIG9mIGNhbGxiYWNr
IHJldHVybgoJCglFeGFtcGxlczoKCT4+PiBkYXRhc2V0cyA9IFsgLi4uIF0KCT4+PiBleGVjdXRv
ciA9IFByb2Nlc3NFeGVjdXRvcigKCT4+PiAgICAgbmFtZT0iTXVsdGlwcm9jZXNzaW5nIFBvb2wi
LAoJPj4+ICAgICBjYWxsYmFjaz1oYW5kbGVyLAoJPj4+ICAgICBkYXRhc2V0PWRhdGFzZXRzLAoJ
Pj4+ICAgICBzbGVlcHk9MCwKCT4+PiAgICAgd29ya2Vycz0xMCwKCT4+PiAgICAgdGltZW91dD0x
MjAKCT4+PiApCgk+Pj4gZm9yIGV4ZWN1dGlvbiBpbiBleGVjdXRvcjoKCT4+PiAgICAgcHJpbnQo
IGV4ZWN1dGlvbiApCgkiIiIKCQoJcHJlZml4ID0gIlx4MGQiCglsb2dnZXIgPSBMb2dnZXIoIF9f
bmFtZV9fICkKCWVycm9ycywgc3RhcnRpbmcsIHN1Y2Nlc3MsIHRvdGFscyA9IDAsIDAsIDAsIDAK
CWlmIG5vdCBjYWxsYWJsZSggZWhhbmRsZXIgKToKCQlkZWYgZWhhbmRsZXIoIGU6QmFzZUV4Y2Vw
dGlvbiApIC0+IE5vbmU6CgkJCWxvZ2dlci5lcnJvciggIlByb2Nlc3Mge306IHt9IiwgdHlwZW9m
KCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICksIHN0YXJ0PSJceDBhIiApCglpZiBub3QgcGlj
a2xhYmxlKCBjYWxsYmFjayApOgoJCXJhaXNlIFBpY2tsZUVycm9yKCAiRnVuY3Rpb24gY2Fubm90
IGJlIHBpY2tsZWQgYW5kIHVzZWQgaW4gbXVsdGlwcm9jZXNzaW5nIiApCglsb2dnZXIuaW5mbygg
IkJ1aWxkaW5nIFByb2Nlc3NQb29sIHdpdGgge30gd29ya2VycyBmb3Ige30iLCB3b3JrZXJzLCBu
YW1lICkKCXdpdGggUHJvY2Vzc1Bvb2woIHdvcmtlcnMgKSBhcyBwb29sOgoJCWZvciBpdGVyYWJs
ZSBpbiBpY2h1bmthYmxlKCBkYXRhc2V0cywgd29ya2VycyAqIDIgKToKCQkJaGFzaGluZ3MgPSBz
ZXQoKQoJCQlwcm9jZXNzZXM6TXV0YWJsZVNlcXVlbmNlW1R1cGxlW0ludCxQcm9jZXNzUmVzdWx0
XV0gPSBbXQoJCQlpcHJvY2Vzc2VzOk11dGFibGVTZXF1ZW5jZVtUdXBsZVtJbnQsUHJvY2Vzc1Jl
c3VsdF1dID0gW10KCQkJdHJ5OgoJCQkJZm9yIGluZGV4LCBpdGVtIGluIGVudW1lcmF0ZSggaXRl
cmFibGUsIDEgKToKCQkJCQlpbmRleCs9IHN0YXJ0aW5nCgkJCQkJbG9nZ2VyLmluZm8oICJDcmVh
dGluZyBwcm9jZXNzIHdvcmtlciBQPHt9PiBpbiBwb29sIiwgaW5kZXgsIGVuZD0iXHgyMCIsIHN0
YXJ0PXByZWZpeCwgdGhyZWFkPWluZGV4ICkKCQkJCQlwcm9jZXNzID0gcG9vbC5hcHBseV9hc3lu
YyggZnVuYz1jYWxsYmFjaywgYXJncz0oIGl0ZW0sICphcmdzICksIGVycm9yX2NhbGxiYWNrPWVo
YW5kbGVyLCBrd2RzPXsgKiprd2FyZ3MsICJwcm9jZXNzIjogaW5kZXggfSApCgkJCQkJcHJvY2Vz
c2VzLmFwcGVuZCggKCBoYXNoKCBwcm9jZXNzICksIHByb2Nlc3MgKSApCgkJCQkJdG90YWxzKz0g
MQoJCQkJaXByb2Nlc3Nlcy5leHRlbmQoIHByb2Nlc3NlcyApCgkJCQl3aGlsZSBub3QgYWxsKCBw
cm9jZXNzWzFdLnJlYWR5KCkgYW5kIHByb2Nlc3NbMV0uc3VjY2Vzc2Z1bCgpIGZvciBwcm9jZXNz
IGluIGlwcm9jZXNzZXMgKToKCQkJCQlmb3IgXywgaXRlbSBpbiBlbnVtZXJhdGUoIFsgKmlwcm9j
ZXNzZXMgXSwgMSApOgoJCQkJCQloYXNobnVtLCBwcm9jZXNzID0gaXRlbQoJCQkJCQlpbmRleCA9
IHByb2Nlc3Nlcy5pbmRleCggaXRlbSApCgkJCQkJCWluZGV4ZWQgPSBpbmRleCArIHN0YXJ0aW5n
ICsgMQoJCQkJCQlpZiBwcm9jZXNzLnJlYWR5KCkgYW5kIHByb2Nlc3Muc3VjY2Vzc2Z1bCgpOgoJ
CQkJCQkJbG9nZ2VyLnN1Y2Nlc3MoICJQcm9jZXNzIHdvcmtlciBQPHt9PiB5aWVsZGluZyIsIGlu
ZGV4ZWQsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPWluZGV4ZWQgKQoJCQkJCQkJZGVsIGlwcm9jZXNz
ZXNbaXByb2Nlc3Nlcy5pbmRleCggaXRlbSApXQoJCQkJCQkJeWllbGQgcHJvY2Vzcy5nZXQoIHRp
bWVvdXQgKQoJCQkJCQkJaGFzaGluZ3MuYWRkKCBoYXNobnVtICkKCQkJCQkJCXN1Y2Nlc3MrPSAx
CgkJCQkJCQljb250aW51ZQoJCQkJCQlpZiBub3QgcHJvY2Vzcy5yZWFkeSgpIG9yIG5vdCBwcm9j
ZXNzLnN1Y2Nlc3NmdWwoKToKCQkJCQkJCWFuaW1hdGUoICJQcm9jZXNzIHdvcmtlcnMgYXJlIHN0
aWxsIHJ1bm5pbmc6IHt9OiB7fSIuZm9ybWF0KCBsZW4oIGlwcm9jZXNzZXMgKSwgaW5kZXhlZCAp
LCBsb2dnZXIsIHByZWZpeCwgdGhyZWFkPWluZGV4ZWQgKQoJCQkJCQkJdHJ5OgoJCQkJCQkJCV8g
PSBwcm9jZXNzLmdldCggMCApCgkJCQkJCQlleGNlcHQgUHJvY2Vzc1RpbWVvdXRFcnJvcjoKCQkJ
CQkJCQlwYXNzCgkJCQkJCQlleGNlcHQgQmFzZUV4Y2VwdGlvbiBhcyBlOgoJCQkJCQkJCWxvZ2dl
ci5lcnJvciggIlByb2Nlc3Mgd29ya2VyIFA8e30+IGlzIHJhaXNlZCB7fToge30iLCBpbmRleGVk
LCB0eXBlb2YoIGUgKSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSwgdGhyZWFkPWluZGV4ZWQgKQoJ
CQkJCQkJCWxvZ2dlci5lcnJvciggIlByb2Nlc3Mgd29ya2VyIFA8e30+IGlzIGRlbGV0ZWQgZnJv
bSBwcm9jZXNzZXMiLCBpbmRleGVkLCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJCQkJaWYgcHJvY2Vz
cyBpbiBpcHJvY2Vzc2VzOgoJCQkJCQkJCQlkZWwgaXByb2Nlc3Nlc1tpcHJvY2Vzc2VzLmluZGV4
KCBpdGVtICldCgkJCQkJCQkJCWhhc2hpbmdzLmFkZCggaGFzaG51bSApCgkJCQkJCQkJCWVycm9y
cys9IDEKCQkJCQkJCWNvbnRpbnVlCgkJCQlmb3IgXywgaXRlbSBpbiBlbnVtZXJhdGUoIFsgKnBy
b2Nlc3NlcyBdLCAxICk6CgkJCQkJaW5kZXggPSBwcm9jZXNzZXMuaW5kZXgoIGl0ZW0gKQoJCQkJ
CWluZGV4Kz0gc3RhcnRpbmcKCQkJCQloYXNobnVtLCBwcm9jZXNzID0gaXRlbQoJCQkJCWlmIGhh
c2hudW0gbm90IGluIGhhc2hpbmdzOgoJCQkJCQl0cnk6CgkJCQkJCQlsb2dnZXIuc3VjY2Vzcygg
IlByb2Nlc3Mgd29ya2VyIFA8e30+IHRyeWluZyB0byB5aWVsZCIsIGluZGV4ZWQsIHN0YXJ0PXBy
ZWZpeCwgdGhyZWFkPWluZGV4ICkKCQkJCQkJCXlpZWxkIHByb2Nlc3MuZ2V0KCAwICkKCQkJCQkJ
CXN1Y2Nlc3MrPSAxCgkJCQkJCWV4Y2VwdCBQcm9jZXNzVGltZW91dEVycm9yOgoJCQkJCQkJcGFz
cwoJCQkJCQlleGNlcHQgQmFzZUV4Y2VwdGlvbiBhcyBlOgoJCQkJCQkJbG9nZ2VyLmVycm9yKCAi
UHJvY2VzcyB3b3JrZXIgUDx7fT4gaXMgcmFpc2VkIHt9OiB7fSIsIGluZGV4LCB0eXBlb2YoIGUg
KSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSwgdGhyZWFkPWluZGV4ICkKCQkJCQkJCWxvZ2dlci5l
cnJvciggIlByb2Nlc3Mgd29ya2VyIFA8e30+IGlzIGRlbGV0ZWQgZnJvbSBwcm9jZXNzZXMiLCBp
bmRleCwgdGhyZWFkPWluZGV4ICkKCQkJCQkJCWlmIHByb2Nlc3MgaW4gaXByb2Nlc3NlczoKCQkJ
CQkJCQlkZWwgaXByb2Nlc3Nlc1tpcHJvY2Vzc2VzLmluZGV4KCBpdGVtICldCgkJCQkJCQkJZXJy
b3JzKz0gMQoJCQkJc3RhcnRpbmcrPSBsZW4oIHByb2Nlc3NlcyApCgkJCQlkZWwgaGFzaGluZ3MK
CQkJCWRlbCBwcm9jZXNzZXMKCQkJCWRlbCBpcHJvY2Vzc2VzCgkJCWV4Y2VwdCBCYXNlRXhjZXB0
aW9uIGFzIGU6CgkJCQlsb2dnZXIuZXJyb3IoICJVbmNhdWdodCB7fToge30iLCB0eXBlb2YoIGUg
KSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSwgc3RhcnQ9cHJlZml4ICkKCQkJCWJyZWFrCgkJbG9n
Z2VyLmluZm8oICJQcm9jZXNzUG9vbCBoYXMgYmVlbiB0ZXJtaW5hdGVkIiwgc3RhcnQ9cHJlZml4
LCB0aHJlYWQ9IlAiICkKCQlwb29sLnRlcm1pbmF0ZSgpCgkJbG9nZ2VyLmluZm8oICJQcm9jZXNz
UG9vbCBoYXMgYmVlbiBjbG9zZWQiLCBzdGFydD1wcmVmaXgsIHRocmVhZD0iUCIgKQoJCXBvb2wu
Y2xvc2UoKQoJbG9nZ2VyLmluZm8oICJBIHRvdGFsIG9mIHt9IHdvcmtlciBwcm9jZXNzIGhhdmUg
YmVlbiBjb21wbGV0ZWQiLCB0b3RhbHMsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPSJQIiApCglsb2dn
ZXIuaW5mbyggIlByb2Nlc3MgZXhlY3V0aW9uIHt9IGVycm9ycywgYW5kIHt9IHN1Y2Nlc3MiLCBl
cnJvcnMsIHN1Y2Nlc3MsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPSJQIiApCglsb2dnZXIuaW5mbygg
IlByb2Nlc3NQb29sIGZvciB7fSBzdG9wZWQiLCBuYW1lLCBzdGFydD1wcmVmaXgsIHRocmVhZD0i
UCIgKQoKZGVmIFByb2Nlc3NFeGVjdXRvciggbmFtZTpTdHIsIGNhbGxiYWNrOkNhbGxhYmxlW1tf
ViwqX0FyZ3MsSW50XSxfVF0sIGRhdGFzZXRzOkl0ZXJhYmxlW19WXSwgdGltZW91dDpJbnQ9NCwg
d29ya2VyczpJbnQ9MSwgKmFyZ3M6QW55LCAqKmt3YXJnczpBbnkgKSAtPiBJdGVyYWJsZVtfVF06
CgkKCSIiIgoJU2hvcnQgUHJvY2Vzc1Bvb2xFeGVjdXRvciAoY29uY3VycmVudC5mdXR1cmVzLlBy
b2Nlc3NQb29sRXhlY3V0b3IpCgkKCVBhcmFtZXRlcnM6CgkJbmFtZSAoU3RyKToKCQkJUHJvY2Vz
cyBuYW1lCgkJY2FsbGJhY2sgKENhbGxhYmxlW1tfViwqX0FyZ3MsSW50XSxfVF0pOgoJCQlQcm9j
ZXNzIGNhbGxiYWNrIGhhbmRsZXIKCQlkYXRhc2V0cyAoSXRlcmFibGVbX1ZdKToKCQkJRGF0YXNl
dHMKCQl0aW1lb3V0IChJbnQpOgoJCQlUaHJlYWQgdGltZW91dAoJCXdvcmtlcnMgKEludCk6CgkJ
CVRocmVhZCB3b3JrZXJzCgkJYXJncyAoKkFueSk6CgkJCUNhbGxiYWNrIGhhbmRsZXIgYXJndW1l
bnRzCgkJa3dhcmdzICgqKkFueSk6CgkJCUNhbGxiYWNrIGhhbmRsZXIga2V5IGFyZ3VtZW50cwoJ
CglSZXR1cm5zOgoJCXJlc3VsdHMgKEl0ZXJhYmxlW19UXSk6CgkJCUl0ZXJhYmxlIG9mIGNhbGxi
YWNrIHJldHVybgoJCglFeGFtcGxlczoKCT4+PiBkYXRhc2V0cyA9IFsgLi4uIF0KCT4+PiBleGVj
dXRvciA9IFByb2Nlc3NFeGVjdXRvcigKCT4+PiAgICAgbmFtZT0iUHJvY2VzcyBFeGVjdXRvciIs
Cgk+Pj4gICAgIGNhbGxiYWNrPWhhbmRsZXIsCgk+Pj4gICAgIGRhdGFzZXQ9ZGF0YXNldHMsCgk+
Pj4gICAgIHdvcmtlcnM9MTAsCgk+Pj4gICAgIHRpbWVvdXQ9MTIwCgk+Pj4gKQoJPj4+IGZvciBl
eGVjdXRpb24gaW4gZXhlY3V0b3I6Cgk+Pj4gICAgIHByaW50KCBleGVjdXRpb24gKQoJIiIiCgkK
CXByZWZpeCA9ICJceDBkIgoJbG9nZ2VyID0gTG9nZ2VyKCBfX25hbWVfXyApCgljYW5jZWxzLCBl
cnJvcnMsIHN0YXJ0aW5nLCBzdWNjZXNzLCB0b3RhbHMgPSAwLCAwLCAwLCAwLCAwCglpZiBub3Qg
cGlja2xhYmxlKCBjYWxsYmFjayApOgoJCXJhaXNlIFBpY2tsZUVycm9yKCAiRnVuY3Rpb24gY2Fu
bm90IGJlIHBpY2tsZWQgYW5kIHVzZWQgaW4gbXVsdGlwcm9jZXNzaW5nIiApCglsb2dnZXIuaW5m
byggIkJ1aWxkaW5nIFByb2Nlc3NQb29sRXhlY3V0b3Igd2l0aCB7fSB3b3JrZXJzIGZvciB7fSIs
IHdvcmtlcnMsIG5hbWUsIHN0YXJ0PXByZWZpeCApCgl3aXRoIFByb2Nlc3NQb29sRXhlY3V0b3Io
IHdvcmtlcnMgKSBhcyBwb29sOgoJCWZvciBpdGVyYWJsZSBpbiBpY2h1bmthYmxlKCBkYXRhc2V0
cywgd29ya2VycyAqIDIgKToKCQkJaGFzaGluZ3MgPSBzZXQoKQoJCQlmdXR1cmVzOk11dGFibGVT
ZXF1ZW5jZVtUdXBsZVtJbnQsRnV0dXJlXV0gPSBbXQoJCQlpZnV0dXJlczpNdXRhYmxlU2VxdWVu
Y2VbVHVwbGVbSW50LEZ1dHVyZV1dID0gW10KCQkJdHJ5OgoJCQkJZm9yIGluZGV4LCBpdGVtIGlu
IGVudW1lcmF0ZSggaXRlcmFibGUsIDEgKToKCQkJCQlpbmRleCs9IHN0YXJ0aW5nCgkJCQkJbG9n
Z2VyLmluZm8oICJDcmVhdGluZyBwcm9jZXNzIGZ1dHVyZSBQPHt9PiBpbiBwb29sIiwgaW5kZXgs
IGVuZD0iXHgyMCIsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPWluZGV4ICkKCQkJCQlmdXR1cmUgPSBw
b29sLnN1Ym1pdCggY2FsbGJhY2ssIGl0ZW0sICphcmdzLCAqKmt3YXJncywgcHJvY2Vzcz1pbmRl
eCApCgkJCQkJZnV0dXJlcy5hcHBlbmQoICggaGFzaCggZnV0dXJlICksIGZ1dHVyZSApICkKCQkJ
CQl0b3RhbHMrPSAxCgkJCQlpZnV0dXJlcy5leHRlbmQoIGZ1dHVyZXMgKQoJCQkJd2hpbGUgbm90
IGFsbCggZnV0dXJlWzFdLmRvbmUoKSBmb3IgZnV0dXJlIGluIGlmdXR1cmVzICk6CgkJCQkJZm9y
IF8sIGl0ZW0gaW4gZW51bWVyYXRlKCBbICppZnV0dXJlcyBdLCAxICk6CgkJCQkJCWhhc2hudW0s
IGZ1dHVyZSA9IGl0ZW0KCQkJCQkJaW5kZXggPSBmdXR1cmVzLmluZGV4KCBpdGVtICkKCQkJCQkJ
aW5kZXhlZCA9IGluZGV4ICsgc3RhcnRpbmcgKyAxCgkJCQkJCXRyeToKCQkJCQkJCWlmIGZ1dHVy
ZS5ydW5uaW5nKCk6CgkJCQkJCQkJYW5pbWF0ZSggIkZ1dHVyZSBwcm9jZXNzIHdvcmtlcnMgYXJl
IHN0aWxsIHJ1bm5pbmc6IHt9OiB7fSIuZm9ybWF0KCBsZW4oIGlmdXR1cmVzICksIGluZGV4ZWQg
KSwgbG9nZ2VyLCBwcmVmaXgsIHRocmVhZD1pbmRleGVkICkKCQkJCQkJCWlmIGZ1dHVyZS5jYW5j
ZWxsZWQoKToKCQkJCQkJCQlsb2dnZXIud2FybmluZyggIkZ1dHVyZSBwcm9jZXNzIHdvcmtlciBU
PHt9PiBjYW5jZWxsZWQiLCBpbmRleGVkLCBzdGFydD1wcmVmaXgsIHRocmVhZD1pbmRleGVkICkK
CQkJCQkJCQlkZWwgaWZ1dHVyZXNbaWZ1dHVyZXMuaW5kZXgoIGl0ZW0gKV0KCQkJCQkJCQloYXNo
aW5ncy5hZGQoIGhhc2hudW0gKQoJCQkJCQkJCWNhbmNlbHMrPSAxCgkJCQkJCQkJY29udGludWUK
CQkJCQkJCWlmIGZ1dHVyZS5kb25lKCk6CgkJCQkJCQkJbG9nZ2VyLnN1Y2Nlc3MoICJGdXR1cmUg
cHJvY2VzcyB3b3JrZXIgVDx7fT4geWllbGRpbmciLCBpbmRleGVkLCBzdGFydD1wcmVmaXgsIHRo
cmVhZD1pbmRleGVkICkKCQkJCQkJCQlkZWwgaWZ1dHVyZXNbaWZ1dHVyZXMuaW5kZXgoIGl0ZW0g
KV0KCQkJCQkJCQl5aWVsZCBmdXR1cmUucmVzdWx0KCB0aW1lb3V0ICkKCQkJCQkJCQloYXNoaW5n
cy5hZGQoIGhhc2hudW0gKQoJCQkJCQkJCXN1Y2Nlc3MrPSAxCgkJCQkJCQkJY29udGludWUKCQkJ
CQkJCXRocm93biA9IGZ1dHVyZS5leGNlcHRpb24oKQoJCQkJCQkJaWYgaXNpbnN0YW5jZSggdGhy
b3duLCBCYXNlRXhjZXB0aW9uICk6CgkJCQkJCQkJbG9nZ2VyLmVycm9yKCAiRnV0dXJlIHByb2Nl
c3Mgd29ya2VyIFQ8e30+IGlzIHJhaXNlZCB7fToge30iLCBpbmRleGVkLCB0eXBlb2YoIHRocm93
biApLCB0cmFjZWJhY2soIHRocm93biwgIlx4MGEiICksIHN0YXJ0PXByZWZpeCwgdGhyZWFkPWlu
ZGV4ZWQgKQoJCQkJCQkJCWxvZ2dlci5lcnJvciggIkZ1dHVyZSBwcm9jZXNzIHdvcmtlciBUPHt9
PiBpcyBkZWxldGVkIGZyb20gZnV0dXJlcyIsIGluZGV4ZWQsIHN0YXJ0PXByZWZpeCwgdGhyZWFk
PWluZGV4ZWQgKQoJCQkJCQkJCWRlbCBpZnV0dXJlc1tpZnV0dXJlcy5pbmRleCggaXRlbSApXQoJ
CQkJCQkJCWhhc2hpbmdzLmFkZCggaGFzaG51bSApCgkJCQkJCQkJZXJyb3JzKz0gMQoJCQkJCQll
eGNlcHQgVGhyZWFkQ2FuY2VsbGVkRXJyb3I6CgkJCQkJCQlsb2dnZXIuZXJyb3IoICJGdXR1cmUg
cHJvY2VzcyB3b3JrZXIgY2FuY2VsbGVkOiB7fSIsIGluZGV4ZWQsIHN0YXJ0PXByZWZpeCwgdGhy
ZWFkPWluZGV4ZWQgKQoJCQkJCQlleGNlcHQgVGhyZWFkVGltZW91dEVycm9yOgoJCQkJCQkJbG9n
Z2VyLmVycm9yKCAiRnV0dXJlIHByb2Nlc3Mgd29ya2VyIHRpbWVvdXQ6IHt9IiwgaW5kZXhlZCwg
c3RhcnQ9cHJlZml4LCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJCWV4Y2VwdCBCYXNlRXhjZXB0aW9u
IGFzIGU6CgkJCQkJCQlsb2dnZXIuZXJyb3IoICJQcm9jZXNzIHVuY2F1Z2h0IHt9OiB7fSIsIHR5
cGVvZiggZSApLCB0cmFjZWJhY2soIGUsICJceDBhIiApLCBzdGFydD1wcmVmaXgsIHRocmVhZD1p
bmRleGVkICkKCQkJCWZvciBfLCBpdGVtIGluIGVudW1lcmF0ZSggZnV0dXJlcywgMSApOgoJCQkJ
CWhhc2hudW0sIGZ1dHVyZSA9IGl0ZW0KCQkJCQlpbmRleCA9IGZ1dHVyZXMuaW5kZXgoIGl0ZW0g
KQoJCQkJCWluZGV4ZWQgPSBpbmRleCArIHN0YXJ0aW5nICsgMQoJCQkJCWlmIGhhc2hudW0gbm90
IGluIGhhc2hpbmdzOgoJCQkJCQl0aHJvd24gPSBmdXR1cmUuZXhjZXB0aW9uKCkKCQkJCQkJaWYg
aXNpbnN0YW5jZSggdGhyb3duLCBCYXNlRXhjZXB0aW9uICk6CgkJCQkJCQlsb2dnZXIuZXJyb3Io
ICJGdXR1cmUgcHJvY2VzcyB3b3JrZXIgVDx7fT4gaXMgcmFpc2VkIHt9OiB7fSIsIGluZGV4ZWQs
IHR5cGVvZiggdGhyb3duICksIHRyYWNlYmFjayggdGhyb3duLCAiXHgwYSIgKSwgc3RhcnQ9cHJl
Zml4LCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJCQlsb2dnZXIuZXJyb3IoICJGdXR1cmUgcHJvY2Vz
cyB3b3JrZXIgVDx7fT4gaXMgZGVsZXRlZCBmcm9tIGZ1dHVyZXMiLCBpbmRleGVkLCBzdGFydD1w
cmVmaXgsIHRocmVhZD1pbmRleGVkICkKCQkJCQkJCWVycm9ycys9IDEKCQkJCQkJCWNvbnRpbnVl
CgkJCQkJCWlmIGZ1dHVyZS5jYW5jZWxsZWQoKToKCQkJCQkJCWNhbmNlbHMrPSAxCgkJCQkJCQlj
b250aW51ZQoJCQkJCQlsb2dnZXIuc3VjY2VzcyggIkZ1dHVyZSBwcm9jZXNzIHdvcmtlciBQPHt9
PiB0cnlpbmcgdG8geWllbGQiLCBpbmRleGVkLCBzdGFydD1wcmVmaXgsIHRocmVhZD1pbmRleGVk
ICkKCQkJCQkJeWllbGQgZnV0dXJlLnJlc3VsdCggMCApCgkJCQkJCXN1Y2Nlc3MrPSAxCgkJCQlz
dGFydGluZys9IGxlbiggZnV0dXJlcyApCgkJCQlkZWwgaGFzaGluZ3MKCQkJCWRlbCBmdXR1cmVz
CgkJCQlkZWwgaWZ1dHVyZXMKCQkJZXhjZXB0IEJhc2VFeGNlcHRpb24gYXMgZToKCQkJCWxvZ2dl
ci5lcnJvciggIlVuY2F1Z2h0IHt9OiB7fSIsIHR5cGVvZiggZSApLCB0cmFjZWJhY2soIGUsICJc
eDBhIiApLCBzdGFydD1wcmVmaXggKQoJCQkJbG9nZ2VyLmluZm8oICJQcm9jZXNzUG9vbEV4ZWN1
dG9yIGhhcyBiZWVuIHNodXRpbmcgZG93biIsIHN0YXJ0PXByZWZpeCApCgkJCQlwb29sLnNodXRk
b3duKCB3YWl0PUZhbHNlICkKCQkJCWJyZWFrCglsb2dnZXIuaW5mbyggIiIsIHN0YXJ0PSJceDBh
IiwgdGhyZWFkPSJQIiApCglsb2dnZXIuaW5mbyggIkEgdG90YWwgb2Yge30gd29ya2VyIHByb2Nl
c3MgaGF2ZSBiZWVuIGV4ZWN1dGVkIiwgdG90YWxzLCBzdGFydD1wcmVmaXgsIHRocmVhZD0iUCIg
KQoJbG9nZ2VyLmluZm8oICJQcm9jZXNzIGV4ZWN1dGlvbiB7fSBjYW5jZWxsZWQsIHt9IGVycm9y
cywgYW5kIHt9IHN1Y2Nlc3MiLCBjYW5jZWxzLCBlcnJvcnMsIHN1Y2Nlc3MsIHN0YXJ0PXByZWZp
eCwgdGhyZWFkPSJQIiApCglsb2dnZXIuaW5mbyggIlByb2Nlc3NQb29sRXhlY3V0b3IgZm9yIHt9
IHN0b3BlZCIsIG5hbWUsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPSJQIiApCgpkZWYgVGhyZWFkRXhl
Y3V0b3IoIG5hbWU6U3RyLCBjYWxsYmFjazpDYWxsYWJsZVtbX1YsKl9BcmdzLEludF0sX1RdLCBk
YXRhc2V0czpJdGVyYWJsZVtfVl0sIGRlbGF5czpJbnQ9Miwgc2xlZXB5OkludD0xLCB0aW1lb3V0
OkludD00LCB3b3JrZXJzOkludD0xLCAqYXJnczpBbnksICoqa3dhcmdzOkFueSApIC0+IEl0ZXJh
YmxlW19UXToKCQoJIiIiCglTaG9ydCBUaHJlYWRQb29sRXhlY3V0b3IgKGNvbmN1cnJlbnQuZnV0
dXJlcy5UaHJlYWRQb29sRXhlY3V0b3IpCgkKCVBhcmFtZXRlcnM6CgkJbmFtZSAoU3RyKToKCQkJ
VGhyZWFkIHByZWZpeCBuYW1lCgkJY2FsbGJhY2sgKENhbGxhYmxlW1tfViwqX0FyZ3NdLF9UXSk6
CgkJCVRocmVhZCBjYWxsYmFjayBoYW5kbGVyCgkJZGF0YXNldHMgKEl0ZXJhYmxlW19WXSk6CgkJ
CURhdGFzZXRzCgkJZGVsYXlzIChJbnQpOgoJCQlUaHJlYWQgZGVsYXQgcGVyLXdvcmtlcnMKCQlz
bGVlcHkgKEludCk6CgkJCVRocmVhZCBkZWxheSBwZXItdGhyZWFkCgkJdGltZW91dCAoSW50KToK
CQkJVGhyZWFkIHRpbWVvdXQKCQl3b3JrZXJzIChJbnQpOgoJCQlUaHJlYWQgd29ya2VycwoJCWFy
Z3MgKCpBbnkpOgoJCQlDYWxsYmFjayBoYW5kbGVyIGFyZ3VtZW50cwoJCWt3YXJncyAoKipBbnkp
OgoJCQlDYWxsYmFjayBoYW5kbGVyIGtleSBhcmd1bWVudHMKCQoJUmV0dXJuczoKCQlyZXN1bHRz
IChJdGVyYWJsZVtfVF0pOgoJCQlJdGVyYWJsZSBvZiBjYWxsYmFjayByZXR1cm4KCQoJRXhhbXBs
ZXM6Cgk+Pj4gZGF0YXNldHMgPSBbIC4uLiBdCgk+Pj4gZXhlY3V0b3IgPSBUaHJlYWRFeGVjdXRv
cigKCT4+PiAgICAgbmFtZT0iVGhyZWFkIEV4ZWN1dG9yIiwKCT4+PiAgICAgY2FsbGJhY2s9aGFu
ZGxlciwKCT4+PiAgICAgZGF0YXNldD1kYXRhc2V0cywKCT4+PiAgICAgZGVsYXlzPTAsCgk+Pj4g
ICAgIHNsZWVweT0xLCwKCT4+PiAgICAgdGltZW91dD0xMjAsCgk+Pj4gICAgIHdvcmtlcnM9MTAK
CT4+PiApCgk+Pj4gZm9yIGV4ZWN1dGlvbiBpbiBleGVjdXRvcjoKCT4+PiAgICAgcHJpbnQoIGV4
ZWN1dGlvbiApCgkiIiIKCQoJcHJlZml4ID0gIlx4MGQiCglsb2dnZXIgPSBMb2dnZXIoIF9fbmFt
ZV9fICkKCWNhbmNlbHMsIGVycm9ycywgc3RhcnRpbmcsIHN1Y2Nlc3MsIHRvdGFscyA9IDAsIDAs
IDAsIDAsIDAKCWxvZ2dlci5pbmZvKCAiQnVpbGRpbmcgVGhyZWFkUG9vbEV4ZWN1dG9yIHdpdGgg
e30gd29ya2VycyBmb3Ige30iLCB3b3JrZXJzLCBuYW1lLCBzdGFydD1wcmVmaXggKQoJd2l0aCBU
aHJlYWRQb29sRXhlY3V0b3IoIHdvcmtlcnMgKSBhcyBwb29sOgoJCWZvciBpdGVyYWJsZSBpbiBp
Y2h1bmthYmxlKCBkYXRhc2V0cywgd29ya2VycyApOgoJCQloYXNoaW5ncyA9IHNldCgpCgkJCWZ1
dHVyZXM6TXV0YWJsZVNlcXVlbmNlW1R1cGxlW0ludCxGdXR1cmVdXSA9IFtdCgkJCWlmdXR1cmVz
Ok11dGFibGVTZXF1ZW5jZVtUdXBsZVtJbnQsRnV0dXJlXV0gPSBbXQoJCQl0cnk6CgkJCQlmb3Ig
aW5kZXgsIGl0ZW0gaW4gZW51bWVyYXRlKCBpdGVyYWJsZSwgMSApOgoJCQkJCWluZGV4Kz0gc3Rh
cnRpbmcKCQkJCQlsb2dnZXIuaW5mbyggIkNyZWF0aW5nIHRocmVhZCBmdXR1cmUgUDx7fT4gaW4g
cG9vbCIsIGluZGV4LCBlbmQ9Ilx4MjAiLCBzdGFydD1wcmVmaXgsIHRocmVhZD1pbmRleCApCgkJ
CQkJZnV0dXJlID0gcG9vbC5zdWJtaXQoIGNhbGxiYWNrLCBpdGVtLCAqYXJncywgKiprd2FyZ3Ms
IHRocmVhZD1pbmRleCApCgkJCQkJZnV0dXJlcy5hcHBlbmQoICggaGFzaCggZnV0dXJlICksIGZ1
dHVyZSApICkKCQkJCQl0b3RhbHMrPSAxCgkJCQkJc2xlZXAoIGRlbGF5cyBpZiBpbmRleCAlIHdv
cmtlcnMgPT0gMCBlbHNlIHNsZWVweSApCgkJCQlpZnV0dXJlcy5leHRlbmQoIGZ1dHVyZXMgKQoJ
CQkJd2hpbGUgbm90IGFsbCggZnV0dXJlWzFdLmRvbmUoKSBmb3IgZnV0dXJlIGluIGlmdXR1cmVz
ICk6CgkJCQkJZm9yIF8sIGl0ZW0gaW4gZW51bWVyYXRlKCBbICppZnV0dXJlcyBdLCAxICk6CgkJ
CQkJCWhhc2hudW0sIGZ1dHVyZSA9IGl0ZW0KCQkJCQkJaW5kZXggPSBmdXR1cmVzLmluZGV4KCBp
dGVtICkKCQkJCQkJaW5kZXhlZCA9IGluZGV4ICsgc3RhcnRpbmcgKyAxCgkJCQkJCXRyeToKCQkJ
CQkJCWlmIGZ1dHVyZS5ydW5uaW5nKCk6CgkJCQkJCQkJYW5pbWF0ZSggIkZ1dHVyZSB0aHJlYWQg
d29ya2VycyBhcmUgc3RpbGwgcnVubmluZzoge306IHt9Ii5mb3JtYXQoIGxlbiggaWZ1dHVyZXMg
KSwgaW5kZXhlZCApLCBsb2dnZXIsIHByZWZpeCwgdGhyZWFkPWluZGV4ZWQgKQoJCQkJCQkJaWYg
ZnV0dXJlLmNhbmNlbGxlZCgpOgoJCQkJCQkJCWxvZ2dlci53YXJuaW5nKCAiRnV0dXJlIHRocmVh
ZCB3b3JrZXIgVDx7fT4gY2FuY2VsbGVkIiwgaW5kZXhlZCwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9
aW5kZXhlZCApCgkJCQkJCQkJZGVsIGlmdXR1cmVzW2lmdXR1cmVzLmluZGV4KCBpdGVtICldCgkJ
CQkJCQkJaGFzaGluZ3MuYWRkKCBoYXNobnVtICkKCQkJCQkJCQljYW5jZWxzKz0gMQoJCQkJCQkJ
CWNvbnRpbnVlCgkJCQkJCQlpZiBmdXR1cmUuZG9uZSgpOgoJCQkJCQkJCWxvZ2dlci5zdWNjZXNz
KCAiRnV0dXJlIHRocmVhZCB3b3JrZXIgVDx7fT4geWllbGRpbmciLCBpbmRleGVkLCBzdGFydD1w
cmVmaXgsIHRocmVhZD1pbmRleGVkICkKCQkJCQkJCQlkZWwgaWZ1dHVyZXNbaWZ1dHVyZXMuaW5k
ZXgoIGl0ZW0gKV0KCQkJCQkJCQl5aWVsZCBmdXR1cmUucmVzdWx0KCB0aW1lb3V0ICkKCQkJCQkJ
CQloYXNoaW5ncy5hZGQoIGhhc2hudW0gKQoJCQkJCQkJCXN1Y2Nlc3MrPSAxCgkJCQkJCQkJY29u
dGludWUKCQkJCQkJCXRocm93biA9IGZ1dHVyZS5leGNlcHRpb24oKQoJCQkJCQkJaWYgaXNpbnN0
YW5jZSggdGhyb3duLCBCYXNlRXhjZXB0aW9uICk6CgkJCQkJCQkJbG9nZ2VyLmVycm9yKCAiRnV0
dXJlIHRocmVhZCB3b3JrZXIgVDx7fT4gaXMgcmFpc2VkIHt9OiB7fSIsIGluZGV4ZWQsIHR5cGVv
ZiggdGhyb3duICksIHRyYWNlYmFjayggdGhyb3duLCAiXHgwYSIgKSwgc3RhcnQ9cHJlZml4LCB0
aHJlYWQ9aW5kZXhlZCApCgkJCQkJCQkJbG9nZ2VyLmVycm9yKCAiRnV0dXJlIHRocmVhZCB3b3Jr
ZXIgVDx7fT4gaXMgZGVsZXRlZCBmcm9tIGZ1dHVyZXMiLCBpbmRleGVkLCBzdGFydD1wcmVmaXgs
IHRocmVhZD1pbmRleGVkICkKCQkJCQkJCQlkZWwgaWZ1dHVyZXNbaWZ1dHVyZXMuaW5kZXgoIGl0
ZW0gKV0KCQkJCQkJCQloYXNoaW5ncy5hZGQoIGhhc2hudW0gKQoJCQkJCQkJCWVycm9ycys9IDEK
CQkJCQkJZXhjZXB0IFRocmVhZENhbmNlbGxlZEVycm9yOgoJCQkJCQkJbG9nZ2VyLmVycm9yKCAi
RnV0dXJlIHRocmVhZCB3b3JrZXIgY2FuY2VsbGVkOiB7fSIsIGluZGV4ZWQsIHN0YXJ0PXByZWZp
eCwgdGhyZWFkPWluZGV4ZWQgKQoJCQkJCQlleGNlcHQgVGhyZWFkVGltZW91dEVycm9yOgoJCQkJ
CQkJbG9nZ2VyLmVycm9yKCAiRnV0dXJlIHRocmVhZCB3b3JrZXIgdGltZW91dDoge30iLCBpbmRl
eGVkLCBzdGFydD1wcmVmaXgsIHRocmVhZD1pbmRleGVkICkKCQkJCQkJZXhjZXB0IEJhc2VFeGNl
cHRpb24gYXMgZToKCQkJCQkJCWxvZ2dlci5lcnJvciggIlRocmVhZCB1bmNhdWdodCB7fToge30i
LCB0eXBlb2YoIGUgKSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSwgc3RhcnQ9cHJlZml4LCB0aHJl
YWQ9aW5kZXhlZCApCgkJCQlmb3IgXywgaXRlbSBpbiBlbnVtZXJhdGUoIGZ1dHVyZXMsIDEgKToK
CQkJCQloYXNobnVtLCBmdXR1cmUgPSBpdGVtCgkJCQkJaW5kZXggPSBmdXR1cmVzLmluZGV4KCBp
dGVtICkKCQkJCQlpbmRleGVkID0gaW5kZXggKyBzdGFydGluZyArIDEKCQkJCQlpZiBoYXNobnVt
IG5vdCBpbiBoYXNoaW5nczoKCQkJCQkJdGhyb3duID0gZnV0dXJlLmV4Y2VwdGlvbigpCgkJCQkJ
CWlmIGlzaW5zdGFuY2UoIHRocm93biwgQmFzZUV4Y2VwdGlvbiApOgoJCQkJCQkJbG9nZ2VyLmVy
cm9yKCAiRnV0dXJlIHRocmVhZCB3b3JrZXIgVDx7fT4gaXMgcmFpc2VkIHt9OiB7fSIsIGluZGV4
ZWQsIHR5cGVvZiggdGhyb3duICksIHRyYWNlYmFjayggdGhyb3duLCAiXHgwYSIgKSwgc3RhcnQ9
cHJlZml4LCB0aHJlYWQ9aW5kZXhlZCApCgkJCQkJCQlsb2dnZXIuZXJyb3IoICJGdXR1cmUgdGhy
ZWFkIHdvcmtlciBUPHt9PiBpcyBkZWxldGVkIGZyb20gZnV0dXJlcyIsIGluZGV4ZWQsIHN0YXJ0
PXByZWZpeCwgdGhyZWFkPWluZGV4ZWQgKQoJCQkJCQkJZXJyb3JzKz0gMQoJCQkJCQkJY29udGlu
dWUKCQkJCQkJaWYgZnV0dXJlLmNhbmNlbGxlZCgpOgoJCQkJCQkJY2FuY2Vscys9IDEKCQkJCQkJ
CWNvbnRpbnVlCgkJCQkJCWxvZ2dlci5zdWNjZXNzKCAiRnV0dXJlIHRocmVhZCB3b3JrZXIgUDx7
fT4gdHJ5aW5nIHRvIHlpZWxkIiwgaW5kZXhlZCwgc3RhcnQ9cHJlZml4LCB0aHJlYWQ9aW5kZXhl
ZCApCgkJCQkJCXlpZWxkIGZ1dHVyZS5yZXN1bHQoIDAgKQoJCQkJCQlzdWNjZXNzKz0gMQoJCQkJ
c3RhcnRpbmcrPSBsZW4oIGZ1dHVyZXMgKQoJCQkJZGVsIGhhc2hpbmdzCgkJCQlkZWwgZnV0dXJl
cwoJCQkJZGVsIGlmdXR1cmVzCgkJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCQlsb2dn
ZXIuZXJyb3IoICJVbmNhdWdodCB7fToge30iLCB0eXBlb2YoIGUgKSwgdHJhY2ViYWNrKCBlLCAi
XHgwYSIgKSwgc3RhcnQ9cHJlZml4ICkKCQkJCWxvZ2dlci5pbmZvKCAiVGhyZWFkUG9vbEV4ZWN1
dG9yIGhhcyBiZWVuIHNodXRpbmcgZG93biIsIHN0YXJ0PXByZWZpeCApCgkJCQlwb29sLnNodXRk
b3duKCB3YWl0PUZhbHNlICkKCQkJCWJyZWFrCglsb2dnZXIuaW5mbyggIiIsIHN0YXJ0PSJceDBh
IiwgdGhyZWFkPSJUIiApCglsb2dnZXIuaW5mbyggIkEgdG90YWwgb2Yge30gd29ya2VyIHRocmVh
ZCBoYXZlIGJlZW4gZXhlY3V0ZWQiLCB0b3RhbHMsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPSJUIiAp
Cglsb2dnZXIuaW5mbyggIlRocmVhZCBleGVjdXRpb24ge30gY2FuY2VsbGVkLCB7fSBlcnJvcnMs
IGFuZCB7fSBzdWNjZXNzIiwgY2FuY2VscywgZXJyb3JzLCBzdWNjZXNzLCBzdGFydD1wcmVmaXgs
IHRocmVhZD0iVCIgKQoJbG9nZ2VyLmluZm8oICJUaHJlYWRQb29sRXhlY3V0b3IgZm9yIHt9IHN0
b3BlZCIsIG5hbWUsIHN0YXJ0PXByZWZpeCwgdGhyZWFkPSJUIiApCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
