----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gZGF0ZXRpbWUgaW1wb3J0
IGRhdGV0aW1lCmZyb20gZW51bSBpbXBvcnQgRW51bQpmcm9tIGluc3BlY3QgaW1wb3J0IGdldGZy
YW1laW5mbywgc3RhY2sKZnJvbSBvcyBpbXBvcnQgZ2V0cGlkLCBtYWtlZGlycyBhcyBta2Rpcgpm
cm9tIG9zLnBhdGggaW1wb3J0IGlzZGlyCmZyb20gcHl0eiBpbXBvcnQgdGltZXpvbmUKZnJvbSBw
eXR6LmV4Y2VwdGlvbnMgaW1wb3J0IFVua25vd25UaW1lWm9uZUVycm9yCmZyb20gcHl0ei50emlu
Zm8gaW1wb3J0IEJhc2VUekluZm8KZnJvbSByYW5kb20gaW1wb3J0IHJhbmRpbnQKZnJvbSB0eXBp
bmcgaW1wb3J0ICgKCUFueSwgCglmaW5hbCwgCglHZW5lcmljLCAKCVR1cGxlLCAKCVR5cGVWYXIg
YXMgVmFyLCAKCVVuaW9uCikKZnJvbSB0emxvY2FsIGltcG9ydCBnZXRfbG9jYWx6b25lX25hbWUg
YXMgVHpMb2NhbHpvbmVOYW1lCgpmcm9tIHs/PW1vZHVsZX0gaW1wb3J0IF9fcHJvZ3JhbV9fIGFz
IHByb2dyYW0KZnJvbSB7Pz1tb2R1bGV9LmNvbW1vbiBpbXBvcnQgY29sb3JpemUKZnJvbSB7Pz1t
b2R1bGV9LmNvbnN0YW50IGltcG9ydCBCYXNlUGF0aCwgQmFzZVZlbnYsIFVzZXJuYW1lCgoKX19h
bGxfXyA9IFsKCSJkaXNhYmxlU3RvcmVMb2ciLAoJImVuYWJsZVN0b3JlTG9nIiwKCSJMZXZlbCIs
CgkiTG9nZ2VyIiwKCSJ0aHJlc2hvbGQiCl0KCgpfQ29udGV4dCA9IFZhciggIl9Db250ZXh0IiAp
CiIiIiBDb250ZXh0IFR5cGUgIiIiCgpfRW5hYmxlU3RvcmU6Qm9vbCA9IFRydWUKIiIiIExvZ2dl
ciBlbmFibGUgc2F2ZSBsb2cgIiIiCgpfRkRhdGV0aW1lOlN0ciA9ICIlWS0lbS0lZFQlSDolTTol
UyIKIiIiIERhdGVUaW1lIGZvcm1hdHRlciAiIiIKCl9Gb3JtYXR0ZXI6U3RyID0gIntkYXRldGlt
ZX17dXRjb2Zmc2V0fSB7bGV2ZWx9IHt1c2VybmFtZX0gUHtwaWR9OlR7dGhyZWFkfSAtLS0gW3tw
cm9ncmFtfV0ge2NvbnRleHR9IDoge2xpbmVudW19IDoge21lc3NhZ2V9IgoiIiIgTG9nZ2luZyBm
b3JtYXR0ZXIgIiIiCgpfU3RyZnRpbWUgPSBWYXIoICJfU3RyZnRpbWUiLCBieXRlcywgc3RyICkK
IiIiIERhdGVUaW1lIFN0cmluZyBGb3JtYXR0ZWQgVHlwZSAiIiIKCl9VdGNvZmZzZXRzID0gVmFy
KCAiX1V0Y29mZnNldHMiLCBieXRlcywgc3RyICkKIiIiIERhdGVUaW1lIFN0cmluZyBvZiBVdGNv
ZmZzZXQgVHlwZSAiIiIKCgpkZWYgZGlzYWJsZVN0b3JlTG9nKCkgLT4gTm9uZToKCQoJIiIiIEVu
YWJsZSBzdG9yZSBsb2cgaW50byBmaWxlICIiIgoJCglnbG9iYWwgX0VuYWJsZVN0b3JlCglfRW5h
YmxlU3RvcmUgPSBGYWxzZQoKZGVmIGVuYWJsZVN0b3JlTG9nKCkgLT4gTm9uZToKCQoJIiIiIEVu
YWJsZSBzdG9yZSBsb2cgaW50byBmaWxlICIiIgoJCglnbG9iYWwgX0VuYWJsZVN0b3JlCglfRW5h
YmxlU3RvcmUgPSBUcnVlCgoKY2xhc3MgTGV2ZWwoIEVudW0gKToKCQoJIiIiIEFwcGxpY2F0aW9u
IExvZ2dlciBMZXZlbCAiIiIKCQoJQ1JJVElDQUwgPSAxCgkiIiIgQ3JpdGljYWwgIiIiCgkKCURF
QlVHID0gMAoJIiIiIERlYnVnICIiIgoJCglESVNBQkxFID0gcmFuZGludCggODk5OSwgOTk5OSAp
CgkiIiIgRGlzYWJsZSAiIiIKCQoJRVJST1IgPSAyCgkiIiIgRXJyb3IgIiIiCgkKCUlORk8gPSAz
CgkiIiIgSW5mbyAiIiIKCQoJU1VDQ0VTUyA9IDQKCSIiIiBTdWNjZXNzICIiIgoJCglWRVJCT1NF
ID0gLTk5OTkKCSIiIiBWZXJib3NlICIiIgoJCglXQVJOSU5HID0gNQoJIiIiIFdhcm5pbmcgIiIi
CgkKCS4uLgoKCl9UaHJlc2hsb2Q6TGV2ZWwgPSBMZXZlbC5JTkZPCiIiIiBMb2dnZXIgVGhyZXNo
b2xkICIiIgoKCmRlZiB0aHJlc2hvbGQoIGxldmVsOkxldmVsICkgLT4gTm9uZToKCQoJIiIiIFNl
dCBsb2dnZXIgdGhyZXNob2xkIGxldmVsICIiIgoJCglnbG9iYWwgX1RocmVzaGxvZAoJX1RocmVz
aGxvZCA9IGxldmVsCgoKY2xhc3MgTG9nZ2VyKCBHZW5lcmljW19Db250ZXh0XSApOgoJCgkiIiIK
CUFwcGxpY2F0aW9uIExvZ2dlciBJbXBsZW1lbnRhdGlvbgoJCgk+Pj4gbG9nZ2VyID0gTG9nZ2Vy
KCBDbGFzcyApCgk+Pj4gbG9nZ2VyID0gTG9nZ2VyKCBJbnN0YW5jZSApCgk+Pj4gbG9nZ2VyID0g
TG9nZ2VyKCAiY29tLmV4YW1wbGUuTWFpbiIgKQoJPj4+IGxvZ2dlci5kZWJ1ZyggIkhlbGxvIFdv
cmxkISIsICphcmdzLCAqKmt3YXJncyApCgkiIiIKCQoJX19iYXNlcGF0aDpTdHIKCSIiIiBCYXNl
cGF0aCBsb2dnaW5nIHN0b3JlZCAiIiIKCQoJX19jb250ZXh0Ol9Db250ZXh0CgkiIiIgQXBwbGlj
YXRpb24gY29udGV4dCAiIiIKCQoJX19maWxlbmFtZTpTdHIKCSIiIiBMb2dnaW5nIHN0b3JlZCBj
b250ZW50cyAiIiIKCQoJX19mb3JtYXR0ZXI6U3RyCgkiIiIgTG9nZ2luZyBtZXNzYWdlIGZvcm1h
dCAiIiIKCQoJX190aW1lem9uZTpCYXNlVHpJbmZvCgkiIiIgQ3VycmVudCBUaW1lem9uZSAiIiIK
CQoJZGVmIF9faW5pdF9fKCBzZWxmLCBjb250ZXh0Ol9Db250ZXh0LCBmb3JtYXR0ZXI6U3RyPV9G
b3JtYXR0ZXIgKSAtPiBOb25lOgoJCQoJCSIiIgoJCUNvbnN0cnVjdCBtZXRob2Qgb2YgY2xhc3Mg
TG9nZ2VyCgkJCgkJUGFyYW1ldGVyczoKCQkJY29udGV4dCAoX0NvbnRleHQpOgoJCQkJQXBwbGlj
YXRpb24gY29udGV4dCBsb2dnZXIgaW5pdGlhbAoJCQlmb3JtYXR0ZXIgKFN0cik6CgkJCQlMb2dn
ZXIgb3V0cHV0IGZvcm1hdAoJCSIiIgoJCQoJCWN1cnJ0aW1lID0gZGF0ZXRpbWUubm93KCkKCQlz
ZWxmLl9fYmFzZXBhdGggPSBmIntCYXNlUGF0aH0vbG9nZ2luZyIKCQlpZiBub3QgaXNkaXIoIHNl
bGYuYmFzZXBhdGggKToKCQkJbWtkaXIoIHNlbGYuYmFzZXBhdGggKQoJCXNlbGYuX19jb250ZXh0
ID0gY29udGV4dAoJCXNlbGYuX19maWxlbmFtZSA9IGN1cnJ0aW1lLnN0cmZ0aW1lKCBmIntzZWxm
LmJhc2VwYXRofS97cHJvZ3JhbS5sb3dlcigpfS0lWS0lbS0lZC5sb2ciICkKCQlzZWxmLl9fZm9y
bWF0dGVyID0gZm9ybWF0dGVyCgkJdHJ5OgoJCQlzZWxmLl9fdGltZXpvbmUgPSB0aW1lem9uZSgg
VHpMb2NhbHpvbmVOYW1lKCkgKQoJCWV4Y2VwdCBVbmtub3duVGltZVpvbmVFcnJvcjoKCQkJc2Vs
Zi5fX3RpbWV6b25lID0gdGltZXpvbmUoICJBc2lhL0pha2FydGEiICkKCQkuLi4KCQoJQGZpbmFs
CglAcHJvcGVydHkKCWRlZiBiYXNlcGF0aCggc2VsZiApIC0+IFN0cjoKCQkKCQkiIiIgQmFzZXBh
dGggbG9nZ2luZyBzdG9yZWQgIiIiCgkJCgkJcmV0dXJuIHNlbGYuX19iYXNlcGF0aAoJCglAZmlu
YWwKCUBwcm9wZXJ0eQoJZGVmIGNvbnRleHQoIHNlbGYgKSAtPiBTdHI6CgkJCgkJIiIiIExvZ2dl
ciBjb250ZXh0ICIiIgoJCQoJCWNvbnRleHQgPSBzZWxmLl9fY29udGV4dAoJCWlmIG5vdCBpc2lu
c3RhbmNlKCBjb250ZXh0LCBTdHIgKToKCQkJaWYgbm90IGhhc2F0dHIoIGNvbnRleHQsICJfX3F1
YWxuYW1lX18iICk6CgkJCQljb250ZXh0ID0gdHlwZSggY29udGV4dCApCgkJCWlmIGhhc2F0dHIo
IGNvbnRleHQsICJfX3F1YWxuYW1lX18iICk6CgkJCQlyZXR1cm4gZiJ7Y29udGV4dC5fX21vZHVs
ZV9ffS57Y29udGV4dC5fX3F1YWxuYW1lX199IgoJCQlyZXR1cm4gZiJ7Y29udGV4dC5fX21vZHVs
ZV9ffS57Y29udGV4dC5fX25hbWVfX30iCgkJcmV0dXJuIGNvbnRleHQKCQoJZGVmIGNyaXRpY2Fs
KCBzZWxmLCBtZXNzYWdlOlN0ciwgKmFyZ3M6QW55LCAqKmt3YXJnczpBbnkgKSAtPiBOb25lOgoJ
CXNlbGYud3JpdGUoIExldmVsLkNSSVRJQ0FMLCBtZXNzYWdlLCAqYXJncywgKiprd2FyZ3MgKQoJ
CglkZWYgZGVidWcoIHNlbGYsIG1lc3NhZ2U6U3RyLCAqYXJnczpBbnksICoqa3dhcmdzOkFueSAp
IC0+IE5vbmU6CgkJc2VsZi53cml0ZSggTGV2ZWwuREVCVUcsIG1lc3NhZ2UsICphcmdzLCAqKmt3
YXJncyApCgkKCWRlZiBlcnJvciggc2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFueSwgKiprd2Fy
Z3M6QW55ICkgLT4gTm9uZToKCQlzZWxmLndyaXRlKCBMZXZlbC5FUlJPUiwgbWVzc2FnZSwgKmFy
Z3MsICoqa3dhcmdzICkKCQoJQGZpbmFsCglAcHJvcGVydHkKCWRlZiBmaWxlbmFtZSggc2VsZiAp
IC0+IFN0cjoKCQkKCQkiIiIgTG9nZ2VyIGZpbGVuYW1lICIiIgoJCQoJCXJldHVybiBzZWxmLl9f
ZmlsZW5hbWUKCQoJQGZpbmFsCglAcHJvcGVydHkKCWRlZiBmb3JtYXR0ZXIoIHNlbGYgKSAtPiBT
dHI6CgkJCgkJIiIiIExvZ2dlciBmb21hdHRlciAiIiIKCQkKCQlyZXR1cm4gc2VsZi5fX2Zvcm1h
dHRlcgoJCglkZWYgaW5mbyggc2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFueSwgKiprd2FyZ3M6
QW55ICkgLT4gTm9uZToKCQlzZWxmLndyaXRlKCBMZXZlbC5JTkZPLCBtZXNzYWdlLCAqYXJncywg
Kiprd2FyZ3MgKQoJCglkZWYgc3VjY2Vzcyggc2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFueSwg
Kiprd2FyZ3M6QW55ICkgLT4gTm9uZToKCQlzZWxmLndyaXRlKCBMZXZlbC5TVUNDRVNTLCBtZXNz
YWdlLCAqYXJncywgKiprd2FyZ3MgKQoJCglAZmluYWwKCUBwcm9wZXJ0eQoJZGVmIHRpbWV6b25l
KCBzZWxmICkgLT4gQmFzZVR6SW5mbzoKCQkKCQkiIiIgQ3VycmVudCB0aW1lem9uZSAiIiIKCQkK
CQlyZXR1cm4gc2VsZi5fX3RpbWV6b25lCgkKCWRlZiB1dGNvZmZzZXQoIHNlbGYgKSAtPiBUdXBs
ZVtfU3RyZnRpbWUsX1V0Y29mZnNldHNdOgoJCQoJCSIiIiBSZXR1cm4gZm9ybWF0dGVkIGRhdGV0
aW1lIGFuZCB1dGNvZmZzZXQgIiIiCgkJCgkJbG9jYWx0aW1lID0gZGF0ZXRpbWUubm93KCBzZWxm
LnRpbWV6b25lICkKCQl1dGZvZmZzZXQgPSBsb2NhbHRpbWUudXRjb2Zmc2V0KCkKCQlzZWNvbmRz
ID0gdXRmb2Zmc2V0LnRvdGFsX3NlY29uZHMoKQoJCWhvdXJzLCByZW1haW5kZXIgPSBkaXZtb2Qo
IHNlY29uZHMsIDM2MDAgKQoJCW1pbnV0ZXMgPSByZW1haW5kZXIgLy8gNjAKCQlvcGVyYXRvciA9
ICIrIiBpZiBzZWNvbmRzID49IDAgZWxzZSAiLSIKCQlvZmZzZXRzID0gZiJ7b3BlcmF0b3J9e2lu
dChob3Vycyk6MDJ9OntpbnQobWludXRlcyk6MDJ9IgoJCXN0cmZ0aW1lID0gbG9jYWx0aW1lLnN0
cmZ0aW1lKCBfRkRhdGV0aW1lICkKCQlyZXR1cm4gdHVwbGUoWyBzdHJmdGltZSwgb2Zmc2V0cyBd
KQoJCglkZWYgd2FybmluZyggc2VsZiwgbWVzc2FnZTpTdHIsICphcmdzOkFueSwgKiprd2FyZ3M6
QW55ICkgLT4gTm9uZToKCQlzZWxmLndyaXRlKCBMZXZlbC5XQVJOSU5HLCBtZXNzYWdlLCAqYXJn
cywgKiprd2FyZ3MgKQoJCglkZWYgd3JpdGUoIHNlbGYsIGxldmVsOlVuaW9uW0ludCxMZXZlbCxT
dHJdLCBtZXNzYWdlOlN0ciwgKmFyZ3M6QW55LCBlbmQ6U3RyPSJceDBhIiwgc3RhcnQ6U3RyPSJc
eDBkIiwgdGhyZWFkOlVuaW9uW0ludCxTdHJdPTAsICoqa3dhcmdzOkFueSApIC0+IE5vbmU6CgkJ
CgkJIiIiCgkJTG9nZ2VyIHdyaXRlCgkJCgkJUGFyYW1ldGVyczoKCQkJbGV2ZWwgKEludHxMZXZl
bHxTdHIpOgoJCQkJTG9nZ2VyIGxvZ2dpbmcgbGV2ZWwKCQkJbWVzc2FnZSAoU3RyKToKCQkJCUxv
Z2dlciBtZXNzYWdlCgkJCWFyZ3MgKCpBbnkpOgoJCQkJTG9nZ2VyIGFyZ3VtZW50IG1lc3NhZ2UK
CQkJZW5kIChTdHIpOgoJCQkJVGhlIGVuZCBvZiBsaW5lLCBkZWZhdWx0IGlzIG5ld2xpbmUgKFxc
bikKCQkJc3RhcnQgKFN0cik6CgkJCQlQcmVmaXggb2Ygb3V0cHV0CgkJCXRocmVhZCAoSW50fFN0
cik6CgkJCQlDdXJyZW50IHRocmVhZCBwb3NpdGlvbiBudW1iZXIKCQkJa3dhcmdzICgqKkFueSk6
CgkJCQlMb2dnZXIga2V5IGFyZ3VtZW50IG1lc3NhZ2UKCQkiIiIKCQkKCQlzdGFja3MgPSBzdGFj
aygpCgkJcHJvZ3BpZCA9IHN0ciggZ2V0cGlkKCkgKQoJCWluZnJhbWUgPSBnZXRmcmFtZWluZm8o
IHN0YWNrc1syXVswXSApCgkJbGluZW51bSA9IHN0ciggaW5mcmFtZS5saW5lbm8gKQoJCWNvbnRl
eHQgPSBmIntzZWxmLmNvbnRleHR9LntpbmZyYW1lLmZ1bmN0aW9ufSIKCQljb250ZXh0ID0gY29u
dGV4dCBcCgkJCS5yZXBsYWNlKCAiX19tYWluX18iLCBwcm9ncmFtLmxvd2VyKCkgKSBcCgkJCS5y
ZXBsYWNlKCAiPG1vZHVsZT4iLCAiaW52b2tlIiApCgkJc3RyZnRpbWUsIG9mZnNldHMgPSBzZWxm
LnV0Y29mZnNldCgpCgkJbGV2ZWxuYW1lID0gbGV2ZWwKCQlpZiBpc2luc3RhbmNlKCBsZXZlbCwg
SW50ICk6CgkJCWxldmVsID0gTGV2ZWwoIHZhbHVlPTAgKQoJCWlmIGlzaW5zdGFuY2UoIGxldmVs
LCBMZXZlbCApOgoJCQlsZXZlbG5hbWUgPSBsZXZlbC5uYW1lCgkJdGhyZWFkID0gc3RyKCB0aHJl
YWQgKQoJCWZvcm1hdHRlZCA9IHNlbGYuZm9ybWF0dGVyLmZvcm1hdCgKCQkJZGF0ZXRpbWU9c3Ry
ZnRpbWUsCgkJCWNvbnRleHQ9Y29udGV4dFs6MzhdLmxqdXN0KCAzOCApLAoJCQlwcm9ncmFtPXBy
b2dyYW1bOjE2XS5sanVzdCggMTYgKSwKCQkJdXNlcm5hbWU9VXNlcm5hbWVbOjZdLmNlbnRlcigg
NiApLAoJCQl1dGNvZmZzZXQ9b2Zmc2V0c1s6Nl0ubGp1c3QoIDYgKSwKCQkJbGV2ZWw9bGV2ZWxu
YW1lWzo4XS5jZW50ZXIoIDggKSwKCQkJbGluZW51bT1saW5lbnVtWzo0XS5sanVzdCggNCApLAoJ
CQl0aHJlYWQ9dGhyZWFkWzo0XS5sanVzdCggNCApLAoJCQlwaWQ9cHJvZ3BpZFs6Nl0ubGp1c3Qo
IDYgKSwKCQkJbWVzc2FnZT1tZXNzYWdlLmZvcm1hdCggKmFyZ3MsICoqa3dhcmdzICkKCQkpCgkJ
aWYgX0VuYWJsZVN0b3JlIGlzIFRydWU6CgkJCXdpdGggb3Blbiggc2VsZi5maWxlbmFtZSwgImEi
LCBlbmNvZGluZz0iVVRGLTgiICkgYXMgZm9wZW46CgkJCQlmb3Blbi53cml0ZSggZm9ybWF0dGVk
LnJlcGxhY2UoICJceDBhIiwgIlxcbiIgKSApCgkJCQlmb3Blbi53cml0ZSggIlx4MGEiICkKCQkJ
CWZvcGVuLmNsb3NlKCkKCQlpZiBub3QgaXNpbnN0YW5jZSggbGV2ZWwsIFN0ciApIGFuZCBsZXZl
bC52YWx1ZSA+PSBfVGhyZXNobG9kLnZhbHVlOgoJCQlvdXRwdXQgPSBjb2xvcml6ZSggZm9ybWF0
dGVkICkgXAoJCQkJLnJlcGxhY2UoIEJhc2VQYXRoLCAie2Jhc2VwYXRofSIgKSBcCgkJCQkucmVw
bGFjZSggQmFzZVZlbnYsICJ7dmlydHVhbH0iICkKCQkJcHJpbnQoICIiLmpvaW4oWyBzdGFydCwg
b3V0cHV0IF0pLCBlbmQ9ZW5kICkKCQkuLi4KCQoJLi4uCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
