IyEvdXNyL2Jpbi9lbnYgYmFzaAoKez89Y29tbWVudH0KIyBTdWJzaGVsbCBzdGF0dXMgY29kZQoj
IEp1c3QgZm9yIGNvbnRhaW5lciBsYXN0IHN1YnNoZWxsIGV4aXQgY29kZS4KU1VCU0hFTExTVEFU
VVM9CgojIEN1cnJlbnQgZmlsZW5hbWUuCl9fbmFtZV9fPSIkMCIKCiMgVGFyZ2V0IGJhc2VuYW1l
LgpwYXRobmFtZT0kKGJhc2VuYW1lICRfX25hbWVfXykKCiMgQ2hhbmdlIGN1cnJlbnQgd29ya2lu
ZyBkaXJlY3RvcnkuCmNkICQoZGlybmFtZSAkX19uYW1lX18pCgojIEl0ZXJhdGUgZG93biBhIChw
b3NzaWJsZSkgY2hhaW4gb2Ygc3ltbGlua3MuCndoaWxlIFsgLUwgIiRwYXRobmFtZSIgXQpkbwog
ICAgcGF0aG5hbWU9JChyZWFkbGluayAkcGF0aG5hbWUpCiAgICBjZCAkKGRpcm5hbWUgJHBhdGhu
YW1lKQogICAgcGF0aG5hbWU9JChiYXNlbmFtZSAkcGF0aG5hbWUpCmRvbmUKCiMgQ2xlYXIgdGhl
IHRlcm1pbmFsIHNjcmVlbnMuCmNsZWFyCgojIEdldCBjdXJyZW50IGFwcGxpY2F0aW9uIGJhc2Vw
YXRoLgpiYXNlcGF0aD0kKHB3ZCkKCiMgRm9yIGNvbXBhdGliaWx0eSBzeXN0ZW0uCmlmIFtbICEg
JChjb21tYW5kIC12IHB1dHMpIF1dOyB0aGVuCgkKCSMgUHV0cyBpcyBhIHByZXR0eSBjb21tYW5k
IGxpbmUgb3V0cHV0IChqdXN0IGZvciBteSBvcyBvbmx5KQoJZnVuY3Rpb24gcHV0cygpIHsKCQll
Y2hvIC1lICJceDFiWzBtJEAiCgl9CmZpCgojIENoZWNrIGlmIGRlZmF1bHQgdmlydHVhbCBlbnZp
cm9ubWVudCB2YXJpYWJsZSAoZG9lcyBub3Qgc2V0IG9yIGJsYW5rKS4KaWYgW1sgISAtbiAkVklS
VFVBTCBdXTsgdGhlbgoJZXhwb3J0IFZJUlRVQUw9L2hvbWUvdmlydHVhbC9iaW4vYWN0aXZhdGUK
ZmkKCmZ1bmN0aW9uIG1haW4oKSB7CgkKCSMgUHJvZ3JhbSBhY3Rpb24uCglsb2NhbCBhY3Rpb249
IiIKCWlmIFtbIC1uICIkMSIgXV07IHRoZW4KCQlhY3Rpb249JChlY2hvICIkMSIgfCBncmVwIC1v
UCAiXFt7Mn1cSyhbXlxdXSspIiB8fCBlY2hvICIiKQoJCWlmIFtbICJbWyRhY3Rpb25dXSIgIT0g
IiQxIiBdXTsgdGhlbgoJCQl1bnNldCBhY3Rpb24KCQlmaQoJZmkKCQoJIyBQcm9ncmFtIGFyZ3Vt
ZW50IHZhbHVlcy4KCWxvY2FsIGFyZ3VtZW50cz0oKQoJbG9jYWwgaT0xCglmb3IgYXJndW1lbnQg
aW4gJHtAfTsgZG8KCQlpZiBbWyAkaSAtbmUgMSBdXSB8fCBbWyAteiAiJGFjdGlvbiIgXV07IHRo
ZW4KCQkJYXJndW1lbnRzKz0oICIkYXJndW1lbnQiICkKCQlmaQoJCWk9JCgoaSsxKSkKCWRvbmUK
CQoJIyBEZWZhdWx0IGZpbGVlIGNvbmZpZ3VyYXRpb25zLgoJbG9jYWwgY29uZmlnPSR7YmFzZXBh
dGh9Ly5jb25maWcKCQoJIyBEZWZhdWx0IGFwcGxpY2F0aW9uIGNvbmZpZ3VyYXRpb25zLgoJZGVj
bGFyZSAtQSBjb25maWdzPSgKCQlbYnJhbmNoXT0KCQlbY2hlY2tlZF09ZmFsc2UKCQlbY2xlYW5d
PXRydWUKCQlbY29tcHJlc3NdPXRhcgoJCVtlbnZpcm9ubWVudF09ZGV2ZWxvcG1lbnQKCQlbaW5j
bHVkZV09JHtpbmNsdWRlc1tAXX0KCQlbbGlicmFyeV09CgkJW3BhY2thZ2VzXT0KCQlbcHJvZ3Jh
bV09ZXhhbXBsZQoJCVtyZXBvc2l0b3J5XT0KCQlbcm9vdF09ZmFsc2UKCQlbc2VydmVyc109CgkJ
W3ZlcnNpb25dPTEuMC4wCgkJW3ZpcnR1YWxdPSR7VklSVFVBTH0KCQlbdmlydHVhbGl6ZV09dHJ1
ZQoJKQoJCgkjIERlZmF1bHQgaW5jbHVkZXMgZmlsZXMgYW5kIGRpcmVjdG9yaWVzIG9uIGJhY2t1
cC4KCWxvY2FsIGluY2x1ZGVzPSgKCQkiLmdpdCIKCQkiLmdpdGlnbm9yZSIKCQkiLmdpdGh1YiIK
CQkiTElDRU5TRSIKCQkicHlwcm9qZWN0LnRvbWwiCgkJIlJFQURNRS5tZCIKCQkicmVxdWlyZW1l
bnRzLnR4dCIKCQkicmVzb3VyY2VzIgoJCSJzZXR1cC5weSIKCQkic3JjIgoJKQoJCgkjIFJlcGxh
Y2UgYWxsIHNwYWNlcyBpbnRvIGNvbW1hIGFzIHNlcGFyYXRvci4KCSMgQW5kIHBsZWFzZSBkb24n
dCB1c2Ugc3BhY2VzIGZvciBmaWxlIG9yIGRpcmVjdG9yeSBuYW1lIQoJY29uZmlnc1tpbmNsdWRl
XT0iJHtjb25maWdzW2luY2x1ZGVdLy8gLyx9IgoJCgkjIEhhbmRsZSBhY3RpdmF0ZSB2aXJ0dWFs
IGVudmlyb25tZW50LgoJZnVuY3Rpb24gYWN0aXZhdGUoKSB7CgkJbG9jYWwgY29tbWFuZD0KCQls
b2NhbCBjcmVhdGU9CgkJbG9jYWwgZmlsZW5hbWU9CgkJbG9jYWwgaW5zdGFsbD0KCQlsb2NhbCBt
bmFtZT0KCQlsb2NhbCBtdmVyc2lvbj0KCQlsb2NhbCBtb3BlcmF0b3I9CgkJbG9jYWwgcmVxdWly
ZW1lbnQ9IiR7YmFzZXBhdGh9L3JlcXVpcmVtZW50cy50eHQiCgkJbG9jYWwgcmVxdWlyZW1lbnRz
PSgpCgkJaWYgW1sgJHtjb25maWdzW3ZpcnR1YWxpemVdfSA9PSBmYWxzZSBdXTsgdGhlbgoJCQly
ZXR1cm4gMAoJCWVsaWYgW1sgLXogJHtjb25maWdzW3ZpcnR1YWxdfSBdXTsgdGhlbgoJCQlwdXRz
ICIgIDw8LSBpID4gYWN0aXZhdGU6IHZlbnYgZW52aXJvbm1lbnQgYWN0aXZhdGlvbjogZS5nIC9w
YXRoL3RvL3ZlbnYvYmluL2FjdGl2YXRlIgoJCQl3aGlsZSBbWyAhIC1mICRmaWxlbmFtZSBdXTsg
ZG8KCQkJCXN0ZGluICJmaWxlbmFtZSIgIjw8LSByID4gdmlydHVhbDoiCgkJCQlpZiBbWyAiJGZp
bGVuYW1lIiA9ICIiIF1dOyB0aGVuCgkJCQkJY29udGludWUKCQkJCWVsaWYgW1sgISAtZiAiJGZp
bGVuYW1lIiBdXTsgdGhlbgoJCQkJCXRhcmdldD0kKGRpcm5hbWUgIiR7ZmlsZW5hbWV9IikKCQkJ
CQlpZiBbWyAiJHRhcmdldCIgPT0gIi4iIF1dOyB0aGVuCgkJCQkJCXRhcmdldD0kKHB3ZCkKCQkJ
CQlmaQoJCQkJCXdoaWxlIFtbICRjcmVhdGUgPT0gIiIgXV07IGRvCgkJCQkJCXN0ZGluICJjcmVh
dGUiICI8PC0gciA+IGFjdGl2YXRlOiBjcmVhdGUgdGhlIHZpcnR1YWwgZW52aXJvbm1lbnQgaGVy
ZSBcIiR7dGFyZ2V0fVwiIHdpdGggbmFtZSBcIiR7ZmlsZW5hbWV9XCIgW1kvbl0iCgkJCQkJCWlm
IFtbICRjcmVhdGUgPT0gIiIgXV07IHRoZW4KCQkJCQkJCWNyZWF0ZT15CgkJCQkJCWZpCgkJCQkJ
CWNyZWF0ZT0iJHtjcmVhdGUsLH0iCgkJCQkJCWlmIFtbICIkY3JlYXRlIiA9PSAieSIgXV07IHRo
ZW4KCQkJCQkJCXB1dHMgIiAgPDwtIGkgPiBhY3RpdmF0ZTogY3JlYXRpbmcgdmlydHVhbCBlbnZp
cm9ubWVudCBvbiBcIiR7dGFyZ2V0fVwiIgoJCQkJCQkJcHl0aG9uMyAtbSB2ZW52ICR7dGFyZ2V0
fQoJCQkJCQkJaWYgW1sgJD8gLWVxIDAgXV07IHRoZW4KCQkJCQkJCQljb25maWdzW3ZpcnR1YWxd
PSRmaWxlbmFtZQoJCQkJCQkJCXB1dHMgIiAgPDwtIGkgPiBhY3RpdmF0ZTogc3VjY2VzcyBjcmVh
dGVkIHZpcnR1YWwgZW52aXJvbm1lbnQgb24gXCIke3RhcmdldH1cIiIKCQkJCQkJCWZpCgkJCQkJ
CQljcmVhdGU9CgkJCQkJCQlicmVhawoJCQkJCQllbGlmIFtbICIkY3JlYXRlIiA9PSAibiIgXV07
IHRoZW4KCQkJCQkJCWNyZWF0ZT0KCQkJCQkJCWJyZWFrCgkJCQkJCWVsc2UKCQkJCQkJCWNyZWF0
ZT0KCQkJCQkJZmkKCQkJCQlkb25lCgkJCQllbHNlCgkJCQkJY29uZmlnc1t2aXJ0dWFsXT0kZmls
ZW5hbWUKCQkJCQlicmVhawoJCQkJZmkKCQkJZG9uZQoJCQlzdGRpbiAiaW5zdGFsbCIgIjw8LSBy
ID4gYWN0aXZhdGU6IHJlcXVpcmVtZW50OiBpbnN0YWxsIGFsbCByZXF1aXJlbWVudCBtb2R1bGVz
IFtZL25dIgoJCQlpbnN0YWxsPSIke2luc3RhbGwsLH0iCgkJCWlmIFtbICIkaW5zdGFsbCIgPT0g
InkiIF1dOyB0aGVuCgkJCQlwaXAgaW5zdGFsbCAtciAiJHJlcXVpcmVtZW50IgoJCQkJaWYgW1sg
JD8gLWVxIDEgXV07IHRoZW4KCQkJCQlwdXRzICIgIDw8LSBlID4gYWN0aXZhdGU6IHJlcXVpcmVt
ZW50OiBmYWlsZWQgaW5zdGFsbCByZXF1aXJlbWVudCBweXRob24gbW9kdWxlcyIKCQkJCQlyZXR1
cm4gMQoJCQkJZmkKCQkJCWNvbmZpZ3NbY2hlY2tlZF09dHJ1ZQoJCQkJaW5zdGFsbD0KCQkJCWJy
ZWFrCgkJCWVsaWYgW1sgIiRpbnN0YWxsIiA9PSAibiIgXV07IHRoZW4KCQkJCXB1dHMgIiAgPDwt
IGUgPiBhY3RpdmF0ZTogcmVxdWlyZW1lbnQ6IGFib3J0ZWQiCgkJCQlyZXR1cm4gMQoJCQllbHNl
CgkJCQlpbnN0YWxsPQoJCQlmaQoJCQljb25maWcgLS13cml0ZQoJCWVsaWYgW1sgISAtZiAke2Nv
bmZpZ3NbdmlydHVhbF19IF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGkgPiBhY3RpdmF0ZTogJHtj
b25maWdzW3ZpcnR1YWxdfTogbm8gc3VjaCBmaWxlIG9yIGRpcmVjdG9yeSIKCQkJY29uZmlnc1t2
aXJ0dWFsXT0KCQkJYWN0aXZhdGUKCQkJcmV0dXJuICQ/CgkJZmkKCQlzb3VyY2UgJHtjb25maWdz
W3ZpcnR1YWxdfQoJCWlmIFtbICQ/IC1uZSAwIF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtICEgPiBh
Y3RpdmF0ZTogc29tZXRoaW5nIHdyb25nIHdoZW4gYWN0aXZhdGUgdmlydHVhbCBlbnZpcm9ubWVu
dCIKCQkJcmV0dXJuIDEKCQlmaQoJCWlmIFtbICR7Y29uZmlnc1tjaGVja2VkXX0gIT0gdHJ1ZSBd
XSAmJiBbWyAtZiAkcmVxdWlyZW1lbnQgXV07IHRoZW4KCQkJcmVhZGFycmF5IC10IHJlcXVpcmVt
ZW50cyA8ICIkcmVxdWlyZW1lbnQiCgkJCWZvciBtb2R1bGUgaW4gJHtyZXF1aXJlbWVudHNbQF19
OyBkbwoJCQkJbW5hbWU9JChlY2hvICIkbW9kdWxlIiB8IHNlZCAtRSAicy8oXlthLXpBLVowLTlf
LV0rKS4qL1wxLyIpCgkJCQltdmVyc2lvbj0kKGVjaG8gIiRtb2R1bGUiIHwgc2VkIC1FICJzL15b
YS16QS1aMC05Xy1dKyg+PXw8PXw9PXw+fDx8PSkoWzAtOVwuXSspL1wyLyIpCgkJCQltb3BlcmF0
b3I9JChlY2hvICIkbW9kdWxlIiB8IHNlZCAtRSAicy9eW2EtekEtWjAtOV8tXSsoPj18PD18PT18
Pnw8fD0pKFswLTlcLl0rKS9cMS8iKQoJCQkJaWYgW1sgJChwaXAgbGlzdCB8IGdyZXAgIiRtbmFt
ZSIgfCBncmVwICIkbXZlcnNpb24iKSA9PSAiIiBdXTsgdGhlbgoJCQkJCXB1dHMgIiAgPDwtIGkg
PiBkZXBlbmRlbmN5OiBtb2R1bGU6ICR7bW9kdWxlfTogcHl0aG9uIG1vZHVsZSBpcyBub3QgaW5z
dGFsbGVkIgoJCQkJCXN0ZGluICJpbnN0YWxsIiAiPDwtIHIgPiBkZXBlbmRlbmN5OiBtb2R1bGU6
ICR7bW9kdWxlfTogaW5zdGFsbCB0aGlzIG1vZHVsZSBbWS9uXSIKCQkJCQlpbnN0YWxsPSIke2lu
c3RhbGwsLH0iCgkJCQkJaWYgW1sgIiRpbnN0YWxsIiA9PSAieSIgXV07IHRoZW4KCQkJCQkJY29t
bWFuZD0icGlwIGluc3RhbGwgJHttb2R1bGV9IgoJCQkJCQlwdXRzICIgIDw8LSBpID4gZGVwZW5k
ZW5jeTogbW9kdWxlOiAke21vZHVsZX06ICR7Y29tbWFuZH0iCgkJCQkJCXB1dHMgIiAgPDwtIGkg
PiBkZXBlbmRlbmN5OiBtb2R1bGU6ICR7bW9kdWxlfTogcGlwOiBpbnN0YWxsaW5nIHB5dGhvbiBt
b2R1bGUiCgkJCQkJCXN1YnNoZWxsICIkY29tbWFuZCIgIjw8LSBpID4gZGVwZW5kZW5jeTogbW9k
dWxlOiAke21vZHVsZX06IHBpcDoge3N0ZG91dH0iCgkJCQkJCWlmIFtbICRTVUJTSEVMTFNUQVRV
UyAtZXEgMSBdXTsgdGhlbgoJCQkJCQkJcHV0cyAiICA8PC0gZSA+IGRlcGVuZGVuY3k6IG1vZHVs
ZTogJHttb2R1bGV9OiBwaXA6IGZhaWxlZCBpbnN0YWxsIHB5dGhvbiBtb2R1bGUiCgkJCQkJCQly
ZXR1cm4gMQoJCQkJCQlmaQoJCQkJCQl1bnNldCBJRlMKCQkJCQkJaW5zdGFsbD0KCQkJCQkJYnJl
YWsKCQkJCQllbGlmIFtbICIkaW5zdGFsbCIgPT0gIm4iIF1dOyB0aGVuCgkJCQkJCXB1dHMgIiAg
PDwtIGUgPiBkZXBlbmRlbmN5OiBtb2R1bGU6IGFib3J0ZWQiCgkJCQkJCXJldHVybiAxCgkJCQkJ
ZWxzZQoJCQkJCQlpbnN0YWxsPQoJCQkJCWZpCgkJCQlmaQoJCQlkb25lCgkJZmkKCX0KCQoJIyBS
ZXR1cm4gYXJjaGl2ZSBmaWxlbmFtZS4KCWZ1bmN0aW9uIGFyY2hpdmUoKSB7CgkJbG9jYWwgY29t
cHJlc3Npb249JHtjb25maWdzW2NvbXByZXNzXX0KCQlpZiBbWyAtbiAkMSBdXTsgdGhlbgoJCQlj
b21wcmVzc2lvbj0kMQoJCWZpCgkJbG9jYWwgZXh0ZW5zaW9uPSJ0YXIuZ3oiCgkJaWYgW1sgLW4g
JDIgXV07IHRoZW4KCQkJZXh0ZW5zaW9uPSQyCgkJZmkKCQlpZiBbWyAiJGNvbXByZXNzaW9uIiA9
fiBeKHRhcnx6aXApJCBdXTsgdGhlbgoJCQlpZiBbWyAiJGNvbXByZXNzaW9uIiA9PSAiemlwIiBd
XTsgdGhlbgoJCQkJZXh0ZW5zaW9uPSJ6aXAiCgkJCWZpCgkJCWVjaG8gIiR7Y29uZmlnc1twcm9n
cmFtXSwsfS0ke2NvbmZpZ3NbdmVyc2lvbl19LiR7ZXh0ZW5zaW9ufSIKCQlmaQoJfQoJCgkjIEhh
bmRsZSBjcmVhdGUgcHJvZ3JhbSBhcmNoaXZlLgoJIyBleGVjdXRlOiBiYWNraW5nIFthcmd1bWVu
dHNdCglmdW5jdGlvbiBiYWNraW5nKCkgewoJCWxvY2FsIGFyY2hpdmU9JChhcmNoaXZlICRAKQoJ
CWxvY2FsIGNvbXByZXNzaW9uPSR7Y29uZmlnc1tjb21wcmVzc119CgkJaWYgW1sgLW4gJDEgXV07
IHRoZW4KCQkJY29tcHJlc3Npb249JDEKCQlmaQoJCWlmIFtbIC16ICRhcmNoaXZlIF1dOyB0aGVu
CgkJCXB1dHMgIiAgPDwtIGUgPiBiYWNraW5nOiAke2NvbXByZXNzaW9ufTogdW5zdXBwb3J0ZWQg
Y29tcHJlc3Npb24iCgkJCXJldHVybiAxCgkJZmkKCQlsb2NhbCBmaWxlbmFtZXM9KCkKCQlsb2Nh
bCBhcmd1bWVudHM9KCkKCQlpZiBbWyAiJGNvbXByZXNzaW9uIiA9PSAidGFyIiBdXTsgdGhlbgoJ
CQlhcmd1bWVudHMrPSggIi1jdmYiICkKCQlmaQoJCUlGUz0iLCIgcmVhZCAtciAtYSBmaWxlbmFt
ZXMgPDw8ICIke2NvbmZpZ3NbaW5jbHVkZV19IgoJCXVuc2V0IElGUwoJCWZvciBpbmRleCBpbiAk
eyFmaWxlbmFtZXNbQF19OyBkbwoJCQlsb2NhbCBmaWxlbmFtZT0ke2ZpbGVuYW1lc1skaW5kZXhd
fQoJCQlpZiBbWyAhIC1kICRmaWxlbmFtZSBdXSAmJiBbWyAhIC1mICRmaWxlbmFtZSBdXTsgdGhl
bgoJCQkJdW5zZXQgZmlsZW5hbWVzWyRpbmRleF0KCQkJZmkKCQlkb25lCgkJbG9jYWwgaW5kZXg9
MQoJCWxvY2FsIGxlbmd0aD0keyNmaWxlbmFtZXNbQF19CgkJbG9jYWwgc3BhY2VzPSIiCgkJbG9j
YWwgY29tbWFuZD0iJGNvbXByZXNzaW9uICR7YXJndW1lbnRzW0BdfSIKCQlmb3IgKCggaT0wOyBp
PCR7I2NvbW1hbmR9OyBpKysgKSk7IGRvCgkJCXNwYWNlcys9IiAiCgkJZG9uZQoJCWxvY2FsIGNv
bW1hbmQ9IiRjb21wcmVzc2lvbiAke2FyZ3VtZW50c1tAXX0gJGFyY2hpdmUgJHtmaWxlbmFtZXNb
QF19IgoJCXB1dHMgIiAgPDwtIGkgPiBiYWNraW5nOiBjcmVhdGluZyBhcmNoaXZlIHdpdGggXCIk
e2NvbXByZXNzaW9ufVwiIGNvbXByZXNzaW9uIgoJCXB1dHMgIiAgPDwtIGkgPiBiYWNraW5nOiAk
Y29tcHJlc3Npb24gJHthcmd1bWVudHNbQF19ICR7YmFzZXBhdGh9LyRhcmNoaXZlIFxcIgoJCWZv
ciBmaWxlbmFtZSBpbiAke2ZpbGVuYW1lc1tAXX07IGRvCgkJCWlmIFtbICRpbmRleCAtbHQgJGxl
bmd0aCBdXTsgdGhlbgoJCQkJcHV0cyAiICA8PC0gaSA+IGJhY2tpbmc6ICR7c3BhY2VzfSAke2Jh
c2VwYXRofS8ke2ZpbGVuYW1lfSBcXCIKCQkJZWxzZQoJCQkJcHV0cyAiICA8PC0gaSA+IGJhY2tp
bmc6ICR7c3BhY2VzfSAke2Jhc2VwYXRofS8ke2ZpbGVuYW1lfSIKCQkJZmkKCQkJaW5kZXg9JCgo
aW5kZXgrMSkpCgkJZG9uZQoJCXN1YnNoZWxsICIkY29tbWFuZCIgIjw8LSBpID4gYmFja2luZzog
JHtjb21wcmVzc2lvbn06IHtzdGRvdXR9IgoJCWlmIFtbICRTVUJTSEVMTFNUQVRVUyAtZXEgMCBd
XTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4gYmFja2luZzogJHtjb21wcmVzc2lvbn06IGFyY2hp
dmU6IGZpbGVuYW1lOiAke2FyY2hpdmV9IgoJCQlwdXRzICIgIDw8LSBpID4gYmFja2luZzogJHtj
b21wcmVzc2lvbn06IGFyY2hpdmU6IGZ1bGxuYW1lOiAke2Jhc2VwYXRofS8ke2FyY2hpdmV9IgoJ
CQlyZXR1cm4gMAoJCWZpCgkJcHV0cyAiICA8PC0gaSA+IGJhY2tpbmc6ICR7Y29tcHJlc3Npb259
OiBzb21ldGhpbmcgd3Jvbmcgd2hlbiBjcmVhdGluZyBhcmNoaXZlIGZpbGUiCgkJcmV0dXJuIDEK
CX0KCQoJIyBIYW5kbGUgZ2l0IGF1dG8gY29tbWl0IGZvciBhZGRlZCBvciBtb2RpZmllbmQgZmls
ZXMuCglmdW5jdGlvbiBjb21taXRzKCkgewoJCWlmIFtbICEgLWQgJHtiYXNlcGF0aH0vLmdpdCBd
XTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gY29tbWl0czogLmdpdDogbm8gc3VjaCBkaXJlY3Rv
cnkiCgkJCXJldHVybiAxCgkJZmkKCQlsb2NhbCBicmFuY2g9JHtjb25maWdzW2JyYW5jaF19CgkJ
aWYgW1sgLXogJGJyYW5jaCBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4gY29tbWl0czogYnJh
bmNoOiBuYW1lIG5vdCBkZWZpbmVkIGluIGNvbmZpZyIKCQkJc3RkaW4gImJyYW5jaCIgIjw8LSBy
ID4gY29tbWl0czogYnJhbmNoOiIKCQlmaQoJCXdoaWxlIFtbICEgJChnaXQgbHMtcmVtb3RlIG9y
aWdpbiAiJGJyYW5jaCIpIF1dOyBkbwoJCQlwdXRzICIgIDw8LSBlID4gY29tbWl0czogYnJhbmNo
OiAke2JyYW5jaH06IG5vIHN1Y2ggb3JpZ2luIGJyYW5jaCIKCQkJYnJhbmNoPQoJCQlzdGRpbiAi
YnJhbmNoIiAiPDwtIHIgPiBjb21taXRzOiBicmFuY2g6IgoJCWRvbmUKCQlpZiBbWyAiJGJyYW5j
aCIgIT0gIiQoZ2l0IGJyYW5jaCAtLXNob3ctY3VycmVudCkiIF1dOyB0aGVuCgkJCXN1YnNoZWxs
ICJnaXQgY2hlY2tvdXQgJGJyYW5jaCIgIjw8LSBpID4gY29tbWl0czogZ2l0OiBjaGVja291dDog
e3N0ZG91dH0iCgkJZmkKCQlsb2NhbCBmaWxlbmFtZXM9KCkKCQlsb2NhbCBvcHRpb25zPSgpCgkJ
aWYgW1sgJChnaXQgY29uZmlnIC0tZ2V0IGNvbW1pdC5ncGdTaWduKSBdXTsgdGhlbgoJCQlvcHRp
b25zKz0oICItUyIgKQoJCWZpCgkJb3B0aW9ucys9KCAiLW0iICkKCQlsb2NhbCBzdGF0dXNlcz0o
KQoJCXB1dHMgIiAgPDwtIGUgPiBjb21taXRzOiBzY2FubmluZyBmaWxlcyIKCQlyZWFkYXJyYXkg
LXQgc3RhdHVzZXMgPCA8KGdpdCBzdGF0dXMgLS1zaG9ydCkKCQlmb3Igc3Rkb3V0IGluICIke3N0
YXR1c2VzW0BdfSI7IGRvCgkJCWxvY2FsIGFwcGVuZD0KCQkJbG9jYWwgZmlsZW5hbWU9IiR7c3Rk
b3V0OjN9IgoJCQlsb2NhbCBtZXNzYWdlcz0KCQkJbG9jYWwgc3RhdHVzPSIke3N0ZG91dDowOjJ9
IgoJCQlzdGF0dXM9JHtzdGF0dXMvIC99CgkJCXN0ZGluICJhcHBlbmQiICI8PC0gciA+IGNvbW1p
dHM6ICR7ZmlsZW5hbWV9OiAke3N0YXR1c306IGFkZCB0aGlzIGZpbGUgW1kvbl0iICJOIgoJCQlp
ZiBbWyAiJHthcHBlbmReXn0iID09ICJZIiBdXTsgdGhlbgoJCQkJaWYgW1sgIiR7c3RhdHVzLyAv
fSIgPT0gIk0iIF1dOyB0aGVuCgkJCQkJZ2l0IGRpZmYgIiRmaWxlbmFtZSIKCQkJCWZpCgkJCQlw
dXRzICIgIDw8LSBpID4gY29tbWl0czogZ2l0OiBhZGQgXCIkZmlsZW5hbWVcIiIKCQkJCWdpdCBh
ZGQgIiRmaWxlbmFtZSIKCQkJCXN0ZGluICJtZXNzYWdlcyIgIjw8LSByID4gY29tbWl0czogJHtm
aWxlbmFtZX06IG1lc3NhZ2VzOiIKCQkJCXB1dHMgIiAgPDwtIGkgPiBjb21taXRzOiBnaXQ6IGNv
bW1pdCAke29wdGlvbnNbQF19IFwiJHttZXNzYWdlcy8vXCIvXFxcIn1cIiIKCQkJCWdpdCBjb21t
aXQgJHtvcHRpb25zW0BdfSAiJG1lc3NhZ2VzIgoJCQkJaWYgW1sgJHtQSVBFU1RBVFVTWzBdfSAt
bmUgMCBdXTsgdGhlbgoJCQkJCXB1dHMgIiAgPDwtIGkgPiBjb21taXRzOiBnaXQ6IHNvbWV0aGlu
ZyB3cm9uZyB3aGVuIGNyZWF0ZSBjb21taXQiCgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCQlmaWxl
bmFtZXMrPSggIiRmaWxlbmFtZSIgKQoJCQlmaQoJCWRvbmUKCQlpZiBbWyAkeyNmaWxlbmFtZXNb
QF19IC1uZSAwIF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGkgPiBjb21taXRzOiBnaXQ6IHB1c2g6
IG9yaWdpbiBcIiRicmFuY2hcIiIKCQkJZ2l0IHB1c2ggb3JpZ2luICIkYnJhbmNoIgoJCQlpZiBb
WyAke1BJUEVTVEFUVVNbMF19IC1uZSAwIF1dOyB0aGVuCgkJCQlwdXRzICIgIDw8LSBlID4gY29t
bWl0czogZ2l0OiBwdXNoOiBlcnJvciB3aGVuIHB1c2ggaW50byByZW1vdGUgcmVwb3NpdG9yeSIK
CQkJCXJldHVybiAxCgkJCWZpCgkJZmkKCX0KCQoJIyBIYW5kbGUgcmVhZCBhbmQgd3JpdGUgYXBw
bGljYXRpb24gY29uZmlndXJhdGlvbiBlLmcgcmVhZCBhbmQgd3JpdGUgY29uZmlncy4KCSMgZXhl
Y3V0ZTogY29uZmlnIC0tcmVhZHx3cml0ZQoJZnVuY3Rpb24gY29uZmlnKCkgewoJCWxvY2FsIGFj
dGlvbj0kMQoJCWxvY2FsIGtleXNldD0KCQlsb2NhbCBrZXlzZXRzPSgpCgkJZm9yIGtleXNldCBp
biAkeyFjb25maWdzW0BdfTsgZG8KCQkJa2V5c2V0cys9KCAka2V5c2V0ICkKCQlkb25lCgkJbG9j
YWwgY29udGVudHM9KCkKCQlsb2NhbCB2YWx1ZXM9CgkJaWYgW1sgIiRhY3Rpb24iID09ICItLXJl
YWQiIF1dOyB0aGVuCgkJCXdoaWxlIElGUz0iIiByZWFkIC1yIGxpbmU7IGRvCgkJCQlpZiBbWyAt
eiAiJGxpbmUiIF1dIHx8IFtbICR7bGluZTowOjF9ID09ICIjIiBdXTsgdGhlbgoJCQkJCWNvbnRp
bnVlCgkJCQlmaQoJCQkJa2V5c2V0PSQoZWNobyAtZSAiJGxpbmUiIHwgY3V0IC1kICI9IiAtZiAx
KQoJCQkJdmFsdWVzPSQoZWNobyAtZSAiJGxpbmUiIHwgY3V0IC1kICI9IiAtZiAyKQoJCQkJaWYg
W1sgLW4gIiRrZXlzZXQiIF1dICYmIFtbICR7a2V5c2V0c1tAXX0gPX4gJGtleXNldCBdXTsgdGhl
bgoJCQkJCWlmIFtbICRrZXlzZXQgPT0gdmlydHVhbCBdXTsgdGhlbgoJCQkJCQlpZiBbWyAteiAi
JHZhbHVlcyIgXV07IHRoZW4KCQkJCQkJCXB1dHMgIiAgPDwtICEgPiBjb25maWc6IHZpcnR1YWwg
ZW52aXJvbm1lbnQgYWN0aXZhdGlvbiByZXF1aXJlZCIKCQkJCQkJCXJldHVybiAxCgkJCQkJCWVs
aWYgW1sgISAtZiAiJHZhbHVlcyIgXV07IHRoZW4KCQkJCQkJCXB1dHMgIiAgPDwtICEgPiBjb25m
aWc6ICR2YWx1ZXM6IG5vIHN1Y2ggdmlydHVhbCBlbnZpcm9ubWVudCIKCQkJCQkJCXJldHVybiAx
CgkJCQkJCWZpCgkJCQkJZmkKCQkJCQljb25maWdzWyRrZXlzZXRdPSR2YWx1ZXMKCQkJCWVsc2UK
CQkJCQlwdXRzICIgIDw8LSAhID4gY29uZmlnOiAka2V5c2V0OiB1bmtub3duIGNvbmZpZ3VyYXRp
b24gdmFyaWFibGUiCgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCWRvbmUgPCAkY29uZmlnCgkJCXVu
c2V0IElGUwoJCWVsaWYgW1sgIiRhY3Rpb24iID09ICItLXdyaXRlIiBdXTsgdGhlbgoJCQllY2hv
IC1lICJcYyIgPiAiJGNvbmZpZyIKCQkJZm9yIGtleXNldCBpbiAkeyFjb25maWdzW0BdfTsgZG8K
CQkJCWVjaG8gLWUgIiR7a2V5c2V0fT0ke2NvbmZpZ3NbJGtleXNldF19IiA+PiAiJGNvbmZpZyIK
CQkJCWlmIFtbICQ/IC1lcSAwIF1dOyB0aGVuCgkJCQkJcHV0cyAiICA8PC0gISA+IGNvbmZpZzog
ZXJyb3I6IHdoZW4gd3JpdGUgY29uZmlndXJhdGlvbiIKCQkJCWZpCgkJCWRvbmUKCQllbGlmIFtb
IC16ICQxIF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtICEgPiBjb25maWc6IHJlcXVpcmUgb3B0aW9u
IC0tcmVhZHx3cml0ZSIKCQkJcmV0dXJuIDEKCQllbHNlCgkJCXB1dHMgIiAgPDwtICEgPiBjb25m
aWc6ICRhY3Rpb246IHVua25vd24gb3B0aW9uIgoJCQlyZXR1cm4gMQoJCWZpCgl9CgkKCSMgSGFu
ZGxlIGNoZWNrIGFuZCB2YWxpZGF0ZSBkZXBlbmRlbmN5IHJlcXVpcmVtZW50cy4KCWZ1bmN0aW9u
IGRlcGVuZGVuY3koKSB7CgkJCgkJIyBIYW5kbGUgbGludXggY2hlY2sgYW5kIGluc3RhbGwgcGFj
a2V0IGluIGxpbnV4IGRpc3Ryby4KCQkjIGV4ZWN1dGU6IG1hbmFnZXIgLS1hdmFpbGFibGUgW3Bh
Y2thZ2VdCgkJIyAgICAgICAgICBtYW5hZ2VyIC0tY2hlY2sgW3BhY2thZ2VdCgkJIyAgICAgICAg
ICBtYW5hZ2VyIC0taW5zdGFsbCBbcGFja2FnZV0KCQlmdW5jdGlvbiBtYW5hZ2VyKCkgewoJCQls
b2NhbCBhY3Rpb249JDEKCQkJbG9jYWwgZGlzdHJvPQoJCQlsb2NhbCBtYW5hZ2VyPQoJCQlsb2Nh
bCBwYWNrYWdlPSQyCgkJCWlmIFtbIC1mIC9ldGMvb3MtcmVsZWFzZSBdXTsgdGhlbgoJCQkJZGlz
dHJvPSQoZ3JlcCAtRSAiXklEPSIgL2V0Yy9vcy1yZWxlYXNlIHwgY3V0IC1kICI9IiAtZjIgfCB0
ciAtZCAiXCIiKQoJCQllbGlmIFtbIC1mIC9ldGMvcmVkaGF0LXJlbGVhc2UgXV07IHRoZW4KCQkJ
CWRpc3Rybz0icmhlbCIKCQkJZWxpZiBbWyAtZiAvZXRjL2xzYi1yZWxlYXNlIF1dOyB0aGVuCgkJ
CQlkaXN0cm89JChncmVwIERJU1RSSUJfSUQgL2V0Yy9sc2ItcmVsZWFzZSB8IGN1dCAtZCAiPSIg
LWYyIHwgdHIgIls6dXBwZXI6XSIgIls6bG93ZXI6XSIgKQoJCQllbGlmIFtbIC1mIC9ldGMvZGVi
aWFuX3ZlcnNpb24gXV07IHRoZW4KCQkJCWRpc3Rybz0iZGViaWFuIgoJCQllbGlmIFtbIC1mIC9l
dGMvYWxwaW5lLXJlbGVhc2UgXV07IHRoZW4KCQkJCWRpc3Rybz0iYWxwaW5lIgoJCQllbGlmIFtb
IC1mIC9ldGMvU3VTRS1yZWxlYXNlIF1dOyB0aGVuCgkJCQlkaXN0cm89InN1c2UiCgkJCWVsc2UK
CQkJCWlmIGNvbW1hbmQgLXYgaG9zdG5hbWVjdGwgJj4gL2Rldi9udWxsOyB0aGVuCgkJCQkJZGlz
dHJvPSQoaG9zdG5hbWVjdGwgfCBncmVwICJPcGVyYXRpbmcgU3lzdGVtIiB8IGN1dCAtZDogLWYy
IHwgYXdrICJ7cHJpbnQgdG9sb3dlcihcJDEpfSIpCgkJCQllbGlmIGNvbW1hbmQgLXYgdW5hbWUg
Jj4gL2Rldi9udWxsOyB0aGVuCgkJCQkJZGlzdHJvPSQodW5hbWUgLXMgfCBhd2sgIntwcmludCB0
b2xvd2VyKFwkMSl9IikKCQkJCWVsc2UKCQkJCQlwdXRzICIgIDw8LSBlID4gbWFuYWdlcjogdW5r
bm93biBsaW51eCBkaXN0cmlidXRpb24iCgkJCQkJZXhpdCAxCgkJCQlmaQoJCQlmaQoJCQljYXNl
ICIkZGlzdHJvIiBpbgoJCQkJdWJ1bnR1fGRlYmlhbikgbWFuYWdlcj0iYXB0IiA7OwoJCQkJZmVk
b3JhfGNlbnRvc3xyaGVsfHJvY2t5fGFsbWEpIG1hbmFnZXI9ImRuZiIgOzsKCQkJCW9wZW5zdXNl
fHN1c2UpIG1hbmFnZXI9Inp5cHBlciIgOzsKCQkJCWFyY2h8bWFuamFybykgbWFuYWdlcj0icGFj
bWFuIiA7OwoJCQkJYWxwaW5lKSBtYW5hZ2VyPSJhcGsiIDs7CgkJCQl2b2lkKSBtYW5hZ2VyPSJ4
YnBzIiA7OwoJCQkJbml4b3MpIG1hbmFnZXI9Im5peC1lbnYiIDs7CgkJCQlnZW50b28pIG1hbmFn
ZXI9ImVtZXJnZSIgOzsKCQkJCXNsYWNrd2FyZSkgbWFuYWdlcj0ic2xhY2twa2ciIDs7CgkJCQkq
KQoJCQkJCWlmIFtbICQoY29tbWFuZCAtdiBhcHQgJj4gL2Rldi9udWxsKSBdXTsgdGhlbgoJCQkJ
CQltYW5hZ2VyPSJhcHQiCgkJCQkJZWxpZiBbWyAkKGNvbW1hbmQgLXYgZG5mICY+IC9kZXYvbnVs
bCkgXV07IHRoZW4KCQkJCQkJbWFuYWdlcj0iZG5mIgoJCQkJCWVsaWYgW1sgJChjb21tYW5kIC12
IHBhY21hbiAmPiAvZGV2L251bGwpIF1dOyB0aGVuCgkJCQkJCW1hbmFnZXI9InBhY21hbiIKCQkJ
CQllbGlmIFtbICQoY29tbWFuZCAtdiBhcGsgJj4gL2Rldi9udWxsKSBdXTsgdGhlbgoJCQkJCQlt
YW5hZ2VyPSJhcGsiCgkJCQkJZWxpZiBbWyAkKGNvbW1hbmQgLXYgenlwcGVyICY+IC9kZXYvbnVs
bCkgXV07IHRoZW4KCQkJCQkJbWFuYWdlcj0ienlwcGVyIgoJCQkJCWVsaWYgW1sgJChjb21tYW5k
IC12IHhicHMgJj4gL2Rldi9udWxsKSBdXTsgdGhlbgoJCQkJCQltYW5hZ2VyPSJ4YnBzIgoJCQkJ
CWVsaWYgW1sgJChjb21tYW5kIC12IG5peC1lbnYgJj4gL2Rldi9udWxsKSBdXTsgdGhlbgoJCQkJ
CQltYW5hZ2VyPSJuaXgtZW52IgoJCQkJCWVsaWYgW1sgJChjb21tYW5kIC12IGVtZXJnZSAmPiAv
ZGV2L251bGwpIF1dOyB0aGVuCgkJCQkJCW1hbmFnZXI9ImVtZXJnZSIKCQkJCQllbGlmIFtbICQo
Y29tbWFuZCAtdiBzbGFja3BrZyAmPiAvZGV2L251bGwpIF1dOyB0aGVuCgkJCQkJCW1hbmFnZXI9
InNsYWNrcGtnIgoJCQkJCWVsc2UKCQkJCQkJcHV0cyAiICA8PC0gZSA+IG1hbmFnZXI6IHVua25v
d24gbGludXggZGVmYXVsdCBtYW5hZ2VyIHBhY2tldCIKCQkJCQkJZXhpdCAxCgkJCQkJZmkKCQkJ
CTs7CgkJCWVzYWMKCQkJaWYgW1sgIiRhY3Rpb24iID09ICItLWF2YWlsYWJsZSIgXV07IHRoZW4K
CQkJCWNhc2UgIiRtYW5hZ2VyIiBpbgoJCQkJCWFwdCkgYXB0LWNhY2hlIHNlYXJjaCAiXiRwYWNr
YWdlJCIgfCBncmVwIC1xdyAiJHBhY2thZ2UiIDs7CgkJCQkJZG5mfHl1bSkgeXVtIGxpc3QgYXZh
aWxhYmxlICIkcGFja2FnZSIgJj4gL2Rldi9udWxsIDs7CgkJCQkJcGFjbWFuKSBwYWNtYW4gLVNz
ICJeJHBhY2thZ2UkIiAmPiAvZGV2L251bGwgOzsKCQkJCQlhcGspIGFwayBzZWFyY2ggIl4kcGFj
a2FnZSQiICY+IC9kZXYvbnVsbCA7OwoJCQkJCXp5cHBlcikgenlwcGVyIHNlICIkcGFja2FnZSIg
Jj4gL2Rldi9udWxsIDs7CgkJCQkJeGJwcykgeGJwcy1xdWVyeSAtUnMgIl4kcGFja2FnZVwkIiAm
PiAvZGV2L251bGwgOzsKCQkJCQluaXgtZW52KSBuaXgtZW52IC1xYVAgIl4kcGFja2FnZSQiICY+
IC9kZXYvbnVsbCA7OwoJCQkJCWVtZXJnZSkgZW1lcmdlIC0tc2VhcmNoICIkcGFja2FnZSIgJj4g
L2Rldi9udWxsIDs7CgkJCQkJc2xhY2twa2cpIHNsYWNrcGtnIHNlYXJjaCAiJHBhY2thZ2UiICY+
IC9kZXYvbnVsbCA7OwoJCQkJCWZsYXRwYWspIGZsYXRwYWsgc2VhcmNoICIkcGFja2FnZSIgJj4g
L2Rldi9udWxsIDs7CgkJCQkJc25hcCkgc25hcCBmaW5kICIkcGFja2FnZSIgJj4gL2Rldi9udWxs
IDs7IAoJCQkJZXNhYwoJCQllbGlmIFtbICIkYWN0aW9uIiA9PSAiLS1jaGVjayIgXV07IHRoZW4K
CQkJCWNhc2UgIiRtYW5hZ2VyIiBpbgoJCQkJCWFwdCkgZHBrZyAtbCB8IGdyZXAgLXF3ICIkcGFj
a2FnZSIgOzsKCQkJCQlkbmZ8eXVtKSBycG0gLXEgIiRwYWNrYWdlIiAmPiAvZGV2L251bGwgOzsK
CQkJCQlwYWNtYW4pIHBhY21hbiAtUWkgIiRwYWNrYWdlIiAmPiAvZGV2L251bGwgOzsKCQkJCQlh
cGspIGFwayBpbmZvICIkcGFja2FnZSIgJj4gL2Rldi9udWxsIDs7CgkJCQkJenlwcGVyKSB6eXBw
ZXIgc2UgLS1pbnN0YWxsZWQtb25seSAiJHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7OwoJCQkJCXhi
cHMpIHhicHMtcXVlcnkgLVJzICJeJHBhY2thZ2VcJCIgJj4gL2Rldi9udWxsIDs7CgkJCQkJbml4
LWVudikgbml4LWVudiAtcSAiJHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7OwoJCQkJCWVtZXJnZSkg
ZXF1ZXJ5IGxpc3QgIiRwYWNrYWdlIiAmPiAvZGV2L251bGwgOzsKCQkJCQlzbGFja3BrZykgc2xh
Y2twa2cgc2VhcmNoICIkcGFja2FnZSIgfCBncmVwIC1xICJpbnN0YWxsZWQiIDs7CgkJCQkJZmxh
dHBhaykgZmxhdHBhayBsaXN0IHwgZ3JlcCAtcXcgIiRwYWNrYWdlIiA7OwoJCQkJCXNuYXApIHNu
YXAgbGlzdCB8IGdyZXAgLXF3ICIkcGFja2FnZSIgOzsKCQkJCWVzYWMKCQkJZWxpZiBbWyAiJGFj
dGlvbiIgPT0gIi0taW5zdGFsbCIgXV07IHRoZW4KCQkJCWNhc2UgIiRtYW5hZ2VyIiBpbgoJCQkJ
CWFwdCkgc3VkbyBhcHQgdXBkYXRlICYmIHN1ZG8gYXB0IGluc3RhbGwgLXkgIiRwYWNrYWdlIiA7
OwoJCQkJCWRuZnx5dW0pIHN1ZG8gIiRtYW5hZ2VyIiBpbnN0YWxsIC15ICIkcGFja2FnZSIgOzsK
CQkJCQlwYWNtYW4pIHN1ZG8gcGFjbWFuIC1TIC0tbm9jb25maXJtICIkcGFja2FnZSIgOzsKCQkJ
CQlhcGspIHN1ZG8gYXBrIGFkZCAiJHBhY2thZ2UiIDs7CgkJCQkJenlwcGVyKSBzdWRvIHp5cHBl
ciBpbnN0YWxsIC15ICIkcGFja2FnZSIgOzsKCQkJCQl4YnBzKSBzdWRvIHhicHMtaW5zdGFsbCAt
eSAiJHBhY2thZ2UiIDs7CgkJCQkJbml4LWVudikgbml4LWVudiAtaSAiJHBhY2thZ2UiIDs7CgkJ
CQkJZW1lcmdlKSBzdWRvIGVtZXJnZSAiJHBhY2thZ2UiIDs7CgkJCQkJc2xhY2twa2cpIHN1ZG8g
c2xhY2twa2cgaW5zdGFsbCAiJHBhY2thZ2UiIDs7CgkJCQkJZmxhdHBhaykgc3VkbyBmbGF0cGFr
IGluc3RhbGwgLXkgIiRwYWNrYWdlIiA7OwoJCQkJCXNuYXApIHN1ZG8gc25hcCBpbnN0YWxsICIk
cGFja2FnZSIgOzsKCQkJCWVzYWMKCQkJZWxpZiBbWyAteiAkMSBdXTsgdGhlbgoJCQkJcHV0cyAi
ICA8PC0gISA+IG1hbmFnZXI6IHJlcXVpcmUgb3B0aW9uIC0tY2hlY2t8aW5zdGFsbCIKCQkJCWV4
aXQgMQoJCQllbHNlCgkJCQlwdXRzICIgIDw8LSAhID4gbWFuYWdlcjogJGFjdGlvbjogdW5rbm93
biBvcHRpb24iCgkJCQlleGl0IDEKCQkJZmkKCQkJcmV0dXJuICQ/CgkJfQoJCQoJCWxvY2FsIGlu
c3RhbGw9CgkJbG9jYWwgcGFja2FnZXM9KCkKCQlpZiBbWyAtbiAke2NvbmZpZ3NbcGFja2FnZXNd
fSBdXTsgdGhlbgoJCQlJRlM9IiwiIHJlYWQgLXIgLWEgcGFja2FnZXMgPDw8ICIke2NvbmZpZ3Nb
cGFja2FnZXNdfSIKCQkJZm9yIHBhY2thZ2UgaW4gJHtwYWNrYWdlc1tAXX07IGRvCgkJCQltYW5h
Z2VyIC0tY2hlY2sgIiRwYWNrYWdlIgoJCQkJaWYgW1sgJD8gLWVxIDAgXV07IHRoZW4KCQkJCQlj
b250aW51ZQoJCQkJZmkKCQkJCXB1dHMgIiAgPDwtIGkgPiBkZXBlbmRlbmN5OiBwYWNrYWdlOiAk
e3BhY2thZ2V9OiBwYWNrYWdlIGlzIG5vdCBpbnN0YWxsZWQiCgkJCQlzdGRpbiAiaW5zdGFsbCIg
Ijw8LSByID4gZGVwZW5kZW5jeTogcGFja2FnZTogJHtwYWNrYWdlfTogaW5zdGFsbCB0aGlzIHBh
Y2thZ2UgW1kvbl0iCgkJCQlpZiBbWyAiJHtpbnN0YWxsLCx9IiA9PSAieSIgXV07IHRoZW4KCQkJ
CQltYW5hZ2VyIC0tYXZhaWxhYmxlICIkcGFja2FnZSIKCQkJCQlpZiBbWyAkPyAtZXEgMSBdXTsg
dGhlbgoJCQkJCQlwdXRzICIgIDw8LSBlID4gZGVwZW5kZW5jeTogcGFja2FnZTogJHtwYWNrYWdl
fTogaXMgbm90IGF2YWlsYWJsZSBvbiBjdXJyZW50IG1hbmFnZXIgcGFja2V0IgoJCQkJCQlyZXR1
cm4gMQoJCQkJCWZpCgkJCQkJbWFuYWdlciAtLWluc3RhbGwgIiRwYWNrYWdlIgoJCQkJCWlmIFtb
ICQ/IC1lcSAxIF1dOyB0aGVuCgkJCQkJCXB1dHMgIiAgPDwtIGUgPiBkZXBlbmRlbmN5OiBwYWNr
YWdlOiAke3BhY2thZ2V9OiBmYWlsZWQgaW5zdGFsbCBwYWNrYWdlIgoJCQkJCQlyZXR1cm4gMQoJ
CQkJCWZpCgkJCQkJaW5zdGFsbD0KCQkJCQlicmVhawoJCQkJZWxpZiBbWyAiJHtpbnN0YWxsLCx9
IiA9PSAibiIgXV07IHRoZW4KCQkJCQlwdXRzICIgIDw8LSBlID4gZGVwZW5kZW5jeTogcGFja2Fn
ZTogYWJvcnRlZCIKCQkJCQlyZXR1cm4gMQoJCQkJZWxzZQoJCQkJCWluc3RhbGw9CgkJCQlmaQoJ
CQlkb25lCgkJCXVuc2V0IElGUwoJCWZpCgkJCgkJbG9jYWwgbGlicmFyaWVzPSgpCgkJaWYgW1sg
LW4gJHtjb25maWdzW2xpYnJhcnldfSBdXTsgdGhlbgoJCQlJRlM9IiwiIHJlYWQgLXIgLWEgbGli
cmFyaWVzIDw8PCAiJHtjb25maWdzW2xpYnJhcnldfSIKCQkJZm9yIGxpYnJhcnkgaW4gJHtsaWJy
YXJpZXNbQF19OyBkbwoJCQkJbGRjb25maWcgLXAgfCBncmVwIC1xICIkbGlicmFyeSIKCQkJCWlm
IFtbICQ/IC1lcSAxIF1dOyB0aGVuCgkJCQkJcHV0cyAiICA8PC0gZSA+IGRlcGVuZGVuY3k6IGxp
YnJhcnk6ICR7bGlicmFyeX06IGxpYnJhcnkgaXMgbm90IGF2YWlsYWJsZSIKCQkJCQlyZXR1cm4g
MQoJCQkJZmkKCQkJZG9uZQoJCQl1bnNldCBJRlMKCQlmaQoJCQoJCWFjdGl2YXRlCgkJaWYgW1sg
JD8gLWVxIDEgXV07IHRoZW4KCQkJcmV0dXJuIDEKCQlmaQoJfQoJCgkjIERlcGxveSB0aGUgcHJv
Z3JhbSBpbnRvIHNlcnZlcnMuCglmdW5jdGlvbiBkZXBsb3lzKCkgewoJCWxvY2FsIGFyY2hpdmU9
JChhcmNoaXZlKQoJCWxvY2FsIGRlc3RpbmF0ZT0KCQlsb2NhbCBob3N0bmFtZT0KCQlsb2NhbCBw
b3J0PQoJCWxvY2FsIHNlcnZlcnM9KCkKCQlsb2NhbCB1c2VybmFtZT0KCQlpZiBbWyAteiAke2Nv
bmZpZ3Nbc2VydmVyc119IF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGUgPiBkZXBsb3lzOiBubyBz
ZXJ2ZXJzIGF2YWlsYWJsZSIKCQkJcmV0dXJuIDEKCQlmaQoJCWJhY2tpbmcKCQlpZiBbWyAkPyAt
bmUgMCBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gZGVwbG95czogc29tZXRoaW5nIHdyb25n
IHdoZW4gY3JlYXRlIGFyY2hpdmUiCgkJCXJldHVybiAxCgkJZmkKCQkjIHVzZXJAMTkyLjE2OC4y
MC4xMjNbMjJdOi9wYXRoL3RvL3BhdGgKCQlJRlM9IiwiIHJlYWQgLXIgLWEgc2VydmVycyA8PDwg
IiR7Y29uZmlnc1tzZXJ2ZXJzXX0iCgkJZm9yIHNlcnZlciBpbiAke3NlcnZlcnNbQF19OyBkbwoJ
CQlwb3J0PSQoZWNobyAiJHNlcnZlciIgfCBncmVwIC1vUCAiXFtcS1teXF1dKyIgfHwgZWNobyAi
IikKCQkJaWYgW1sgLXogIiRwb3J0IiBdXTsgdGhlbgoJCQkJcG9ydD0yMgoJCQlmaQoJCQl1c2Vy
bmFtZT0kKGVjaG8gIiRzZXJ2ZXIiIHwgZ3JlcCAtb1AgIl5bXkBdKyIgfHwgZWNobyAiIikKCQkJ
aG9zdG5hbWU9JChlY2hvICIkc2VydmVyIiB8IGdyZXAgLW9QICJAXEtbXltdKyIgfHwgZWNobyAi
IikKCQkJZGVzdGluYXRlPSQoZWNobyAiJHNlcnZlciIgfCBncmVwIC1vUCAiOiguKykkIiB8IGN1
dCAtYzItIHx8IGVjaG8gIiIpCgkJCWlmIFtbIC16ICIkdXNlcm5hbWUiIF1dOyB0aGVuCgkJCQlw
dXRzICIgIDw8LSBlID4gZGVwbG95czogdXNlcm5hbWU6IHNlcnZlciB1c2VybmFtZSByZXF1aXJl
ZCIKCQkJCXJldHVybiAxCgkJCWVsaWYgW1sgLXogIiRob3N0bmFtZSIgXV07IHRoZW4KCQkJCXB1
dHMgIiAgPDwtIGUgPiBkZXBsb3lzOiB1c2VybmFtZTogc2VydmVyIGhvc3RuYW1lIHJlcXVpcmVk
IgoJCQkJcmV0dXJuIDEKCQkJZWxpZiBbWyAteiAiJGRlc3RpbmF0ZSIgXV07IHRoZW4KCQkJCXB1
dHMgIiAgPDwtIGUgPiBkZXBsb3lzOiB1c2VybmFtZTogc2VydmVyIHBhdGhuYW1lIHJlcXVpcmVk
IgoJCQkJcmV0dXJuIDEKCQkJZWxzZQoJCQkJcHV0cyAiICA8PC0gaSA+PiBkZXBsb3lzOiBzY3Ag
LXYgLVAgJHtwb3J0fSAke2FyY2hpdmV9ICR7dXNlcm5hbWV9QCR7aG9zdG5hbWV9OiR7ZGVzdGlu
YXRlfSIKCQkJCXNjcCAtdiAtUCAke3BvcnR9ICR7YXJjaGl2ZX0gJHt1c2VybmFtZX1AJHtob3N0
bmFtZX06JHtkZXN0aW5hdGV9CgkJCQlpZiBbWyAke1BJUEVTVEFUVVNbMF19IC1uZSAwIF1dOyB0
aGVuCgkJCQkJcHV0cyAiICA8PC0gaSA+PiBkZXBsb3lzOiBmYWlsZWQgdXBsb2FkIGFyY2hpdmUg
dG8gJHt1c2VybmFtZX1AJHtob3N0bmFtZX06JHtkZXN0aW5hdGV9IgoJCQkJCXJldHVybiAxCgkJ
CQlmaQoJCQkJcHV0cyAiICA8PC0gaSA+PiBkZXBsb3lzOiBzdWNjZXNzZnVsbHkgdXBsb2FkIGFy
Y2hpdmUgdG8gJHt1c2VybmFtZX1AJHtob3N0bmFtZX06JHtkZXN0aW5hdGV9IgoJCQlmaQoJCQlw
dXRzICIgIDw8LSBpID4+IGRlcGxveXM6IHN1Y2Nlc3NmdWxseSB1cGxvYWQgYXJjaGl2ZSB0byAk
eyNzZXJ2ZXJzW0BdfSBzZXJ2ZXJzIgoJCWRvbmUKCQl1bnNldCBJRlMKCX0KCQoJIyBIYW5kbGlu
ZyBpdGVycnVwdCBrZXlib2FyZCBjb250cm9sbC4KCWZ1bmN0aW9uIGludGVycnVwdCgpIHsKCQlw
dXRzICIiCgkJcHV0cyAiICA8PC0gayA+IGludGVycnVwdDogaW50ZXJydXB0IHNpZ25hbCBkZXRl
Y3RlZCIKCQlzdGRpbiAiY2xvc2UiICI8PC0gayA+IGludGVycnVwdDogZXhpdCB0aGlzIHByb2dy
YW0gW1kvbl0iICJZIgoJCWlmIFtbICIke2Nsb3NlXl59IiA9PSAiWSIgXV07IHRoZW4KCQkJcHV0
cyAiICA8PC0gayA+IGludGVycnVwdDogYWJvcnRlZCIKCQkJZXhpdCAxCgkJZmkKCX0KCQoJIyBT
ZXQgaGFuZGxlIGludGVycnVwdCBrZXlib2FyZCBzaWduYWwuCgl0cmFwIGludGVycnVwdCBTSUdJ
TlQKCQoJIyBIYW5kbGUgbGludGluZyBweXRob24gY29kZSB3aXRoIHB5bGludC4KCWZ1bmN0aW9u
IGxpbnRpbmcoKSB7CgkJbG9jYWwgZmlsZW5hbWVzPSgpCgkJbG9jYWwgaW5zdGFsbD0KCQlsb2Nh
bCBvcHRpb25zPSgKCQkJIi0tYXJndW1lbnQtbmFtaW5nLXN0eWxlPWNhbWVsQ2FzZSIKCQkJIi0t
YXR0ci1uYW1pbmctc3R5bGU9Y2FtZWxDYXNlIgoJCQkiLS1jbGFzcy1hdHRyaWJ1dGUtbmFtaW5n
LXN0eWxlPWFueSIKCQkJIi0tY2xhc3MtY29uc3QtbmFtaW5nLXN0eWxlPWFueSIKCQkJIi0tY2xh
c3MtbmFtaW5nLXN0eWxlPVBhc2NhbENhc2UiCgkJCSItLWNvbnN0LW5hbWluZy1zdHlsZT1hbnki
CgkJCSItLWV4dGVuc2lvbi1wa2ctYWxsb3ctbGlzdD1weXpzdGQiCgkJCSItLXZhcmlhYmxlLW5h
bWluZy1zdHlsZT1jYW1lbENhc2UiCgkJCSItLWZ1bmN0aW9uLW5hbWluZy1zdHlsZT1jYW1lbENh
c2UiCgkJCSItLW1heC1hdHRyaWJ1dGVzPTMwIgoJCQkiLS1tYXgtcHVibGljLW1ldGhvZHM9NjAi
CgkJCSItLW1ldGhvZC1uYW1pbmctc3R5bGU9Y2FtZWxDYXNlIgoJCQkiLS1nb29kLW5hbWVzPVwi
ZSxFeGVjdXRvcixpLGlkLFByb2Nlc3NFeGVjdXRvcix1LGssVGhyZWFkRXhlY3V0b3IsVGhyZWFk
UnVubmVyLHZcIiIKCQkJIi0taWdub3JlLWRvY3N0cmluZ3M9eSIKCQkJIi0taWdub3JlLWxvbmct
bGluZXM9XihbXlxcbl0rKSQiCgkJCSItLWluZGVudC1zdHJpbmc9XCJcdFwiIgoJCQkiLS1kaXNh
YmxlPWFyZ3VtZW50cy1kaWZmZXIiCgkJCSItLWRpc2FibGU9YnJvYWQtZXhjZXB0aW9uLWNhdWdo
dCIKCQkJIi0tZGlzYWJsZT1jb25zaWRlci11c2luZy1mLXN0cmluZyIKCQkJIi0tZGlzYWJsZT1m
dW5jdGlvbi1yZWRlZmluZWQiCgkJCSItLWRpc2FibGU9a2V5d29yZC1hcmctYmVmb3JlLXZhcmFy
ZyIKCQkJIi0tZGlzYWJsZT1pbnZhbGlkLW5hbWUiCgkJCSItLWRpc2FibGU9bWlzc2luZy1mdW5j
dGlvbi1kb2NzdHJpbmciCgkJCSItLWRpc2FibGU9bWlzc2luZy1tb2R1bGUtZG9jc3RyaW5nIgoJ
CQkiLS1kaXNhYmxlPW11bHRpcGxlLXN0YXRlbWVudHMiCgkJCSItLWRpc2FibGU9bm9uLXBhcmVu
dC1pbml0LWNhbGxlZCIKCQkJIi0tZGlzYWJsZT1wcm90ZWN0ZWQtYWNjZXNzIgoJCQkiLS1kaXNh
YmxlPXJlZGVmaW5lZC1hcmd1bWVudC1mcm9tLWxvY2FsIgoJCQkiLS1kaXNhYmxlPXJlZGVmaW5l
ZC1idWlsdGluIgoJCQkiLS1kaXNhYmxlPXJlZGVmaW5lZC1vdXRlci1uYW1lIgoJCQkiLS1kaXNh
YmxlPXRvby1tYW55LWFyZ3VtZW50cyIKCQkJIi0tZGlzYWJsZT10b28tbWFueS1ib29sZWFuLWV4
cHJlc3Npb25zIgoJCQkiLS1kaXNhYmxlPXRvby1tYW55LWJyYW5jaGVzIgoJCQkiLS1kaXNhYmxl
PXRvby1tYW55LWxpbmVzIgoJCQkiLS1kaXNhYmxlPXRvby1tYW55LWxvY2FscyIKCQkJIi0tZGlz
YWJsZT10b28tbWFueS1uZXN0ZWQtYmxvY2tzIgoJCQkiLS1kaXNhYmxlPXRvby1tYW55LXN0YXRl
bWVudHMiCgkJCSItLWRpc2FibGU9c3VwZXItaW5pdC1ub3QtY2FsbGVkIgoJCQkiLS1kaXNhYmxl
PXRvby1mZXctcHVibGljLW1ldGhvZHMiCgkJCSItLWRpc2FibGU9dHJhaWxpbmctbmV3bGluZXMi
CgkJCSItLWRpc2FibGU9dHJhaWxpbmctd2hpdGVzcGFjZSIKCQkJIi0tZGlzYWJsZT11bm5lY2Vz
c2FyeS1kdW5kZXItY2FsbCIKCQkJIi0tZGlzYWJsZT11bm5lY2Vzc2FyeS1lbGxpcHNpcyIKCQkJ
Ii0tZGlzYWJsZT11bm5lY2Vzc2FyeS1sYW1iZGEtYXNzaWdubWVudCIKCQkJIi0tZGlzYWJsZT11
bm5lY2Vzc2FyeS1wYXNzIgoJCQkiLS1kaXNhYmxlPXVuZXhwZWN0ZWQtc3BlY2lhbC1tZXRob2Qt
c2lnbmF0dXJlIgoJCQkiLS1kaXNhYmxlPXVzZS1kaWN0LWxpdGVyYWwiCgkJCSItLWRpc2FibGU9
d3JvbmctaW1wb3J0LW9yZGVyIgoJCQkiLS1kaXNhYmxlPXdyb25nLWltcG9ydC1wb3NpdGlvbiIK
CQkpCgkJaWYgW1sgLWQgJHtiYXNlcGF0aH0vc3JjIF1dOyB0aGVuCgkJCXJlYWRhcnJheSAtdCBm
aWxlbmFtZXMgPDw8ICIkKGZpbmQgJHtiYXNlcGF0aH0vc3JjIC10eXBlIGYgLW5hbWUgIioucHki
KSIKCQkJaWYgW1sgJChwaXAgbGlzdCB8IGdyZXAgcHlsaW50KSA9PSAiIiBdXTsgdGhlbgoJCQkJ
Y29uZmlnc1tjaGVja2VkXT1mYWxzZQoJCQkJcHV0cyAiICA8PC0gZSA+IGxpbnRpbmc6IHB5bGlu
dCBpcyBub3QgaW5zdGFsbGVkIgoJCQkJaWYgW1sgJHtjb25maWdzW3ZpcnR1YWxpemVdfSA9PSB0
cnVlIF1dOyB0aGVuCgkJCQkJc3RkaW4gImluc3RhbGwiICI8PC0gciA+IGxpbnRpbmc6IGluc3Rh
bGwgcHlsaW50IGZyb20gcGlwIFtZL25dIiAibiIKCQkJCQlpbnN0YWxsPSR7aW5zdGFsbCwsfQoJ
CQkJCWlmIFtbICIkaW5zdGFsbCIgPT0gInkiIF1dOyB0aGVuCgkJCQkJCXB1dHMgIiAgPDwtIGUg
PiBsaW50aW5nOiBwaXAgaW5zdGFsbCBweWxpbnQiCgkJCQkJCXB1dHMgIiAgPDwtIGUgPiBsaW50
aW5nOiBwaXA6IGluc3RhbGxpbmcgcHlsaW50IgoJCQkJCQlzdWJzaGVsbCAicGlwIGluc3RhbGwg
cHlsaW50IiAiPDwtIGkgPiBsaW50aW5nOiBwaXA6IHtzdGRvdXR9IgoJCQkJCQlpZiBbWyAkU1VC
U0hFTExTVEFUVVMgLWVxIDEgXV07IHRoZW4KCQkJCQkJCXB1dHMgIiAgPDwtIGUgPiBsaW50aW5n
OiBwaXA6IHNvbWV0aGluZyB3cm9uZyB3aGVuIGluc3RhbGwgcHlsaW50IgoJCQkJCQkJcmV0dXJu
IDEKCQkJCQkJZmkKCQkJCQllbGlmIFtbICIkaW5zdGFsbCIgPT0gIm4iIF1dOyB0aGVuCgkJCQkJ
CXB1dHMgIiAgPDwtIGUgPiBsaW50aW5nOiBhYm9ydGVkIgoJCQkJCQlyZXR1cm4gMQoJCQkJCWZp
CgkJCQllbHNlCgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCWZpCgkJCXB1dHMgIiAgPDwtIGkgPiBs
aW50aW5nOiBweXRob24zIC1tIHB5bGludCBcXCIKCQkJaW5kZXg9MAoJCQlmb3Igb3B0aW9uIGlu
ICR7b3B0aW9uc1tAXX07IGRvIHB1dHMgIiAgPDwtIGkgPiAgICAgICR7b3B0aW9ufSBcXCI7IGRv
bmUKCQkJZm9yIGZpbGVuYW1lIGluICR7ZmlsZW5hbWVzW0BdfTsgZG8KCQkJCWluZGV4PSQoKGlu
ZGV4KzEpKQoJCQkJaWYgW1sgJGluZGV4IC1uZSAkeyNmaWxlbmFtZXNbQF19IF1dOyB0aGVuCgkJ
CQkJcHV0cyAiICA8PC0gaSA+ICAgICAgICAke2ZpbGVuYW1lLyRiYXNlcGF0aFwvL30gXFwiCgkJ
CQllbHNlCgkJCQkJcHV0cyAiICA8PC0gaSA+ICAgICAgICAke2ZpbGVuYW1lLyRiYXNlcGF0aFwv
L30iCgkJCQlmaQoJCQlkb25lCgkJCXdoaWxlIElGUz0gcmVhZCAtciBzdGRvdXQ7IGRvCgkJCQlw
dXRzICIgIDw8LSBlID4gbGludGluZzogcHlsaW50OiAke3N0ZG91dH0iCgkJCWRvbmUgPCA8KHB5
dGhvbjMgLW0gcHlsaW50ICR7b3B0aW9uc1tAXX0gJHtmaWxlbmFtZXNbQF0vJGJhc2VwYXRoXC8v
fSkKCQkJaWYgW1sgJFNVQlNIRUxMU1RBVFVTIC1lcSAxIF1dOyB0aGVuCgkJCQlwdXRzICIgIDw8
LSBlID4gbGludGluZzogcHlsaW50OiBzb21ldGhpbmcgd3Jvbmcgd2hlbiBsaW50aW5nIGNvZGUi
CgkJCWZpCgkJCXJldHVybiAkcmV0dXJucwoJCWZpCgl9CgkKCSMgSGFuZGxlIGluc3RhbGwgcHl0
aG9uIHByb2dyYW0gYXMgcHl0aG9uIG1vZHVsZSBpbiBsb2NhbCBtYWNoaW5lLgoJZnVuY3Rpb24g
cHlpbnN0YWxsKCkgewoJCWxvY2FsIGNvbW1hbmQ9InBpcCBpbnN0YWxsIC4iCgkJaWYgW1sgJHtj
b25maWdzW2Vudmlyb25tZW50XX0gPT0gImRldmVsb3BtZW50IiBdXTsgdGhlbgoJCQljb21tYW5k
PSJwaXAgaW5zdGFsbCAtZSAuIgoJCWZpCgkJcHV0cyAiICA8PC0gaSA+IHB5aW5zdGFsbDogJHtj
b21tYW5kfSIKCQlwdXRzICIgIDw8LSBpID4gcHlpbnN0YWxsOiBwaXA6IGluc3RhbGxpbmcgJHtj
b25maWdzW3Byb2dyYW1dfSBhcyBweXRob24gbW9kdWxlIgoJCWlmIFtbICQocGlwIGxpc3QgfCBn
cmVwIC1xICIke2NvbmZpZ3NbcHJvZ3JhbV19IikgXV07IHRoZW4KCQkJcHV0cyAiZm91bmQiCgkJ
ZmkKCQlzdWJzaGVsbCAiJGNvbW1hbmQiICI8PC0gaSA+IHB5aW5zdGFsbDogcGlwOiB7c3Rkb3V0
fSIKCQlpZiBbWyAkU1VCU0hFTExTVEFUVVMgLWVxIDAgXV07IHRoZW4KCQkJcHV0cyAiICA8PC0g
aSA+IHB5aW5zdGFsbDogcGlwOiBzdWNjZXNzZnVsbHkgaW5zdGFsbCAke2NvbmZpZ3NbcHJvZ3Jh
bV19IGFzIHB5dGhvbiBtb2R1bGUiCgkJZWxzZQoJCQlwdXRzICIgIDw8LSBpID4gcHlpbnN0YWxs
OiBwaXA6ICR7U1VCU0hFTExTVEFUVVN9OiBmYWlsZWQgaW5zdGFsbCAke2NvbmZpZ3NbcHJvZ3Jh
bV19IGFzIHB5dGhvbiBtb2R1bGUiCgkJZmkKCQl1bnNldCBJRlMKCQlyZXR1cm4gJHN0YXR1cwoJ
fQoJCgkjIEhhbmRsZSByZWFkbGluZSB3aXRoIGNvbG9yaXplZCBwcm9tcHQuCgkjIGV4ZWN1dGU6
IFt2YXJpYWJsZV09OyBzdGRpbiBbdmFyaWFibGVdIFtwcm9tcHRdIFtkZWZhdWx0XQoJZnVuY3Rp
b24gc3RkaW4oKSB7CgkJbG9jYWwgZGVmYXVsdD0iJDMiCgkJbG9jYWwgaW5wdXQ9CgkJbG9jYWwg
cHJvbXB0PSIkKHB1dHMgIiQyIikiCgkJbG9jYWwgdmFyaWFibGU9IiQxIgoJCWlmIFtbIC16ICQx
IF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGUgPiBzdGRpbjogZXJyb3I6IHZhcmlhYmxlIG5hbWUg
cmVxdWlyZWQiCgkJCXJldHVybiAxCgkJZWxpZiBbWyAteiAkMiBdXTsgdGhlbgoJCQlwdXRzICIg
IDw8LSBlID4gc3RkaW46IGVycm9yOiBpbnB1dCBwcm9tcHQgcmVxdWlyZWQiCgkJCXJldHVybiAx
CgkJZmkKCQl3aGlsZSBbWyAiJGlucHV0IiA9PSAiIiBdXTsgZG8KCQkJZWNobyAtbiAiICAkcHJv
bXB0ICIKCQkJcmVhZCAiaW5wdXQiCgkJCWlmIFtbIC16ICIkaW5wdXQiIF1dICYmIFtbIC1uICIk
ZGVmYXVsdCIgXV07IHRoZW4KCQkJCWlucHV0PSIkZGVmYXVsdCIKCQkJZmkKCQlkb25lCgkJaWYg
W1sgJHtjb25maWdzW2Vudmlyb25tZW50XX0gPT0gInByb2R1Y3Rpb24iIF1dOyB0aGVuCgkJCWV2
YWwgIiR2YXJpYWJsZT1cIiR7aW5wdXQvL1wiL1xcXCJ9XCIiID4+IC9kZXYvbnVsbCAyPiYxCgkJ
ZWxzZQoJCQlldmFsICIkdmFyaWFibGU9XCIke2lucHV0Ly9cIi9cXFwifVwiIgoJCWZpCgl9CgkK
CSMgSGFuZGxlIHN1YnNoZWxsIGV4ZWN1dGlvbi4KCSMgSSBkb24ndCBoYXZlIGFueSBpZGVhIGZv
ciBjaGVjayBsYXN0IHN0YXR1cyBjb2RlIGZyb20gc3Vic2hlbGwgCgkjIGJlY2F1c2UgUElQRVNU
QVRVUyBhbHdheXMgZ2l2ZSAxIHN0YXR1cyBjb2RlIHdoZW4gY29tbWFuZCB3b3JrIG9yIG5vIGVy
cm9yLgoJIyBleGVjdXRlOiBzdWJzaGVsbCAiY29tbWFuZCIgImZvcm1hdHRlciIKCWZ1bmN0aW9u
IHN1YnNoZWxsKCkgewoJCWxvY2FsIGNvbW1hbmQ9IiQxIgoJCWxvY2FsIGZvcm1hdHRlcj0iJDIi
CgkJd2hpbGUgSUZTPSByZWFkIC1yIHN0ZG91dDsgZG8KCQkJaWYgW1sgJChlY2hvIC1lICIkc3Rk
b3V0IiB8IGN1dCAtZCAiPSIgLWYgIjEiICkgIT0gIlNVQlNIRUxMU1RBVFVTIiBdXTsgdGhlbgoJ
CQkJcHV0cyAiICAkKGVjaG8gIiR7Zm9ybWF0dGVyL1x7c3Rkb3V0XH0vLyRzdGRvdXR9IikiCgkJ
CQljb250aW51ZQoJCQlmaQoJCQlldmFsICRzdGRvdXQKCQlkb25lIDwgPCgkY29tbWFuZDsgZWNo
byAtZSAiU1VCU0hFTExTVEFUVVM9JHtQSVBFU1RBVFVTWzBdfSIpCgl9CgkKCSMgSGFuZGxlIHVw
Z3JhZGUgYXBwbGljYXRpb24gaW50byBuZXcgdmVyc2lvbgoJIyBmcm9tIHJlbW90ZSByZXBvc2l0
b3J5IGUuZyBnaXRodWIsIGdpdGxhYi4KCSMgZXhlY3V0ZTogdXBncmFkZSAteQoJZnVuY3Rpb24g
dXBncmFkZSgpIHsKCQlpZiBbWyAteiAke2NvbmZpZ3NbcmVwb3NpdG9yeV19IF1dOyB0aGVuCgkJ
CXB1dHMgIiAgPDwtIGkgPiB1cGdyYWRlOiBubyByZW1vdGUgcmVwb3NpdG9yeSBhdmFpbGFibGUi
CgkJCXJldHVybiAxCgkJZmkKCQlsb2NhbCB1cGdyYWRlPSQxCgkJaWYgW1sgLXogIiR1cGdyYWRl
IiBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4gdXBncmFkZTogJHtiYXNlcGF0aH06IHRoaXMg
ZGlyZWN0b3J5IHdpbGwgYmUgZGVsZXRlZCBwZXJtYW5lbnRseSIKCQkJc3RkaW4gInVwZ3JhZGUi
ICI8PC0gciA+IHVwZ3JhZGU6IGFyZSB5b3Ugc3VyZSB3YW50IHRvIHVwZ3JhZGUgW1kvbl0iICJu
IgoJCWVsc2UKCQkJdXBncmFkZT0kKGVjaG8gLWUgIiQxIiB8IGN1dCAtZCAiLSIgLWYgIjIiKQoJ
CWZpCgkJaWYgW1sgIiR7dXBncmFkZV5efSIgIT0gIlkiIF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwt
IGUgPiB1cGdyYWRlOiBhYm9ydGVkIgoJCQlyZXR1cm4gMQoJCWZpCgkJbG9jYWwgYXJjaGl2ZT0k
KGNkIC4uOyBwd2QpCgkJYXJjaGl2ZSs9Ii8iCgkJYXJjaGl2ZSs9JChlY2hvIC1lICQoYXJjaGl2
ZSkgfCBjdXQgLWQgIi0iIC1mICIxIikKCQlsb2NhbCBicmFuY2g9JChnaXQgcmVtb3RlIHNob3cg
b3JpZ2luIHwgZ3JlcCAiSEVBRCBicmFuY2giIHwgYXdrICJ7cHJpbnQgXCRORn0iKQoJCWlmIFtb
IC16ICIkYnJhbmNoIiBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogZ2l0OiBz
b21ldGhpbmcgd3Jvbmcgd2l0aCB5b3VyIGdpdCByZXBvc2l0b3J5IgoJCQlyZXR1cm4gMQoJCWZp
CgkJbG9jYWwgY29tcHJlc3Npb249JHtjb25maWdzW2NvbXByZXNzXX0KCQlpZiBbWyAteiAkYXJj
aGl2ZSBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogJHtjb21wcmVzc2lvbn06
IHVuc3VwcG9ydGVkIGNvbXByZXNzaW9uIgoJCQlyZXR1cm4gMQoJCWZpCgkJbG9jYWwgcmVwb3Np
dG9yeT0iJHtjb25maWdzW3JlcG9zaXRvcnldfSIKCQlpZiBbWyAiJGNvbXByZXNzaW9uIiA9PSAi
dGFyIiBdXTsgdGhlbgoJCQlhcmNoaXZlKz0iLnRhci5neiIKCQkJcmVwb3NpdG9yeSs9Ii9hcmNo
aXZlL3JlZnMvaGVhZHMvJHticmFuY2h9LnRhci5neiIKCQllbHNlCgkJCWFyY2hpdmUrPSIuemlw
IgoJCQlyZXBvc2l0b3J5Kz0iL2FyY2hpdmUvcmVmcy9oZWFkcy8ke2JyYW5jaH0uemlwIgoJCWZp
CgkJbG9jYWwgZXh0cmFjdGVkPSQoZWNobyAtZSAiJHJlcG9zaXRvcnkiIHwgY3V0IC1kICIvIiAt
ZiAiNSIgKQoJCWV4dHJhY3RlZCs9Ii0ke2JyYW5jaH0iCgkJcHV0cyAiICA8PC0gZSA+IHVwZ3Jh
ZGU6IHdnZXQ6ICRyZXBvc2l0b3J5OiBkb3dubG9hZGluZyBhcmNoaXZlIgoJCXdnZXQgLS10cmll
cz0yMCAiJHJlcG9zaXRvcnkiIC0tc2hvdy1wcm9ncmVzcyAtLXByb2dyZXNzPWJhcjpmb3JjZTpu
b3Njcm9sbCAtTyAiJGFyY2hpdmUiCgkJaWYgW1sgJD8gLW5lIDAgXV07IHRoZW4KCQkJcHV0cyAi
ICA8PC0gZSA+IHVwZ3JhZGU6IHdnZXQ6IHNvbWV0aGluZyB3cm9uZyB3aGVuIGRvd25sb2FkaW5n
IGFyY2hpdmUiCgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiB3Z2V0OiBwbGVhc2UgbWFrZXN1
cmUgY2hlY2sgeW91ciByZW1vdGUgcmVwb3NpdG9yeSB1cmwiCgkJCXJldHVybiAxCgkJZmkKCQls
b2NhbCBjb21tYW5kPSJ0YXIgLXh2ZiAkYXJjaGl2ZSIKCQlpZiBbWyAiJGNvbXByZXNzaW9uIiA9
PSAiemlwIiBdXTsgdGhlbgoJCQljb21tYW5kPSJ1bnppcCAkYXJjaGl2ZSIKCQlmaQoJCWNkIC4u
CgkJc3Vic2hlbGwgIiRjb21tYW5kIiAiPDwtIGUgPiB1cGdyYWRlOiAke2NvbXByZXNzaW9ufTog
e3N0ZG91dH0iCgkJaWYgW1sgJFNVQlNIRUxMU1RBVFVTIC1lcSAwIF1dOyB0aGVuCgkJCWlmIFtb
ICEgLWQgIiRleHRyYWN0ZWQiIF1dOyB0aGVuCgkJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTog
JHtleHRyYWN0ZWR9OiBubyBzdWNoIGV4dHJhY3RlZCBkaXJlY3RvcnkiCgkJCQlwdXRzICIgIDw8
LSBlID4gdXBncmFkZTogcGxlYXNlIHJlcG9ydCB0aGlzIGluc2lkZW4gaW50byBkZXZlbG9wZXIi
CgkJCQlyZXR1cm4gMQoJCQlmaQoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogJHtiYXNlcGF0
aH06IHJlbW92aW5nIGRpcmVjdG9yeSIKCQkJcm0gLXJmICR7YmFzZXBhdGh9CgkJCWlmIFtbICR7
UElQRVNUQVRVU1swXX0gLW5lIDAgXV07IHRoZW4KCQkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRl
OiAke2Jhc2VwYXRofTogZmFpbGVkIHJlbW92aW5nIGRpcmVjdG9yeSIKCQkJCXJldHVybiAxCgkJ
CWZpCgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiAke2V4dHJhY3RlZH06IG1vdmluZyBkaXJl
Y3RvcnkiCgkJCW12ICR7ZXh0cmFjdGVkfSAke2Jhc2VwYXRofQoJCQlpZiBbWyAke1BJUEVTVEFU
VVNbMF19IC1uZSAwIF1dOyB0aGVuCgkJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogJHtleHRy
YWN0ZWR9OiBmYWlsZWQgbW92aW5nIGRpcmVjdG9yeSIKCQkJCXJldHVybiAxCgkJCWZpCgkJCXB1
dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiBjaGFuZ2Ugd29ya2luZyBkaXJlY3RvcnkiCgkJCWNkIC0K
CQkJcHV0cyAiICA8PC0gZSA+IHVwZ3JhZGU6IHN1Y2Nlc3NmdWxseSB1cGdyYWRlIHByb2dyYW0i
CgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiBwbGVhc2UgcmUtcnVuIHRoaXMgcHJvZ3JhbSB3
aXRoIG9wdGlvbiAtLWluaXRpYWwiCgkJZWxzZQoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTog
JHtjb21wcmVzc2lvbn06ICR7YXJjaGl2ZSMjL306IGZhaWxlZCBkZWNvbXByZXNzIGFyY2hpdmUi
CgkJCXJldHVybiAxCgkJZmkKCX0KCQoJIyBDaGVjayBpZiBjb25maWd1cmF0aW9uIGZpbGUgaXMg
ZXhpc3RzLgoJaWYgW1sgLWYgJGNvbmZpZyBdXTsgdGhlbgoJCWNvbmZpZyAtLXJlYWQKCQlpZiBb
WyAkPyAtZXEgMSBdXTsgdGhlbgoJCQlyZXR1cm4gMQoJCWZpCglmaQoJCgkjIENoZWNrIGFuZCB2
YWxpZGF0ZSBkZXBlbmRlbmN5IHJlcXVpcmVtZW50LgoJZGVwZW5kZW5jeQoJaWYgW1sgJD8gLWVx
IDEgXV07IHRoZW4KCQlyZXR1cm4gMQoJZmkKCQoJIyBDaGVjayB3aGV0aGVyIGlmIHJvb3QgcHJl
dmlsZWdlcyByZXF1aXJlIGZvciBydW4gdGhlIHByb2dyYW0uCglpZiBbWyAke2NvbmZpZ3Nbcm9v
dF19ID09IHRydWUgXV07IHRoZW4KCQlpZiBbWyAkVUlEIC1uZSAwIF1dOyB0aGVuCgkJCXB1dHMg
IiAgPDwtICEgPiAke2NvbmZpZ3NbcHJvZ3JhbV19OiByb290IHByZXZpbGVnZXMgcmVxdWlyZWQi
CgkJCXJldHVybiAxCgkJZmkKCWZpCgkKCWlmIFtbIC1uICIkYWN0aW9uIiBdXTsgdGhlbgoJCWNh
c2UgIiRhY3Rpb24iIGluCgkJCWJhY2tpbmcpIGJhY2tpbmcgJHthcmd1bWVudHNbQF19IDs7CgkJ
CWNvbW1pdHMpIGNvbW1pdHMgOzsKCQkJaW5zdGFsbCkgcHlpbnN0YWxsIDs7CgkJCWxpbnRpbmcp
IGxpbnRpbmcgOzsKCQkJcGFja2FnZSkgcGlwICR7YXJndW1lbnRzW0BdfSA7OwoJCQlkZXBsb3lz
KSBkZXBsb3lzIDs7CgkJCXVwZ3JhZGUpIHVwZ3JhZGUgJHthcmd1bWVudHNbQF19IDs7CgkJCSop
CgkJCQlwdXRzICIgICIKCQkJCXB1dHMgIiAgVXNhZ2U6IGJhc2ggXCIkKGJhc2VuYW1lICR7X19u
YW1lX199KVwiIFtPUFRJT05TXSBbQ09NTUFORF0gW0FSR1NdLi4uIgoJCQkJcHV0cyAiICAgICAg
ICAgYmFzaCBcIiQoYmFzZW5hbWUgJHtfX25hbWVfX30pXCIgW1tDT01NQU5EXV0gW09QVElPTlNd
IFtBUkdTXS4uLiIKCQkJCXB1dHMgIiAgIgoJCQkJcHV0cyAiICAgICR7Y29uZmlnc1twcm9ncmFt
XV59IgoJCQkJcHV0cyAiICAiCgkJCQlwdXRzICIgIENvbW1hbmRzOiIKCQkJCXB1dHMgIiAgIgoJ
CQkJcHV0cyAiICAgIC0gW1tiYWNraW5nXV0gICAgICAgUGVyZm9ybWluZyBhIGJhY2t1cCBvZiB0
aGUgcHJvZ3JhbSBjb2RlIgoJCQkJcHV0cyAiICAgICAgICAgICAgICAgICAgICAgICAgwrcgQXJn
dW1lbnRzOiIKCQkJCXB1dHMgIiAgICAgICAgICAgICAgICAgICAgICAgICAgLSBbY29tcHJlc3Np
b25dIGUuZyB0YXJ8emlwIgoJCQkJcHV0cyAiICAgICAgICAgICAgICAgICAgICAgICAgICAtIFtl
eHRlbnNpb25dIGUuZyB0YXIuZ3p8emlwIgoJCQkJcHV0cyAiICAgIC0gW1tjb21taXRzXV0gICAg
ICAgTWFrZSBhIGNvbW1pdCB0byBhbGwgZmlsZXMgZXhjZXB0IGluIC5naXRpZ25vcmUiCgkJCQlw
dXRzICIgICAgLSBbW2hlbHBdXSAgICAgICAgICBTaG93IHRoaXMgbWVzc2FnZSBhbmQgZXhpdCIK
CQkJCXB1dHMgIiAgICAtIFtbaW5zdGFsbF1dICAgICAgIEluc3RhbGwgdGhlIHByb2dyYW0gY29k
ZSBhcyBhIHB5dGhvbiBtb2R1bGUiCgkJCQlwdXRzICIgICAgLSBbW2xpbnRpbmddXSAgICAgICBS
dW4gcHlsaW50IHRvIHBlcmZvcm0gY29kZSBhbmFseXNpcyIKCQkJCXB1dHMgIiAgICAtIFtbcGFj
a2FnZV1dICAgICAgIEFsaWFzIGZvciBwaXAgd2hlbiB5b3UgcnVuIG9uIHZlbnYiCgkJCQlwdXRz
ICIgICAgLSBbW2RlcGxveXNdXSAgICAgICBEZXBsb3kgY29kZSBpbnRvIG11bHRpcGxlIGVudGly
ZSByZW1vdGUgc2VydmVycyIKCQkJCXB1dHMgIiAgICAtIFtbdXBncmFkZV1dICAgICAgIFVwZ3Jh
ZGUgcHJvZ3JhbSBpbnRvIGxhdGVzdCB2ZXJzaW9uIGZyb20gcmVtb3RlIHJlcG9zaXRvcnkiCgkJ
CQlwdXRzICIgICAgICAgICAgICAgICAgICAgICAgICDCtyBPcHRpb25zOiIKCQkJCXB1dHMgIiAg
ICAgICAgICAgICAgICAgICAgICAgICAgLSBbLXldIEZvcmNlIGF1dG8gdXBkYXRlIHdpdGhvdXQg
Y29uZmlybWF0aW9uIiAKCQkJCXB1dHMgIiAgIgoJCQkJcHV0cyAiICBFeGFtcGxlOiBiYXNoIFwi
JChiYXNlbmFtZSAke19fbmFtZV9ffSlcIiIKCQkJCXB1dHMgIiAgICAgICAgICAgYmFzaCBcIiQo
YmFzZW5hbWUgJHtfX25hbWVfX30pXCIgW1tiYWNraW5nXV0gdGFyIHRhci5neiIKCQkJCXB1dHMg
IiAgIgoJCQkJaWYgW1sgIiRhY3Rpb24iICE9ICJoZWxwIiBdXTsgdGhlbgoJCQkJCXJldHVybiAx
CgkJCQlmaQoJCQk7OwoJCWVzYWMKCWVsc2UKCQlweXRob24zIHNyYy8ke2NvbmZpZ3NbcHJvZ3Jh
bV19LnB5ICR7YXJndW1lbnRzW0BdfQoJZmkKCQoJaWYgW1sgJChjb21tYW5kIC12IGRlYWN0aXZh
dGUpIF1dOyB0aGVuCgkJZGVhY3RpdmF0ZQoJCWlmIFtbICQ/IC1lcSAxIF1dOyB0aGVuCgkJCXB1
dHMgIiAgPDwtIGkgPiAke2NvbmZpZ3NbcHJvZ3JhbV19OiBzb21ldGhpbmcgd3Jvbmcgd2hlbiBk
ZWFjdGl2YXRlIHZlbnYiCgkJCXJldHVybiAxCgkJZmkKCWZpCgkKCWlmIFtbICR7Y29uZmlnc1tj
bGVhbl19ID09IHRydWUgXV07IHRoZW4KCQlmb3IgY2FjaGUgaW4gJChmaW5kICIke2Jhc2VwYXRo
fS8iIHwgZ3JlcCAiX19weWNhY2hlX18iKTsgZG8KCQkJaWYgW1sgLWQgJGNhY2hlIF1dOyB0aGVu
CgkJCQlybSAtcmYgJGNhY2hlCgkJCQlpZiBbWyAkPyAtbmUgMCBdXTsgdGhlbgoJCQkJCXB1dHMg
IiAgPDwtIGkgPj4gJHtjb25maWdzW3Byb2dyYW1dfTogJHtjYWNoZX06IGZhaWxlZCByZW1vdmUg
Y2FjaGUiCgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCWZpCgkJZG9uZQoJZmkKCQoJcmV0dXJuIDAK
fQoKbWFpbiAiJEAiCmV4aXQgIiQ/Igo=
