IyB7Pz1wcm9qZWN0fQp7Pz1iaW9ncmFwaH0KCiMjIExpY2VuY2UKQWxsIHs/PXByb2plY3R9IHNv
dXJjZSBjb2RlIGlzIGxpY2Vuc2VkIHVuZGVyIHRoZSBHTlUgR2VuZXJhbCBQdWJsaWMgTGljZW5z
ZSB2My4gUGxlYXNlIFtzZWVdKGh0dHBzOi8vd3d3LmdudS5vcmcvbGljZW5zZXMpIHRoZSBvcmln
aW5hbCBkb2N1bWVudCBmb3IgbW9yZSBkZXRhaWxzLgo=
