----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgYmFzaAoKez89Y29tbWVudH0KIyBTdWJzaGVsbCBzdGF0dXMgY29kZQoj
IEp1c3QgZm9yIGNvbnRhaW5lciBsYXN0IHN1YnNoZWxsIGV4aXQgY29kZS4KU1VCU0hFTExTVEFU
VVM9CgojIEN1cnJlbnQgZmlsZW5hbWUuCl9fbmFtZV9fPSIkMCIKCiMgVGFyZ2V0IGJhc2VuYW1l
LgpwYXRobmFtZT0kKGJhc2VuYW1lICRfX25hbWVfXykKCiMgQ2hhbmdlIGN1cnJlbnQgd29ya2lu
ZyBkaXJlY3RvcnkuCmNkICQoZGlybmFtZSAkX19uYW1lX18pCgojIEl0ZXJhdGUgZG93biBhIChw
b3NzaWJsZSkgY2hhaW4gb2Ygc3ltbGlua3MuCndoaWxlIFsgLUwgIiRwYXRobmFtZSIgXQpkbwog
ICAgcGF0aG5hbWU9JChyZWFkbGluayAkcGF0aG5hbWUpCiAgICBjZCAkKGRpcm5hbWUgJHBhdGhu
YW1lKQogICAgcGF0aG5hbWU9JChiYXNlbmFtZSAkcGF0aG5hbWUpCmRvbmUKCiMgQ2xlYXIgdGhl
IHRlcm1pbmFsIHNjcmVlbnMuCmNsZWFyCgojIEdldCBjdXJyZW50IGFwcGxpY2F0aW9uIGJhc2Vw
YXRoLgpiYXNlcGF0aD0kKHB3ZCkKCiMgRm9yIGNvbXBhdGliaWx0eSBzeXN0ZW0uCmlmIFtbICEg
JChjb21tYW5kIC12IHB1dHMpIF1dOyB0aGVuCgkKCSMgUHV0cyBpcyBhIHByZXR0eSBjb21tYW5k
IGxpbmUgb3V0cHV0IChqdXN0IGZvciBteSBvcyBvbmx5KQoJZnVuY3Rpb24gcHV0cygpIHsKCQll
Y2hvIC1lICJceDFiWzBtJEAiCgl9CmZpCgojIENoZWNrIGlmIGRlZmF1bHQgdmlydHVhbCBlbnZp
cm9ubWVudCB2YXJpYWJsZSAoZG9lcyBub3Qgc2V0IG9yIGJsYW5rKS4KaWYgW1sgISAtbiAkVklS
VFVBTCBdXTsgdGhlbgoJZXhwb3J0IFZJUlRVQUw9L2hvbWUvdmlydHVhbC9iaW4vYWN0aXZhdGUK
ZmkKCmZ1bmN0aW9uIG1haW4oKSB7CgkKCSMgUHJvZ3JhbSBhY3Rpb24uCglsb2NhbCBhY3Rpb249
IiIKCWlmIFtbIC1uICIkMSIgXV07IHRoZW4KCQlhY3Rpb249JChlY2hvICIkMSIgfCBncmVwIC1v
UCAiXFt7Mn1cSyhbXlxdXSspIiB8fCBlY2hvICIiKQoJCWlmIFtbICJbWyRhY3Rpb25dXSIgIT0g
IiQxIiBdXTsgdGhlbgoJCQl1bnNldCBhY3Rpb24KCQlmaQoJZmkKCQoJdW5zZXQgSUZTCgkKCSMg
UHJvZ3JhbSBhcmd1bWVudCB2YWx1ZXMuCglsb2NhbCBhcmd1bWVudHM9KCkKCWxvY2FsIGk9MQoJ
Zm9yIGFyZ3VtZW50IGluICR7QH07IGRvCgkJaWYgW1sgJGkgLW5lIDEgXV0gfHwgW1sgLXogIiRh
Y3Rpb24iIF1dOyB0aGVuCgkJCWFyZ3VtZW50cys9KCAiJGFyZ3VtZW50IiApCgkJZmkKCQlpPSQo
KGkrMSkpCglkb25lCgkKCSMgRGVmYXVsdCBmaWxlZSBjb25maWd1cmF0aW9ucy4KCWxvY2FsIGNv
bmZpZz0ke2Jhc2VwYXRofS8uY29uZmlnCgkKCSMgRGVmYXVsdCBhcHBsaWNhdGlvbiBjb25maWd1
cmF0aW9ucy4KCWRlY2xhcmUgLUEgY29uZmlncz0oCgkJW2JyYW5jaF09CgkJW2NoZWNrZWRdPWZh
bHNlCgkJW2NsZWFuXT10cnVlCgkJW2NvbXByZXNzXT10YXIKCQlbZW52aXJvbm1lbnRdPWRldmVs
b3BtZW50CgkJW2luY2x1ZGVdPSR7aW5jbHVkZXNbQF19CgkJW2xpYnJhcnldPQoJCVtwYWNrYWdl
c109CgkJW3Byb2dyYW1dPWV4YW1wbGUKCQlbcmVwb3NpdG9yeV09CgkJW3Jvb3RdPWZhbHNlCgkJ
W3NlcnZlcnNdPQoJCVt2ZXJzaW9uXT0xLjAuMAoJCVt2aXJ0dWFsXT0ke1ZJUlRVQUx9CgkJW3Zp
cnR1YWxpemVdPXRydWUKCSkKCQoJIyBEZWZhdWx0IGluY2x1ZGVzIGZpbGVzIGFuZCBkaXJlY3Rv
cmllcyBvbiBiYWNrdXAuCglsb2NhbCBpbmNsdWRlcz0oCgkJIi5naXQiCgkJIi5naXRpZ25vcmUi
CgkJIi5naXRodWIiCgkJIkxJQ0VOU0UiCgkJInB5cHJvamVjdC50b21sIgoJCSJSRUFETUUubWQi
CgkJInJlcXVpcmVtZW50cy50eHQiCgkJInJlc291cmNlcyIKCQkic2V0dXAucHkiCgkJInNyYyIK
CSkKCQoJIyBSZXBsYWNlIGFsbCBzcGFjZXMgaW50byBjb21tYSBhcyBzZXBhcmF0b3IuCgkjIEFu
ZCBwbGVhc2UgZG9uJ3QgdXNlIHNwYWNlcyBmb3IgZmlsZSBvciBkaXJlY3RvcnkgbmFtZSEKCWNv
bmZpZ3NbaW5jbHVkZV09IiR7Y29uZmlnc1tpbmNsdWRlXS8vIC8sfSIKCQoJIyBIYW5kbGUgYWN0
aXZhdGUgdmlydHVhbCBlbnZpcm9ubWVudC4KCWZ1bmN0aW9uIGFjdGl2YXRlKCkgewoJCWxvY2Fs
IGNvbW1hbmQ9CgkJbG9jYWwgY3JlYXRlPQoJCWxvY2FsIGZpbGVuYW1lPQoJCWxvY2FsIGluc3Rh
bGw9CgkJbG9jYWwgbW5hbWU9CgkJbG9jYWwgbXZlcnNpb249CgkJbG9jYWwgbW9wZXJhdG9yPQoJ
CWxvY2FsIHJlcXVpcmVtZW50PSIke2Jhc2VwYXRofS9yZXF1aXJlbWVudHMudHh0IgoJCWxvY2Fs
IHJlcXVpcmVtZW50cz0oKQoJCWlmIFtbICR7Y29uZmlnc1t2aXJ0dWFsaXplXX0gPT0gZmFsc2Ug
XV07IHRoZW4KCQkJcmV0dXJuIDAKCQllbGlmIFtbIC16ICR7Y29uZmlnc1t2aXJ0dWFsXX0gXV07
IHRoZW4KCQkJcHV0cyAiICA8PC0gaSA+IGFjdGl2YXRlOiB2ZW52IGVudmlyb25tZW50IGFjdGl2
YXRpb246IGUuZyAvcGF0aC90by92ZW52L2Jpbi9hY3RpdmF0ZSIKCQkJd2hpbGUgW1sgISAtZiAk
ZmlsZW5hbWUgXV07IGRvCgkJCQlzdGRpbiAiZmlsZW5hbWUiICI8PC0gciA+IHZpcnR1YWw6IgoJ
CQkJaWYgW1sgIiRmaWxlbmFtZSIgPSAiIiBdXTsgdGhlbgoJCQkJCWNvbnRpbnVlCgkJCQllbGlm
IFtbICEgLWYgIiRmaWxlbmFtZSIgXV07IHRoZW4KCQkJCQl0YXJnZXQ9JChkaXJuYW1lICIke2Zp
bGVuYW1lfSIpCgkJCQkJaWYgW1sgIiR0YXJnZXQiID09ICIuIiBdXTsgdGhlbgoJCQkJCQl0YXJn
ZXQ9JChwd2QpCgkJCQkJZmkKCQkJCQl3aGlsZSBbWyAkY3JlYXRlID09ICIiIF1dOyBkbwoJCQkJ
CQlzdGRpbiAiY3JlYXRlIiAiPDwtIHIgPiBhY3RpdmF0ZTogY3JlYXRlIHRoZSB2aXJ0dWFsIGVu
dmlyb25tZW50IGhlcmUgXCIke3RhcmdldH1cIiB3aXRoIG5hbWUgXCIke2ZpbGVuYW1lfVwiIFtZ
L25dIgoJCQkJCQlpZiBbWyAkY3JlYXRlID09ICIiIF1dOyB0aGVuCgkJCQkJCQljcmVhdGU9eQoJ
CQkJCQlmaQoJCQkJCQljcmVhdGU9IiR7Y3JlYXRlLCx9IgoJCQkJCQlpZiBbWyAiJGNyZWF0ZSIg
PT0gInkiIF1dOyB0aGVuCgkJCQkJCQlwdXRzICIgIDw8LSBpID4gYWN0aXZhdGU6IGNyZWF0aW5n
IHZpcnR1YWwgZW52aXJvbm1lbnQgb24gXCIke3RhcmdldH1cIiIKCQkJCQkJCXB5dGhvbjMgLW0g
dmVudiAke3RhcmdldH0KCQkJCQkJCWlmIFtbICQ/IC1lcSAwIF1dOyB0aGVuCgkJCQkJCQkJY29u
Zmlnc1t2aXJ0dWFsXT0kZmlsZW5hbWUKCQkJCQkJCQlwdXRzICIgIDw8LSBpID4gYWN0aXZhdGU6
IHN1Y2Nlc3MgY3JlYXRlZCB2aXJ0dWFsIGVudmlyb25tZW50IG9uIFwiJHt0YXJnZXR9XCIiCgkJ
CQkJCQlmaQoJCQkJCQkJY3JlYXRlPQoJCQkJCQkJYnJlYWsKCQkJCQkJZWxpZiBbWyAiJGNyZWF0
ZSIgPT0gIm4iIF1dOyB0aGVuCgkJCQkJCQljcmVhdGU9CgkJCQkJCQlicmVhawoJCQkJCQllbHNl
CgkJCQkJCQljcmVhdGU9CgkJCQkJCWZpCgkJCQkJZG9uZQoJCQkJZWxzZQoJCQkJCWNvbmZpZ3Nb
dmlydHVhbF09JGZpbGVuYW1lCgkJCQkJYnJlYWsKCQkJCWZpCgkJCWRvbmUKCQkJc3RkaW4gImlu
c3RhbGwiICI8PC0gciA+IGFjdGl2YXRlOiByZXF1aXJlbWVudDogaW5zdGFsbCBhbGwgcmVxdWly
ZW1lbnQgbW9kdWxlcyBbWS9uXSIKCQkJaW5zdGFsbD0iJHtpbnN0YWxsLCx9IgoJCQlpZiBbWyAi
JGluc3RhbGwiID09ICJ5IiBdXTsgdGhlbgoJCQkJcGlwIGluc3RhbGwgLXIgIiRyZXF1aXJlbWVu
dCIKCQkJCWlmIFtbICQ/IC1lcSAxIF1dOyB0aGVuCgkJCQkJcHV0cyAiICA8PC0gZSA+IGFjdGl2
YXRlOiByZXF1aXJlbWVudDogZmFpbGVkIGluc3RhbGwgcmVxdWlyZW1lbnQgcHl0aG9uIG1vZHVs
ZXMiCgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCQljb25maWdzW2NoZWNrZWRdPXRydWUKCQkJCWlu
c3RhbGw9CgkJCQlicmVhawoJCQllbGlmIFtbICIkaW5zdGFsbCIgPT0gIm4iIF1dOyB0aGVuCgkJ
CQlwdXRzICIgIDw8LSBlID4gYWN0aXZhdGU6IHJlcXVpcmVtZW50OiBhYm9ydGVkIgoJCQkJcmV0
dXJuIDEKCQkJZWxzZQoJCQkJaW5zdGFsbD0KCQkJZmkKCQkJY29uZmlnIC0td3JpdGUKCQllbGlm
IFtbICEgLWYgJHtjb25maWdzW3ZpcnR1YWxdfSBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4g
YWN0aXZhdGU6ICR7Y29uZmlnc1t2aXJ0dWFsXX06IG5vIHN1Y2ggZmlsZSBvciBkaXJlY3Rvcnki
CgkJCWNvbmZpZ3NbdmlydHVhbF09CgkJCWFjdGl2YXRlCgkJCXJldHVybiAkPwoJCWZpCgkJc291
cmNlICR7Y29uZmlnc1t2aXJ0dWFsXX0KCQlpZiBbWyAkPyAtbmUgMCBdXTsgdGhlbgoJCQlwdXRz
ICIgIDw8LSAhID4gYWN0aXZhdGU6IHNvbWV0aGluZyB3cm9uZyB3aGVuIGFjdGl2YXRlIHZpcnR1
YWwgZW52aXJvbm1lbnQiCgkJCXJldHVybiAxCgkJZmkKCQlpZiBbWyAke2NvbmZpZ3NbY2hlY2tl
ZF19ICE9IHRydWUgXV0gJiYgW1sgLWYgJHJlcXVpcmVtZW50IF1dOyB0aGVuCgkJCXJlYWRhcnJh
eSAtdCByZXF1aXJlbWVudHMgPCAiJHJlcXVpcmVtZW50IgoJCQlmb3IgbW9kdWxlIGluICR7cmVx
dWlyZW1lbnRzW0BdfTsgZG8KCQkJCW1uYW1lPSQoZWNobyAiJG1vZHVsZSIgfCBzZWQgLUUgInMv
KF5bYS16QS1aMC05Xy1dKykuKi9cMS8iKQoJCQkJbXZlcnNpb249JChlY2hvICIkbW9kdWxlIiB8
IHNlZCAtRSAicy9eW2EtekEtWjAtOV8tXSsoPj18PD18PT18Pnw8fD0pKFswLTlcLl0rKS9cMi8i
KQoJCQkJbW9wZXJhdG9yPSQoZWNobyAiJG1vZHVsZSIgfCBzZWQgLUUgInMvXlthLXpBLVowLTlf
LV0rKD49fDw9fD09fD58PHw9KShbMC05XC5dKykvXDEvIikKCQkJCWlmIFtbICQocGlwIGxpc3Qg
fCBncmVwICIkbW5hbWUiIHwgZ3JlcCAiJG12ZXJzaW9uIikgPT0gIiIgXV07IHRoZW4KCQkJCQlw
dXRzICIgIDw8LSBpID4gZGVwZW5kZW5jeTogbW9kdWxlOiAke21vZHVsZX06IHB5dGhvbiBtb2R1
bGUgaXMgbm90IGluc3RhbGxlZCIKCQkJCQlzdGRpbiAiaW5zdGFsbCIgIjw8LSByID4gZGVwZW5k
ZW5jeTogbW9kdWxlOiAke21vZHVsZX06IGluc3RhbGwgdGhpcyBtb2R1bGUgW1kvbl0iCgkJCQkJ
aW5zdGFsbD0iJHtpbnN0YWxsLCx9IgoJCQkJCWlmIFtbICIkaW5zdGFsbCIgPT0gInkiIF1dOyB0
aGVuCgkJCQkJCWNvbW1hbmQ9InBpcCBpbnN0YWxsICR7bW9kdWxlfSIKCQkJCQkJcHV0cyAiICA8
PC0gaSA+IGRlcGVuZGVuY3k6IG1vZHVsZTogJHttb2R1bGV9OiAke2NvbW1hbmR9IgoJCQkJCQlw
dXRzICIgIDw8LSBpID4gZGVwZW5kZW5jeTogbW9kdWxlOiAke21vZHVsZX06IHBpcDogaW5zdGFs
bGluZyBweXRob24gbW9kdWxlIgoJCQkJCQlzdWJzaGVsbCAiJGNvbW1hbmQiICI8PC0gaSA+IGRl
cGVuZGVuY3k6IG1vZHVsZTogJHttb2R1bGV9OiBwaXA6IHtzdGRvdXR9IgoJCQkJCQlpZiBbWyAk
U1VCU0hFTExTVEFUVVMgLWVxIDEgXV07IHRoZW4KCQkJCQkJCXB1dHMgIiAgPDwtIGUgPiBkZXBl
bmRlbmN5OiBtb2R1bGU6ICR7bW9kdWxlfTogcGlwOiBmYWlsZWQgaW5zdGFsbCBweXRob24gbW9k
dWxlIgoJCQkJCQkJcmV0dXJuIDEKCQkJCQkJZmkKCQkJCQkJdW5zZXQgSUZTCgkJCQkJCWluc3Rh
bGw9CgkJCQkJCWJyZWFrCgkJCQkJZWxpZiBbWyAiJGluc3RhbGwiID09ICJuIiBdXTsgdGhlbgoJ
CQkJCQlwdXRzICIgIDw8LSBlID4gZGVwZW5kZW5jeTogbW9kdWxlOiBhYm9ydGVkIgoJCQkJCQly
ZXR1cm4gMQoJCQkJCWVsc2UKCQkJCQkJaW5zdGFsbD0KCQkJCQlmaQoJCQkJZmkKCQkJZG9uZQoJ
CWZpCgl9CgkKCSMgUmV0dXJuIGFyY2hpdmUgZmlsZW5hbWUuCglmdW5jdGlvbiBhcmNoaXZlKCkg
ewoJCWxvY2FsIGNvbXByZXNzaW9uPSR7Y29uZmlnc1tjb21wcmVzc119CgkJaWYgW1sgLW4gJDEg
XV07IHRoZW4KCQkJY29tcHJlc3Npb249JDEKCQlmaQoJCWxvY2FsIGV4dGVuc2lvbj0idGFyLmd6
IgoJCWlmIFtbIC1uICQyIF1dOyB0aGVuCgkJCWV4dGVuc2lvbj0kMgoJCWZpCgkJaWYgW1sgIiRj
b21wcmVzc2lvbiIgPX4gXih0YXJ8emlwKSQgXV07IHRoZW4KCQkJaWYgW1sgIiRjb21wcmVzc2lv
biIgPT0gInppcCIgXV07IHRoZW4KCQkJCWV4dGVuc2lvbj0iemlwIgoJCQlmaQoJCQllY2hvICIk
e2NvbmZpZ3NbcHJvZ3JhbV0sLH0tJHtjb25maWdzW3ZlcnNpb25dfS4ke2V4dGVuc2lvbn0iCgkJ
ZmkKCX0KCQoJIyBIYW5kbGUgY3JlYXRlIHByb2dyYW0gYXJjaGl2ZS4KCSMgZXhlY3V0ZTogYmFj
a2luZyBbYXJndW1lbnRzXQoJZnVuY3Rpb24gYmFja2luZygpIHsKCQlsb2NhbCBhcmNoaXZlPSQo
YXJjaGl2ZSAkQCkKCQlsb2NhbCBjb21wcmVzc2lvbj0ke2NvbmZpZ3NbY29tcHJlc3NdfQoJCWlm
IFtbIC1uICQxIF1dOyB0aGVuCgkJCWNvbXByZXNzaW9uPSQxCgkJZmkKCQlpZiBbWyAteiAkYXJj
aGl2ZSBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gYmFja2luZzogJHtjb21wcmVzc2lvbn06
IHVuc3VwcG9ydGVkIGNvbXByZXNzaW9uIgoJCQlyZXR1cm4gMQoJCWZpCgkJbG9jYWwgZmlsZW5h
bWVzPSgpCgkJbG9jYWwgYXJndW1lbnRzPSgpCgkJaWYgW1sgIiRjb21wcmVzc2lvbiIgPT0gInRh
ciIgXV07IHRoZW4KCQkJYXJndW1lbnRzKz0oICItY3ZmIiApCgkJZmkKCQlJRlM9IiwiIHJlYWQg
LXIgLWEgZmlsZW5hbWVzIDw8PCAiJHtjb25maWdzW2luY2x1ZGVdfSIKCQl1bnNldCBJRlMKCQlm
b3IgaW5kZXggaW4gJHshZmlsZW5hbWVzW0BdfTsgZG8KCQkJbG9jYWwgZmlsZW5hbWU9JHtmaWxl
bmFtZXNbJGluZGV4XX0KCQkJaWYgW1sgISAtZCAkZmlsZW5hbWUgXV0gJiYgW1sgISAtZiAkZmls
ZW5hbWUgXV07IHRoZW4KCQkJCXVuc2V0IGZpbGVuYW1lc1skaW5kZXhdCgkJCWZpCgkJZG9uZQoJ
CWxvY2FsIGluZGV4PTEKCQlsb2NhbCBsZW5ndGg9JHsjZmlsZW5hbWVzW0BdfQoJCWxvY2FsIHNw
YWNlcz0iIgoJCWxvY2FsIGNvbW1hbmQ9IiRjb21wcmVzc2lvbiAke2FyZ3VtZW50c1tAXX0iCgkJ
Zm9yICgoIGk9MDsgaTwkeyNjb21tYW5kfTsgaSsrICkpOyBkbwoJCQlzcGFjZXMrPSIgIgoJCWRv
bmUKCQlsb2NhbCBjb21tYW5kPSIkY29tcHJlc3Npb24gJHthcmd1bWVudHNbQF19ICRhcmNoaXZl
ICR7ZmlsZW5hbWVzW0BdfSIKCQlwdXRzICIgIDw8LSBpID4gYmFja2luZzogY3JlYXRpbmcgYXJj
aGl2ZSB3aXRoIFwiJHtjb21wcmVzc2lvbn1cIiBjb21wcmVzc2lvbiIKCQlwdXRzICIgIDw8LSBp
ID4gYmFja2luZzogJGNvbXByZXNzaW9uICR7YXJndW1lbnRzW0BdfSAke2Jhc2VwYXRofS8kYXJj
aGl2ZSBcXCIKCQlmb3IgZmlsZW5hbWUgaW4gJHtmaWxlbmFtZXNbQF19OyBkbwoJCQlpZiBbWyAk
aW5kZXggLWx0ICRsZW5ndGggXV07IHRoZW4KCQkJCXB1dHMgIiAgPDwtIGkgPiBiYWNraW5nOiAk
e3NwYWNlc30gJHtiYXNlcGF0aH0vJHtmaWxlbmFtZX0gXFwiCgkJCWVsc2UKCQkJCXB1dHMgIiAg
PDwtIGkgPiBiYWNraW5nOiAke3NwYWNlc30gJHtiYXNlcGF0aH0vJHtmaWxlbmFtZX0iCgkJCWZp
CgkJCWluZGV4PSQoKGluZGV4KzEpKQoJCWRvbmUKCQlzdWJzaGVsbCAiJGNvbW1hbmQiICI8PC0g
aSA+IGJhY2tpbmc6ICR7Y29tcHJlc3Npb259OiB7c3Rkb3V0fSIKCQlpZiBbWyAkU1VCU0hFTExT
VEFUVVMgLWVxIDAgXV07IHRoZW4KCQkJcHV0cyAiICA8PC0gaSA+IGJhY2tpbmc6ICR7Y29tcHJl
c3Npb259OiBhcmNoaXZlOiBmaWxlbmFtZTogJHthcmNoaXZlfSIKCQkJcHV0cyAiICA8PC0gaSA+
IGJhY2tpbmc6ICR7Y29tcHJlc3Npb259OiBhcmNoaXZlOiBmdWxsbmFtZTogJHtiYXNlcGF0aH0v
JHthcmNoaXZlfSIKCQkJcmV0dXJuIDAKCQlmaQoJCXB1dHMgIiAgPDwtIGkgPiBiYWNraW5nOiAk
e2NvbXByZXNzaW9ufTogc29tZXRoaW5nIHdyb25nIHdoZW4gY3JlYXRpbmcgYXJjaGl2ZSBmaWxl
IgoJCXJldHVybiAxCgl9CgkKCSMgSGFuZGxlIGdpdCBhdXRvIGNvbW1pdCBmb3IgYWRkZWQgb3Ig
bW9kaWZpZW5kIGZpbGVzLgoJZnVuY3Rpb24gY29tbWl0cygpIHsKCQlpZiBbWyAhIC1kICR7YmFz
ZXBhdGh9Ly5naXQgXV07IHRoZW4KCQkJcHV0cyAiICA8PC0gZSA+IGNvbW1pdHM6IC5naXQ6IG5v
IHN1Y2ggZGlyZWN0b3J5IgoJCQlyZXR1cm4gMQoJCWZpCgkJbG9jYWwgYnJhbmNoPSR7Y29uZmln
c1ticmFuY2hdfQoJCWlmIFtbIC16ICRicmFuY2ggXV07IHRoZW4KCQkJcHV0cyAiICA8PC0gaSA+
IGNvbW1pdHM6IGJyYW5jaDogbmFtZSBub3QgZGVmaW5lZCBpbiBjb25maWciCgkJCXN0ZGluICJi
cmFuY2giICI8PC0gciA+IGNvbW1pdHM6IGJyYW5jaDoiCgkJZmkKCQl3aGlsZSBbWyAhICQoZ2l0
IGxzLXJlbW90ZSBvcmlnaW4gIiRicmFuY2giKSBdXTsgZG8KCQkJcHV0cyAiICA8PC0gZSA+IGNv
bW1pdHM6IGJyYW5jaDogJHticmFuY2h9OiBubyBzdWNoIG9yaWdpbiBicmFuY2giCgkJCWJyYW5j
aD0KCQkJc3RkaW4gImJyYW5jaCIgIjw8LSByID4gY29tbWl0czogYnJhbmNoOiIKCQlkb25lCgkJ
aWYgW1sgIiRicmFuY2giICE9ICIkKGdpdCBicmFuY2ggLS1zaG93LWN1cnJlbnQpIiBdXTsgdGhl
bgoJCQlzdWJzaGVsbCAiZ2l0IGNoZWNrb3V0ICRicmFuY2giICI8PC0gaSA+IGNvbW1pdHM6IGdp
dDogY2hlY2tvdXQ6IHtzdGRvdXR9IgoJCWZpCgkJbG9jYWwgZmlsZW5hbWVzPSgpCgkJbG9jYWwg
b3B0aW9ucz0oKQoJCWlmIFtbICQoZ2l0IGNvbmZpZyAtLWdldCBjb21taXQuZ3BnU2lnbikgXV07
IHRoZW4KCQkJb3B0aW9ucys9KCAiLVMiICkKCQlmaQoJCW9wdGlvbnMrPSggIi1tIiApCgkJbG9j
YWwgc3RhdHVzZXM9KCkKCQlwdXRzICIgIDw8LSBlID4gY29tbWl0czogc2Nhbm5pbmcgZmlsZXMi
CgkJcmVhZGFycmF5IC10IHN0YXR1c2VzIDwgPChnaXQgc3RhdHVzIC0tc2hvcnQpCgkJZm9yIHN0
ZG91dCBpbiAiJHtzdGF0dXNlc1tAXX0iOyBkbwoJCQlsb2NhbCBhcHBlbmQ9CgkJCWxvY2FsIGZp
bGVuYW1lPSIke3N0ZG91dDozfSIKCQkJbG9jYWwgbWVzc2FnZXM9CgkJCWxvY2FsIHN0YXR1cz0i
JHtzdGRvdXQ6MDoyfSIKCQkJc3RhdHVzPSR7c3RhdHVzLyAvfQoJCQlzdGRpbiAiYXBwZW5kIiAi
PDwtIHIgPiBjb21taXRzOiAke2ZpbGVuYW1lfTogJHtzdGF0dXN9OiBhZGQgdGhpcyBmaWxlIFtZ
L25dIiAiTiIKCQkJaWYgW1sgIiR7YXBwZW5kXl59IiA9PSAiWSIgXV07IHRoZW4KCQkJCWlmIFtb
ICIke3N0YXR1cy8gL30iID09ICJNIiBdXTsgdGhlbgoJCQkJCWdpdCBkaWZmICIkZmlsZW5hbWUi
CgkJCQlmaQoJCQkJcHV0cyAiICA8PC0gaSA+IGNvbW1pdHM6IGdpdDogYWRkIFwiJGZpbGVuYW1l
XCIiCgkJCQlnaXQgYWRkICIkZmlsZW5hbWUiCgkJCQlzdGRpbiAibWVzc2FnZXMiICI8PC0gciA+
IGNvbW1pdHM6ICR7ZmlsZW5hbWV9OiBtZXNzYWdlczoiCgkJCQlwdXRzICIgIDw8LSBpID4gY29t
bWl0czogZ2l0OiBjb21taXQgJHtvcHRpb25zW0BdfSBcIiR7bWVzc2FnZXMvL1wiL1xcXCJ9XCIi
CgkJCQlnaXQgY29tbWl0ICR7b3B0aW9uc1tAXX0gIiRtZXNzYWdlcyIKCQkJCWlmIFtbICR7UElQ
RVNUQVRVU1swXX0gLW5lIDAgXV07IHRoZW4KCQkJCQlwdXRzICIgIDw8LSBpID4gY29tbWl0czog
Z2l0OiBzb21ldGhpbmcgd3Jvbmcgd2hlbiBjcmVhdGUgY29tbWl0IgoJCQkJCXJldHVybiAxCgkJ
CQlmaQoJCQkJZmlsZW5hbWVzKz0oICIkZmlsZW5hbWUiICkKCQkJZmkKCQlkb25lCgkJaWYgW1sg
JHsjZmlsZW5hbWVzW0BdfSAtbmUgMCBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4gY29tbWl0
czogZ2l0OiBwdXNoOiBvcmlnaW4gXCIkYnJhbmNoXCIiCgkJCWdpdCBwdXNoIG9yaWdpbiAiJGJy
YW5jaCIKCQkJaWYgW1sgJHtQSVBFU1RBVFVTWzBdfSAtbmUgMCBdXTsgdGhlbgoJCQkJcHV0cyAi
ICA8PC0gZSA+IGNvbW1pdHM6IGdpdDogcHVzaDogZXJyb3Igd2hlbiBwdXNoIGludG8gcmVtb3Rl
IHJlcG9zaXRvcnkiCgkJCQlyZXR1cm4gMQoJCQlmaQoJCWZpCgl9CgkKCSMgSGFuZGxlIHJlYWQg
YW5kIHdyaXRlIGFwcGxpY2F0aW9uIGNvbmZpZ3VyYXRpb24gZS5nIHJlYWQgYW5kIHdyaXRlIGNv
bmZpZ3MuCgkjIGV4ZWN1dGU6IGNvbmZpZyAtLXJlYWR8d3JpdGUKCWZ1bmN0aW9uIGNvbmZpZygp
IHsKCQlsb2NhbCBhY3Rpb249JDEKCQlsb2NhbCBrZXlzZXQ9CgkJbG9jYWwga2V5c2V0cz0oKQoJ
CWZvciBrZXlzZXQgaW4gJHshY29uZmlnc1tAXX07IGRvCgkJCWtleXNldHMrPSggJGtleXNldCAp
CgkJZG9uZQoJCWxvY2FsIGNvbnRlbnRzPSgpCgkJbG9jYWwgdmFsdWVzPQoJCWlmIFtbICIkYWN0
aW9uIiA9PSAiLS1yZWFkIiBdXTsgdGhlbgoJCQl3aGlsZSBJRlM9IiIgcmVhZCAtciBsaW5lOyBk
bwoJCQkJaWYgW1sgLXogIiRsaW5lIiBdXSB8fCBbWyAke2xpbmU6MDoxfSA9PSAiIyIgXV07IHRo
ZW4KCQkJCQljb250aW51ZQoJCQkJZmkKCQkJCWtleXNldD0kKGVjaG8gLWUgIiRsaW5lIiB8IGN1
dCAtZCAiPSIgLWYgMSkKCQkJCXZhbHVlcz0kKGVjaG8gLWUgIiRsaW5lIiB8IGN1dCAtZCAiPSIg
LWYgMikKCQkJCWlmIFtbIC1uICIka2V5c2V0IiBdXSAmJiBbWyAke2tleXNldHNbQF19ID1+ICRr
ZXlzZXQgXV07IHRoZW4KCQkJCQlpZiBbWyAka2V5c2V0ID09IHZpcnR1YWwgXV07IHRoZW4KCQkJ
CQkJaWYgW1sgLXogIiR2YWx1ZXMiIF1dOyB0aGVuCgkJCQkJCQlwdXRzICIgIDw8LSAhID4gY29u
ZmlnOiB2aXJ0dWFsIGVudmlyb25tZW50IGFjdGl2YXRpb24gcmVxdWlyZWQiCgkJCQkJCQlyZXR1
cm4gMQoJCQkJCQllbGlmIFtbICEgLWYgIiR2YWx1ZXMiIF1dOyB0aGVuCgkJCQkJCQlwdXRzICIg
IDw8LSAhID4gY29uZmlnOiAkdmFsdWVzOiBubyBzdWNoIHZpcnR1YWwgZW52aXJvbm1lbnQiCgkJ
CQkJCQlyZXR1cm4gMQoJCQkJCQlmaQoJCQkJCWZpCgkJCQkJY29uZmlnc1ska2V5c2V0XT0kdmFs
dWVzCgkJCQllbHNlCgkJCQkJcHV0cyAiICA8PC0gISA+IGNvbmZpZzogJGtleXNldDogdW5rbm93
biBjb25maWd1cmF0aW9uIHZhcmlhYmxlIgoJCQkJCXJldHVybiAxCgkJCQlmaQoJCQlkb25lIDwg
JGNvbmZpZwoJCQl1bnNldCBJRlMKCQllbGlmIFtbICIkYWN0aW9uIiA9PSAiLS13cml0ZSIgXV07
IHRoZW4KCQkJZWNobyAtZSAiXGMiID4gIiRjb25maWciCgkJCWZvciBrZXlzZXQgaW4gJHshY29u
Zmlnc1tAXX07IGRvCgkJCQllY2hvIC1lICIke2tleXNldH09JHtjb25maWdzWyRrZXlzZXRdfSIg
Pj4gIiRjb25maWciCgkJCQlpZiBbWyAkPyAtZXEgMCBdXTsgdGhlbgoJCQkJCXB1dHMgIiAgPDwt
ICEgPiBjb25maWc6IGVycm9yOiB3aGVuIHdyaXRlIGNvbmZpZ3VyYXRpb24iCgkJCQlmaQoJCQlk
b25lCgkJZWxpZiBbWyAteiAkMSBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSAhID4gY29uZmlnOiBy
ZXF1aXJlIG9wdGlvbiAtLXJlYWR8d3JpdGUiCgkJCXJldHVybiAxCgkJZWxzZQoJCQlwdXRzICIg
IDw8LSAhID4gY29uZmlnOiAkYWN0aW9uOiB1bmtub3duIG9wdGlvbiIKCQkJcmV0dXJuIDEKCQlm
aQoJfQoJCgkjIEhhbmRsZSBjaGVjayBhbmQgdmFsaWRhdGUgZGVwZW5kZW5jeSByZXF1aXJlbWVu
dHMuCglmdW5jdGlvbiBkZXBlbmRlbmN5KCkgewoJCQoJCSMgSGFuZGxlIGxpbnV4IGNoZWNrIGFu
ZCBpbnN0YWxsIHBhY2tldCBpbiBsaW51eCBkaXN0cm8uCgkJIyBleGVjdXRlOiBtYW5hZ2VyIC0t
YXZhaWxhYmxlIFtwYWNrYWdlXQoJCSMgICAgICAgICAgbWFuYWdlciAtLWNoZWNrIFtwYWNrYWdl
XQoJCSMgICAgICAgICAgbWFuYWdlciAtLWluc3RhbGwgW3BhY2thZ2VdCgkJZnVuY3Rpb24gbWFu
YWdlcigpIHsKCQkJbG9jYWwgYWN0aW9uPSQxCgkJCWxvY2FsIGRpc3Rybz0KCQkJbG9jYWwgbWFu
YWdlcj0KCQkJbG9jYWwgcGFja2FnZT0kMgoJCQlpZiBbWyAtZiAvZXRjL29zLXJlbGVhc2UgXV07
IHRoZW4KCQkJCWRpc3Rybz0kKGdyZXAgLUUgIl5JRD0iIC9ldGMvb3MtcmVsZWFzZSB8IGN1dCAt
ZCAiPSIgLWYyIHwgdHIgLWQgIlwiIikKCQkJZWxpZiBbWyAtZiAvZXRjL3JlZGhhdC1yZWxlYXNl
IF1dOyB0aGVuCgkJCQlkaXN0cm89InJoZWwiCgkJCWVsaWYgW1sgLWYgL2V0Yy9sc2ItcmVsZWFz
ZSBdXTsgdGhlbgoJCQkJZGlzdHJvPSQoZ3JlcCBESVNUUklCX0lEIC9ldGMvbHNiLXJlbGVhc2Ug
fCBjdXQgLWQgIj0iIC1mMiB8IHRyICJbOnVwcGVyOl0iICJbOmxvd2VyOl0iICkKCQkJZWxpZiBb
WyAtZiAvZXRjL2RlYmlhbl92ZXJzaW9uIF1dOyB0aGVuCgkJCQlkaXN0cm89ImRlYmlhbiIKCQkJ
ZWxpZiBbWyAtZiAvZXRjL2FscGluZS1yZWxlYXNlIF1dOyB0aGVuCgkJCQlkaXN0cm89ImFscGlu
ZSIKCQkJZWxpZiBbWyAtZiAvZXRjL1N1U0UtcmVsZWFzZSBdXTsgdGhlbgoJCQkJZGlzdHJvPSJz
dXNlIgoJCQllbHNlCgkJCQlpZiBjb21tYW5kIC12IGhvc3RuYW1lY3RsICY+IC9kZXYvbnVsbDsg
dGhlbgoJCQkJCWRpc3Rybz0kKGhvc3RuYW1lY3RsIHwgZ3JlcCAiT3BlcmF0aW5nIFN5c3RlbSIg
fCBjdXQgLWQ6IC1mMiB8IGF3ayAie3ByaW50IHRvbG93ZXIoXCQxKX0iKQoJCQkJZWxpZiBjb21t
YW5kIC12IHVuYW1lICY+IC9kZXYvbnVsbDsgdGhlbgoJCQkJCWRpc3Rybz0kKHVuYW1lIC1zIHwg
YXdrICJ7cHJpbnQgdG9sb3dlcihcJDEpfSIpCgkJCQllbHNlCgkJCQkJcHV0cyAiICA8PC0gZSA+
IG1hbmFnZXI6IHVua25vd24gbGludXggZGlzdHJpYnV0aW9uIgoJCQkJCWV4aXQgMQoJCQkJZmkK
CQkJZmkKCQkJY2FzZSAiJGRpc3RybyIgaW4KCQkJCXVidW50dXxkZWJpYW4pIG1hbmFnZXI9ImFw
dCIgOzsKCQkJCWZlZG9yYXxjZW50b3N8cmhlbHxyb2NreXxhbG1hKSBtYW5hZ2VyPSJkbmYiIDs7
CgkJCQlvcGVuc3VzZXxzdXNlKSBtYW5hZ2VyPSJ6eXBwZXIiIDs7CgkJCQlhcmNofG1hbmphcm8p
IG1hbmFnZXI9InBhY21hbiIgOzsKCQkJCWFscGluZSkgbWFuYWdlcj0iYXBrIiA7OwoJCQkJdm9p
ZCkgbWFuYWdlcj0ieGJwcyIgOzsKCQkJCW5peG9zKSBtYW5hZ2VyPSJuaXgtZW52IiA7OwoJCQkJ
Z2VudG9vKSBtYW5hZ2VyPSJlbWVyZ2UiIDs7CgkJCQlzbGFja3dhcmUpIG1hbmFnZXI9InNsYWNr
cGtnIiA7OwoJCQkJKikKCQkJCQlpZiBbWyAkKGNvbW1hbmQgLXYgYXB0ICY+IC9kZXYvbnVsbCkg
XV07IHRoZW4KCQkJCQkJbWFuYWdlcj0iYXB0IgoJCQkJCWVsaWYgW1sgJChjb21tYW5kIC12IGRu
ZiAmPiAvZGV2L251bGwpIF1dOyB0aGVuCgkJCQkJCW1hbmFnZXI9ImRuZiIKCQkJCQllbGlmIFtb
ICQoY29tbWFuZCAtdiBwYWNtYW4gJj4gL2Rldi9udWxsKSBdXTsgdGhlbgoJCQkJCQltYW5hZ2Vy
PSJwYWNtYW4iCgkJCQkJZWxpZiBbWyAkKGNvbW1hbmQgLXYgYXBrICY+IC9kZXYvbnVsbCkgXV07
IHRoZW4KCQkJCQkJbWFuYWdlcj0iYXBrIgoJCQkJCWVsaWYgW1sgJChjb21tYW5kIC12IHp5cHBl
ciAmPiAvZGV2L251bGwpIF1dOyB0aGVuCgkJCQkJCW1hbmFnZXI9Inp5cHBlciIKCQkJCQllbGlm
IFtbICQoY29tbWFuZCAtdiB4YnBzICY+IC9kZXYvbnVsbCkgXV07IHRoZW4KCQkJCQkJbWFuYWdl
cj0ieGJwcyIKCQkJCQllbGlmIFtbICQoY29tbWFuZCAtdiBuaXgtZW52ICY+IC9kZXYvbnVsbCkg
XV07IHRoZW4KCQkJCQkJbWFuYWdlcj0ibml4LWVudiIKCQkJCQllbGlmIFtbICQoY29tbWFuZCAt
diBlbWVyZ2UgJj4gL2Rldi9udWxsKSBdXTsgdGhlbgoJCQkJCQltYW5hZ2VyPSJlbWVyZ2UiCgkJ
CQkJZWxpZiBbWyAkKGNvbW1hbmQgLXYgc2xhY2twa2cgJj4gL2Rldi9udWxsKSBdXTsgdGhlbgoJ
CQkJCQltYW5hZ2VyPSJzbGFja3BrZyIKCQkJCQllbHNlCgkJCQkJCXB1dHMgIiAgPDwtIGUgPiBt
YW5hZ2VyOiB1bmtub3duIGxpbnV4IGRlZmF1bHQgbWFuYWdlciBwYWNrZXQiCgkJCQkJCWV4aXQg
MQoJCQkJCWZpCgkJCQk7OwoJCQllc2FjCgkJCWlmIFtbICIkYWN0aW9uIiA9PSAiLS1hdmFpbGFi
bGUiIF1dOyB0aGVuCgkJCQljYXNlICIkbWFuYWdlciIgaW4KCQkJCQlhcHQpIGFwdC1jYWNoZSBz
ZWFyY2ggIl4kcGFja2FnZSQiIHwgZ3JlcCAtcXcgIiRwYWNrYWdlIiA7OwoJCQkJCWRuZnx5dW0p
IHl1bSBsaXN0IGF2YWlsYWJsZSAiJHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7OwoJCQkJCXBhY21h
bikgcGFjbWFuIC1TcyAiXiRwYWNrYWdlJCIgJj4gL2Rldi9udWxsIDs7CgkJCQkJYXBrKSBhcGsg
c2VhcmNoICJeJHBhY2thZ2UkIiAmPiAvZGV2L251bGwgOzsKCQkJCQl6eXBwZXIpIHp5cHBlciBz
ZSAiJHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7OwoJCQkJCXhicHMpIHhicHMtcXVlcnkgLVJzICJe
JHBhY2thZ2VcJCIgJj4gL2Rldi9udWxsIDs7CgkJCQkJbml4LWVudikgbml4LWVudiAtcWFQICJe
JHBhY2thZ2UkIiAmPiAvZGV2L251bGwgOzsKCQkJCQllbWVyZ2UpIGVtZXJnZSAtLXNlYXJjaCAi
JHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7OwoJCQkJCXNsYWNrcGtnKSBzbGFja3BrZyBzZWFyY2gg
IiRwYWNrYWdlIiAmPiAvZGV2L251bGwgOzsKCQkJCQlmbGF0cGFrKSBmbGF0cGFrIHNlYXJjaCAi
JHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7OwoJCQkJCXNuYXApIHNuYXAgZmluZCAiJHBhY2thZ2Ui
ICY+IC9kZXYvbnVsbCA7OyAKCQkJCWVzYWMKCQkJZWxpZiBbWyAiJGFjdGlvbiIgPT0gIi0tY2hl
Y2siIF1dOyB0aGVuCgkJCQljYXNlICIkbWFuYWdlciIgaW4KCQkJCQlhcHQpIGRwa2cgLWwgfCBn
cmVwIC1xdyAiJHBhY2thZ2UiIDs7CgkJCQkJZG5mfHl1bSkgcnBtIC1xICIkcGFja2FnZSIgJj4g
L2Rldi9udWxsIDs7CgkJCQkJcGFjbWFuKSBwYWNtYW4gLVFpICIkcGFja2FnZSIgJj4gL2Rldi9u
dWxsIDs7CgkJCQkJYXBrKSBhcGsgaW5mbyAiJHBhY2thZ2UiICY+IC9kZXYvbnVsbCA7OwoJCQkJ
CXp5cHBlcikgenlwcGVyIHNlIC0taW5zdGFsbGVkLW9ubHkgIiRwYWNrYWdlIiAmPiAvZGV2L251
bGwgOzsKCQkJCQl4YnBzKSB4YnBzLXF1ZXJ5IC1ScyAiXiRwYWNrYWdlXCQiICY+IC9kZXYvbnVs
bCA7OwoJCQkJCW5peC1lbnYpIG5peC1lbnYgLXEgIiRwYWNrYWdlIiAmPiAvZGV2L251bGwgOzsK
CQkJCQllbWVyZ2UpIGVxdWVyeSBsaXN0ICIkcGFja2FnZSIgJj4gL2Rldi9udWxsIDs7CgkJCQkJ
c2xhY2twa2cpIHNsYWNrcGtnIHNlYXJjaCAiJHBhY2thZ2UiIHwgZ3JlcCAtcSAiaW5zdGFsbGVk
IiA7OwoJCQkJCWZsYXRwYWspIGZsYXRwYWsgbGlzdCB8IGdyZXAgLXF3ICIkcGFja2FnZSIgOzsK
CQkJCQlzbmFwKSBzbmFwIGxpc3QgfCBncmVwIC1xdyAiJHBhY2thZ2UiIDs7CgkJCQllc2FjCgkJ
CWVsaWYgW1sgIiRhY3Rpb24iID09ICItLWluc3RhbGwiIF1dOyB0aGVuCgkJCQljYXNlICIkbWFu
YWdlciIgaW4KCQkJCQlhcHQpIHN1ZG8gYXB0IHVwZGF0ZSAmJiBzdWRvIGFwdCBpbnN0YWxsIC15
ICIkcGFja2FnZSIgOzsKCQkJCQlkbmZ8eXVtKSBzdWRvICIkbWFuYWdlciIgaW5zdGFsbCAteSAi
JHBhY2thZ2UiIDs7CgkJCQkJcGFjbWFuKSBzdWRvIHBhY21hbiAtUyAtLW5vY29uZmlybSAiJHBh
Y2thZ2UiIDs7CgkJCQkJYXBrKSBzdWRvIGFwayBhZGQgIiRwYWNrYWdlIiA7OwoJCQkJCXp5cHBl
cikgc3VkbyB6eXBwZXIgaW5zdGFsbCAteSAiJHBhY2thZ2UiIDs7CgkJCQkJeGJwcykgc3VkbyB4
YnBzLWluc3RhbGwgLXkgIiRwYWNrYWdlIiA7OwoJCQkJCW5peC1lbnYpIG5peC1lbnYgLWkgIiRw
YWNrYWdlIiA7OwoJCQkJCWVtZXJnZSkgc3VkbyBlbWVyZ2UgIiRwYWNrYWdlIiA7OwoJCQkJCXNs
YWNrcGtnKSBzdWRvIHNsYWNrcGtnIGluc3RhbGwgIiRwYWNrYWdlIiA7OwoJCQkJCWZsYXRwYWsp
IHN1ZG8gZmxhdHBhayBpbnN0YWxsIC15ICIkcGFja2FnZSIgOzsKCQkJCQlzbmFwKSBzdWRvIHNu
YXAgaW5zdGFsbCAiJHBhY2thZ2UiIDs7CgkJCQllc2FjCgkJCWVsaWYgW1sgLXogJDEgXV07IHRo
ZW4KCQkJCXB1dHMgIiAgPDwtICEgPiBtYW5hZ2VyOiByZXF1aXJlIG9wdGlvbiAtLWNoZWNrfGlu
c3RhbGwiCgkJCQlleGl0IDEKCQkJZWxzZQoJCQkJcHV0cyAiICA8PC0gISA+IG1hbmFnZXI6ICRh
Y3Rpb246IHVua25vd24gb3B0aW9uIgoJCQkJZXhpdCAxCgkJCWZpCgkJCXJldHVybiAkPwoJCX0K
CQkKCQlsb2NhbCBpbnN0YWxsPQoJCWxvY2FsIHBhY2thZ2VzPSgpCgkJaWYgW1sgLW4gJHtjb25m
aWdzW3BhY2thZ2VzXX0gXV07IHRoZW4KCQkJSUZTPSIsIiByZWFkIC1yIC1hIHBhY2thZ2VzIDw8
PCAiJHtjb25maWdzW3BhY2thZ2VzXX0iCgkJCWZvciBwYWNrYWdlIGluICR7cGFja2FnZXNbQF19
OyBkbwoJCQkJbWFuYWdlciAtLWNoZWNrICIkcGFja2FnZSIKCQkJCWlmIFtbICQ/IC1lcSAwIF1d
OyB0aGVuCgkJCQkJY29udGludWUKCQkJCWZpCgkJCQlwdXRzICIgIDw8LSBpID4gZGVwZW5kZW5j
eTogcGFja2FnZTogJHtwYWNrYWdlfTogcGFja2FnZSBpcyBub3QgaW5zdGFsbGVkIgoJCQkJc3Rk
aW4gImluc3RhbGwiICI8PC0gciA+IGRlcGVuZGVuY3k6IHBhY2thZ2U6ICR7cGFja2FnZX06IGlu
c3RhbGwgdGhpcyBwYWNrYWdlIFtZL25dIgoJCQkJaWYgW1sgIiR7aW5zdGFsbCwsfSIgPT0gInki
IF1dOyB0aGVuCgkJCQkJbWFuYWdlciAtLWF2YWlsYWJsZSAiJHBhY2thZ2UiCgkJCQkJaWYgW1sg
JD8gLWVxIDEgXV07IHRoZW4KCQkJCQkJcHV0cyAiICA8PC0gZSA+IGRlcGVuZGVuY3k6IHBhY2th
Z2U6ICR7cGFja2FnZX06IGlzIG5vdCBhdmFpbGFibGUgb24gY3VycmVudCBtYW5hZ2VyIHBhY2tl
dCIKCQkJCQkJcmV0dXJuIDEKCQkJCQlmaQoJCQkJCW1hbmFnZXIgLS1pbnN0YWxsICIkcGFja2Fn
ZSIKCQkJCQlpZiBbWyAkPyAtZXEgMSBdXTsgdGhlbgoJCQkJCQlwdXRzICIgIDw8LSBlID4gZGVw
ZW5kZW5jeTogcGFja2FnZTogJHtwYWNrYWdlfTogZmFpbGVkIGluc3RhbGwgcGFja2FnZSIKCQkJ
CQkJcmV0dXJuIDEKCQkJCQlmaQoJCQkJCWluc3RhbGw9CgkJCQkJYnJlYWsKCQkJCWVsaWYgW1sg
IiR7aW5zdGFsbCwsfSIgPT0gIm4iIF1dOyB0aGVuCgkJCQkJcHV0cyAiICA8PC0gZSA+IGRlcGVu
ZGVuY3k6IHBhY2thZ2U6IGFib3J0ZWQiCgkJCQkJcmV0dXJuIDEKCQkJCWVsc2UKCQkJCQlpbnN0
YWxsPQoJCQkJZmkKCQkJZG9uZQoJCQl1bnNldCBJRlMKCQlmaQoJCQoJCWxvY2FsIGxpYnJhcmll
cz0oKQoJCWlmIFtbIC1uICR7Y29uZmlnc1tsaWJyYXJ5XX0gXV07IHRoZW4KCQkJSUZTPSIsIiBy
ZWFkIC1yIC1hIGxpYnJhcmllcyA8PDwgIiR7Y29uZmlnc1tsaWJyYXJ5XX0iCgkJCWZvciBsaWJy
YXJ5IGluICR7bGlicmFyaWVzW0BdfTsgZG8KCQkJCWxkY29uZmlnIC1wIHwgZ3JlcCAtcSAiJGxp
YnJhcnkiCgkJCQlpZiBbWyAkPyAtZXEgMSBdXTsgdGhlbgoJCQkJCXB1dHMgIiAgPDwtIGUgPiBk
ZXBlbmRlbmN5OiBsaWJyYXJ5OiAke2xpYnJhcnl9OiBsaWJyYXJ5IGlzIG5vdCBhdmFpbGFibGUi
CgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCWRvbmUKCQkJdW5zZXQgSUZTCgkJZmkKCQkKCQlhY3Rp
dmF0ZQoJCWlmIFtbICQ/IC1lcSAxIF1dOyB0aGVuCgkJCXJldHVybiAxCgkJZmkKCX0KCQoJIyBE
ZXBsb3kgdGhlIHByb2dyYW0gaW50byBzZXJ2ZXJzLgoJZnVuY3Rpb24gZGVwbG95cygpIHsKCQls
b2NhbCBhcmNoaXZlPSQoYXJjaGl2ZSkKCQlsb2NhbCBkZXN0aW5hdGU9CgkJbG9jYWwgaG9zdG5h
bWU9CgkJbG9jYWwgcG9ydD0KCQlsb2NhbCBzZXJ2ZXJzPSgpCgkJbG9jYWwgdXNlcm5hbWU9CgkJ
aWYgW1sgLXogJHtjb25maWdzW3NlcnZlcnNdfSBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4g
ZGVwbG95czogbm8gc2VydmVycyBhdmFpbGFibGUiCgkJCXJldHVybiAxCgkJZmkKCQliYWNraW5n
CgkJaWYgW1sgJD8gLW5lIDAgXV07IHRoZW4KCQkJcHV0cyAiICA8PC0gZSA+IGRlcGxveXM6IHNv
bWV0aGluZyB3cm9uZyB3aGVuIGNyZWF0ZSBhcmNoaXZlIgoJCQlyZXR1cm4gMQoJCWZpCgkJIyB1
c2VyQDE5Mi4xNjguMjAuMTIzWzIyXTovcGF0aC90by9wYXRoCgkJSUZTPSIsIiByZWFkIC1yIC1h
IHNlcnZlcnMgPDw8ICIke2NvbmZpZ3Nbc2VydmVyc119IgoJCWZvciBzZXJ2ZXIgaW4gJHtzZXJ2
ZXJzW0BdfTsgZG8KCQkJcG9ydD0kKGVjaG8gIiRzZXJ2ZXIiIHwgZ3JlcCAtb1AgIlxbXEtbXlxd
XSsiIHx8IGVjaG8gIiIpCgkJCWlmIFtbIC16ICIkcG9ydCIgXV07IHRoZW4KCQkJCXBvcnQ9MjIK
CQkJZmkKCQkJdXNlcm5hbWU9JChlY2hvICIkc2VydmVyIiB8IGdyZXAgLW9QICJeW15AXSsiIHx8
IGVjaG8gIiIpCgkJCWhvc3RuYW1lPSQoZWNobyAiJHNlcnZlciIgfCBncmVwIC1vUCAiQFxLW15b
XSsiIHx8IGVjaG8gIiIpCgkJCWRlc3RpbmF0ZT0kKGVjaG8gIiRzZXJ2ZXIiIHwgZ3JlcCAtb1Ag
IjooLispJCIgfCBjdXQgLWMyLSB8fCBlY2hvICIiKQoJCQlpZiBbWyAteiAiJHVzZXJuYW1lIiBd
XTsgdGhlbgoJCQkJcHV0cyAiICA8PC0gZSA+IGRlcGxveXM6IHVzZXJuYW1lOiBzZXJ2ZXIgdXNl
cm5hbWUgcmVxdWlyZWQiCgkJCQlyZXR1cm4gMQoJCQllbGlmIFtbIC16ICIkaG9zdG5hbWUiIF1d
OyB0aGVuCgkJCQlwdXRzICIgIDw8LSBlID4gZGVwbG95czogdXNlcm5hbWU6IHNlcnZlciBob3N0
bmFtZSByZXF1aXJlZCIKCQkJCXJldHVybiAxCgkJCWVsaWYgW1sgLXogIiRkZXN0aW5hdGUiIF1d
OyB0aGVuCgkJCQlwdXRzICIgIDw8LSBlID4gZGVwbG95czogdXNlcm5hbWU6IHNlcnZlciBwYXRo
bmFtZSByZXF1aXJlZCIKCQkJCXJldHVybiAxCgkJCWVsc2UKCQkJCXB1dHMgIiAgPDwtIGkgPj4g
ZGVwbG95czogc2NwIC12IC1QICR7cG9ydH0gJHthcmNoaXZlfSAke3VzZXJuYW1lfUAke2hvc3Ru
YW1lfToke2Rlc3RpbmF0ZX0iCgkJCQlzY3AgLXYgLVAgJHtwb3J0fSAke2FyY2hpdmV9ICR7dXNl
cm5hbWV9QCR7aG9zdG5hbWV9OiR7ZGVzdGluYXRlfQoJCQkJaWYgW1sgJHtQSVBFU1RBVFVTWzBd
fSAtbmUgMCBdXTsgdGhlbgoJCQkJCXB1dHMgIiAgPDwtIGkgPj4gZGVwbG95czogZmFpbGVkIHVw
bG9hZCBhcmNoaXZlIHRvICR7dXNlcm5hbWV9QCR7aG9zdG5hbWV9OiR7ZGVzdGluYXRlfSIKCQkJ
CQlyZXR1cm4gMQoJCQkJZmkKCQkJCXB1dHMgIiAgPDwtIGkgPj4gZGVwbG95czogc3VjY2Vzc2Z1
bGx5IHVwbG9hZCBhcmNoaXZlIHRvICR7dXNlcm5hbWV9QCR7aG9zdG5hbWV9OiR7ZGVzdGluYXRl
fSIKCQkJZmkKCQkJcHV0cyAiICA8PC0gaSA+PiBkZXBsb3lzOiBzdWNjZXNzZnVsbHkgdXBsb2Fk
IGFyY2hpdmUgdG8gJHsjc2VydmVyc1tAXX0gc2VydmVycyIKCQlkb25lCgkJdW5zZXQgSUZTCgl9
CgkKCSMgSGFuZGxpbmcgaXRlcnJ1cHQga2V5Ym9hcmQgY29udHJvbGwuCglmdW5jdGlvbiBpbnRl
cnJ1cHQoKSB7CgkJcHV0cyAiIgoJCXB1dHMgIiAgPDwtIGsgPiBpbnRlcnJ1cHQ6IGludGVycnVw
dCBzaWduYWwgZGV0ZWN0ZWQiCgkJc3RkaW4gImNsb3NlIiAiPDwtIGsgPiBpbnRlcnJ1cHQ6IGV4
aXQgdGhpcyBwcm9ncmFtIFtZL25dIiAiWSIKCQlpZiBbWyAiJHtjbG9zZV5efSIgPT0gIlkiIF1d
OyB0aGVuCgkJCXB1dHMgIiAgPDwtIGsgPiBpbnRlcnJ1cHQ6IGFib3J0ZWQiCgkJCWV4aXQgMQoJ
CWZpCgl9CgkKCSMgU2V0IGhhbmRsZSBpbnRlcnJ1cHQga2V5Ym9hcmQgc2lnbmFsLgoJdHJhcCBp
bnRlcnJ1cHQgU0lHSU5UCgkKCSMgSGFuZGxlIGxpbnRpbmcgcHl0aG9uIGNvZGUgd2l0aCBweWxp
bnQuCglmdW5jdGlvbiBsaW50aW5nKCkgewoJCWxvY2FsIGZpbGVuYW1lcz0oKQoJCWxvY2FsIGlu
c3RhbGw9CgkJbG9jYWwgb3B0aW9ucz0oCgkJCSItLWFyZ3VtZW50LW5hbWluZy1zdHlsZT1jYW1l
bENhc2UiCgkJCSItLWF0dHItbmFtaW5nLXN0eWxlPWNhbWVsQ2FzZSIKCQkJIi0tY2xhc3MtYXR0
cmlidXRlLW5hbWluZy1zdHlsZT1hbnkiCgkJCSItLWNsYXNzLWNvbnN0LW5hbWluZy1zdHlsZT1h
bnkiCgkJCSItLWNsYXNzLW5hbWluZy1zdHlsZT1QYXNjYWxDYXNlIgoJCQkiLS1jb25zdC1uYW1p
bmctc3R5bGU9YW55IgoJCQkiLS1leHRlbnNpb24tcGtnLWFsbG93LWxpc3Q9cHl6c3RkIgoJCQki
LS12YXJpYWJsZS1uYW1pbmctc3R5bGU9Y2FtZWxDYXNlIgoJCQkiLS1mdW5jdGlvbi1uYW1pbmct
c3R5bGU9Y2FtZWxDYXNlIgoJCQkiLS1tYXgtYXR0cmlidXRlcz0zMCIKCQkJIi0tbWF4LXB1Ymxp
Yy1tZXRob2RzPTYwIgoJCQkiLS1tZXRob2QtbmFtaW5nLXN0eWxlPWNhbWVsQ2FzZSIKCQkJIi0t
Z29vZC1uYW1lcz1cImUsRXhlY3V0b3IsaSxpZCxQcm9jZXNzRXhlY3V0b3IsdSxrLFRocmVhZEV4
ZWN1dG9yLFRocmVhZFJ1bm5lcix2XCIiCgkJCSItLWlnbm9yZS1kb2NzdHJpbmdzPXkiCgkJCSIt
LWlnbm9yZS1sb25nLWxpbmVzPV4oW15cXG5dKykkIgoJCQkiLS1pbmRlbnQtc3RyaW5nPVwiXHRc
IiIKCQkJIi0tZGlzYWJsZT1hcmd1bWVudHMtZGlmZmVyIgoJCQkiLS1kaXNhYmxlPWJyb2FkLWV4
Y2VwdGlvbi1jYXVnaHQiCgkJCSItLWRpc2FibGU9Y29uc2lkZXItdXNpbmctZi1zdHJpbmciCgkJ
CSItLWRpc2FibGU9ZnVuY3Rpb24tcmVkZWZpbmVkIgoJCQkiLS1kaXNhYmxlPWtleXdvcmQtYXJn
LWJlZm9yZS12YXJhcmciCgkJCSItLWRpc2FibGU9aW52YWxpZC1uYW1lIgoJCQkiLS1kaXNhYmxl
PW1pc3NpbmctZnVuY3Rpb24tZG9jc3RyaW5nIgoJCQkiLS1kaXNhYmxlPW1pc3NpbmctbW9kdWxl
LWRvY3N0cmluZyIKCQkJIi0tZGlzYWJsZT1tdWx0aXBsZS1zdGF0ZW1lbnRzIgoJCQkiLS1kaXNh
YmxlPW5vbi1wYXJlbnQtaW5pdC1jYWxsZWQiCgkJCSItLWRpc2FibGU9cHJvdGVjdGVkLWFjY2Vz
cyIKCQkJIi0tZGlzYWJsZT1yZWRlZmluZWQtYXJndW1lbnQtZnJvbS1sb2NhbCIKCQkJIi0tZGlz
YWJsZT1yZWRlZmluZWQtYnVpbHRpbiIKCQkJIi0tZGlzYWJsZT1yZWRlZmluZWQtb3V0ZXItbmFt
ZSIKCQkJIi0tZGlzYWJsZT10b28tbWFueS1hcmd1bWVudHMiCgkJCSItLWRpc2FibGU9dG9vLW1h
bnktYm9vbGVhbi1leHByZXNzaW9ucyIKCQkJIi0tZGlzYWJsZT10b28tbWFueS1icmFuY2hlcyIK
CQkJIi0tZGlzYWJsZT10b28tbWFueS1saW5lcyIKCQkJIi0tZGlzYWJsZT10b28tbWFueS1sb2Nh
bHMiCgkJCSItLWRpc2FibGU9dG9vLW1hbnktbmVzdGVkLWJsb2NrcyIKCQkJIi0tZGlzYWJsZT10
b28tbWFueS1zdGF0ZW1lbnRzIgoJCQkiLS1kaXNhYmxlPXN1cGVyLWluaXQtbm90LWNhbGxlZCIK
CQkJIi0tZGlzYWJsZT10b28tZmV3LXB1YmxpYy1tZXRob2RzIgoJCQkiLS1kaXNhYmxlPXRyYWls
aW5nLW5ld2xpbmVzIgoJCQkiLS1kaXNhYmxlPXRyYWlsaW5nLXdoaXRlc3BhY2UiCgkJCSItLWRp
c2FibGU9dW5uZWNlc3NhcnktZHVuZGVyLWNhbGwiCgkJCSItLWRpc2FibGU9dW5uZWNlc3Nhcnkt
ZWxsaXBzaXMiCgkJCSItLWRpc2FibGU9dW5uZWNlc3NhcnktbGFtYmRhLWFzc2lnbm1lbnQiCgkJ
CSItLWRpc2FibGU9dW5uZWNlc3NhcnktcGFzcyIKCQkJIi0tZGlzYWJsZT11bmV4cGVjdGVkLXNw
ZWNpYWwtbWV0aG9kLXNpZ25hdHVyZSIKCQkJIi0tZGlzYWJsZT11c2UtZGljdC1saXRlcmFsIgoJ
CQkiLS1kaXNhYmxlPXdyb25nLWltcG9ydC1vcmRlciIKCQkJIi0tZGlzYWJsZT13cm9uZy1pbXBv
cnQtcG9zaXRpb24iCgkJKQoJCWlmIFtbIC1kICR7YmFzZXBhdGh9L3NyYyBdXTsgdGhlbgoJCQly
ZWFkYXJyYXkgLXQgZmlsZW5hbWVzIDw8PCAiJChmaW5kICR7YmFzZXBhdGh9L3NyYyAtdHlwZSBm
IC1uYW1lICIqLnB5IikiCgkJCWlmIFtbICQocGlwIGxpc3QgfCBncmVwIHB5bGludCkgPT0gIiIg
XV07IHRoZW4KCQkJCWNvbmZpZ3NbY2hlY2tlZF09ZmFsc2UKCQkJCXB1dHMgIiAgPDwtIGUgPiBs
aW50aW5nOiBweWxpbnQgaXMgbm90IGluc3RhbGxlZCIKCQkJCWlmIFtbICR7Y29uZmlnc1t2aXJ0
dWFsaXplXX0gPT0gdHJ1ZSBdXTsgdGhlbgoJCQkJCXN0ZGluICJpbnN0YWxsIiAiPDwtIHIgPiBs
aW50aW5nOiBpbnN0YWxsIHB5bGludCBmcm9tIHBpcCBbWS9uXSIgIm4iCgkJCQkJaW5zdGFsbD0k
e2luc3RhbGwsLH0KCQkJCQlpZiBbWyAiJGluc3RhbGwiID09ICJ5IiBdXTsgdGhlbgoJCQkJCQlw
dXRzICIgIDw8LSBlID4gbGludGluZzogcGlwIGluc3RhbGwgcHlsaW50IgoJCQkJCQlwdXRzICIg
IDw8LSBlID4gbGludGluZzogcGlwOiBpbnN0YWxsaW5nIHB5bGludCIKCQkJCQkJc3Vic2hlbGwg
InBpcCBpbnN0YWxsIHB5bGludCIgIjw8LSBpID4gbGludGluZzogcGlwOiB7c3Rkb3V0fSIKCQkJ
CQkJaWYgW1sgJFNVQlNIRUxMU1RBVFVTIC1lcSAxIF1dOyB0aGVuCgkJCQkJCQlwdXRzICIgIDw8
LSBlID4gbGludGluZzogcGlwOiBzb21ldGhpbmcgd3Jvbmcgd2hlbiBpbnN0YWxsIHB5bGludCIK
CQkJCQkJCXJldHVybiAxCgkJCQkJCWZpCgkJCQkJZWxpZiBbWyAiJGluc3RhbGwiID09ICJuIiBd
XTsgdGhlbgoJCQkJCQlwdXRzICIgIDw8LSBlID4gbGludGluZzogYWJvcnRlZCIKCQkJCQkJcmV0
dXJuIDEKCQkJCQlmaQoJCQkJZWxzZQoJCQkJCXJldHVybiAxCgkJCQlmaQoJCQlmaQoJCQlwdXRz
ICIgIDw8LSBpID4gbGludGluZzogcHl0aG9uMyAtbSBweWxpbnQgXFwiCgkJCWluZGV4PTAKCQkJ
Zm9yIG9wdGlvbiBpbiAke29wdGlvbnNbQF19OyBkbyBwdXRzICIgIDw8LSBpID4gICAgICAke29w
dGlvbn0gXFwiOyBkb25lCgkJCWZvciBmaWxlbmFtZSBpbiAke2ZpbGVuYW1lc1tAXX07IGRvCgkJ
CQlpbmRleD0kKChpbmRleCsxKSkKCQkJCWlmIFtbICRpbmRleCAtbmUgJHsjZmlsZW5hbWVzW0Bd
fSBdXTsgdGhlbgoJCQkJCXB1dHMgIiAgPDwtIGkgPiAgICAgICAgJHtmaWxlbmFtZS8kYmFzZXBh
dGhcLy99IFxcIgoJCQkJZWxzZQoJCQkJCXB1dHMgIiAgPDwtIGkgPiAgICAgICAgJHtmaWxlbmFt
ZS8kYmFzZXBhdGhcLy99IgoJCQkJZmkKCQkJZG9uZQoJCQl3aGlsZSBJRlM9IHJlYWQgLXIgc3Rk
b3V0OyBkbwoJCQkJcHV0cyAiICA8PC0gZSA+IGxpbnRpbmc6IHB5bGludDogJHtzdGRvdXR9IgoJ
CQlkb25lIDwgPChweXRob24zIC1tIHB5bGludCAke29wdGlvbnNbQF19ICR7ZmlsZW5hbWVzW0Bd
LyRiYXNlcGF0aFwvL30pCgkJCWlmIFtbICRTVUJTSEVMTFNUQVRVUyAtZXEgMSBdXTsgdGhlbgoJ
CQkJcHV0cyAiICA8PC0gZSA+IGxpbnRpbmc6IHB5bGludDogc29tZXRoaW5nIHdyb25nIHdoZW4g
bGludGluZyBjb2RlIgoJCQlmaQoJCQlyZXR1cm4gJHJldHVybnMKCQlmaQoJfQoJCgkjIEhhbmRs
ZSBpbnN0YWxsIHB5dGhvbiBwcm9ncmFtIGFzIHB5dGhvbiBtb2R1bGUgaW4gbG9jYWwgbWFjaGlu
ZS4KCWZ1bmN0aW9uIHB5aW5zdGFsbCgpIHsKCQlsb2NhbCBjb21tYW5kPSJwaXAgaW5zdGFsbCAu
IgoJCWlmIFtbICR7Y29uZmlnc1tlbnZpcm9ubWVudF19ID09ICJkZXZlbG9wbWVudCIgXV07IHRo
ZW4KCQkJY29tbWFuZD0icGlwIGluc3RhbGwgLWUgLiIKCQlmaQoJCXB1dHMgIiAgPDwtIGkgPiBw
eWluc3RhbGw6ICR7Y29tbWFuZH0iCgkJcHV0cyAiICA8PC0gaSA+IHB5aW5zdGFsbDogcGlwOiBp
bnN0YWxsaW5nICR7Y29uZmlnc1twcm9ncmFtXX0gYXMgcHl0aG9uIG1vZHVsZSIKCQlpZiBbWyAk
KHBpcCBsaXN0IHwgZ3JlcCAtcSAiJHtjb25maWdzW3Byb2dyYW1dfSIpIF1dOyB0aGVuCgkJCXB1
dHMgImZvdW5kIgoJCWZpCgkJc3Vic2hlbGwgIiRjb21tYW5kIiAiPDwtIGkgPiBweWluc3RhbGw6
IHBpcDoge3N0ZG91dH0iCgkJaWYgW1sgJFNVQlNIRUxMU1RBVFVTIC1lcSAwIF1dOyB0aGVuCgkJ
CXB1dHMgIiAgPDwtIGkgPiBweWluc3RhbGw6IHBpcDogc3VjY2Vzc2Z1bGx5IGluc3RhbGwgJHtj
b25maWdzW3Byb2dyYW1dfSBhcyBweXRob24gbW9kdWxlIgoJCWVsc2UKCQkJcHV0cyAiICA8PC0g
aSA+IHB5aW5zdGFsbDogcGlwOiAke1NVQlNIRUxMU1RBVFVTfTogZmFpbGVkIGluc3RhbGwgJHtj
b25maWdzW3Byb2dyYW1dfSBhcyBweXRob24gbW9kdWxlIgoJCWZpCgkJdW5zZXQgSUZTCgkJcmV0
dXJuICRzdGF0dXMKCX0KCQoJIyBIYW5kbGUgcmVhZGxpbmUgd2l0aCBjb2xvcml6ZWQgcHJvbXB0
LgoJIyBleGVjdXRlOiBbdmFyaWFibGVdPTsgc3RkaW4gW3ZhcmlhYmxlXSBbcHJvbXB0XSBbZGVm
YXVsdF0KCWZ1bmN0aW9uIHN0ZGluKCkgewoJCWxvY2FsIGRlZmF1bHQ9IiQzIgoJCWxvY2FsIGlu
cHV0PQoJCWxvY2FsIHByb21wdD0iJChwdXRzICIkMiIpIgoJCWxvY2FsIHZhcmlhYmxlPSIkMSIK
CQlpZiBbWyAteiAkMSBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBlID4gc3RkaW46IGVycm9yOiB2
YXJpYWJsZSBuYW1lIHJlcXVpcmVkIgoJCQlyZXR1cm4gMQoJCWVsaWYgW1sgLXogJDIgXV07IHRo
ZW4KCQkJcHV0cyAiICA8PC0gZSA+IHN0ZGluOiBlcnJvcjogaW5wdXQgcHJvbXB0IHJlcXVpcmVk
IgoJCQlyZXR1cm4gMQoJCWZpCgkJd2hpbGUgW1sgIiRpbnB1dCIgPT0gIiIgXV07IGRvCgkJCWVj
aG8gLW4gIiAgJHByb21wdCAiCgkJCXJlYWQgImlucHV0IgoJCQlpZiBbWyAteiAiJGlucHV0IiBd
XSAmJiBbWyAtbiAiJGRlZmF1bHQiIF1dOyB0aGVuCgkJCQlpbnB1dD0iJGRlZmF1bHQiCgkJCWZp
CgkJZG9uZQoJCWlmIFtbICR7Y29uZmlnc1tlbnZpcm9ubWVudF19ID09ICJwcm9kdWN0aW9uIiBd
XTsgdGhlbgoJCQlldmFsICIkdmFyaWFibGU9XCIke2lucHV0Ly9cIi9cXFwifVwiIiA+PiAvZGV2
L251bGwgMj4mMQoJCWVsc2UKCQkJZXZhbCAiJHZhcmlhYmxlPVwiJHtpbnB1dC8vXCIvXFxcIn1c
IiIKCQlmaQoJfQoJCgkjIEhhbmRsZSBzdWJzaGVsbCBleGVjdXRpb24uCgkjIEkgZG9uJ3QgaGF2
ZSBhbnkgaWRlYSBmb3IgY2hlY2sgbGFzdCBzdGF0dXMgY29kZSBmcm9tIHN1YnNoZWxsIAoJIyBi
ZWNhdXNlIFBJUEVTVEFUVVMgYWx3YXlzIGdpdmUgMSBzdGF0dXMgY29kZSB3aGVuIGNvbW1hbmQg
d29yayBvciBubyBlcnJvci4KCSMgZXhlY3V0ZTogc3Vic2hlbGwgImNvbW1hbmQiICJmb3JtYXR0
ZXIiCglmdW5jdGlvbiBzdWJzaGVsbCgpIHsKCQlsb2NhbCBjb21tYW5kPSIkMSIKCQlsb2NhbCBm
b3JtYXR0ZXI9IiQyIgoJCXdoaWxlIElGUz0gcmVhZCAtciBzdGRvdXQ7IGRvCgkJCWlmIFtbICQo
ZWNobyAtZSAiJHN0ZG91dCIgfCBjdXQgLWQgIj0iIC1mICIxIiApICE9ICJTVUJTSEVMTFNUQVRV
UyIgXV07IHRoZW4KCQkJCXB1dHMgIiAgJChlY2hvICIke2Zvcm1hdHRlci9ce3N0ZG91dFx9Ly8k
c3Rkb3V0fSIpIgoJCQkJY29udGludWUKCQkJZmkKCQkJZXZhbCAkc3Rkb3V0CgkJZG9uZSA8IDwo
JGNvbW1hbmQ7IGVjaG8gLWUgIlNVQlNIRUxMU1RBVFVTPSR7UElQRVNUQVRVU1swXX0iKQoJfQoJ
CgkjIEhhbmRsZSB1cGdyYWRlIGFwcGxpY2F0aW9uIGludG8gbmV3IHZlcnNpb24KCSMgZnJvbSBy
ZW1vdGUgcmVwb3NpdG9yeSBlLmcgZ2l0aHViLCBnaXRsYWIuCgkjIGV4ZWN1dGU6IHVwZ3JhZGUg
LXkKCWZ1bmN0aW9uIHVwZ3JhZGUoKSB7CgkJaWYgW1sgLXogJHtjb25maWdzW3JlcG9zaXRvcnld
fSBdXTsgdGhlbgoJCQlwdXRzICIgIDw8LSBpID4gdXBncmFkZTogbm8gcmVtb3RlIHJlcG9zaXRv
cnkgYXZhaWxhYmxlIgoJCQlyZXR1cm4gMQoJCWZpCgkJbG9jYWwgdXBncmFkZT0kMQoJCWlmIFtb
IC16ICIkdXBncmFkZSIgXV07IHRoZW4KCQkJcHV0cyAiICA8PC0gaSA+IHVwZ3JhZGU6ICR7YmFz
ZXBhdGh9OiB0aGlzIGRpcmVjdG9yeSB3aWxsIGJlIGRlbGV0ZWQgcGVybWFuZW50bHkiCgkJCXN0
ZGluICJ1cGdyYWRlIiAiPDwtIHIgPiB1cGdyYWRlOiBhcmUgeW91IHN1cmUgd2FudCB0byB1cGdy
YWRlIFtZL25dIiAibiIKCQllbHNlCgkJCXVwZ3JhZGU9JChlY2hvIC1lICIkMSIgfCBjdXQgLWQg
Ii0iIC1mICIyIikKCQlmaQoJCWlmIFtbICIke3VwZ3JhZGVeXn0iICE9ICJZIiBdXTsgdGhlbgoJ
CQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogYWJvcnRlZCIKCQkJcmV0dXJuIDEKCQlmaQoJCWxv
Y2FsIGFyY2hpdmU9JChjZCAuLjsgcHdkKQoJCWFyY2hpdmUrPSIvIgoJCWFyY2hpdmUrPSQoZWNo
byAtZSAkKGFyY2hpdmUpIHwgY3V0IC1kICItIiAtZiAiMSIpCgkJbG9jYWwgYnJhbmNoPSQoZ2l0
IHJlbW90ZSBzaG93IG9yaWdpbiB8IGdyZXAgIkhFQUQgYnJhbmNoIiB8IGF3ayAie3ByaW50IFwk
TkZ9IikKCQlpZiBbWyAteiAiJGJyYW5jaCIgXV07IHRoZW4KCQkJcHV0cyAiICA8PC0gZSA+IHVw
Z3JhZGU6IGdpdDogc29tZXRoaW5nIHdyb25nIHdpdGggeW91ciBnaXQgcmVwb3NpdG9yeSIKCQkJ
cmV0dXJuIDEKCQlmaQoJCWxvY2FsIGNvbXByZXNzaW9uPSR7Y29uZmlnc1tjb21wcmVzc119CgkJ
aWYgW1sgLXogJGFyY2hpdmUgXV07IHRoZW4KCQkJcHV0cyAiICA8PC0gZSA+IHVwZ3JhZGU6ICR7
Y29tcHJlc3Npb259OiB1bnN1cHBvcnRlZCBjb21wcmVzc2lvbiIKCQkJcmV0dXJuIDEKCQlmaQoJ
CWxvY2FsIHJlcG9zaXRvcnk9IiR7Y29uZmlnc1tyZXBvc2l0b3J5XX0iCgkJaWYgW1sgIiRjb21w
cmVzc2lvbiIgPT0gInRhciIgXV07IHRoZW4KCQkJYXJjaGl2ZSs9Ii50YXIuZ3oiCgkJCXJlcG9z
aXRvcnkrPSIvYXJjaGl2ZS9yZWZzL2hlYWRzLyR7YnJhbmNofS50YXIuZ3oiCgkJZWxzZQoJCQlh
cmNoaXZlKz0iLnppcCIKCQkJcmVwb3NpdG9yeSs9Ii9hcmNoaXZlL3JlZnMvaGVhZHMvJHticmFu
Y2h9LnppcCIKCQlmaQoJCWxvY2FsIGV4dHJhY3RlZD0kKGVjaG8gLWUgIiRyZXBvc2l0b3J5IiB8
IGN1dCAtZCAiLyIgLWYgIjUiICkKCQlleHRyYWN0ZWQrPSItJHticmFuY2h9IgoJCXB1dHMgIiAg
PDwtIGUgPiB1cGdyYWRlOiB3Z2V0OiAkcmVwb3NpdG9yeTogZG93bmxvYWRpbmcgYXJjaGl2ZSIK
CQl3Z2V0IC0tdHJpZXM9MjAgIiRyZXBvc2l0b3J5IiAtLXNob3ctcHJvZ3Jlc3MgLS1wcm9ncmVz
cz1iYXI6Zm9yY2U6bm9zY3JvbGwgLU8gIiRhcmNoaXZlIgoJCWlmIFtbICQ/IC1uZSAwIF1dOyB0
aGVuCgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiB3Z2V0OiBzb21ldGhpbmcgd3Jvbmcgd2hl
biBkb3dubG9hZGluZyBhcmNoaXZlIgoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogd2dldDog
cGxlYXNlIG1ha2VzdXJlIGNoZWNrIHlvdXIgcmVtb3RlIHJlcG9zaXRvcnkgdXJsIgoJCQlyZXR1
cm4gMQoJCWZpCgkJbG9jYWwgY29tbWFuZD0idGFyIC14dmYgJGFyY2hpdmUiCgkJaWYgW1sgIiRj
b21wcmVzc2lvbiIgPT0gInppcCIgXV07IHRoZW4KCQkJY29tbWFuZD0idW56aXAgJGFyY2hpdmUi
CgkJZmkKCQljZCAuLgoJCXN1YnNoZWxsICIkY29tbWFuZCIgIjw8LSBlID4gdXBncmFkZTogJHtj
b21wcmVzc2lvbn06IHtzdGRvdXR9IgoJCWlmIFtbICRTVUJTSEVMTFNUQVRVUyAtZXEgMCBdXTsg
dGhlbgoJCQlpZiBbWyAhIC1kICIkZXh0cmFjdGVkIiBdXTsgdGhlbgoJCQkJcHV0cyAiICA8PC0g
ZSA+IHVwZ3JhZGU6ICR7ZXh0cmFjdGVkfTogbm8gc3VjaCBleHRyYWN0ZWQgZGlyZWN0b3J5IgoJ
CQkJcHV0cyAiICA8PC0gZSA+IHVwZ3JhZGU6IHBsZWFzZSByZXBvcnQgdGhpcyBpbnNpZGVuIGlu
dG8gZGV2ZWxvcGVyIgoJCQkJcmV0dXJuIDEKCQkJZmkKCQkJcHV0cyAiICA8PC0gZSA+IHVwZ3Jh
ZGU6ICR7YmFzZXBhdGh9OiByZW1vdmluZyBkaXJlY3RvcnkiCgkJCXJtIC1yZiAke2Jhc2VwYXRo
fQoJCQlpZiBbWyAke1BJUEVTVEFUVVNbMF19IC1uZSAwIF1dOyB0aGVuCgkJCQlwdXRzICIgIDw8
LSBlID4gdXBncmFkZTogJHtiYXNlcGF0aH06IGZhaWxlZCByZW1vdmluZyBkaXJlY3RvcnkiCgkJ
CQlyZXR1cm4gMQoJCQlmaQoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogJHtleHRyYWN0ZWR9
OiBtb3ZpbmcgZGlyZWN0b3J5IgoJCQltdiAke2V4dHJhY3RlZH0gJHtiYXNlcGF0aH0KCQkJaWYg
W1sgJHtQSVBFU1RBVFVTWzBdfSAtbmUgMCBdXTsgdGhlbgoJCQkJcHV0cyAiICA8PC0gZSA+IHVw
Z3JhZGU6ICR7ZXh0cmFjdGVkfTogZmFpbGVkIG1vdmluZyBkaXJlY3RvcnkiCgkJCQlyZXR1cm4g
MQoJCQlmaQoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogY2hhbmdlIHdvcmtpbmcgZGlyZWN0
b3J5IgoJCQljZCAtCgkJCXB1dHMgIiAgPDwtIGUgPiB1cGdyYWRlOiBzdWNjZXNzZnVsbHkgdXBn
cmFkZSBwcm9ncmFtIgoJCQlwdXRzICIgIDw8LSBlID4gdXBncmFkZTogcGxlYXNlIHJlLXJ1biB0
aGlzIHByb2dyYW0gd2l0aCBvcHRpb24gLS1pbml0aWFsIgoJCWVsc2UKCQkJcHV0cyAiICA8PC0g
ZSA+IHVwZ3JhZGU6ICR7Y29tcHJlc3Npb259OiAke2FyY2hpdmUjIy99OiBmYWlsZWQgZGVjb21w
cmVzcyBhcmNoaXZlIgoJCQlyZXR1cm4gMQoJCWZpCgl9CgkKCSMgQ2hlY2sgaWYgY29uZmlndXJh
dGlvbiBmaWxlIGlzIGV4aXN0cy4KCWlmIFtbIC1mICRjb25maWcgXV07IHRoZW4KCQljb25maWcg
LS1yZWFkCgkJaWYgW1sgJD8gLWVxIDEgXV07IHRoZW4KCQkJcmV0dXJuIDEKCQlmaQoJZmkKCQoJ
IyBDaGVjayBhbmQgdmFsaWRhdGUgZGVwZW5kZW5jeSByZXF1aXJlbWVudC4KCWRlcGVuZGVuY3kK
CWlmIFtbICQ/IC1lcSAxIF1dOyB0aGVuCgkJcmV0dXJuIDEKCWZpCgkKCSMgQ2hlY2sgd2hldGhl
ciBpZiByb290IHByZXZpbGVnZXMgcmVxdWlyZSBmb3IgcnVuIHRoZSBwcm9ncmFtLgoJaWYgW1sg
JHtjb25maWdzW3Jvb3RdfSA9PSB0cnVlIF1dOyB0aGVuCgkJaWYgW1sgJFVJRCAtbmUgMCBdXTsg
dGhlbgoJCQlwdXRzICIgIDw8LSAhID4gJHtjb25maWdzW3Byb2dyYW1dfTogcm9vdCBwcmV2aWxl
Z2VzIHJlcXVpcmVkIgoJCQlyZXR1cm4gMQoJCWZpCglmaQoJCglpZiBbWyAtbiAiJGFjdGlvbiIg
XV07IHRoZW4KCQljYXNlICIkYWN0aW9uIiBpbgoJCQliYWNraW5nKSBiYWNraW5nICR7YXJndW1l
bnRzW0BdfSA7OwoJCQljb21taXRzKSBjb21taXRzIDs7CgkJCWluc3RhbGwpIHB5aW5zdGFsbCA7
OwoJCQlsaW50aW5nKSBsaW50aW5nIDs7CgkJCXBhY2thZ2UpIHBpcCAke2FyZ3VtZW50c1tAXX0g
OzsKCQkJZGVwbG95cykgZGVwbG95cyA7OwoJCQl1cGdyYWRlKSB1cGdyYWRlICR7YXJndW1lbnRz
W0BdfSA7OwoJCQkqKQoJCQkJcHV0cyAiICAiCgkJCQlwdXRzICIgIFVzYWdlOiBiYXNoIFwiJChi
YXNlbmFtZSAke19fbmFtZV9ffSlcIiBbT1BUSU9OU10gW0NPTU1BTkRdIFtBUkdTXS4uLiIKCQkJ
CXB1dHMgIiAgICAgICAgIGJhc2ggXCIkKGJhc2VuYW1lICR7X19uYW1lX199KVwiIFtbQ09NTUFO
RF1dIFtPUFRJT05TXSBbQVJHU10uLi4iCgkJCQlwdXRzICIgICIKCQkJCXB1dHMgIiAgICAke2Nv
bmZpZ3NbcHJvZ3JhbV1efSIKCQkJCXB1dHMgIiAgIgoJCQkJcHV0cyAiICBDb21tYW5kczoiCgkJ
CQlwdXRzICIgICIKCQkJCXB1dHMgIiAgICAtIFtbYmFja2luZ11dICAgICAgIFBlcmZvcm1pbmcg
YSBiYWNrdXAgb2YgdGhlIHByb2dyYW0gY29kZSIKCQkJCXB1dHMgIiAgICAgICAgICAgICAgICAg
ICAgICAgIMK3IEFyZ3VtZW50czoiCgkJCQlwdXRzICIgICAgICAgICAgICAgICAgICAgICAgICAg
IC0gW2NvbXByZXNzaW9uXSBlLmcgdGFyfHppcCIKCQkJCXB1dHMgIiAgICAgICAgICAgICAgICAg
ICAgICAgICAgLSBbZXh0ZW5zaW9uXSBlLmcgdGFyLmd6fHppcCIKCQkJCXB1dHMgIiAgICAtIFtb
Y29tbWl0c11dICAgICAgIE1ha2UgYSBjb21taXQgdG8gYWxsIGZpbGVzIGV4Y2VwdCBpbiAuZ2l0
aWdub3JlIgoJCQkJcHV0cyAiICAgIC0gW1toZWxwXV0gICAgICAgICAgU2hvdyB0aGlzIG1lc3Nh
Z2UgYW5kIGV4aXQiCgkJCQlwdXRzICIgICAgLSBbW2luc3RhbGxdXSAgICAgICBJbnN0YWxsIHRo
ZSBwcm9ncmFtIGNvZGUgYXMgYSBweXRob24gbW9kdWxlIgoJCQkJcHV0cyAiICAgIC0gW1tsaW50
aW5nXV0gICAgICAgUnVuIHB5bGludCB0byBwZXJmb3JtIGNvZGUgYW5hbHlzaXMiCgkJCQlwdXRz
ICIgICAgLSBbW3BhY2thZ2VdXSAgICAgICBBbGlhcyBmb3IgcGlwIHdoZW4geW91IHJ1biBvbiB2
ZW52IgoJCQkJcHV0cyAiICAgIC0gW1tkZXBsb3lzXV0gICAgICAgRGVwbG95IGNvZGUgaW50byBt
dWx0aXBsZSBlbnRpcmUgcmVtb3RlIHNlcnZlcnMiCgkJCQlwdXRzICIgICAgLSBbW3VwZ3JhZGVd
XSAgICAgICBVcGdyYWRlIHByb2dyYW0gaW50byBsYXRlc3QgdmVyc2lvbiBmcm9tIHJlbW90ZSBy
ZXBvc2l0b3J5IgoJCQkJcHV0cyAiICAgICAgICAgICAgICAgICAgICAgICAgwrcgT3B0aW9uczoi
CgkJCQlwdXRzICIgICAgICAgICAgICAgICAgICAgICAgICAgIC0gWy15XSBGb3JjZSBhdXRvIHVw
ZGF0ZSB3aXRob3V0IGNvbmZpcm1hdGlvbiIgCgkJCQlwdXRzICIgICIKCQkJCXB1dHMgIiAgRXhh
bXBsZTogYmFzaCBcIiQoYmFzZW5hbWUgJHtfX25hbWVfX30pXCIiCgkJCQlwdXRzICIgICAgICAg
ICAgIGJhc2ggXCIkKGJhc2VuYW1lICR7X19uYW1lX199KVwiIFtbYmFja2luZ11dIHRhciB0YXIu
Z3oiCgkJCQlwdXRzICIgICIKCQkJCWlmIFtbICIkYWN0aW9uIiAhPSAiaGVscCIgXV07IHRoZW4K
CQkJCQlyZXR1cm4gMQoJCQkJZmkKCQkJOzsKCQllc2FjCgllbHNlCgkJcHl0aG9uMyBzcmMvJHtj
b25maWdzW3Byb2dyYW1dfS5weSAiJHthcmd1bWVudHNbQF19IgoJZmkKCQoJaWYgW1sgJChjb21t
YW5kIC12IGRlYWN0aXZhdGUpIF1dOyB0aGVuCgkJZGVhY3RpdmF0ZQoJCWlmIFtbICQ/IC1lcSAx
IF1dOyB0aGVuCgkJCXB1dHMgIiAgPDwtIGkgPiAke2NvbmZpZ3NbcHJvZ3JhbV19OiBzb21ldGhp
bmcgd3Jvbmcgd2hlbiBkZWFjdGl2YXRlIHZlbnYiCgkJCXJldHVybiAxCgkJZmkKCWZpCgkKCWlm
IFtbICR7Y29uZmlnc1tjbGVhbl19ID09IHRydWUgXV07IHRoZW4KCQlmb3IgY2FjaGUgaW4gJChm
aW5kICIke2Jhc2VwYXRofS8iIHwgZ3JlcCAiX19weWNhY2hlX18iKTsgZG8KCQkJaWYgW1sgLWQg
JGNhY2hlIF1dOyB0aGVuCgkJCQlybSAtcmYgJGNhY2hlCgkJCQlpZiBbWyAkPyAtbmUgMCBdXTsg
dGhlbgoJCQkJCXB1dHMgIiAgPDwtIGkgPj4gJHtjb25maWdzW3Byb2dyYW1dfTogJHtjYWNoZX06
IGZhaWxlZCByZW1vdmUgY2FjaGUiCgkJCQkJcmV0dXJuIDEKCQkJCWZpCgkJCWZpCgkJZG9uZQoJ
ZmkKCQoJcmV0dXJuIDAKfQoKbWFpbiAiJEAiCmV4aXQgIiQ/Igo=

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
