----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBieXRlcyBhcyBCeXRlcywgaW50IGFzIEludCwgc3RyIGFzIFN0cgpmcm9t
IHJlcXVlc3RzIGltcG9ydCBSZXNwb25zZSwgU2Vzc2lvbgpmcm9tIHJlcXVlc3RzLmV4Y2VwdGlv
bnMgaW1wb3J0ICgKCUNvbm5lY3Rpb25FcnJvciBhcyBSZXF1ZXN0Q29ubmVjdGlvbkVycm9yLCAK
CUNvbm5lY3RUaW1lb3V0IGFzIFJlcXVlc3RDb25uZWN0aW9uVGltZW91dCwgCglSZXF1ZXN0RXhj
ZXB0aW9uIGFzIFJlcXVlc3RFcnJvcgopCmZyb20gdHlwaW5nIGltcG9ydCAoIAoJQW55LCAKCU11
dGFibGVNYXBwaW5nLCAKCU9wdGlvbmFsLCAKCVR1cGxlLCAKCVVuaW9uCikKZnJvbSB1cmxsaWIz
LmV4Y2VwdGlvbnMgaW1wb3J0ICgKCUNvbm5lY3Rpb25FcnJvciBhcyBVcmxsaWJDb25uZWN0aW9u
RXJyb3IsCglDb25uZWN0VGltZW91dEVycm9yIGFzIFVybGxpYkNvbm5lY3RUaW1lb3V0RXJyb3Is
CglSZXF1ZXN0RXJyb3IgYXMgVXJsbGliUmVxdWVzdEVycm9yLAoJTmV3Q29ubmVjdGlvbkVycm9y
IGFzIFVybGxpYk5ld0Nvbm5lY3Rpb25FcnJvcgopCmZyb20gdXJsbGliLnBhcnNlIGltcG9ydCB1
cmxwYXJzZSBhcyB1cmxwYXJzZXIKCmZyb20gez89bW9kdWxlfS5jb21tb24gaW1wb3J0IHRyYWNl
YmFjaywgdHlwZW9mCmZyb20gez89bW9kdWxlfS5sb2dnZXIgaW1wb3J0IExvZ2dlcgoKCl9fYWxs
X18gPSBbCgkicmVxdWVzdCIKXQoKCl9sb2dnZXI6TG9nZ2VyID0gTG9nZ2VyKCBfX25hbWVfXyAp
CiIiIiBMb2dnZXIgSW5zdGFuY2UgIiIiCgoKZGVmIHJlcXVlc3QoIG1ldGhvZDpTdHIsIHVybDpT
dHIsIGF1dGg6VHVwbGVbU3RyLFN0cl09Tm9uZSwgZGF0YTpNdXRhYmxlTWFwcGluZ1tTdHIsQW55
XT1Ob25lLCBmaWxlczpNdXRhYmxlTWFwcGluZ1tTdHIsQnl0ZXNdPU5vbmUsIGNvb2tpZXM6TXV0
YWJsZU1hcHBpbmdbU3RyLFN0cl09Tm9uZSwgaGVhZGVyczpNdXRhYmxlTWFwcGluZ1tTdHIsU3Ry
XT1Ob25lLCBwYXJhbXM6TXV0YWJsZU1hcHBpbmdbU3RyLFN0cl09Tm9uZSwgcGF5bG9hZDpNdXRh
YmxlTWFwcGluZ1tTdHIsQW55XT1Ob25lLCBwcm94aWVzOk11dGFibGVNYXBwaW5nW1N0cixTdHJd
PU5vbmUsIHNlc3Npb246T3B0aW9uYWxbU2Vzc2lvbl09Tm9uZSwgc3RyZWFtOkJvb2w9RmFsc2Us
IHZlcmlmeTpCb29sPU5vbmUsIHRpbWVvdXQ6SW50PU5vbmUsIHRyaWVzOkludD0xMCwgdGhyZWFk
OlVuaW9uW0ludCxTdHJdPTAgKSAtPiBSZXNwb25zZToKCQoJIiIiCglTZW5kIEhUVFAgUmVxdWVz
dAoJCglQYXJhbWV0ZXJzOgoJCW1ldGhvZCAoU3RyKToKCQkJSHR0cCByZXF1ZXN0IG1ldGhvZAoJ
CXVybCAoU3RyKToKCQkJSHR0cCByZXF1ZXN0IHVybCB0YXJnZXQKCQlhdXRoIChUdXBsZVtTdHIs
U3RyXSk6CgkJCUh0dHAgcmVxdWVzdCBhdXRoZW50aWNhdGlvbgoJCWRhdGEgKE11dGFibGVNYXBw
aW5nW1N0cixBbnldKToKCQkJSHR0cCByZXF1ZXN0IG11bHRpcGFydCBmb3JtIGRhdGEKCQlmaWxl
cyAoTXV0YWJsZU1hcHBpbmdbU3RyLEJ5dGVzXSk6CgkJCUh0dHAgcmVxdWVzdCBmaWxlcwoJCWNv
b2tpZXMgKE11dGFibGVNYXBwaW5nW1N0cixTdHJdKToKCQkJSHR0cCByZXF1ZXN0IGNvb2tpZXMK
CQloZWFkZXJzIChNdXRhYmxlTWFwcGluZ1tTdHIsU3RyXSk6CgkJCUh0dHAgcmVxdWVzdCBoZWFk
ZXJzCgkJcGFyYW1zIChNdXRhYmxlTWFwcGluZ1tTdHIsU3RyXSk6CgkJCUh0dHAgcmVxdWVzdCBw
YXJhbWV0ZXJzCgkJcGF5bG9hZCAoTXV0YWJsZU1hcHBpbmdbU3RyLEFueV0pOgoJCQlIdHRwIHJl
cXVlc3QganNvbiBwYXlsb2FkIGRhdGEKCQlwcm94aWVzIChNdXRhYmxlTWFwcGluZ1tTdHIsQW55
XSk6CgkJCUh0dHAgcmVxdWVzdCBwcm94aWVzCgkJc3RyZWFtIChCb29sKToKCQkJQWxsb3cgcmVx
dWVzdCBzdHJlYW0KCQl2ZXJpZnkgKEJvb2wpOgoJCQlWZXJpZnkgaHR0cCByZXF1ZXN0CgkJdGlt
ZW91dCAoSW50KToKCQkJSHR0cCByZXF1ZXN0IHRpbWVvdXQKCQl0cmllcyAoSW50KToKCQkJSHR0
cCByZXF1ZXN0IHRpbWVvdXQgdHJpZXMKCQl0aHJlYWQgKEludHxTdHIpOgoJCQlDdXJyZW50IHRo
cmVhZCBwb3NpdGlvbiBudW1iZXIKCQoJUmV0dXJuczoKCQlyZXNwb25zZSAoUmVzcG9uc2UpOgoJ
CQlSZXF1ZXN0IHJlc3BvbnNlCgkiIiIKCQoJY291bnRlciA9IDAKCWlmIHNlc3Npb24gaXMgTm9u
ZSBvciBub3Qgc2Vzc2lvbjoKCQlzZXNzaW9uID0gU2Vzc2lvbigpCgl0aHJvd25lZCA9IFtdCgl0
aHJvd2FibGUgPSBbCgkJUmVxdWVzdENvbm5lY3Rpb25FcnJvciwgCgkJUmVxdWVzdENvbm5lY3Rp
b25UaW1lb3V0LCAKCQlSZXF1ZXN0RXJyb3IsCgkJVXJsbGliQ29ubmVjdGlvbkVycm9yLAoJCVVy
bGxpYkNvbm5lY3RUaW1lb3V0RXJyb3IsCgkJVXJsbGliUmVxdWVzdEVycm9yLAoJCVVybGxpYk5l
d0Nvbm5lY3Rpb25FcnJvcgoJXQoJY29udGludWVhYmxlID0gKCAKCQlSZXF1ZXN0Q29ubmVjdGlv
bkVycm9yLCAKCQlSZXF1ZXN0Q29ubmVjdGlvblRpbWVvdXQsIAoJCVVybGxpYkNvbm5lY3Rpb25F
cnJvciwKCQlVcmxsaWJDb25uZWN0VGltZW91dEVycm9yLAoJCVVybGxpYk5ld0Nvbm5lY3Rpb25F
cnJvcgoJKQoJaWYgdHJpZXMgPD0gMDoKCQl0cmllcyA9IDEwCgl1cmxwYXJzZWQgPSB1cmxwYXJz
ZXIoIHVybCApCglzb3VyY2UgPSBmInt1cmxwYXJzZWQuc2NoZW1lfTovL3t1cmxwYXJzZWQubmV0
bG9jfXt1cmxwYXJzZWQucGF0aH0iCgl3aGlsZSBjb3VudGVyIDw9IHRyaWVzOgoJCV9sb2dnZXIu
aW5mbyggIlJlcXVlc3Qge30gdXJsPVwie31cIiIsIG1ldGhvZCwgc291cmNlLCB0aHJlYWQ9dGhy
ZWFkICkKCQl0cnk6CgkJCXJlc3BvbnNlID0gc2Vzc2lvbi5yZXF1ZXN0KCAKCQkJCXVybD11cmws
IAoJCQkJYXV0aD1hdXRoLAoJCQkJZGF0YT1kYXRhLCAKCQkJCWZpbGVzPWZpbGVzLCAKCQkJCWpz
b249cGF5bG9hZCwgCgkJCQlzdHJlYW09c3RyZWFtLAoJCQkJdmVyaWZ5PXZlcmlmeSwKCQkJCW1l
dGhvZD1tZXRob2QsIAoJCQkJY29va2llcz1jb29raWVzLCAKCQkJCWhlYWRlcnM9aGVhZGVycywg
CgkJCQl0aW1lb3V0PXRpbWVvdXQsCgkJCQlwcm94aWVzPXByb3hpZXMsCgkJCQlwYXJhbXM9cGFy
YW1zIAoJCQkpCgkJCV9sb2dnZXIuaW5mbyggIlJlc3BvbnNlIHt9IHVybD1cInt9XCIgY29kZT17
fSIsIG1ldGhvZCwgc291cmNlLCByZXNwb25zZS5zdGF0dXNfY29kZSwgdGhyZWFkPXRocmVhZCAp
CgkJCXJldHVybiByZXNwb25zZQoJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCWluc3Rh
bmNlID0gdHlwZSggZSApCgkJCXRocm93YWJsZS5hcHBlbmQoIGUgKQoJCQlfbG9nZ2VyLmVycm9y
KCAiVW5jYXVnaHQge306IHt9IiwgdHlwZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICks
IHRocmVhZD10aHJlYWQgKQoJCQlpZiBpbnN0YW5jZSBpbiB0aHJvd2FibGU6CgkJCQlpZiBpc2lu
c3RhbmNlKCBlLCBjb250aW51ZWFibGUgKToKCQkJCQljb3VudGVyICs9IDEKCQkJCQljb250aW51
ZQoJCQlpZiB0aHJvd25lZDoKCQkJCXJhaXNlIEV4Y2VwdGlvbkdyb3VwKCBmIkFuIGVycm9yIG9j
Y3VycmVkIHdoaWxlIHNlbmRpbmcgYSB7bWV0aG9kfSByZXF1ZXN0IHRvIHVybD1cInt1cmx9XCIi
LCB0aHJvd25lZCApCgkJCXJhaXNlIGUKCS4uLgo=

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
