----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gcmVxdWVzdHMgaW1wb3J0
IFJlc3BvbnNlLCBTZXNzaW9uCmZyb20gcmVxdWVzdHMuZXhjZXB0aW9ucyBpbXBvcnQgKAoJQ29u
bmVjdGlvbkVycm9yIGFzIFJlcXVlc3RDb25uZWN0aW9uRXJyb3IsIAoJQ29ubmVjdFRpbWVvdXQg
YXMgUmVxdWVzdENvbm5lY3Rpb25UaW1lb3V0LCAKCVJlcXVlc3RFeGNlcHRpb24gYXMgUmVxdWVz
dEVycm9yCikKZnJvbSB0eXBpbmcgaW1wb3J0ICggCglBbnksIAoJTXV0YWJsZU1hcHBpbmcsIAoJ
T3B0aW9uYWwsIAoJVHVwbGUsIAoJVW5pb24KKQpmcm9tIHVybGxpYjMuZXhjZXB0aW9ucyBpbXBv
cnQgKAoJQ29ubmVjdGlvbkVycm9yIGFzIFVybGxpYkNvbm5lY3Rpb25FcnJvciwKCUNvbm5lY3RU
aW1lb3V0RXJyb3IgYXMgVXJsbGliQ29ubmVjdFRpbWVvdXRFcnJvciwKCVJlcXVlc3RFcnJvciBh
cyBVcmxsaWJSZXF1ZXN0RXJyb3IsCglOZXdDb25uZWN0aW9uRXJyb3IgYXMgVXJsbGliTmV3Q29u
bmVjdGlvbkVycm9yCikKZnJvbSB1cmxsaWIucGFyc2UgaW1wb3J0IHVybHBhcnNlIGFzIHVybHBh
cnNlcgoKZnJvbSB7Pz1tb2R1bGV9LmNvbW1vbiBpbXBvcnQgdHJhY2ViYWNrLCB0eXBlb2YKZnJv
bSB7Pz1tb2R1bGV9LmxvZ2dlciBpbXBvcnQgTG9nZ2VyCgoKX19hbGxfXyA9IFsKCSJyZXF1ZXN0
IgpdCgoKX2xvZ2dlcjpMb2dnZXIgPSBMb2dnZXIoIF9fbmFtZV9fICkKIiIiIExvZ2dlciBJbnN0
YW5jZSAiIiIKCgpkZWYgcmVxdWVzdCggbWV0aG9kOlN0ciwgdXJsOlN0ciwgYXV0aDpUdXBsZVtT
dHIsU3RyXT1Ob25lLCBkYXRhOk11dGFibGVNYXBwaW5nW1N0cixBbnldPU5vbmUsIGZpbGVzOk11
dGFibGVNYXBwaW5nW1N0cixCeXRlc109Tm9uZSwgY29va2llczpNdXRhYmxlTWFwcGluZ1tTdHIs
U3RyXT1Ob25lLCBoZWFkZXJzOk11dGFibGVNYXBwaW5nW1N0cixTdHJdPU5vbmUsIHBhcmFtczpN
dXRhYmxlTWFwcGluZ1tTdHIsU3RyXT1Ob25lLCBwYXlsb2FkOk11dGFibGVNYXBwaW5nW1N0cixB
bnldPU5vbmUsIHByb3hpZXM6TXV0YWJsZU1hcHBpbmdbU3RyLFN0cl09Tm9uZSwgc2Vzc2lvbjpP
cHRpb25hbFtTZXNzaW9uXT1Ob25lLCBzdHJlYW06Qm9vbD1GYWxzZSwgdmVyaWZ5OkJvb2w9Tm9u
ZSwgdGltZW91dDpJbnQ9Tm9uZSwgdHJpZXM6SW50PTEwLCB0aHJlYWQ6VW5pb25bSW50LFN0cl09
MCApIC0+IFJlc3BvbnNlOgoJCgkiIiIKCVNlbmQgSFRUUCBSZXF1ZXN0CgkKCVBhcmFtZXRlcnM6
CgkJbWV0aG9kIChTdHIpOgoJCQlIdHRwIHJlcXVlc3QgbWV0aG9kCgkJdXJsIChTdHIpOgoJCQlI
dHRwIHJlcXVlc3QgdXJsIHRhcmdldAoJCWF1dGggKFR1cGxlW1N0cixTdHJdKToKCQkJSHR0cCBy
ZXF1ZXN0IGF1dGhlbnRpY2F0aW9uCgkJZGF0YSAoTXV0YWJsZU1hcHBpbmdbU3RyLEFueV0pOgoJ
CQlIdHRwIHJlcXVlc3QgbXVsdGlwYXJ0IGZvcm0gZGF0YQoJCWZpbGVzIChNdXRhYmxlTWFwcGlu
Z1tTdHIsQnl0ZXNdKToKCQkJSHR0cCByZXF1ZXN0IGZpbGVzCgkJY29va2llcyAoTXV0YWJsZU1h
cHBpbmdbU3RyLFN0cl0pOgoJCQlIdHRwIHJlcXVlc3QgY29va2llcwoJCWhlYWRlcnMgKE11dGFi
bGVNYXBwaW5nW1N0cixTdHJdKToKCQkJSHR0cCByZXF1ZXN0IGhlYWRlcnMKCQlwYXJhbXMgKE11
dGFibGVNYXBwaW5nW1N0cixTdHJdKToKCQkJSHR0cCByZXF1ZXN0IHBhcmFtZXRlcnMKCQlwYXls
b2FkIChNdXRhYmxlTWFwcGluZ1tTdHIsQW55XSk6CgkJCUh0dHAgcmVxdWVzdCBqc29uIHBheWxv
YWQgZGF0YQoJCXByb3hpZXMgKE11dGFibGVNYXBwaW5nW1N0cixBbnldKToKCQkJSHR0cCByZXF1
ZXN0IHByb3hpZXMKCQlzdHJlYW0gKEJvb2wpOgoJCQlBbGxvdyByZXF1ZXN0IHN0cmVhbQoJCXZl
cmlmeSAoQm9vbCk6CgkJCVZlcmlmeSBodHRwIHJlcXVlc3QKCQl0aW1lb3V0IChJbnQpOgoJCQlI
dHRwIHJlcXVlc3QgdGltZW91dAoJCXRyaWVzIChJbnQpOgoJCQlIdHRwIHJlcXVlc3QgdGltZW91
dCB0cmllcwoJCXRocmVhZCAoSW50fFN0cik6CgkJCUN1cnJlbnQgdGhyZWFkIHBvc2l0aW9uIG51
bWJlcgoJCglSZXR1cm5zOgoJCXJlc3BvbnNlIChSZXNwb25zZSk6CgkJCVJlcXVlc3QgcmVzcG9u
c2UKCSIiIgoJCgljb3VudGVyID0gMAoJaWYgc2Vzc2lvbiBpcyBOb25lIG9yIG5vdCBzZXNzaW9u
OgoJCXNlc3Npb24gPSBTZXNzaW9uKCkKCXRocm93bmVkID0gW10KCXRocm93YWJsZSA9IFsKCQlS
ZXF1ZXN0Q29ubmVjdGlvbkVycm9yLCAKCQlSZXF1ZXN0Q29ubmVjdGlvblRpbWVvdXQsIAoJCVJl
cXVlc3RFcnJvciwKCQlVcmxsaWJDb25uZWN0aW9uRXJyb3IsCgkJVXJsbGliQ29ubmVjdFRpbWVv
dXRFcnJvciwKCQlVcmxsaWJSZXF1ZXN0RXJyb3IsCgkJVXJsbGliTmV3Q29ubmVjdGlvbkVycm9y
CgldCgljb250aW51ZWFibGUgPSAoIAoJCVJlcXVlc3RDb25uZWN0aW9uRXJyb3IsIAoJCVJlcXVl
c3RDb25uZWN0aW9uVGltZW91dCwgCgkJVXJsbGliQ29ubmVjdGlvbkVycm9yLAoJCVVybGxpYkNv
bm5lY3RUaW1lb3V0RXJyb3IsCgkJVXJsbGliTmV3Q29ubmVjdGlvbkVycm9yCgkpCglpZiB0cmll
cyA8PSAwOgoJCXRyaWVzID0gMTAKCXVybHBhcnNlZCA9IHVybHBhcnNlciggdXJsICkKCXNvdXJj
ZSA9IGYie3VybHBhcnNlZC5zY2hlbWV9Oi8ve3VybHBhcnNlZC5uZXRsb2N9e3VybHBhcnNlZC5w
YXRofSIKCXdoaWxlIGNvdW50ZXIgPD0gdHJpZXM6CgkJX2xvZ2dlci5pbmZvKCAiUmVxdWVzdCB7
fSB1cmw9XCJ7fVwiIiwgbWV0aG9kLCBzb3VyY2UsIHRocmVhZD10aHJlYWQgKQoJCXRyeToKCQkJ
cmVzcG9uc2UgPSBzZXNzaW9uLnJlcXVlc3QoIAoJCQkJdXJsPXVybCwgCgkJCQlhdXRoPWF1dGgs
CgkJCQlkYXRhPWRhdGEsIAoJCQkJZmlsZXM9ZmlsZXMsIAoJCQkJanNvbj1wYXlsb2FkLCAKCQkJ
CXN0cmVhbT1zdHJlYW0sCgkJCQl2ZXJpZnk9dmVyaWZ5LAoJCQkJbWV0aG9kPW1ldGhvZCwgCgkJ
CQljb29raWVzPWNvb2tpZXMsIAoJCQkJaGVhZGVycz1oZWFkZXJzLCAKCQkJCXRpbWVvdXQ9dGlt
ZW91dCwKCQkJCXByb3hpZXM9cHJveGllcywKCQkJCXBhcmFtcz1wYXJhbXMgCgkJCSkKCQkJX2xv
Z2dlci5pbmZvKCAiUmVzcG9uc2Uge30gdXJsPVwie31cIiBjb2RlPXt9IiwgbWV0aG9kLCBzb3Vy
Y2UsIHJlc3BvbnNlLnN0YXR1c19jb2RlLCB0aHJlYWQ9dGhyZWFkICkKCQkJcmV0dXJuIHJlc3Bv
bnNlCgkJZXhjZXB0IEJhc2VFeGNlcHRpb24gYXMgZToKCQkJaW5zdGFuY2UgPSB0eXBlKCBlICkK
CQkJdGhyb3dhYmxlLmFwcGVuZCggZSApCgkJCV9sb2dnZXIuZXJyb3IoICJVbmNhdWdodCB7fTog
e30iLCB0eXBlb2YoIGUgKSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSwgdGhyZWFkPXRocmVhZCAp
CgkJCWlmIGluc3RhbmNlIGluIHRocm93YWJsZToKCQkJCWlmIGlzaW5zdGFuY2UoIGUsIGNvbnRp
bnVlYWJsZSApOgoJCQkJCWNvdW50ZXIgKz0gMQoJCQkJCWNvbnRpbnVlCgkJCWlmIHRocm93bmVk
OgoJCQkJcmFpc2UgRXhjZXB0aW9uR3JvdXAoIGYiQW4gZXJyb3Igb2NjdXJyZWQgd2hpbGUgc2Vu
ZGluZyBhIHttZXRob2R9IHJlcXVlc3QgdG8gdXJsPVwie3VybH1cIiIsIHRocm93bmVkICkKCQkJ
cmFpc2UgZQoJLi4uCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
