----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
c3RyIGFzIFN0cgpmcm9tIGNsaWNrLmNvcmUgaW1wb3J0IENvbnRleHQsIEdyb3VwCmZyb20gY2xp
Y2suZGVjb3JhdG9ycyBpbXBvcnQgKAoJYXJndW1lbnQgYXMgQXJndW1lbnQsIAoJZ3JvdXAsIAoJ
b3B0aW9uIGFzIE9wdGlvbiwgCglwYXNzX2NvbnRleHQgYXMgSW5zdGFuY2UKKQpmcm9tIGNvbmN1
cnJlbnQuZnV0dXJlcyBpbXBvcnQgRnV0dXJlLCBUaHJlYWRQb29sRXhlY3V0b3IKZnJvbSBqc29u
IGltcG9ydCBkdW1wcyBhcyBKc29uRW5jb2Rlcgpmcm9tIHN1YnByb2Nlc3MgaW1wb3J0IFBJUEUs
IFBvcGVuCmZyb20gc3lzIGltcG9ydCBhcmd2CmZyb20gdHlwaW5nIGltcG9ydCBmaW5hbCwgSU8g
YXMgSW8sIE11dGFibGVTZXF1ZW5jZSwgT3B0aW9uYWwsIFR5cGVWYXIgYXMgVmFyCnRyeToKCWZy
b20gdHlwaW5nIGltcG9ydCBTZWxmCmV4Y2VwdCBJbXBvcnRFcnJvcjoKCVNlbGYgPSBWYXIoICJT
ZWxmIiApCgpmcm9tIHs/PW1vZHVsZX0uY29tbW9uIGltcG9ydCBwdXRzLCB0cmFjZWJhY2ssIHR5
cGVvZgpmcm9tIHs/PW1vZHVsZX0uY29uc3RhbnQgaW1wb3J0IEJhc2VQYXRoLCBCYXNlVmVudgpm
cm9tIHs/PW1vZHVsZX0ubG9nZ2VyIGltcG9ydCAqCgoKX19hbGxfXyA9IFsKXQoKCkBmaW5hbApA
Z3JvdXAKY2xhc3MgQ2xpOiAiIiIgez89cHJvamVjdH0gQ29tbWFuZCBMaW5lIEludGVyZmFjZSAi
IiIKCkBmaW5hbApjbGFzcyBDb21tYW5kOgoJCgkiIiIgez89cHJvamVjdH0gQ29tbWFuZCBDb250
YWluZXJzICIiIgoJCglsb2dnZXIgPSBMb2dnZXIoIF9fbmFtZV9fICkKCSIiIiBMb2dnZXIgSW5z
dGFuY2UgIiIiCgkKCUBDbGkuY29tbWFuZCggaGVscD0iVGVzdGluZyB0aGUgcHJvZ3JhbSIgKQoJ
QEFyZ3VtZW50KCAidGVzdGluZyIsIHJlcXVpcmVkPUZhbHNlLCB0eXBlPVN0ciApCglAT3B0aW9u
KCAiLS1wYXJhbXMiLCBoZWxwPSJUZXN0aW5nIHBhcmFtZXRlcnMiLCByZXF1aXJlZD1GYWxzZSwg
dHlwZT1TdHIgKQoJQEluc3RhbmNlCglkZWYgdGVzdGluZyggY29udGV4dDpDb250ZXh0LCB0ZXN0
aW5nOlN0ciwgcGFyYW1zOk9wdGlvbmFsW1N0cl09Tm9uZSApIC0+IE5vbmU6CgkJCgkJZGVmIGNh
bGxiYWNrKCBsYWJlbDpTdHIsIGxvZ2dlcjpMb2dnZXJbQ29tbWFuZF0sIHN0cmVhbTpJb1tTdHJd
ICkgLT4gTm9uZToKCQkJCgkJCSIiIgoJCQlUaHJlYWQgY2FsbGJhY2sgaGFuZGxlciBmb3IgcHJp
bnQgb3V0cHV0IGZyb20gc3RyZWFtCgkJCQoJCQlQYXJhbWV0ZXJzOgoJCQkJbGFiZWwgKFN0cik6
CgkJCQkJTGFiZWwgb3Mgc3RyZWFtCgkJCQlsb2dnZXIgKExvZ2dlcik6CgkJCQkJTG9nZ2VyIGlu
c3RhbmNlCgkJCQlzdHJlYW0gKElvW1N0cl0pOgoJCQkJCVN0cmVhbSBwcm9jZXNzCgkJCSIiIgoJ
CQkKCQkJZm9yIGxpbmUgaW4gaXRlciggc3RyZWFtLnJlYWRsaW5lLCAiIiApOgoJCQkJbG9nZ2Vy
LmRlYnVnKCAie306IHt9IiwgbGFiZWwsIGxpbmUucmVwbGFjZSggIlx4MGEiLCAiIiApLCBlbmQ9
Ilx4MGEiICkKCQkJLi4uCgkJCgkJbG9nZ2VyID0gQ29tbWFuZC5sb2dnZXIKCQlpZiB0ZXN0aW5n
IGlzIG5vdCBOb25lOgoJCQlwdXRzKCBmIkV4ZWN1dGluZyBwcm9ncmFtIHNyYy90ZXN0cy97dGVz
dGluZ30ucHkge3BhcmFtc30iICkKCQkJcHJvY2VzcyA9IFBvcGVuKCAKCQkJCWFyZ3M9WwoJCQkJ
CWYie0Jhc2VWZW52fS9iaW4vcHl0aG9uIiwKCQkJCQlmIi11IiwKCQkJCQlmIntCYXNlUGF0aH0v
c3JjL3Rlc3RzL3t0ZXN0aW5nfS5weSIsCgkJCQkJZiIiIGlmIHBhcmFtcyBpcyBOb25lIGVsc2Ug
cGFyYW1zCgkJCQldLAoJCQkJYnVmc2l6ZT0xLAoJCQkJc3RkZXJyPVBJUEUsCgkJCQlzdGRvdXQ9
UElQRSwKCQkJCXN0ZGluPVBJUEUsCgkJCQl0ZXh0PVRydWUKCQkJKQoJCQl3aXRoIFRocmVhZFBv
b2xFeGVjdXRvciggMiApIGFzIHBvb2w6CgkJCQlmdXR1cmVzID0gW10KCQkJCWZ1dHVyZXM6TXV0
YWJsZVNlcXVlbmNlW0Z1dHVyZV0KCQkJCWZ1dHVyZXMuYXBwZW5kKCBwb29sLnN1Ym1pdCggY2Fs
bGJhY2ssICJTdGRvdXQiLCBsb2dnZXIsIHByb2Nlc3Muc3Rkb3V0ICkgKQoJCQkJZnV0dXJlcy5h
cHBlbmQoIHBvb2wuc3VibWl0KCBjYWxsYmFjaywgIlN0ZGVyciIsIGxvZ2dlciwgcHJvY2Vzcy5z
dGRlcnIgKSApCgkJCQl3aGlsZSBwcm9jZXNzLnBvbGwoKSBpcyBOb25lOgoJCQkJCS4uLgoJCQlw
cm9jZXNzLnN0ZG91dC5jbG9zZSgpCgkJCXByb2Nlc3Muc3RkZXJyLmNsb3NlKCkKCQkJY29kZSA9
IHByb2Nlc3MucmV0dXJuY29kZQoJCQlpZiBjb2RlID09IDA6CgkJCQlsb2dnZXIuZGVidWcoICJF
eGVjdXRpb24gcHJvZ3JhbSBpcyBzdWNjZXNzIiwgY2xvc2U9MCApCgkJCWVsc2U6CgkJCQlsb2dn
ZXIuZGVidWcoICJFeGVjdXRpb24gcHJvZ3JhbSBpcyBmYWlsZWQiICkKCQkJCWxvZ2dlci5kZWJ1
ZyggZiJFeGVjdXRpb24gcHJvZ3JhbSBoYXMgcmV0dXJuIGNvZGUge2NvZGV9IiwgY2xvc2U9Y29k
ZSApCgkJdHJ5OgoJCQkuLi4KCQlleGNlcHQgQmFzZUV4Y2VwdGlvbiBhcyBlOgoJCQlsb2dnZXIu
ZXJyb3IoICJceDNhXHgyMCIuam9pbihbIHR5cGVvZiggZSApLCB0cmFjZWJhY2soIGUsICJceDBh
IiApIF0pICkKCQkuLi4KCQoJLi4uCgpAZmluYWwKY2xhc3Mgez89cHJvamVjdC5jbGFzc306CgkK
CSIiIiB7Pz1wcm9qZWN0LmNsYXNzfSBNYWluIFByb2dyYW0gIiIiCgkKCWNvbW1hbmRzOk11dGFi
bGVTZXF1ZW5jZVtHcm91cF0KCSIiIiBSZWdpc3RlcmVkIGNvbW1hbmRzICIiIgoJCglsb2dnZXI6
TG9nZ2VyW1NlbGZdCgkiIiIgTG9nZ2VyIEluc3RhbmNlICIiIgoJCglkZWYgX19pbml0X18oIHNl
bGYgKSAtPiBOb25lOgoJCQoJCSIiIiBDb25zdHJ1Y3QgbWV0aG9kIG9mIGNsYXNzIHs/PXByb2pl
Y3QuY2xhc3N9ICIiIgoJCQoJCWRpc2FibGVkID0gIi0tbG9nZ2luZy1zdG9yZS1kaXNhYmxlZCIK
CQllbmFibGVkID0gIi0tbG9nZ2luZy1zdG9yZS1lbmFibGVkIgoJCXZlcmJvc2UgPSAiLS12ZXJi
b3NlIgoJCWlmIHZlcmJvc2UgaW4gYXJndjoKCQkJZGVsIGFyZ3ZbYXJndi5pbmRleCggdmVyYm9z
ZSApXQoJCQl0aHJlc2hvbGQoIExldmVsLlZFUkJPU0UgKQoJCWVsc2U6CgkJCXRocmVzaG9sZCgg
TGV2ZWwuRElTQUJMRSApCgkJaWYgZGlzYWJsZWQgaW4gYXJndjoKCQkJZGVsIGFyZ3ZbYXJndi5p
bmRleCggZGlzYWJsZWQgKV0KCQkJZGlzYWJsZVN0b3JlTG9nKCkKCQllbGlmIGVuYWJsZWQgaW4g
YXJndjoKCQkJZGVsIGFyZ3ZbYXJndi5pbmRleCggZW5hYmxlZCApXQoJCQllbmFibGVTdG9yZUxv
ZygpCgkJCgkJZnJvbSB7Pz1tb2R1bGV9IGltcG9ydCBjb21tYW5kcwoJCQoJCXNlbGYuY29tbWFu
ZHMgPSBsaXN0KCBjb21tYW5kcy5fX2RpY3RfX1tjb21tYW5kXSBmb3IgY29tbWFuZCBpbiBjb21t
YW5kcy5fX2FsbF9fICkKCQlzZWxmLmxvZ2dlciA9IExvZ2dlciggc2VsZiApCgkKCWRlZiBtYWlu
KCBzZWxmICkgLT4gTm9uZToKCQkKCQkiIiIgTWFpbiBQcm9ncmFtIGV4ZWN1dGlvbiAiIiIKCQkK
CQlzZWxmLmxvZ2dlci5pbmZvKCAiU3RhcnRpbmcgYXBwbGljYXRpb24gd2l0aCBhcmd2OiB7fSIs
IGFyZ3ZbMTpdICkKCQlmb3IgY29tbWFuZCBpbiBzZWxmLmNvbW1hbmRzOgoJCQlzZWxmLmxvZ2dl
ci5pbmZvKCAiUmVnaXN0ZXJpbmcgY29tbWFuZDoge31be31dIiwgdHlwZW9mKCBjb21tYW5kICks
IGNvbW1hbmQubmFtZSApCgkJCUNsaS5hZGRfY29tbWFuZCggY29tbWFuZCApCgkJc2VsZi5sb2dn
ZXIuaW5mbyggIkluc3RhbnRpYXRlIGNvbW1hbmQgbGluZSBpbnRlcmZhY2U6IHt9IiwgdHlwZW9m
KCBDbGkgKSApCgkJc3RhdHVzID0gMAoJCXRyeToKCQkJQ2xpKCBvYmo9e30pCgkJZXhjZXB0IEV4
Y2VwdGlvbiBhcyBlOgoJCQlzdGF0dXMgPSBlLmNvZGUgaWYgaGFzYXR0ciggZSwgImNvZGUiICkg
YW5kIGUuY29kZSAhPSAwIGVsc2UgMQoJCQlwdXRzKCAiXHgzYVx4MjAiLmpvaW4oWyB0eXBlb2Yo
IGUgKSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSBdKSApCgkJZXhjZXB0IFN5c3RlbUV4aXQgYXMg
ZToKCQkJc3RhdHVzID0gZS5jb2RlCgkJZmluYWxseToKCQkJc2VsZi5sb2dnZXIuaW5mbyggIlBy
b2dyYW0gdGVybWluYXRlZCB3aXRoIHN0YXR1czoge30iLCBzdGF0dXMgKQoJCQlwdXRzKCBjbG9z
ZT1zdGF0dXMgKQoJCS4uLgoJCgkuLi4KCgppZiBfX25hbWVfXyA9PSAiX19tYWluX18iOgoJbWFp
biA9IHs/PXByb2plY3QuY2xhc3N9KCkKCW1haW4ubWFpbigpCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
