----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20ganNvbiBpbXBvcnQgZHVt
cHMgYXMgSnNvbkVuY29kZXIKZnJvbSBrYWZrYS5jb25zdW1lciBpbXBvcnQgS2Fma2FDb25zdW1l
cgpmcm9tIGthZmthLmNvbnN1bWVyLmZldGNoZXIgaW1wb3J0IENvbnN1bWVyUmVjb3JkIGFzIEth
ZmthQ29uc3VtZXJSZWNvcmQKZnJvbSBrYWZrYS5wcm9kdWNlciBpbXBvcnQgS2Fma2FQcm9kdWNl
cgpmcm9tIHR5cGluZyBpbXBvcnQgKAoJQW55LCAKCUNhbGxhYmxlLCAKCUdlbmVyaWMsIAoJSXRl
cmFibGUsIAoJTXV0YWJsZU1hcHBpbmcsIAoJTXV0YWJsZVNlcXVlbmNlLCAKCVR1cGxlLCAKCVR5
cGVWYXIgYXMgVmFyLCAKCVVuaW9uIAopCgpmcm9tIHs/PW1vZHVsZX0uY29tbW9uIGltcG9ydCB0
cmFjZWJhY2ssIHR5cGVvZgpmcm9tIHs/PW1vZHVsZX0uZnV0dXJlcyBpbXBvcnQgVGhyZWFkRXhl
Y3V0b3IKZnJvbSB7Pz1tb2R1bGV9LmxvZ2dlciBpbXBvcnQgTG9nZ2VyCgoKX19hbGxfXyA9IFsK
CSJLYWZrYSIKXQoKCkVuY29kaW5nID0gVmFyKCAiRW5jb2RpbmciICkKIiIiIEVuY29kaW5nIFR5
cGUgIiIiCgpUID0gVmFyKCAiVCIgKQoiIiIgUmV0dXJuIFR5cGUgIiIiCgoKY2xhc3MgS2Fma2Eo
IEdlbmVyaWNbRW5jb2RpbmddICk6CgkKCSIiIiBLYWZrYSBJbXBsZW1lbnRhdGlvbiAiIiIKCQoJ
ZW5jb2Rpbmc6RW5jb2RpbmcKCSIiIiBLYWZrYSBWYWx1ZSBFbmNvZGluZyAiIiIKCQoJbG9nZ2Vy
OkxvZ2dlcgoJIiIiIExvZ2dlciBJbnN0YW5jZSAiIiIKCQoJcHJvZHVjZXI6S2Fma2FQcm9kdWNl
cgoJIiIiIEthZmthIFByb2R1Y2VyIEluc3RhbmNlICIiIgoJCglzZXJpYWxpemVyOkNhbGxhYmxl
W1tBbnldLFN0cl0KCSIiIiBLYWZrYSBWYWx1ZSBTZXJpYWxpemVyICIiIgoJCglzZXJ2ZXJzOk11
dGFibGVTZXF1ZW5jZVtTdHJdCgkiIiIgS2Fma2EgQm9vdHN0cmFwIFNlcnZlcnMgIiIiCgkKCWRl
ZiBfX2luaXRfXyggc2VsZiwgc2VydmVyczpNdXRhYmxlU2VxdWVuY2VbU3RyXSwgZW5jb2Rpbmc6
RW5jb2Rpbmc9IlVURi04Iiwgc2VyaWFsaXplcjpDYWxsYWJsZVtbQW55XSxTdHJdPUpzb25FbmNv
ZGVyICkgLT4gTm9uZToKCQkKCQkiIiIgQ29uc3RydWN0IG1ldGhvZCBvZiBjbGFzcyBLYWZrYSAi
IiIKCQkKCQlpZiBub3QgY2FsbGFibGUoIHNlcmlhbGl6ZXIgKToKCQkJcmFpc2UgVHlwZUVycm9y
KCAiS2Fma2EgdmFsdWUgc2VyaWFsaXplciBtdXN0IGJlIGNhbGxhYmxlIiApCgkJCgkJc2VsZi5l
bmNvZGluZyA9IGVuY29kaW5nCgkJc2VsZi5sb2dnZXIgPSBMb2dnZXIoIHNlbGYgKQoJCXNlbGYu
c2VyaWFsaXplciA9IGxhbWJkYSB2YWx1ZTogc2VyaWFsaXplciggdmFsdWUgKS5lbmNvZGUoIGVu
Y29kaW5nICkKCQlzZWxmLnNlcnZlcnMgPSBzZXJ2ZXJzCgkKCWRlZiBjbG9zZSggc2VsZiApIC0+
IE5vbmU6CgkJCgkJIiIiIEthZmthIENsb3NlIFByb2R1Y2VyICIiIgoJCQoJCWlmIGhhc2F0dHIo
IEthZmthLCAicHJvZHVjZXIiICkgYW5kIFwKCQkgICBpc2luc3RhbmNlKCBLYWZrYS5wcm9kdWNl
ciwgS2Fma2FQcm9kdWNlciApOgoJCQlzZWxmLmxvZ2dlci5pbmZvKCAiS2Fma2EgY2xvc2luZyBw
cm9kdXNlciBzZXJ2ZXJzOiB7fSIsIEpzb25FbmNvZGVyKCBzZWxmLnNlcnZlcnMsIGluZGVudD00
ICkgKQoJCQlzZWxmLnByb2R1Y2VyLmNsb3NlKCkKCQkuLi4KCQoJZGVmIGNvbm5lY3QoIHNlbGYg
KSAtPiBOb25lOgoJCQoJCSIiIiBLYWZrYSBDb25uZWN0IFByb2R1Y2VyICIiIgoJCQoJCWlmIG5v
dCBoYXNhdHRyKCBLYWZrYSwgInByb2R1Y2VyIiApIG9yIFwKCQkgICBub3QgaXNpbnN0YW5jZSgg
S2Fma2EucHJvZHVjZXIsIEthZmthUHJvZHVjZXIgKToKCQkJc2VsZi5sb2dnZXIuaW5mbyggIkth
ZmthIGNvbm5lY3RpbmcgaW50byBzZXJ2ZXJzOiB7fSIsIEpzb25FbmNvZGVyKCBzZWxmLnNlcnZl
cnMsIGluZGVudD00ICkgKQoJCQlzZWxmLnByb2R1Y2VyID0gS2Fma2FQcm9kdWNlciggCgkJCQli
b290c3RyYXBfc2VydmVycz1zZWxmLnNlcnZlcnMsIAoJCQkJdmFsdWVfc2VyaWFsaXplcj1zZWxm
LnNlcmlhbGl6ZXIKCQkJKQoJCS4uLgoJCglkZWYgY29uc3VtZSggc2VsZiwgKnRvcGljczpTdHIs
IGF1dG9PZmZzZXRSZXNldDpTdHIsIGNhbGxiYWNrOkNhbGxhYmxlW1tLYWZrYUNvbnN1bWVyUmVj
b3JkLF0sVF0sIGdyb3VwSWQ6U3RyLCBkZWxheXM6SW50PTAsIGVuYWJsZUF1dG9Db21taXQ6Qm9v
bD1UcnVlLCBzbGVlcHk6SW50PTAsIHRpbWVvdXQ6SW50PTQsIHdvcmtlcnM6SW50PTIwLCAqKmt3
YXJnczpBbnkgKSAtPiBUdXBsZVtLYWZrYUNvbnN1bWVyLEl0ZXJhYmxlW1RdXToKCQkKCQkiIiIK
CQlLYWZrYSBDb25zdW1lIHRvcGljCgkJCgkJUGFyYW1ldGVyczoKCQkJdG9waWNzIChTdHIpOgoJ
CQkJS2Fma2EgdG9waWMgbmFtZXMKCQkJZ3JvdXBJZCAoU3RyKToKCQkJCUNvbnN1bWVyIGdyb3Vw
IElECgkJCWF1dG9PZmZzZXRSZXNldCAoU3RyKToKCQkJCVN0YXJ0IGNvbnN1bWluZyBmcm9tIHRo
ZSBiZWdpbm5pbmcgb2YgdGhlIHRvcGljCgkJCWNhbGxiYWNrIChDYWxsYWJsZVtbS2Fma2FDb25z
dW1lclJlY29yZF0sVF0pOgoJCQkJVGhyZWFkIGNhbGxiYWNrIGhhbmRsZXIKCQkJZGVsYXlzIChJ
bnQpOgoJCQkJVGhyZWFkIGRlbGF0IHBlci13b3JrZXJzCgkJCWVuYWJsZUF1dG9Db21taXQgKEJv
b2wpOgoJCQkJQ29tbWl0IG9mZnNldHMgYXV0b21hdGljYWxseQoJCQlzbGVlcHkgKEludCk6CgkJ
CQlUaHJlYWQgZGVsYXkgcGVyLXRocmVhZAoJCQl0aW1lb3V0IChJbnQpOgoJCQkJVGhyZWFkIHRp
bWVvdXQKCQkJd29ya2VycyAoSW50KToKCQkJCVRocmVhZCB3b3JrZXJzCgkJCWt3YXJncyAoKipB
bnkpOgoJCQkJQ2FsbGJhY2sgaGFuZGxlciBrZXkgYXJndW1lbnRzCgkJCgkJUmV0dXJuczoKCQkJ
Y29uc3VtZXIgKEthZmthQ29uc3VtZXIpOgoJCQkJS2Fma2EgcHJvZHVjZXIgaW5zdGFuY2UKCQki
IiIKCQkKCQl0cnk6CgkJCXNlbGYubG9nZ2VyKCAiS2Fma2EgY29uc3VtaW5nIGdyb3VwPXt9IG9m
ZnNldD17fSB0b3BpY3M9e30iLCBncm91cElkLCBhdXRvT2Zmc2V0UmVzZXQsIHRvcGljcyApCgkJ
CWNvbnN1bWVyOkthZmthQ29uc3VtZXIgPSBLYWZrYUNvbnN1bWVyKCAqdG9waWNzLAoJCQkJYm9v
dHN0cmFwX3NlcnZlcnM9c2VsZi5zZXJ2ZXJzLAoJCQkJYXV0b19vZmZzZXRfcmVzZXQ9YXV0b09m
ZnNldFJlc2V0LAoJCQkJZW5hYmxlX2F1dG9fY29tbWl0PWVuYWJsZUF1dG9Db21taXQsCgkJCQln
cm91cF9pZD1ncm91cElkCgkJCSkKCQkJZXhlY3V0b3IgPSBUaHJlYWRFeGVjdXRvcigKCQkJCW5h
bWU9ZiJLYWZrYSBDb25zdW1lciBHcm91cD17Z3JvdXBJZH0gT2Zmc2V0PXthdXRvT2Zmc2V0UmVz
ZXR9IFRvcGljPXt0b3BpY3N9IiwKCQkJCWNhbGxiYWNrPWNhbGxiYWNrLAoJCQkJZGF0YXNldHM9
Y29uc3VtZXIsCgkJCQlkZWxheXM9ZGVsYXlzLAoJCQkJc2xlZXB5PXNsZWVweSwKCQkJCXRpbWVv
dXQ9dGltZW91dCwKCQkJCXdvcmtlcnM9d29ya2VycywKCQkJCSoqa3dhcmdzCgkJCSkKCQkJcmV0
dXJuIGNvbnN1bWVyLCBleGVjdXRvcgoJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCXNl
bGYubG9nZ2VyLmVycm9yKCAiRmFpbGVkIGNvbnN1bWUgS2Fma2EgdG9waWNzPVwie31cIiIsIHRv
cGljcyApCgkJCXNlbGYubG9nZ2VyLmVycm9yKCAiVW5jYXVnaHQge306IHt9IiwgdHlwZW9mKCBl
ICksIHRyYWNlYmFjayggZSwgIlx4MGEiICkgKQoJCS4uLgoJCglkZWYgc2VuZCggc2VsZiwgdG9w
aWM6U3RyLCBtZXNzYWdlOk11dGFibGVNYXBwaW5nW1N0cixBbnldLCB0aHJlYWQ6VW5pb25bSW50
LFN0cl09MCApIC0+IE5vbmU6CgkJCgkJIiIiCgkJS2Fma2EgUHJvZHVjZSBkYXRhCgkJCgkJUGFy
YW1ldGVyczoKCQkJdG9waWMgKFN0cik6CgkJCQlLYWZrYSB0b3BpYyBuYW1lCgkJCW1lc3NhZ2Ug
KE11dGFibGVNYXBwaW5nW1N0cixBbnldKToKCQkJCUthZmthIG1lc3NhYWdlCgkJCXRocmVhZCAo
SW50fFN0cik6CgkJCQlDdXJyZW50IHRocmVhZCBwb3NpdGlvbiBudW1iZXIKCQkiIiIKCQkKCQkK
CQlpZGVudGlmaWVyID0gbWVzc2FnZVsnaWQnXSBpZiBpc2luc3RhbmNlKCBtZXNzYWdlLCBkaWN0
ICkgYW5kICJpZCIgaW4gbWVzc2FnZSBlbHNlIEpzb25FbmNvZGVyKCBtZXNzYWdlLCBpbmRlbnQ9
NCApCgkJdHJ5OgoJCQlzZWxmLnByb2R1Y2VyLnNlbmQoIHRvcGljLCB2YWx1ZT1tZXNzYWdlICkK
CQkJc2VsZi5sb2dnZXIuc3VjY2VzcyggIlN1Y2Nlc3NmdWxseSBzZW5kIGRhdGEgaW50byBLYWZr
YSB0b3BpYz17fSBtZXNzYWdlPXt9IiwgdG9waWMsIGlkZW50aWZpZXIsIHRocmVhZD10aHJlYWQg
KQoJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCXNlbGYubG9nZ2VyLmVycm9yKCAiRmFp
bGVkIHNlbmQgZGF0YSBpbnRvIEthZmthIHRvcGljPXt9IG1lc3NhZ2U9e30iLCB0b3BpYywgaWRl
bnRpZmllciwgdGhyZWFkPXRocmVhZCApCgkJCXNlbGYubG9nZ2VyLmVycm9yKCAiVW5jYXVnaHQg
e306IHt9IiwgdHlwZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICkgKQoJCS4uLgoJCgku
Li4KCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
