IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
aW50IGFzIEludCwgc3RyIGFzIFN0cgpmcm9tIGNvbmN1cnJlbnQuZnV0dXJlcyBpbXBvcnQgKAoJ
Q2FuY2VsbGVkRXJyb3IgYXMgVGhyZWFkQ2FuY2VsbGVkRXJyb3IsIAoJRnV0dXJlLCAKCVRocmVh
ZFBvb2xFeGVjdXRvciwgCglUaW1lb3V0RXJyb3IgYXMgVGhyZWFkVGltZW91dEVycm9yCikKZnJv
bSBtdWx0aXByb2Nlc3NpbmcgaW1wb3J0IFRpbWVvdXRFcnJvciBhcyBQcm9jZXNzVGltZW91dEVy
cm9yCmZyb20gbXVsdGlwcm9jZXNzaW5nLnBvb2wgaW1wb3J0IFBvb2wgYXMgUHJvY2Vzc1Bvb2wK
ZnJvbSBwaWNrbGUgaW1wb3J0IFBpY2tsZUVycm9yCmZyb20gdGltZSBpbXBvcnQgc2xlZXAKZnJv
bSB0eXBpbmcgaW1wb3J0ICggCglBbnksIAoJQ2FsbGFibGUsIAoJSXRlcmFibGUsIAoJTXV0YWJs
ZVNlcXVlbmNlLCAKCU9wdGlvbmFsLCAKCVR5cGVWYXIgYXMgVmFyCikKCmZyb20gez89bW9kdWxl
fS5jb21tb24gaW1wb3J0IHBpY2tsYWJsZSwgdHJhY2ViYWNrLCB0eXBlb2YKZnJvbSB7Pz1tb2R1
bGV9LmxvZ2dlciBpbXBvcnQgTG9nZ2VyCgoKX19hbGxfXyA9ICgKCSJQcm9jZXNzRXhlY3V0b3Ii
LAoJIlRocmVhZEV4ZWN1dG9yIgopCgoKQXJncyA9IFZhciggIkFyZ3MiICkKIiIiIEFyZ3VtZW50
cyBUeXBlICIiIgoKRCA9IFZhciggIkQiICkKIiIiIERhdGFzZXQgVHlwZSAiIiIKCkt3YXJncyA9
IFZhciggIkt3YXJncyIgKQoiIiIgS2V5IEFyZ3VtZW50cyBUeXBlICIiIgoKX2xvZ2dlcjpMb2dn
ZXIgPSBMb2dnZXIoIF9fbmFtZV9fICkKIiIiIExvZ2dlciBJbnN0YW5jZSAiIiIKClQgPSBWYXIo
ICJUIiApCiIiIiBSZXR1cm4gVHlwZSAiIiIKCgpkZWYgUHJvY2Vzc0V4ZWN1dG9yKCBuYW1lOlN0
ciwgY2FsbGJhY2s6Q2FsbGFibGVbW0QsQXJncyxLd2FyZ3MsSW50XSxUXSwgZGF0YXNldHM6SXRl
cmFibGVbRF0sIGVoYW5kbGVyOk9wdGlvbmFsW0NhbGxhYmxlW1tCYXNlRXhjZXB0aW9uXSxOb25l
XV09Tm9uZSwgdGltZW91dDpJbnQ9NCwgd29ya2VyczpJbnQ9MiwgKmFyZ3M6QW55LCAqKmt3YXJn
czpBbnkgKSAtPiBJdGVyYWJsZVtUXToKCQoJIiIiCglTaG9ydCBQcm9jZXNzUG9vbAoJCglQYXJh
bWV0ZXJzOgoJCW5hbWUgKFN0cik6CgkJCVByb2Nlc3MgbmFtZQoJCWNhbGxiYWNrIChDYWxsYWJs
ZVtbRCxBcmdzLEt3YXJncyxJbnRdLFRdKToKCQkJUHJvY2VzcyBjYWxsYmFjayBoYW5kbGVyCgkJ
ZGF0YXNldHMgKEl0ZXJhYmxlW0RdKToKCQkJRGF0YXNldHMKCQllaGFuZGxlciAoT3B0aW9uYWxb
Q2FsbGFibGVbW0Jhc2VFeGNlcHRpb25dLE5vbmVdXSk6CgkJCVByb2Nlc3MgZXJyb3IgaGFuZGxl
ciBjYWxsYmFjawoJCXRpbWVvdXQgKEludCk6CgkJCVRocmVhZCB0aW1lb3V0CgkJd29ya2VycyAo
SW50KToKCQkJVGhyZWFkIHdvcmtlcnMKCQlhcmdzICgqQW55KToKCQkJQ2FsbGJhY2sgaGFuZGxl
ciBhcmd1bWVudHMKCQlrd2FyZ3MgKCoqQW55KToKCQkJQ2FsbGJhY2sgaGFuZGxlciBrZXkgYXJn
dW1lbnRzCgkKCVJldHVybnM6CgkJcmVzdWx0cyAoSXRlcmFibGVbVF0pOgoJCQlJdGVyYWJsZSBv
ZiBjYWxsYmFjayByZXR1cm4KCQoJRXhhbXBsZXM6Cgk+Pj4gZGF0YXNldHMgPSBbIC4uLiBdCgk+
Pj4gZXhlY3V0b3IgPSBQcm9jZXNzRXhlY3V0b3IoCgk+Pj4gICAgIG5hbWU9IkJhd2FzbHUgQ3Jh
d2xlciIsCgk+Pj4gICAgIGNhbGxiYWNrPWhhbmRsZXIsCgk+Pj4gICAgIGRhdGFzZXQ9ZGF0YXNl
dHMsCgk+Pj4gICAgIHNsZWVweT0wLAoJPj4+ICAgICB3b3JrZXJzPTEwLAoJPj4+ICAgICB3b3Jr
ZXJUaW1lb3V0PTEyMAoJPj4+ICkKCT4+PiBmb3IgZXhlY3V0aW9uIGluIGV4ZWN1dG9yOgoJPj4+
ICAgICBwcmludCggZXhlY3V0aW9uICkKCSIiIgoJCgl0b3RhbHMgPSAwCglpZiBub3QgY2FsbGFi
bGUoIGVoYW5kbGVyICk6CgkJZGVmIGVoYW5kbGVyKCBlOkJhc2VFeGNlcHRpb24gKSAtPiBOb25l
OgoJCQlfbG9nZ2VyLmVycm9yKCAiUHJvY2VzcyB7fToge30iLCB0eXBlb2YoIGUgKSwgdHJhY2Vi
YWNrKCBlLCAiXHgwYSIgKSwgc3RhcnQ9Ilx4MGEiICkKCWlmIG5vdCBwaWNrbGFibGUoIGNhbGxi
YWNrICk6CgkJcmFpc2UgUGlja2xlRXJyb3IoICJGdW5jdGlvbiBjYW5ub3QgYmUgcGlja2xlZCBh
bmQgdXNlZCBpbiBtdWx0aXByb2Nlc3NpbmciICkKCXdpdGggUHJvY2Vzc1Bvb2woIHByb2Nlc3Nl
cz13b3JrZXJzICkgYXMgcG9vbDoKCQlfbG9nZ2VyLmluZm8oICJCdWlsZGluZyBQcm9jZXNzUG9v
bCB3aXRoIHt9IHdvcmtlcnMgZm9yIHt9Iiwgd29ya2VycywgbmFtZSApCgkJdHJ5OgoJCQlwcm9j
ZXNzZXMgPSBsaXN0KCBwb29sLmFwcGx5X2FzeW5jKCBmdW5jPWNhbGxiYWNrLCBhcmdzPSggZGF0
YXNldCwgKmFyZ3MgKSwga3dkcz17ICoqa3dhcmdzLCAicHJvY2VzcyI6IGkgfSwgZXJyb3JfY2Fs
bGJhY2s9ZWhhbmRsZXIgKSBmb3IgaSwgZGF0YXNldCBpbiBlbnVtZXJhdGUoIGRhdGFzZXRzLCAx
ICkgKQoJCQl3aGlsZSBub3QgYWxsKCBwcm9jZXNzLnJlYWR5KCkgYW5kIHByb2Nlc3Muc3VjY2Vz
c2Z1bCgpIGZvciBwcm9jZXNzIGluIHByb2Nlc3NlcyApOgoJCQkJZm9yIGNvdW50LCBwcm9jZXNz
IGluIGVudW1lcmF0ZShbICpwcm9jZXNzZXMgXSk6CgkJCQkJaWYgbm90IHByb2Nlc3MucmVhZHko
KSBvciBub3QgcHJvY2Vzcy5zdWNjZXNzZnVsKCk6CgkJCQkJCWxvYWRpbmcgPSBmIlByb2Nlc3Mg
d29ya2VyIFA8e2NvdW50KzF9PiBpcyBydW5uaW5nLi4uIgoJCQkJCQlsZW5ndGggPSBsZW4oIGxv
YWRpbmcgKQoJCQkJCQlwb3NpdGlvbiA9IC0xCgkJCQkJCWZvciBpIGluICJcfC8tIiAqIDE2OgoJ
CQkJCQkJaWYgcG9zaXRpb24gPj0gbGVuZ3RoOgoJCQkJCQkJCXBvc2l0aW9uID0gLTEKCQkJCQkJ
CXBvc2l0aW9uICs9IDEKCQkJCQkJCW1lc3NhZ2VzID0gbG9hZGluZwoJCQkJCQkJaWYgcG9zaXRp
b24gPj0gMToKCQkJCQkJCQltZXNzYWdlQ2hhciA9IGxvYWRpbmdbcG9zaXRpb24tMTpwb3NpdGlv
bl0KCQkJCQkJCQltZXNzYWdlQ2hhciA9IG1lc3NhZ2VDaGFyLmxvd2VyKCkgXAoJCQkJCQkJCQlp
ZiBtZXNzYWdlQ2hhci5pc3VwcGVyKCkgXAoJCQkJCQkJCQllbHNlIG1lc3NhZ2VDaGFyLnVwcGVy
KCkKCQkJCQkJCQltZXNzYWdlUHJlZml4ID0gbG9hZGluZ1swOnBvc2l0aW9uLTFdCgkJCQkJCQkJ
bWVzc2FnZVN1ZmZpeCA9IGxvYWRpbmdbcG9zaXRpb246XQoJCQkJCQkJCW1lc3NhZ2VzID0gIiIu
am9pbihbCgkJCQkJCQkJCW1lc3NhZ2VQcmVmaXgsIAoJCQkJCQkJCQltZXNzYWdlQ2hhciwgCgkJ
CQkJCQkJCW1lc3NhZ2VTdWZmaXgKCQkJCQkJCQldKQoJCQkJCQkJX2xvZ2dlci5pbmZvKCBtZXNz
YWdlcywgZW5kPSJceDIwIiwgc3RhcnQ9Ilx4MGQiLCB0aHJlYWQ9aSApCgkJCQkJCXRyeToKCQkJ
CQkJCXByb2Nlc3MuZ2V0KCAwICkKCQkJCQkJZXhjZXB0IFByb2Nlc3NUaW1lb3V0RXJyb3I6CgkJ
CQkJCQkuLi4KCQkJCQkJZXhjZXB0IEJhc2VFeGNlcHRpb24gYXMgZToKCQkJCQkJCV9sb2dnZXIu
ZXJyb3IoICJQcm9jZXNzIHdvcmtlciBUPHt9PiBpcyByYWlzZWQge306IHt9IiwgY291bnQrMSwg
dHlwZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICksIHRocmVhZD1jb3VudCsxICkKCQkJ
CQkJCV9sb2dnZXIuZXJyb3IoICJQcm9jZXNzIHdvcmtlciBUPHt9PiBpcyBkZWxldGVkIGZyb20g
cHJvY2Vzc2VzIiwgY291bnQrMSwgdGhyZWFkPWNvdW50KzEgKQoJCQkJCQkJaWYgcHJvY2VzcyBp
biBwcm9jZXNzZXM6CgkJCQkJCQkJZGVsIHByb2Nlc3Nlc1twcm9jZXNzZXMuaW5kZXgoIHByb2Nl
c3MgKV0KCQkJCQkJZmluYWxseToKCQkJCQkJCS4uLgoJCQkJCQkuLi4KCQkJCQkuLi4KCQlleGNl
cHQgQmFzZUV4Y2VwdGlvbiBhcyBlOgoJCQlfbG9nZ2VyLmVycm9yKCAiVW5jYXVnaHQge306IHt9
IiwgdHlwZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICksIHN0YXJ0PSJceDBkIiApCgkJ
ZmluYWxseToKCQkJX2xvZ2dlci5pbmZvKCAiUHJvY2Vzc1Bvb2wgaGFzIGJlZW4gY2xvc2VkIiwg
c3RhcnQ9Ilx4MGEiICkKCQkJcG9vbC5jbG9zZSgpCgkJCXBvb2wudGVybWluYXRlKCkKCQlfbG9n
Z2VyLmluZm8oICJQcm9jZXNzUG9vbCBlbnVtZXJhdGluZyBwcm9jZXNzIiwgc3RhcnQ9Ilx4MGQi
LCB0aHJlYWQ9IlAiICkKCQlmb3IgaSwgcHJvY2VzcyBpbiBlbnVtZXJhdGUoIHByb2Nlc3NlcyAp
OgoJCQlfbG9nZ2VyLmluZm8oICJZaWVsZGluZyBmcm9tIHByb2Nlc3Mgd29ya2VyIHByb2Nlc3M6
IHt9OiB0aW1lb3V0OiB7fT4iLCBpKzEsIHRpbWVvdXQsIHN0YXJ0PSJceDBkIiwgZW5kPSIiLCB0
aHJlYWQ9aSsxICkKCQkJdHJ5OgoJCQkJeWllbGQgcHJvY2Vzcy5nZXQoIHRpbWVvdXQ9dGltZW91
dCApCgkJCQl0b3RhbHMrPSAxCgkJCWV4Y2VwdCBQcm9jZXNzVGltZW91dEVycm9yOgoJCQkJX2xv
Z2dlci53YXJuaW5nKCAiUHJvY2VzcyB0aW1lb3V0IHdvcmtlcjoge30iLCBpKzEsIHN0YXJ0PSJc
eDBkIiwgdGhyZWFkPWkrMSApCgkJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCQlfbG9n
Z2VyLmVycm9yKCAiUHJvY2VzcyB1bmNhdWdodCB7fToge30iLCB0eXBlb2YoIGUgKSwgdHJhY2Vi
YWNrKCBlLCAiXHgwYSIgKSwgc3RhcnQ9Ilx4MGQiLCB0aHJlYWQ9aSsxICkKCQlfbG9nZ2VyLmlu
Zm8oICIiLCBzdGFydD0iXHgwYSIsIHRocmVhZD0iUCIgKQoJX2xvZ2dlci5pbmZvKCAiQSB0b3Rh
bCBvZiB7fSB3b3JrZXIgcHJvY2VzcyBoYXZlIGJlZW4gY29tcGxldGVkIiwgdG90YWxzLCBzdGFy
dD0iXHgwZCIsIHRocmVhZD0iUCIgKQoJX2xvZ2dlci5pbmZvKCAiUHJvY2Vzc1Bvb2wgZm9yIHt9
IHN0b3BlZCIsIG5hbWUsIHN0YXJ0PSJceDBkIiwgdGhyZWFkPSJQIiApCgkuLi4KCmRlZiBUaHJl
YWRFeGVjdXRvciggbmFtZTpTdHIsIGNhbGxiYWNrOkNhbGxhYmxlW1tELEFyZ3MsS3dhcmdzLElu
dF0sVF0sIGRhdGFzZXRzOkl0ZXJhYmxlW0RdLCBkZWxheXM6SW50PTEwLCBzbGVlcHk6SW50PTEs
IHRpbWVvdXQ6SW50PTQsIHdvcmtlcnM6SW50PTIsICphcmdzOkFueSwgKiprd2FyZ3M6QW55ICkg
LT4gSXRlcmFibGVbVF06CgkKCSIiIgoJU2hvcnQgVGhyZWFkUG9vbEV4ZWN1dG9yCgkKCVBhcmFt
ZXRlcnM6CgkJbmFtZSAoU3RyKToKCQkJVGhyZWFkIHByZWZpeCBuYW1lCgkJY2FsbGJhY2sgKENh
bGxhYmxlW1tELEFyZ3MsS3dhcmdzXSxUXSk6CgkJCVRocmVhZCBjYWxsYmFjayBoYW5kbGVyCgkJ
ZGF0YXNldHMgKEl0ZXJhYmxlW0RdKToKCQkJRGF0YXNldHMKCQlkZWxheXMgKEludCk6CgkJCVRo
cmVhZCBkZWxhdCBwZXItd29ya2VycwoJCXNsZWVweSAoSW50KToKCQkJVGhyZWFkIGRlbGF5IHBl
ci10aHJlYWQKCQl0aW1lb3V0IChJbnQpOgoJCQlUaHJlYWQgdGltZW91dAoJCXdvcmtlcnMgKElu
dCk6CgkJCVRocmVhZCB3b3JrZXJzCgkJYXJncyAoKkFueSk6CgkJCUNhbGxiYWNrIGhhbmRsZXIg
YXJndW1lbnRzCgkJa3dhcmdzICgqKkFueSk6CgkJCUNhbGxiYWNrIGhhbmRsZXIga2V5IGFyZ3Vt
ZW50cwoJCglSZXR1cm5zOgoJCXJlc3VsdHMgKEl0ZXJhYmxlW1RdKToKCQkJSXRlcmFibGUgb2Yg
Y2FsbGJhY2sgcmV0dXJuCgkKCUV4YW1wbGVzOgoJPj4+IGRhdGFzZXRzID0gWyAuLi4gXQoJPj4+
IGV4ZWN1dG9yID0gVGhyZWFkRXhlY3V0b3IoCgk+Pj4gICAgIG5hbWU9IkJhd2FzbHUgQ3Jhd2xl
ciIsCgk+Pj4gICAgIGNhbGxiYWNrPWhhbmRsZXIsCgk+Pj4gICAgIGRhdGFzZXQ9ZGF0YXNldHMs
Cgk+Pj4gICAgIHNsZWVweT0wLAoJPj4+ICAgICB3b3JrZXJzPTEwLAoJPj4+ICAgICB3b3JrZXJE
ZWxheXM9NCwKCT4+PiAgICAgd29ya2VyVGltZW91dD0xMjAKCT4+PiApCgk+Pj4gZm9yIGV4ZWN1
dGlvbiBpbiBleGVjdXRvcjoKCT4+PiAgICAgcHJpbnQoIGV4ZWN1dGlvbiApCgkiIiIKCQoJdG90
YWxzOkludCA9IDAKCXdpdGggVGhyZWFkUG9vbEV4ZWN1dG9yKCB3b3JrZXJzLCBuYW1lICkgYXMg
ZXhlY3V0b3I6CgkJZnV0dXJlczpNdXRhYmxlU2VxdWVuY2VbRnV0dXJlXSA9IFtdCgkJIyBwcm9j
ZXNzID0gZ2V0cGlkKCkKCQkjIHBhcmVudCA9IFByb2Nlc3NQYXJlbnQoKQoJCV9sb2dnZXIuaW5m
byggIkJ1aWxkaW5nIFRocmVhZFBvb2xFeGVjdXRvciB3aXRoIHt9IHdvcmtlcnMgZm9yIHt9Iiwg
d29ya2VycywgbmFtZSwgc3RhcnQ9Ilx4MGQiICkKCQl0cnk6CgkJCWZvciBjb3VudCwgZGF0YSBp
biBlbnVtZXJhdGUoIGRhdGFzZXRzICk6CgkJCQl0aHJlYWQgPSBjb3VudCsxCgkJCQkjIGlmIHBh
cmVudCBpcyBub3QgTm9uZSBhbmQgcGFyZW50OgoJCQkJIyAJdGhyZWFkID0gZiJQPEk8e3Byb2Nl
c3N9PixUPHt0aHJlYWR9Pj4iCgkJCQlfbG9nZ2VyLmluZm8oICJTdGFydGluZyB0aHJlYWQgZm9y
IHt9IiwgbmFtZSwgc3RhcnQ9Ilx4MGQiLCB0aHJlYWQ9dGhyZWFkICkKCQkJCWZ1dHVyZSA9IGV4
ZWN1dG9yLnN1Ym1pdCggY2FsbGJhY2ssIGRhdGEsICphcmdzLCB0aHJlYWQ9dGhyZWFkLCAqKmt3
YXJncyApCgkJCQlmdXR1cmVzLmFwcGVuZCggZnV0dXJlICkKCQkJCXNsZWVwKCBkZWxheXMgaWYg
KCBjb3VudCArMSApICUgd29ya2VycyA9PSAwIGVsc2Ugc2xlZXB5ICkKCQkJd2hpbGUgZnV0dXJl
cyBhbmQgYWxsKCBmdXR1cmUuZG9uZSgpIGZvciBmdXR1cmUgaW4gWyAqZnV0dXJlcyBdICkgaXMg
RmFsc2U6CgkJCQlmb3IgY291bnQsIGZ1dHVyZSBpbiBlbnVtZXJhdGUoWyAqZnV0dXJlcyBdKToK
CQkJCQlpZiBmdXR1cmUucnVubmluZygpIGlzIFRydWU6CgkJCQkJCWxvYWRpbmcgPSBmIkZ1dHVy
ZSB0aHJlYWQgd29ya2VyIFQ8e2NvdW50KzF9PiBpcyBydW5uaW5nLi4uIgoJCQkJCQlsZW5ndGgg
PSBsZW4oIGxvYWRpbmcgKQoJCQkJCQlwb3NpdGlvbiA9IC0xCgkJCQkJCWZvciBpIGluICJcfC8t
IiAqIDE2OgoJCQkJCQkJaWYgcG9zaXRpb24gPj0gbGVuZ3RoOgoJCQkJCQkJCXBvc2l0aW9uID0g
LTEKCQkJCQkJCXBvc2l0aW9uICs9IDEKCQkJCQkJCW1lc3NhZ2VzID0gbG9hZGluZwoJCQkJCQkJ
aWYgcG9zaXRpb24gPj0gMToKCQkJCQkJCQltZXNzYWdlQ2hhciA9IGxvYWRpbmdbcG9zaXRpb24t
MTpwb3NpdGlvbl0KCQkJCQkJCQltZXNzYWdlQ2hhciA9IG1lc3NhZ2VDaGFyLmxvd2VyKCkgXAoJ
CQkJCQkJCQlpZiBtZXNzYWdlQ2hhci5pc3VwcGVyKCkgXAoJCQkJCQkJCQllbHNlIG1lc3NhZ2VD
aGFyLnVwcGVyKCkKCQkJCQkJCQltZXNzYWdlUHJlZml4ID0gbG9hZGluZ1swOnBvc2l0aW9uLTFd
CgkJCQkJCQkJbWVzc2FnZVN1ZmZpeCA9IGxvYWRpbmdbcG9zaXRpb246XQoJCQkJCQkJCW1lc3Nh
Z2VzID0gIiIuam9pbihbCgkJCQkJCQkJCW1lc3NhZ2VQcmVmaXgsIAoJCQkJCQkJCQltZXNzYWdl
Q2hhciwgCgkJCQkJCQkJCW1lc3NhZ2VTdWZmaXgKCQkJCQkJCQldKQoJCQkJCQkJX2xvZ2dlci5p
bmZvKCBtZXNzYWdlcywgZW5kPSJceDIwIiwgc3RhcnQ9Ilx4MGQiLCB0aHJlYWQ9aSApCgkJCQkJ
dHJ5OgoJCQkJCQl0aHJvd25lZCA9IGZ1dHVyZS5leGNlcHRpb24oIDAgKQoJCQkJCQlpZiBpc2lu
c3RhbmNlKCB0aHJvd25lZCwgQmFzZUV4Y2VwdGlvbiApOgoJCQkJCQkJX2xvZ2dlci5lcnJvcigg
IkZ1dHVyZSB0aHJlYWQgd29ya2VyIFQ8e30+IGlzIHJhaXNlZCB7fToge30iLCBjb3VudCsxLCB0
eXBlb2YoIHRocm93bmVkICksIHRyYWNlYmFjayggdGhyb3duZWQsICJceDBhIiApLCB0aHJlYWQ9
Y291bnQrMSwgc3RhcnQ9Ilx4MGQiICkKCQkJCQkJCV9sb2dnZXIuZXJyb3IoICJGdXR1cmUgdGhy
ZWFkIHdvcmtlciBUPHt9PiBpcyBkZWxldGVkIGZyb20gZnV0dXJlcyIsIGNvdW50KzEsIHRocmVh
ZD1jb3VudCsxLCBzdGFydD0iXHgwZCIgKQoJCQkJCQkJaWYgZnV0dXJlIGluIGZ1dHVyZXM6CgkJ
CQkJCQkJZGVsIGZ1dHVyZXNbZnV0dXJlcy5pbmRleCggZnV0dXJlICldCgkJCQkJZXhjZXB0IFRo
cmVhZENhbmNlbGxlZEVycm9yOgoJCQkJCQkuLi4KCQkJCQlleGNlcHQgVGltZW91dEVycm9yOgoJ
CQkJCQkuLi4KCQkJCQlmaW5hbGx5OgoJCQkJCQkuLi4KCQkJCQkuLi4KCQkJCS4uLgoJCWV4Y2Vw
dCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCWV4ZWN1dG9yLnNodXRkb3duKCkKCQkJX2xvZ2dlci5l
cnJvciggIlVuY2F1Z2h0IHt9OiB7fSIsIHR5cGVvZiggZSApLCB0cmFjZWJhY2soIGUsICJceDBh
IiApLCBzdGFydD0iXHgwZCIgKQoJCQlfbG9nZ2VyLmVycm9yKCAiVGhyZWFkUG9vbEV4ZWN1dG9y
IGhhcyBiZWVuIHNodXRpbmcgZG93biIsIHN0YXJ0PSJceDBhIiApCgkJX2xvZ2dlci5pbmZvKCAi
VGhyZWFkUG9vbEV4ZWN1dG9yIGVudW1lcmF0aW5nIGZ1dHVyZXMiLCBzdGFydD0iXHgwZCIsIHRo
cmVhZD0iVCIgKQoJCWZvciBpLCBmdXR1cmUgaW4gZW51bWVyYXRlKCBmdXR1cmVzICk6CgkJCV9s
b2dnZXIuaW5mbyggIllpZWxkaW5nIGZyb20gZnV0dXJlIHRocmVhZCB3b3JrZXI6IDoge306IHRp
bWVvdXQ6IHt9IiwgaSsxLCB0aW1lb3V0LCBzdGFydD0iXHgwZCIsIGVuZD0iIiwgdGhyZWFkPWkr
MSApCgkJCXRyeToKCQkJCWlmIGZ1dHVyZS5jYW5jZWxsZWQoKSBpcyBUcnVlOgoJCQkJCV9sb2dn
ZXIud2FybmluZyggIkZ1dHVyZSB0aHJlYWQgd29ya2VyIGNhbmNlbGxlZDoge30iLCBpKzEsIHN0
YXJ0PSJceDBkIiwgdGhyZWFkPWkrMSApCgkJCQkJY29udGludWUKCQkJCXlpZWxkIGZ1dHVyZS5y
ZXN1bHQoIHRpbWVvdXQgKQoJCQkJdG90YWxzKz0gMQoJCQlleGNlcHQgVGhyZWFkQ2FuY2VsbGVk
RXJyb3I6CgkJCQlfbG9nZ2VyLndhcm5pbmcoICJGdXR1cmUgdGhyZWFkIHdvcmtlciBjYW5jZWxs
ZWQ6IHt9IiwgaSsxLCBzdGFydD0iXHgwZCIsIHRocmVhZD1pKzEgKQoJCQlleGNlcHQgVGhyZWFk
VGltZW91dEVycm9yOgoJCQkJX2xvZ2dlci53YXJuaW5nKCAiRnV0dXJlIHRocmVhZCB3b3JrZXIg
dGltZW91dDoge30iLCBpKzEsIHN0YXJ0PSJceDBkIiwgdGhyZWFkPWkrMSApCgkJCWV4Y2VwdCBC
YXNlRXhjZXB0aW9uIGFzIGU6CgkJCQlfbG9nZ2VyLmVycm9yKCAiVGhyZWFkIHVuY2F1Z2h0IHt9
OiB7fSIsIHR5cGVvZiggZSApLCB0cmFjZWJhY2soIGUsICJceDBhIiApLCBzdGFydD0iXHgwZCIs
IHRocmVhZD1pKzEgKQoJCQkuLi4KCQkuLi4KCV9sb2dnZXIuaW5mbyggIiIsIHN0YXJ0PSJceDBh
IiwgdGhyZWFkPSJUIiApCglfbG9nZ2VyLmluZm8oICJBIHRvdGFsIG9mIHt9IHdvcmtlciB0aHJl
YWRzIGhhdmUgYmVlbiBjb21wbGV0ZWQiLCB0b3RhbHMsIHN0YXJ0PSJceDBkIiwgdGhyZWFkPSJU
IiApCglfbG9nZ2VyLmluZm8oICJUaHJlYWRQb29sRXhlY3V0b3IgZm9yIHt9IHN0b3BlZCIsIG5h
bWUsIHN0YXJ0PSJceDBkIiwgdGhyZWFkPSJUIiApCg==
