----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
c3RyIGFzIFN0cgpmcm9tIG9zIGltcG9ydCBnZXRlbnYsIGdldHVpZApmcm9tIHB3ZCBpbXBvcnQg
Z2V0cHd1aWQKZnJvbSBzeXMgaW1wb3J0IHBhdGggYXMgcGF0aHMKZnJvbSB0eXBpbmcgaW1wb3J0
IE11dGFibGVTZXF1ZW5jZQoKCl9fYWxsX18gPSAoCgkiQmFzZVBhdGgiLAoJIkJhc2VWZW52IiwK
CSJIb21lUGF0aCIsCgkiVXNlcm5hbWUiCikKCgpCYXNlUGFydHM6TXV0YWJsZVNlcXVlbmNlW1N0
cl0gPSBwYXRoc1swXS5zcGxpdCggIlx4MmYiICkKQmFzZVBhdGg6U3RyID0gIlx4MmYiLmpvaW4o
IEJhc2VQYXJ0c1s6QmFzZVBhcnRzLmluZGV4KCAic3JjIiApXSBpZiAic3JjIiBpbiBCYXNlUGFy
dHMgZWxzZSBCYXNlUGFydHMgKQoiIiIgVGhlIEJhc2UgUGF0aCBvZiBBcHBsaWNhdGlvbiAiIiIK
CkJhc2VQYXJ0czpNdXRhYmxlU2VxdWVuY2VbU3RyXSA9IHBhdGhzWzRdLnNwbGl0KCAiXHgyZiIg
KQpCYXNlVmVudjpTdHIgPSAiXHgyZiIuam9pbiggQmFzZVBhcnRzWzpCYXNlUGFydHMuaW5kZXgo
ICJsaWIiICldICkKIiIiIFRoZSBCYXNlIFBhdGggb2YgVmlydHVhbCBFbnZpcm9ubWVudCAiIiIK
CkhvbWVQYXRoOlN0ciA9IGdldGVudiggIkhPTUUiICkKIiIiIFRoZSBIb21lIFBhdGggb2YgVXNl
ciBQcmV2aWxlZ2UgIiIiCgpVc2VybmFtZTpTdHIgPSAicm9vdCIKIiIiIEN1cnJlbnQgVXNlcm5h
bWUgVXNlciBQcmV2aWxlZ2UgIiIiCgp0cnk6CglVc2VybmFtZSA9IGdldHB3dWlkKCBnZXR1aWQo
KSApWzBdCmV4Y2VwdCBLZXlFcnJvcjoKCVVzZXJuYW1lID0gInJvb3QiCgpkZWwgQmFzZVBhcnRz
Cg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
