----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
c3RyIGFzIFN0cgpmcm9tIGNsaWNrIGltcG9ydCAoCglhcmd1bWVudCBhcyBBcmd1bWVudCwgCgln
cm91cCwgR3JvdXAsIAoJb3B0aW9uIGFzIE9wdGlvbiwgCglwYXNzX2NvbnRleHQgYXMgSW5zdGFu
Y2UKKQpmcm9tIGNsaWNrLmNvcmUgaW1wb3J0IENvbnRleHQKZnJvbSBqc29uIGltcG9ydCBkdW1w
cyBhcyBKc29uRW5jb2Rlcgpmcm9tIHN1YnByb2Nlc3MgaW1wb3J0IHJ1biBhcyBTdWJwcm9jZXNz
UnVuCmZyb20gc3lzIGltcG9ydCBhcmd2CmZyb20gdHlwaW5nIGltcG9ydCBmaW5hbCwgTXV0YWJs
ZVNlcXVlbmNlLCBPcHRpb25hbCwgU2VsZgoKZnJvbSB7Pz1tb2R1bGV9LmNvbW1vbiBpbXBvcnQg
cHV0cywgdHJhY2ViYWNrLCB0eXBlb2YKZnJvbSB7Pz1tb2R1bGV9LmNvbnN0YW50IGltcG9ydCBC
YXNlUGF0aCwgQmFzZVZlbnYKZnJvbSB7Pz1tb2R1bGV9LmxvZ2dlciBpbXBvcnQgKgoKCl9fYWxs
X18gPSBbCl0KCgpAZmluYWwKQGdyb3VwCmNsYXNzIENsaTogIiIiIHs/PXByb2plY3R9IENvbW1h
bmQgTGluZSBJbnRlcmZhY2UgIiIiCgpAZmluYWwKY2xhc3MgQ29tbWFuZDoKCQoJIiIiIHs/PXBy
b2plY3R9IENvbW1hbmQgQ29udGFpbmVycyAiIiIKCQoJbG9nZ2VyID0gTG9nZ2VyKCBfX25hbWVf
XyApCgkKCUBDbGkuY29tbWFuZCggaGVscD0iVGVzdGluZyB0aGUgcHJvZ3JhbSIgKQoJQEFyZ3Vt
ZW50KCAidGVzdGluZyIsIHJlcXVpcmVkPUZhbHNlLCB0eXBlPVN0ciApCglAT3B0aW9uKCAiLS1w
YXJhbXMiLCBoZWxwPSJUZXN0aW5nIHBhcmFtZXRlcnMiLCByZXF1aXJlZD1GYWxzZSwgdHlwZT1T
dHIgKQoJQEluc3RhbmNlCglkZWYgdGVzdGluZyggY29udGV4dDpDb250ZXh0LCB0ZXN0aW5nOlN0
ciwgcGFyYW1zOk9wdGlvbmFsW1N0cl09Tm9uZSApIC0+IE5vbmU6CgkJaWYgdGVzdGluZyBpcyBu
b3QgTm9uZToKCQkJcHV0cyggZiJFeGVjdXRpbmcgcHJvZ3JhbSBzcmMvdGVzdHMve3Rlc3Rpbmd9
LnB5IHtwYXJhbXN9IiApCgkJCWV4ZWN1dGlvbiA9IFN1YnByb2Nlc3NSdW4oIGYie0Jhc2VWZW52
fS9iaW4vcHl0aG9uIHtCYXNlUGF0aH0vc3JjL3Rlc3RzL3t0ZXN0aW5nfS5weSB7cGFyYW1zfSIs
IHNoZWxsPVRydWUsIGNhcHR1cmVfb3V0cHV0PVRydWUgKQoJCQlpZiBleGVjdXRpb24uc3RkZXJy
IGlzIG5vdCBOb25lIGFuZCBleGVjdXRpb24uc3RkZXJyOgoJCQkJcHV0cyggZiJTdGRlcnIge2V4
ZWN1dGlvbi5zdGRlcnIuZGVjb2RlKCl9IiApCgkJCWlmIGV4ZWN1dGlvbi5zdGRvdXQgaXMgbm90
IE5vbmUgYW5kIGV4ZWN1dGlvbi5zdGRvdXQ6CgkJCQlwdXRzKCBmIlN0ZG91dCB7ZXhlY3V0aW9u
LnN0ZG91dC5kZWNvZGUoKX0iICkKCQkJaWYgZXhlY3V0aW9uLnJldHVybmNvZGUgPT0gMDoKCQkJ
CXB1dHMoICJFeGVjdXRpb24gcHJvZ3JhbSBpcyBzdWNjZXNzIiApCgkJCWVsc2U6CgkJCQlwdXRz
KCAiRXhlY3V0aW9uIHByb2dyYW0gaXMgZmFpbGVkIiApCgkJCQlwdXRzKCBmIkV4ZWN1dGlvbiBw
cm9ncmFtIGhhcyByZXR1cm4gY29kZSB7ZXhlY3V0aW9uLnJldHVybmNvZGV9IiwgY2xvc2U9ZXhl
Y3V0aW9uLnJldHVybmNvZGUgKQoJCXRyeToKCQkJLi4uCgkJZXhjZXB0IEJhc2VFeGNlcHRpb24g
YXMgZToKCQkJcHV0cyggIlx4M2FceDIwIi5qb2luKFsgdHlwZW9mKCBlICksIHRyYWNlYmFjaygg
ZSwgIlx4MGEiICkgXSkgKQoJCS4uLgoJCgkuLi4KCkBmaW5hbApjbGFzcyB7Pz1wcm9qZWN0LmNs
YXNzfToKCQoJIiIiIHs/PXByb2plY3QuY2xhc3N9IE1haW4gUHJvZ3JhbSAiIiIKCQoJY29tbWFu
ZHM6TXV0YWJsZVNlcXVlbmNlW0dyb3VwXQoJIiIiIFJlZ2lzdGVyZWQgY29tbWFuZHMgIiIiCgkK
CWxvZ2dlcjpMb2dnZXJbU2VsZl0KCSIiIiBMb2dnZXIgSW5zdGFuY2UgIiIiCgkKCWRlZiBfX2lu
aXRfXyggc2VsZiApIC0+IE5vbmU6CgkJCgkJIiIiIENvbnN0cnVjdCBtZXRob2Qgb2YgY2xhc3Mg
ez89cHJvamVjdC5jbGFzc30gIiIiCgkJCgkJZGlzYWJsZWQgPSAiLS1sb2dnaW5nLXN0b3JlLWRp
c2FibGVkIgoJCWVuYWJsZWQgPSAiLS1sb2dnaW5nLXN0b3JlLWVuYWJsZWQiCgkJdmVyYm9zZSA9
ICItLXZlcmJvc2UiCgkJaWYgdmVyYm9zZSBpbiBhcmd2OgoJCQlkZWwgYXJndlthcmd2LmluZGV4
KCB2ZXJib3NlICldCgkJCXRocmVzaG9sZCggTGV2ZWwuVkVSQk9TRSApCgkJZWxzZToKCQkJdGhy
ZXNob2xkKCBMZXZlbC5ESVNBQkxFICkKCQlpZiBkaXNhYmxlZCBpbiBhcmd2OgoJCQlkZWwgYXJn
dlthcmd2LmluZGV4KCBkaXNhYmxlZCApXQoJCQlkaXNhYmxlU3RvcmVMb2coKQoJCWVsaWYgZW5h
YmxlZCBpbiBhcmd2OgoJCQlkZWwgYXJndlthcmd2LmluZGV4KCBlbmFibGVkICldCgkJCWVuYWJs
ZVN0b3JlTG9nKCkKCQkKCQlzZWxmLmNvbW1hbmRzID0gWwoJCV0KCQlzZWxmLmxvZ2dlciA9IExv
Z2dlciggc2VsZiApCgkKCWRlZiBtYWluKCBzZWxmICkgLT4gTm9uZToKCQkKCQkiIiIgTWFpbiBQ
cm9ncmFtIGV4ZWN1dGlvbiAiIiIKCQkKCQlzZWxmLmxvZ2dlci5pbmZvKCAiU3RhcnRpbmcgYXBw
bGljYXRpb24gd2l0aCBhcmd2OiB7fSIsIGFyZ3ZbMTpdICkKCQlmb3IgY29tbWFuZCBpbiBzZWxm
LmNvbW1hbmRzOgoJCQlzZWxmLmxvZ2dlci5pbmZvKCAiUmVnaXN0ZXJpbmcgY29tbWFuZDoge31b
e31dIiwgdHlwZW9mKCBjb21tYW5kICksIGNvbW1hbmQubmFtZSApCgkJCUNsaS5hZGRfY29tbWFu
ZCggY29tbWFuZCApCgkJc2VsZi5sb2dnZXIuaW5mbyggIkluc3RhbnRpYXRlIGNvbW1hbmQgbGlu
ZSBpbnRlcmZhY2U6IHt9IiwgdHlwZW9mKCBDbGkgKSApCgkJc3RhdHVzID0gMAoJCXRyeToKCQkJ
Q2xpKCBvYmo9e30pCgkJZXhjZXB0IEV4Y2VwdGlvbiBhcyBlOgoJCQlzdGF0dXMgPSBlLmNvZGUg
aWYgaGFzYXR0ciggZSwgImNvZGUiICkgYW5kIGUuY29kZSAhPSAwIGVsc2UgMQoJCQlwdXRzKCAi
XHgzYVx4MjAiLmpvaW4oWyB0eXBlb2YoIGUgKSwgdHJhY2ViYWNrKCBlLCAiXHgwYSIgKSBdKSAp
CgkJZXhjZXB0IFN5c3RlbUV4aXQgYXMgZToKCQkJc3RhdHVzID0gZS5jb2RlCgkJZmluYWxseToK
CQkJc2VsZi5sb2dnZXIuaW5mbyggIlByb2dyYW0gdGVybWluYXRlZCB3aXRoIHN0YXR1czoge30i
LCBzdGF0dXMgKQoJCQlwdXRzKCBjbG9zZT1zdGF0dXMgKQoJCS4uLgoJCgkuLi4KCgppZiBfX25h
bWVfXyA9PSAiX19tYWluX18iOgoJbWFpbiA9IHs/PXByb2plY3QuY2xhc3N9KCkKCW1haW4ubWFp
bigpCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
