----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gY29uY3VycmVudC5mdXR1
cmVzIGltcG9ydCAoCglDYW5jZWxsZWRFcnJvciBhcyBUaHJlYWRDYW5jZWxsZWRFcnJvciwgCglG
dXR1cmUsIAoJVGhyZWFkUG9vbEV4ZWN1dG9yLCAKCVRpbWVvdXRFcnJvciBhcyBUaHJlYWRUaW1l
b3V0RXJyb3IKKQpmcm9tIGpzb24gaW1wb3J0IGR1bXBzIGFzIEpzb25FbmNvZGVyCmZyb20ga2Fm
a2EuY29uc3VtZXIgaW1wb3J0IEthZmthQ29uc3VtZXIKZnJvbSBrYWZrYS5jb25zdW1lci5mZXRj
aGVyIGltcG9ydCBDb25zdW1lclJlY29yZCBhcyBLYWZrYUNvbnN1bWVyUmVjb3JkCmZyb20ga2Fm
a2EucHJvZHVjZXIgaW1wb3J0IEthZmthUHJvZHVjZXIKZnJvbSB0aW1lIGltcG9ydCBzbGVlcApm
cm9tIHR5cGluZyBpbXBvcnQgKAoJQW55LCAKCUNhbGxhYmxlLCAKCUdlbmVyaWMsIAoJSXRlcmFi
bGUsIAoJTXV0YWJsZU1hcHBpbmcsIAoJTXV0YWJsZVNlcXVlbmNlLCAKCU9wdGlvbmFsLCAKCVR1
cGxlLCAKCVR5cGVWYXIgYXMgVmFyLCAKCVVuaW9uIAopCgpmcm9tIHs/PW1vZHVsZX0uY29tbW9u
IGltcG9ydCB0cmFjZWJhY2ssIHR5cGVvZgpmcm9tIHs/PW1vZHVsZX0uZnV0dXJlcyBpbXBvcnQg
VGhyZWFkRXhlY3V0b3IKZnJvbSB7Pz1tb2R1bGV9LmxvZ2dlciBpbXBvcnQgTG9nZ2VyCgoKX19h
bGxfXyA9IFsKCSJLYWZrYSIKXQoKCkFyZ3MgPSBWYXIoICJBcmdzIiApCiIiIiBBcmd1bWVudHMg
VHlwZSAiIiIKCkVuY29kaW5nID0gVmFyKCAiRW5jb2RpbmciICkKIiIiIEVuY29kaW5nIFR5cGUg
IiIiCgpLd2FyZ3MgPSBWYXIoICJLd2FyZ3MiICkKIiIiIEtleSBBcmd1bWVudHMgVHlwZSAiIiIK
ClQgPSBWYXIoICJUIiApCiIiIiBSZXR1cm4gVHlwZSAiIiIKCgpjbGFzcyBLYWZrYSggR2VuZXJp
Y1tFbmNvZGluZ10gKToKCQoJIiIiIEthZmthIEltcGxlbWVudGF0aW9uICIiIgoJCgllbmNvZGlu
ZzpFbmNvZGluZwoJIiIiIEthZmthIFZhbHVlIEVuY29kaW5nICIiIgoJCglsb2dnZXI6TG9nZ2Vy
CgkiIiIgTG9nZ2VyIEluc3RhbmNlICIiIgoJCglwcm9kdWNlcjpLYWZrYVByb2R1Y2VyCgkiIiIg
S2Fma2EgUHJvZHVjZXIgSW5zdGFuY2UgIiIiCgkKCXNlcmlhbGl6ZXI6Q2FsbGFibGVbW0FueV0s
U3RyXQoJIiIiIEthZmthIFZhbHVlIFNlcmlhbGl6ZXIgIiIiCgkKCXNlcnZlcnM6TXV0YWJsZVNl
cXVlbmNlW1N0cl0KCSIiIiBLYWZrYSBCb290c3RyYXAgU2VydmVycyAiIiIKCQoJZGVmIF9faW5p
dF9fKCBzZWxmLCBzZXJ2ZXJzOk11dGFibGVTZXF1ZW5jZVtTdHJdLCBlbmNvZGluZzpFbmNvZGlu
Zz0iVVRGLTgiLCBzZXJpYWxpemVyOkNhbGxhYmxlW1tBbnldLFN0cl09SnNvbkVuY29kZXIgKSAt
PiBOb25lOgoJCQoJCSIiIiBDb25zdHJ1Y3QgbWV0aG9kIG9mIGNsYXNzIEthZmthICIiIgoJCQoJ
CWlmIG5vdCBjYWxsYWJsZSggc2VyaWFsaXplciApOgoJCQlyYWlzZSBUeXBlRXJyb3IoICJLYWZr
YSB2YWx1ZSBzZXJpYWxpemVyIG11c3QgYmUgY2FsbGFibGUiICkKCQkKCQlzZWxmLmVuY29kaW5n
ID0gZW5jb2RpbmcKCQlzZWxmLmxvZ2dlciA9IExvZ2dlciggc2VsZiApCgkJc2VsZi5zZXJpYWxp
emVyID0gbGFtYmRhIHZhbHVlOiBzZXJpYWxpemVyKCB2YWx1ZSApLmVuY29kZSggZW5jb2Rpbmcg
KQoJCXNlbGYuc2VydmVycyA9IHNlcnZlcnMKCQoJZGVmIGNsb3NlKCBzZWxmICkgLT4gTm9uZToK
CQkKCQkiIiIgS2Fma2EgQ2xvc2UgUHJvZHVjZXIgIiIiCgkJCgkJaWYgaGFzYXR0ciggS2Fma2Es
ICJwcm9kdWNlciIgKSBhbmQgXAoJCSAgIGlzaW5zdGFuY2UoIEthZmthLnByb2R1Y2VyLCBLYWZr
YVByb2R1Y2VyICk6CgkJCXNlbGYubG9nZ2VyLmluZm8oICJLYWZrYSBjbG9zaW5nIHByb2R1c2Vy
IHNlcnZlcnM6IHt9IiwgSnNvbkVuY29kZXIoIHNlbGYuc2VydmVycywgaW5kZW50PTQgKSApCgkJ
CXNlbGYucHJvZHVjZXIuY2xvc2UoKQoJCS4uLgoJCglkZWYgY29ubmVjdCggc2VsZiApIC0+IE5v
bmU6CgkJCgkJIiIiIEthZmthIENvbm5lY3QgUHJvZHVjZXIgIiIiCgkJCgkJaWYgbm90IGhhc2F0
dHIoIEthZmthLCAicHJvZHVjZXIiICkgb3IgXAoJCSAgIG5vdCBpc2luc3RhbmNlKCBLYWZrYS5w
cm9kdWNlciwgS2Fma2FQcm9kdWNlciApOgoJCQlzZWxmLmxvZ2dlci5pbmZvKCAiS2Fma2EgY29u
bmVjdGluZyBpbnRvIHNlcnZlcnM6IHt9IiwgSnNvbkVuY29kZXIoIHNlbGYuc2VydmVycywgaW5k
ZW50PTQgKSApCgkJCXNlbGYucHJvZHVjZXIgPSBLYWZrYVByb2R1Y2VyKCAKCQkJCWJvb3RzdHJh
cF9zZXJ2ZXJzPXNlbGYuc2VydmVycywgCgkJCQl2YWx1ZV9zZXJpYWxpemVyPXNlbGYuc2VyaWFs
aXplcgoJCQkpCgkJLi4uCgkKCWRlZiBjb25zdW1lKCBzZWxmLCAqdG9waWNzOlN0ciwgYXV0b09m
ZnNldFJlc2V0OlN0ciwgZ3JvdXBJZDpTdHIsIGNhbGxiYWNrOk9wdGlvbmFsW0NhbGxhYmxlW1tL
YWZrYUNvbnN1bWVyUmVjb3JkLEludF0sVF1dPU5vbmUsIGRlbGF5czpJbnQ9MCwgZW5hYmxlQXV0
b0NvbW1pdDpCb29sPVRydWUsIHNsZWVweTpJbnQ9MCwgdGltZW91dDpJbnQ9NCwgd29ya2VyczpJ
bnQ9MjAsICoqa3dhcmdzOkFueSApIC0+IFVuaW9uW1R1cGxlW0thZmthQ29uc3VtZXIsSXRlcmFi
bGVbVF1dLEthZmthQ29uc3VtZXJdOgoJCQoJCSIiIgoJCUthZmthIENvbnN1bWUgdG9waWMKCQkK
CQlQYXJhbWV0ZXJzOgoJCQl0b3BpY3MgKFN0cik6CgkJCQlLYWZrYSB0b3BpYyBuYW1lcwoJCQln
cm91cElkIChTdHIpOgoJCQkJQ29uc3VtZXIgZ3JvdXAgSUQKCQkJYXV0b09mZnNldFJlc2V0IChT
dHIpOgoJCQkJU3RhcnQgY29uc3VtaW5nIGZyb20gdGhlIGJlZ2lubmluZyBvZiB0aGUgdG9waWMK
CQkJY2FsbGJhY2sgKE9wdGlvbmFsW0NhbGxhYmxlW1tLYWZrYUNvbnN1bWVyUmVjb3JkLEludF0s
VF1dKToKCQkJCVRocmVhZCBjYWxsYmFjayBoYW5kbGVyCgkJCWRlbGF5cyAoSW50KToKCQkJCVRo
cmVhZCBkZWxhdCBwZXItd29ya2VycwoJCQllbmFibGVBdXRvQ29tbWl0IChCb29sKToKCQkJCUNv
bW1pdCBvZmZzZXRzIGF1dG9tYXRpY2FsbHkKCQkJc2xlZXB5IChJbnQpOgoJCQkJVGhyZWFkIGRl
bGF5IHBlci10aHJlYWQKCQkJdGltZW91dCAoSW50KToKCQkJCVRocmVhZCB0aW1lb3V0CgkJCXdv
cmtlcnMgKEludCk6CgkJCQlUaHJlYWQgd29ya2VycwoJCQlrd2FyZ3MgKCoqQW55KToKCQkJCUNh
bGxiYWNrIGhhbmRsZXIga2V5IGFyZ3VtZW50cwoJCQoJCVJldHVybnM6CgkJCWNvbnN1bWVyIChU
dXBsZVtLYWZrYUNvbnN1bWVyLEl0ZXJhYmxlW1RdXXxLYWZrYUNvbnN1bWVyKToKCQkJCVR1cGxl
IG9mIEthZmthQ29uc3VtZXIgYW5kIEdlbmVyYXRvciBvZiBDYWxsYmFjayByZXR1cm4gb3IgS2Fm
a2FDb25zdW1lcgoJCSIiIgoJCQoJCWRlZiBUaHJlYWRFeGVjdXRvciggbmFtZTpTdHIsIGNhbGxi
YWNrOkNhbGxhYmxlW1tBbnksQXJncyxLd2FyZ3MsSW50XSxUXSwgZGF0YXNldHM6SXRlcmFibGVb
QXJnc10sIGRlbGF5czpJbnQ9MTAsIHNsZWVweTpJbnQ9MSwgdGltZW91dDpJbnQ9NCwgd29ya2Vy
czpJbnQ9MiwgKmFyZ3M6QW55LCAqKmt3YXJnczpBbnkgKSAtPiBJdGVyYWJsZVtUXToKCQkJCgkJ
CSIiIgoJCQlTaG9ydCBUaHJlYWRQb29sRXhlY3V0b3IKCQkJCgkJCVBhcmFtZXRlcnM6CgkJCQlu
YW1lIChTdHIpOgoJCQkJCVRocmVhZCBwcmVmaXggbmFtZQoJCQkJY2FsbGJhY2sgKENhbGxhYmxl
W1tBbnksQXJncyxLd2FyZ3NdLFRdKToKCQkJCQlUaHJlYWQgY2FsbGJhY2sgaGFuZGxlcgoJCQkJ
ZGF0YXNldHMgKEl0ZXJhYmxlW0RdKToKCQkJCQlEYXRhc2V0cwoJCQkJZGVsYXlzIChJbnQpOgoJ
CQkJCVRocmVhZCBkZWxhdCBwZXItd29ya2VycwoJCQkJc2xlZXB5IChJbnQpOgoJCQkJCVRocmVh
ZCBkZWxheSBwZXItdGhyZWFkCgkJCQl0aW1lb3V0IChJbnQpOgoJCQkJCVRocmVhZCB0aW1lb3V0
CgkJCQl3b3JrZXJzIChJbnQpOgoJCQkJCVRocmVhZCB3b3JrZXJzCgkJCQlhcmdzICgqQW55KToK
CQkJCQlDYWxsYmFjayBoYW5kbGVyIGFyZ3VtZW50cwoJCQkJa3dhcmdzICgqKkFueSk6CgkJCQkJ
Q2FsbGJhY2sgaGFuZGxlciBrZXkgYXJndW1lbnRzCgkJCQoJCQlSZXR1cm5zOgoJCQkJcmVzdWx0
cyAoSXRlcmFibGVbVF0pOgoJCQkJCUl0ZXJhYmxlIG9mIGNhbGxiYWNrIHJldHVybgoJCQkKCQkJ
RXhhbXBsZXM6CgkJCT4+PiBkYXRhc2V0cyA9IFsgLi4uIF0KCQkJPj4+IGV4ZWN1dG9yID0gVGhy
ZWFkRXhlY3V0b3IoCgkJCT4+PiAgICAgbmFtZT0iQmF3YXNsdSBDcmF3bGVyIiwKCQkJPj4+ICAg
ICBjYWxsYmFjaz1oYW5kbGVyLAoJCQk+Pj4gICAgIGRhdGFzZXQ9ZGF0YXNldHMsCgkJCT4+PiAg
ICAgc2xlZXB5PTAsCgkJCT4+PiAgICAgd29ya2Vycz0xMCwKCQkJPj4+ICAgICB3b3JrZXJEZWxh
eXM9NCwKCQkJPj4+ICAgICB3b3JrZXJUaW1lb3V0PTEyMAoJCQk+Pj4gKQoJCQk+Pj4gZm9yIGV4
ZWN1dGlvbiBpbiBleGVjdXRvcjoKCQkJPj4+ICAgICBwcmludCggZXhlY3V0aW9uICkKCQkJIiIi
CgkJCQoJCQl0b3RhbHMgPSAwCgkJCWxvZ2dlciA9IExvZ2dlciggX19uYW1lX18gKQoJCQl3aXRo
IFRocmVhZFBvb2xFeGVjdXRvciggd29ya2VycywgbmFtZSApIGFzIGV4ZWN1dG9yOgoJCQkJZnV0
dXJlczpNdXRhYmxlU2VxdWVuY2VbRnV0dXJlXSA9IFtdCgkJCQlsb2dnZXIuaW5mbyggIkJ1aWxk
aW5nIFRocmVhZFBvb2xFeGVjdXRvciB3aXRoIHt9IHdvcmtlcnMgZm9yIHt9Iiwgd29ya2Vycywg
bmFtZSwgc3RhcnQ9Ilx4MGQiICkKCQkJCXRyeToKCQkJCQlmb3IgY291bnQsIGRhdGEgaW4gZW51
bWVyYXRlKCBkYXRhc2V0cyApOgoJCQkJCQl0aHJlYWQgPSBjb3VudCsxCgkJCQkJCWxvZ2dlci5p
bmZvKCAiU3RhcnRpbmcgdGhyZWFkIGZvciB7fSIsIG5hbWUsIHN0YXJ0PSJceDBkIiwgdGhyZWFk
PXRocmVhZCApCgkJCQkJCWZ1dHVyZSA9IGV4ZWN1dG9yLnN1Ym1pdCggY2FsbGJhY2ssIGRhdGEs
ICphcmdzLCB0aHJlYWQ9dGhyZWFkLCAqKmt3YXJncyApCgkJCQkJCWZ1dHVyZXMuYXBwZW5kKCBm
dXR1cmUgKQoJCQkJCQlzbGVlcCggZGVsYXlzIGlmICggY291bnQgKzEgKSAlIHdvcmtlcnMgPT0g
MCBlbHNlIHNsZWVweSApCgkJCQkJd2hpbGUgZnV0dXJlcyBhbmQgYWxsKCBmdXR1cmUuZG9uZSgp
IGZvciBmdXR1cmUgaW4gWyAqZnV0dXJlcyBdICkgaXMgRmFsc2U6CgkJCQkJCWZvciBjb3VudCwg
ZnV0dXJlIGluIGVudW1lcmF0ZShbICpmdXR1cmVzIF0pOgoJCQkJCQkJaWYgZnV0dXJlLnJ1bm5p
bmcoKSBpcyBUcnVlOgoJCQkJCQkJCWxvYWRpbmcgPSBmIkZ1dHVyZSB0aHJlYWQgd29ya2VyIFQ8
e2NvdW50KzF9PiBpcyBydW5uaW5nLi4uIgoJCQkJCQkJCWxlbmd0aCA9IGxlbiggbG9hZGluZyAp
CgkJCQkJCQkJcG9zaXRpb24gPSAtMQoJCQkJCQkJCWZvciBpIGluICJcfC8tIiAqIDE2OgoJCQkJ
CQkJCQlpZiBwb3NpdGlvbiA+PSBsZW5ndGg6CgkJCQkJCQkJCQlwb3NpdGlvbiA9IC0xCgkJCQkJ
CQkJCXBvc2l0aW9uICs9IDEKCQkJCQkJCQkJbWVzc2FnZXMgPSBsb2FkaW5nCgkJCQkJCQkJCWlm
IHBvc2l0aW9uID49IDE6CgkJCQkJCQkJCQltZXNzYWdlQ2hhciA9IGxvYWRpbmdbcG9zaXRpb24t
MTpwb3NpdGlvbl0KCQkJCQkJCQkJCW1lc3NhZ2VDaGFyID0gbWVzc2FnZUNoYXIubG93ZXIoKSBc
CgkJCQkJCQkJCQkJaWYgbWVzc2FnZUNoYXIuaXN1cHBlcigpIFwKCQkJCQkJCQkJCQllbHNlIG1l
c3NhZ2VDaGFyLnVwcGVyKCkKCQkJCQkJCQkJCW1lc3NhZ2VQcmVmaXggPSBsb2FkaW5nWzA6cG9z
aXRpb24tMV0KCQkJCQkJCQkJCW1lc3NhZ2VTdWZmaXggPSBsb2FkaW5nW3Bvc2l0aW9uOl0KCQkJ
CQkJCQkJCW1lc3NhZ2VzID0gIiIuam9pbihbCgkJCQkJCQkJCQkJbWVzc2FnZVByZWZpeCwgCgkJ
CQkJCQkJCQkJbWVzc2FnZUNoYXIsIAoJCQkJCQkJCQkJCW1lc3NhZ2VTdWZmaXgKCQkJCQkJCQkJ
CV0pCgkJCQkJCQkJCWxvZ2dlci5pbmZvKCBtZXNzYWdlcywgZW5kPSJceDIwIiwgc3RhcnQ9Ilx4
MGQiLCB0aHJlYWQ9aSApCgkJCQkJCQl0cnk6CgkJCQkJCQkJdGhyb3duZWQgPSBmdXR1cmUuZXhj
ZXB0aW9uKCAwICkKCQkJCQkJCQlpZiBpc2luc3RhbmNlKCB0aHJvd25lZCwgQmFzZUV4Y2VwdGlv
biApOgoJCQkJCQkJCQlsb2dnZXIuZXJyb3IoICJGdXR1cmUgdGhyZWFkIHdvcmtlciBUPHt9PiBp
cyByYWlzZWQge306IHt9IiwgY291bnQrMSwgdHlwZW9mKCB0aHJvd25lZCApLCB0cmFjZWJhY2so
IHRocm93bmVkLCAiXHgwYSIgKSwgdGhyZWFkPWNvdW50KzEsIHN0YXJ0PSJceDBkIiApCgkJCQkJ
CQkJCWxvZ2dlci5lcnJvciggIkZ1dHVyZSB0aHJlYWQgd29ya2VyIFQ8e30+IGlzIGRlbGV0ZWQg
ZnJvbSBmdXR1cmVzIiwgY291bnQrMSwgdGhyZWFkPWNvdW50KzEsIHN0YXJ0PSJceDBkIiApCgkJ
CQkJCQkJCWlmIGZ1dHVyZSBpbiBmdXR1cmVzOgoJCQkJCQkJCQkJZGVsIGZ1dHVyZXNbZnV0dXJl
cy5pbmRleCggZnV0dXJlICldCgkJCQkJCQlleGNlcHQgVGhyZWFkQ2FuY2VsbGVkRXJyb3I6CgkJ
CQkJCQkJLi4uCgkJCQkJCQlleGNlcHQgVGltZW91dEVycm9yOgoJCQkJCQkJCS4uLgoJCQkJCQkJ
ZmluYWxseToKCQkJCQkJCQkuLi4KCQkJCQkJCS4uLgoJCQkJCQkuLi4KCQkJCWV4Y2VwdCBCYXNl
RXhjZXB0aW9uIGFzIGU6CgkJCQkJZXhlY3V0b3Iuc2h1dGRvd24oKQoJCQkJCWxvZ2dlci5lcnJv
ciggIlVuY2F1Z2h0IHt9OiB7fSIsIHR5cGVvZiggZSApLCB0cmFjZWJhY2soIGUsICJceDBhIiAp
LCBzdGFydD0iXHgwZCIgKQoJCQkJCWxvZ2dlci5lcnJvciggIlRocmVhZFBvb2xFeGVjdXRvciBo
YXMgYmVlbiBzaHV0aW5nIGRvd24iLCBzdGFydD0iXHgwYSIgKQoJCQkJbG9nZ2VyLmluZm8oICJU
aHJlYWRQb29sRXhlY3V0b3IgZW51bWVyYXRpbmcgZnV0dXJlcyIsIHN0YXJ0PSJceDBkIiwgdGhy
ZWFkPSJUIiApCgkJCQlmb3IgaSwgZnV0dXJlIGluIGVudW1lcmF0ZSggZnV0dXJlcyApOgoJCQkJ
CWxvZ2dlci5pbmZvKCAiWWllbGRpbmcgZnJvbSBmdXR1cmUgdGhyZWFkIHdvcmtlcjogOiB7fTog
dGltZW91dDoge30iLCBpKzEsIHRpbWVvdXQsIHN0YXJ0PSJceDBkIiwgZW5kPSIiLCB0aHJlYWQ9
aSsxICkKCQkJCQl0cnk6CgkJCQkJCWlmIGZ1dHVyZS5jYW5jZWxsZWQoKSBpcyBUcnVlOgoJCQkJ
CQkJbG9nZ2VyLndhcm5pbmcoICJGdXR1cmUgdGhyZWFkIHdvcmtlciBjYW5jZWxsZWQ6IHt9Iiwg
aSsxLCBzdGFydD0iXHgwZCIsIHRocmVhZD1pKzEgKQoJCQkJCQkJY29udGludWUKCQkJCQkJeWll
bGQgZnV0dXJlLnJlc3VsdCggdGltZW91dCApCgkJCQkJCXRvdGFscys9IDEKCQkJCQlleGNlcHQg
VGhyZWFkQ2FuY2VsbGVkRXJyb3I6CgkJCQkJCWxvZ2dlci53YXJuaW5nKCAiRnV0dXJlIHRocmVh
ZCB3b3JrZXIgY2FuY2VsbGVkOiB7fSIsIGkrMSwgc3RhcnQ9Ilx4MGQiLCB0aHJlYWQ9aSsxICkK
CQkJCQlleGNlcHQgVGhyZWFkVGltZW91dEVycm9yOgoJCQkJCQlsb2dnZXIud2FybmluZyggIkZ1
dHVyZSB0aHJlYWQgd29ya2VyIHRpbWVvdXQ6IHt9IiwgaSsxLCBzdGFydD0iXHgwZCIsIHRocmVh
ZD1pKzEgKQoJCQkJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCQkJCWxvZ2dlci5lcnJv
ciggIlRocmVhZCB1bmNhdWdodCB7fToge30iLCB0eXBlb2YoIGUgKSwgdHJhY2ViYWNrKCBlLCAi
XHgwYSIgKSwgc3RhcnQ9Ilx4MGQiLCB0aHJlYWQ9aSsxICkKCQkJCQkuLi4KCQkJCS4uLgoJCQls
b2dnZXIuaW5mbyggIiIsIHN0YXJ0PSJceDBhIiwgdGhyZWFkPSJUIiApCgkJCWxvZ2dlci5pbmZv
KCAiQSB0b3RhbCBvZiB7fSB3b3JrZXIgdGhyZWFkcyBoYXZlIGJlZW4gY29tcGxldGVkIiwgdG90
YWxzLCBzdGFydD0iXHgwZCIsIHRocmVhZD0iVCIgKQoJCQlsb2dnZXIuaW5mbyggIlRocmVhZFBv
b2xFeGVjdXRvciBmb3Ige30gc3RvcGVkIiwgbmFtZSwgc3RhcnQ9Ilx4MGQiLCB0aHJlYWQ9IlQi
ICkKCQkKCQl0cnk6CgkJCXNlbGYubG9nZ2VyLmluZm8oICJLYWZrYSBjb25zdW1pbmcgZ3JvdXA9
e30gb2Zmc2V0PXt9IHRvcGljcz17fSIsIGdyb3VwSWQsIGF1dG9PZmZzZXRSZXNldCwgdG9waWNz
ICkKCQkJY29uc3VtZXI6S2Fma2FDb25zdW1lciA9IEthZmthQ29uc3VtZXIoICp0b3BpY3MsCgkJ
CQlib290c3RyYXBfc2VydmVycz1zZWxmLnNlcnZlcnMsCgkJCQlhdXRvX29mZnNldF9yZXNldD1h
dXRvT2Zmc2V0UmVzZXQsCgkJCQllbmFibGVfYXV0b19jb21taXQ9ZW5hYmxlQXV0b0NvbW1pdCwK
CQkJCWdyb3VwX2lkPWdyb3VwSWQKCQkJKQoJCQlpZiBjYWxsYWJsZSggY2FsbGJhY2sgKToKCQkJ
CWV4ZWN1dG9yID0gVGhyZWFkRXhlY3V0b3IoCgkJCQkJbmFtZT1mIkthZmthIENvbnN1bWVyIEdy
b3VwPXtncm91cElkfSBPZmZzZXQ9e2F1dG9PZmZzZXRSZXNldH0gVG9waWM9e3RvcGljc30iLAoJ
CQkJCWNhbGxiYWNrPWNhbGxiYWNrLAoJCQkJCWRhdGFzZXRzPWNvbnN1bWVyLAoJCQkJCWRlbGF5
cz1kZWxheXMsCgkJCQkJc2xlZXB5PXNsZWVweSwKCQkJCQl0aW1lb3V0PXRpbWVvdXQsCgkJCQkJ
d29ya2Vycz13b3JrZXJzLAoJCQkJCSoqa3dhcmdzCgkJCQkpCgkJCQlyZXR1cm4gY29uc3VtZXIs
IGV4ZWN1dG9yCgkJCXJldHVybiBjb25zdW1lcgoJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6
CgkJCXNlbGYubG9nZ2VyLmVycm9yKCAiRmFpbGVkIGNvbnN1bWUgS2Fma2EgdG9waWNzPVwie31c
IiIsIHRvcGljcyApCgkJCXNlbGYubG9nZ2VyLmVycm9yKCAiVW5jYXVnaHQge306IHt9IiwgdHlw
ZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICkgKQoJCS4uLgoJCglkZWYgc2VuZCggc2Vs
ZiwgdG9waWM6U3RyLCBtZXNzYWdlOk11dGFibGVNYXBwaW5nW1N0cixBbnldLCB0aHJlYWQ6VW5p
b25bSW50LFN0cl09MCApIC0+IE5vbmU6CgkJCgkJIiIiCgkJS2Fma2EgUHJvZHVjZSBkYXRhCgkJ
CgkJUGFyYW1ldGVyczoKCQkJdG9waWMgKFN0cik6CgkJCQlLYWZrYSB0b3BpYyBuYW1lCgkJCW1l
c3NhZ2UgKE11dGFibGVNYXBwaW5nW1N0cixBbnldKToKCQkJCUthZmthIG1lc3NhYWdlCgkJCXRo
cmVhZCAoSW50fFN0cik6CgkJCQlDdXJyZW50IHRocmVhZCBwb3NpdGlvbiBudW1iZXIKCQkiIiIK
CQkKCQkKCQlpZGVudGlmaWVyID0gbWVzc2FnZVsnaWQnXSBpZiBpc2luc3RhbmNlKCBtZXNzYWdl
LCBkaWN0ICkgYW5kICJpZCIgaW4gbWVzc2FnZSBlbHNlIEpzb25FbmNvZGVyKCBtZXNzYWdlLCBp
bmRlbnQ9NCApCgkJdHJ5OgoJCQlzZWxmLnByb2R1Y2VyLnNlbmQoIHRvcGljLCB2YWx1ZT1tZXNz
YWdlICkKCQkJc2VsZi5sb2dnZXIuc3VjY2VzcyggIlN1Y2Nlc3NmdWxseSBzZW5kIGRhdGEgaW50
byBLYWZrYSB0b3BpYz17fSBtZXNzYWdlPXt9IiwgdG9waWMsIGlkZW50aWZpZXIsIHRocmVhZD10
aHJlYWQgKQoJCWV4Y2VwdCBCYXNlRXhjZXB0aW9uIGFzIGU6CgkJCXNlbGYubG9nZ2VyLmVycm9y
KCAiRmFpbGVkIHNlbmQgZGF0YSBpbnRvIEthZmthIHRvcGljPXt9IG1lc3NhZ2U9e30iLCB0b3Bp
YywgaWRlbnRpZmllciwgdGhyZWFkPXRocmVhZCApCgkJCXNlbGYubG9nZ2VyLmVycm9yKCAiVW5j
YXVnaHQge306IHt9IiwgdHlwZW9mKCBlICksIHRyYWNlYmFjayggZSwgIlx4MGEiICkgKQoJCS4u
LgoJCgkuLi4KCg==

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
