----- BEGIN ENCRYPTED KEKKIJUTSU TEMPLATE -----

IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoKez89Y29tbWVudH0KZnJvbSBidWlsdGlucyBpbXBvcnQg
Ym9vbCBhcyBCb29sLCBpbnQgYXMgSW50LCBzdHIgYXMgU3RyCmZyb20gZGF0ZXRpbWUgaW1wb3J0
IGRhdGV0aW1lCmZyb20gaW5zcGVjdCBpbXBvcnQgZ2V0ZnJhbWVpbmZvLCBzdGFjawpmcm9tIGpz
b24gaW1wb3J0IGxvYWRzIGFzIEpzb25EZWNvZGVyLCBKU09ORGVjb2RlRXJyb3IKZnJvbSBwaWNr
bGUgaW1wb3J0IGR1bXBzIGFzIFBpY2tsZUR1bXBzLCBQaWNrbGluZ0Vycm9yCmZyb20gcHl0eiBp
bXBvcnQgdGltZXpvbmUKZnJvbSByYW5kb20gaW1wb3J0IGNob2ljZQpmcm9tIHJlIGltcG9ydCBN
VUxUSUxJTkUsIFMKZnJvbSByZSBpbXBvcnQgY29tcGlsZSwgbWF0Y2gsIHNwbGl0LCBzdWIgYXMg
c3Vic3RyCmZyb20gdGltZSBpbXBvcnQgc2xlZXAKZnJvbSB0cmFjZWJhY2sgaW1wb3J0IGZvcm1h
dF9leGNlcHRpb24KZnJvbSB0eXBpbmcgaW1wb3J0ICggCglBbnksIAoJSXRlcmFibGUsIAoJTXV0
YWJsZU1hcHBpbmcsIAoJTXV0YWJsZVNlcXVlbmNlLCAKCU9wdGlvbmFsLCAKCVVuaW9uIAopCmZy
b20gdXJsbGliLnBhcnNlIGltcG9ydCBxdW90ZSBhcyB1cmxxdW90ZQoKZnJvbSB7Pz1tb2R1bGV9
LmNvbnN0YW50IGltcG9ydCBCYXNlUGF0aCwgQmFzZVZlbnYKCgpfX2FsbF9fID0gWwoJImNvbG9y
aXplIiwKCSJjc2VyaWFsaXplciIsCgkiZGVsYXlzIiwKCSJleHRyYWN0b3IiLAoJInBpY2tsYWJs
ZSIsCgkicHV0cyIsCgkic29ydGVyIiwKCSJ0cmFjZWJhY2siLAoJInR5cGVvZiIKXQoKCmRlZiBj
b2xvcml6ZSggc3RyaW5nOlN0ciwgYmFzZTpTdHI9Tm9uZSApIC0+IFN0cjoKCQoJIiIiCglBdXRv
bWF0aWMgY29sb3JpemUgdGhlIGdpdmVuIHN0cmluZ2EKCQoJUGFyYW1ldGVyczoKCQlzdHJpbmcg
KFN0cik6CgkJYmFzZSAoU3RyKToKCQkJVGhlIHN0cmluZyBiYXNlIGNvbG9yIGFuc2kgY29kZQoJ
CglSZXR1cm5zOgoJCXJlc3VsdCAoU3RyKToKCQkJQ29sb3JpemVkIHN0cmluZwoJIiIiCgkKCXJl
c3VsdCA9ICIiCglzdHJpbmdzID0gWyB4IGZvciB4IGluIHNwbGl0KCByIigoPzpceDFifFwwMzMp
XFtbMC05XDtdK20pIiwgc3RyaW5nICkgaWYgeCAhPSAiIiBdCglyZWdleHBzID0gewoJCSJudW1i
ZXIiOiB7CgkJCSJwYXR0ZXJuIjogciIoP1A8bnVtYmVyPlxiKD86XGQrKVxiKSIsCgkJCSJjb2xv
cml6ZSI6ICJceDFiWzE7Mzg7NTs2MW17fXt9IgoJCX0sCgkJImRlZmluZSI6IHsKCQkJImhhbmRs
ZXIiOiBsYW1iZGEgbWF0Y2hlZDogc3Vic3RyKCByIihcLnxcLSl7MSx9IiwgbGFtYmRhIG06ICJc
eDFiWzE7Mzg7NTs2OW17fVx4MWJbMTszODs1OzExMW0iLmZvcm1hdCggbS5ncm91cCgpICksIG1h
dGNoZWQuZ3JvdXAoIDAgKSApLAoJCQkicGF0dGVybiI6IHIiKD9QPGRlZmluZT4oPzpAfFwkKVth
LXpBLVowLTlfXC1cLl0rKSIsCgkJCSJjb2xvcml6ZSI6ICJceDFiWzE7Mzg7NTsxMTFte317fSIK
CQl9LAoJCSJzeW1ib2wiOiB7CgkJCSJwYXR0ZXJuIjogciIoP1A8c3ltYm9sPlxcfFw6fFwqfC18
XCt8L3wmfCV8PXxcO3wsfFwufFw/fFwhfFx8fDx8Pnxcfil7MSx9IiwKCQkJImNvbG9yaXplIjog
Ilx4MWJbMTszODs1OzY5bXt9e30iCgkJfSwKCQkiYnJhY2tldCI6IHsKCQkJInBhdHRlcm4iOiBy
Iig/UDxicmFja2V0Plx7fFx9fFxbfFxdfFwofFwpKXsxLH0iLAoJCQkiY29sb3JpemUiOiAiXHgx
YlsxOzM4OzU7MjE0bXt9e30iCgkJfSwKCQkiYm9vbGVhbiI6IHsKCQkJInBhdHRlcm4iOiByIig/
UDxib29sZWFuPlxiKD86RmFsc2V8VHJ1ZXxOb25lKVxiKSIsCgkJCSJjb2xvcml6ZSI6ICJceDFi
WzE7Mzg7NTsxOTlte317fSIKCQl9LAoJCSJ0eXBlZGVmIjogewoJCQkicGF0dGVybiI6IHIiKD9Q
PHR5cGVkZWY+XGIoPzpBQkNNZXRhfEFic3RyYWN0U2V0fEFubm90YXRlZHxBbnl8QW55U3RyfEFy
aXRobWV0aWNFcnJvcnxBc3NlcnRpb25FcnJvcnxBc3luY0NvbnRleHRNYW5hZ2VyfEFzeW5jR2Vu
ZXJhdG9yfEFzeW5jSXRlcmFibGV8QXN5bmNJdGVyYXRvcnxBdHRyaWJ1dGVFcnJvcnxBd2FpdGFi
bGV8QmFzZUV4Y2VwdGlvbnxCaW5hcnlJT3xCbG9ja2luZ0lPRXJyb3J8QnJva2VuUGlwZUVycm9y
fEJ1ZmZlckVycm9yfEJ5dGVTdHJpbmd8Qnl0ZXNXYXJuaW5nfENhbGxhYmxlfENoYWluTWFwfENo
aWxkUHJvY2Vzc0Vycm9yfENsYXNzVmFyfENvbGxlY3Rpb258Q29uY2F0ZW5hdGV8Q29ubmVjdGlv
bkFib3J0ZWRFcnJvcnxDb25uZWN0aW9uRXJyb3J8Q29ubmVjdGlvblJlZnVzZWRFcnJvcnxDb25u
ZWN0aW9uUmVzZXRFcnJvcnxDb250YWluZXJ8Q29udGV4dE1hbmFnZXJ8Q29yb3V0aW5lfENvdW50
ZXJ8RGVmYXVsdERpY3R8RGVwcmVjYXRpb25XYXJuaW5nfERlcXVlfERpY3R8RU9GRXJyb3J8RWxs
aXBzaXN8RW5jb2RpbmdXYXJuaW5nfEVudmlyb25tZW50RXJyb3J8RXhjZXB0aW9ufEZhbHNlfEZp
bGVFeGlzdHNFcnJvcnxGaWxlTm90Rm91bmRFcnJvcnxGaW5hbHxGbG9hdGluZ1BvaW50RXJyb3J8
Rm9yd2FyZFJlZnxGcm96ZW5TZXR8RnV0dXJlV2FybmluZ3xHZW5lcmF0b3J8R2VuZXJhdG9yRXhp
dHxHZW5lcmljfEdlbmVyaWNBbGlhc3xIYXNoYWJsZXxJT3xJT0Vycm9yfEltcG9ydEVycm9yfElt
cG9ydFdhcm5pbmd8SW5kZW50YXRpb25FcnJvcnxJbmRleEVycm9yfEludGVycnVwdGVkRXJyb3J8
SXNBRGlyZWN0b3J5RXJyb3J8SXRlbXNWaWV3fEl0ZXJhYmxlfEl0ZXJhdG9yfEtUfEtleXxLZXlF
cnJvcnxLZXlib2FyZEludGVycnVwdHxLZXlzVmlld3xMaXN0fExpdGVyYWx8TG9va3VwRXJyb3J8
TWFwcGluZ3xNYXBwaW5nVmlld3xNYXRjaHxNZW1vcnlFcnJvcnxNZXRob2REZXNjcmlwdG9yVHlw
ZXxNZXRob2RXcmFwcGVyVHlwZXxNb2R1bGVOb3RGb3VuZEVycm9yfE11dGFibGVNYXBwaW5nfE11
dGFibGVTZXF1ZW5jZXxNdXRhYmxlU2V0fE5hbWVFcnJvcnxOYW1lZFR1cGxlfE5hbWVkVHVwbGVN
ZXRhfE5ld1R5cGV8Tm9SZXR1cm58Tm9uZXxOb3RBRGlyZWN0b3J5RXJyb3J8Tm90SW1wbGVtZW50
ZWR8Tm90SW1wbGVtZW50ZWRFcnJvcnxPU0Vycm9yfE9wdGlvbmFsfE9yZGVyZWREaWN0fE92ZXJm
bG93RXJyb3J8UGFyYW1TcGVjfFBhcmFtU3BlY0FyZ3N8UGFyYW1TcGVjS3dhcmdzfFBhdHRlcm58
UGVuZGluZ0RlcHJlY2F0aW9uV2FybmluZ3xQZXJtaXNzaW9uRXJyb3J8UHJvY2Vzc0xvb2t1cEVy
cm9yfFByb3RvY29sfFJlY3Vyc2lvbkVycm9yfFJlZmVyZW5jZUVycm9yfFJlc291cmNlV2Fybmlu
Z3xSZXZlcnNpYmxlfFJ1bnRpbWVFcnJvcnxSdW50aW1lV2FybmluZ3xTZXF1ZW5jZXxTZXR8U2l6
ZWR8U3RvcEFzeW5jSXRlcmF0aW9ufFN0b3BJdGVyYXRpb258U3VwcG9ydHNBYnN8U3VwcG9ydHNC
eXRlc3xTdXBwb3J0c0NvbXBsZXh8U3VwcG9ydHNGbG9hdHxTdXBwb3J0c0luZGV4fFN1cHBvcnRz
SW50fFN1cHBvcnRzUm91bmR8U3ludGF4RXJyb3J8U3ludGF4V2FybmluZ3xTeXN0ZW1FcnJvcnxT
eXN0ZW1FeGl0fFR8VGFiRXJyb3J8VGV4dHxUZXh0SU98VGltZW91dEVycm9yfFRydWV8VHVwbGV8
VHlwZXxUeXBlQWxpYXN8VHlwZUVycm9yfFR5cGVHdWFyZHxUeXBlVmFyfFR5cGVkRGljdHxVbmJv
dW5kTG9jYWxFcnJvcnxVbmljb2RlRGVjb2RlRXJyb3J8VW5pY29kZUVuY29kZUVycm9yfFVuaWNv
ZGVFcnJvcnxVbmljb2RlVHJhbnNsYXRlRXJyb3J8VW5pY29kZVdhcm5pbmd8VW5pb258VXNlcldh
cm5pbmd8VmFsfGFsdWVFcnJvcnxWYWx1ZXNWaWV3fFdhcm5pbmd8V3JhcHBlckRlc2NyaXB0b3JU
eXBlfFplcm9EaXZpc2lvbkVycm9yfGFic3xhYnN0cmFjdG1ldGhvZHxhaXRlcnxhbGx8YW5leHR8
YW55fGFzY2lpfGJpbnxib29sfGJyZWFrcG9pbnR8Ynl0ZWFycmF5fGJ5dGVzfGNhbGxhYmxlfGNh
c3R8Y2hyfGNsYXNzbWV0aG9kfGNvbGxlY3Rpb25zfGNvbXBpbGV8Y29tcGxleHxjb250ZXh0bGli
fGNvcHlyaWdodHxjcmVkaXRzfGRlbGF0dHJ8ZGljdHxkaXJ8ZGl2bW9kfGVudW1lcmF0ZXxldmFs
fGV4ZWN8ZXhpdHxmaWx0ZXJ8ZmluYWx8ZmxvYXR8Zm9ybWF0fGZyb3plbnNldHxmdW5jdG9vbHN8
Z2V0YXR0cnxnbG9iYWxzfGhhc2F0dHJ8aGFzaHxoZWxwfGhleHxpZHxpbnB1dHxpbnR8aW98aXNp
bnN0YW5jZXxpc3N1YmNsYXNzfGl0ZXJ8bGVufGxpY2Vuc2V8bGlzdHxsb2NhbHN8bWFwfG1heHxt
ZW1vcnl2aWV3fG1pbnxuZXh0fG9iamVjdHxvY3R8b3BlbnxvcGVyYXRvcnxvcmR8b3ZlcmxvYWR8
cG93fHByaW50fHByb3BlcnR5fHF1aXR8cmFuZ2V8cmV8cmVwcnxyZXZlcnNlZHxyb3VuZHxzZXR8
c2V0YXR0cnxzbGljZXxzb3J0ZWR8c3RhdGljbWV0aG9kfHN0cnxzdW18c3VwZXJ8c3lzfHR1cGxl
fHR5cGV8dHlwZXN8dmFyc3x6aXApXGIpIiwKCQkJImNvbG9yaXplIjogIlx4MWJbMTszODs1OzIx
M217fXt9IgoJCX0sCgkJImxpbmtlZCI6IHsKCQkJImhhbmRsZXIiOiBsYW1iZGEgbWF0Y2hlZDog
c3Vic3RyKCByIihcXHxcOnxcKnwtfFwrfC98JnwlfD18XDt8LHxcLnxcP3xcIXxcfHw8fD58XH4p
ezEsfSIsIGxhbWJkYSBtOiAiXHgxYlsxOzM4OzU7Njlte31ceDFiWzE7Mzg7NTs0M20iLmZvcm1h
dCggbS5ncm91cCgpICksIG1hdGNoZWQuZ3JvdXAoIDAgKSApLAoJCQkicGF0dGVybiI6IHIiKD9Q
PGxpbmtlZD5cYmh0dHBzPzovL1teXHNdKykiLAoJCQkiY29sb3JpemUiOiAiXHgxYlsxOzM4OzU7
NDNtXHgxYls0bXt9e30iCgkJfSwKCQkidmVyc2lvbiI6IHsKCQkJImhhbmRsZXIiOiBsYW1iZGEg
bWF0Y2hlZDogc3Vic3RyKCByIihbXGRcLl0rKSIsIGxhbWJkYSBtOiAiXHgxYlsxOzM4OzU7MTkw
bXt9XHgxYlsxOzM4OzU7MTEybSIuZm9ybWF0KCBtLmdyb3VwKCkgKSwgbWF0Y2hlZC5ncm91cCgg
MCApICksCgkJCSJwYXR0ZXJuIjogciIoP1A8dmVyc2lvbj5cYlt2Vl1bXGRcLl0rXGIpIiwKCQkJ
ImNvbG9yaXplIjogIlx4MWJbMTszODs1OzExMm17fXt9IgoJCX0sCgkJImF1dGhvciI6IHsKCQkJ
InBhdHRlcm4iOiByIig/UDxhdXRob3I+XGIoPzpoeFthQV1yaSlcYikiLAoJCQkiY29sb3JpemUi
OiAiXHgxYlsxOzM4OzU7MTExbXt9e30iCgkJfSwKCQkiY29tbWVudCI6IHsKCQkJInBhdHRlcm4i
OiByIig/UDxjb21tZW50PlwjW15cbl0qKSIsCgkJCSJjb2xvcml6ZSI6ICJceDFiWzE7Mzg7NTsy
NTBte317fSIKCQl9LAoJCSJzdHJpbmciOiB7CgkJCSJoYW5kbGVyIjogbGFtYmRhIG1hdGNoZWQ6
IHN1YnN0ciggciIoPzwhXFwpKFxcXCJ8XFxcJ3xcXGB8XFxyfFxcdHxcXG58XFxzKSIsIGxhbWJk
YSBtOiAiXHgxYlsxOzM4OzU7MjA4bXt9XHgxYlsxOzM4OzU7MjIwbSIuZm9ybWF0KCBtLmdyb3Vw
KCkgKSwgbWF0Y2hlZC5ncm91cCggMCApICksCgkJCSJwYXR0ZXJuIjogciIoP1A8c3RyaW5nPig/
PCFcXCkoXCIuKj8oPzwhXFwpXCJ8XCcuKj8oPzwhXFwpXCd8YC4qPyg/PCFcXClgKSkiLAoJCQki
Y29sb3JpemUiOiAiXHgxYlsxOzM4OzU7MjIwbXt9e30iCgkJfQoJfQoJaWYgbm90IGlzaW5zdGFu
Y2UoIGJhc2UsIFN0ciApOgoJCWJhc2UgPSAiXHgxYlswbSIKCXRyeToKCQlsYXN0ID0gYmFzZQoJ
CWVzY2FwZSA9IE5vbmUKCQlwYXR0ZXJuID0gIig/Ont9KSIuZm9ybWF0KCAifCIuam9pbiggcmVn
ZXhwWydwYXR0ZXJuJ10gZm9yIHJlZ2V4cCBpbiByZWdleHBzLnZhbHVlcygpICkgKQoJCWNvbXBp
bGVzID0gY29tcGlsZSggcGF0dGVybiwgTVVMVElMSU5FfFMgKQoJCXNraXBhYmxlID0gW10KCQlm
b3IgaWR4LCBzdHJpbmcgaW4gZW51bWVyYXRlKCBzdHJpbmdzICk6CgkJCWlmIGlkeCBpbiBza2lw
YWJsZToKCQkJCWNvbnRpbnVlCgkJCWNvbG9yID0gbWF0Y2goIHIiXig/Olx4MWJ8XDAzMylcWyhb
Xm1dKyltJCIsIHN0cmluZyApCgkJCWlmIGNvbG9yIGlzIG5vdCBOb25lOgoJCQkJaW5kZXggPSBp
ZHggKzEKCQkJCWVzY2FwZSA9IGNvbG9yLmdyb3VwKCAwICkKCQkJCWxhc3QgPSBlc2NhcGUKCQkJ
CXRyeToKCQkJCQlyZXNjYXBlID0gbWF0Y2goIHIiKD86XHgxYnxcMDMzKVxbKFtebV0rKW0iLCBz
dHJpbmdzW2luZGV4XSApCgkJCQkJd2hpbGUgcmVzY2FwZSBpcyBub3QgTm9uZToKCQkJCQkJc2tp
cGFibGUuYXBwZW5kKCBpbmRleCApCgkJCQkJCWVzY2FwZSArPSByZXNjYXBlLmdyb3VwKCAwICkK
CQkJCQkJbGFzdCA9IHJlc2NhcGUuZ3JvdXAoIDAgKQoJCQkJCQlpbmRleCArPSAxCgkJCQkJCXJl
c2NhcGUgPSBtYXRjaCggciIoPzpceDFifFwwMzMpXFsoW15tXSspbSIsIHN0cmluZ3NbaW5kZXhd
ICkKCQkJCWV4Y2VwdCBJbmRleEVycm9yOgoJCQkJCWJyZWFrCgkJCQlpZiBpbmRleCArMSBpbiBz
a2lwYWJsZToKCQkJCQlpbmRleCArPSAxCgkJCQlza2lwYWJsZS5hcHBlbmQoIGluZGV4ICkKCQkJ
ZWxzZToKCQkJCWVzY2FwZSA9IGxhc3QKCQkJCWluZGV4ID0gaWR4CgkJCXN0cmluZyA9IHN0cmlu
Z3NbaW5kZXhdCgkJCXNlYXJjaCA9IDAKCQkJbWF0Y2hlZCA9IGNvbXBpbGVzLnNlYXJjaCggc3Ry
aW5nLCBzZWFyY2ggKQoJCQl3aGlsZSBtYXRjaGVkIGlzIG5vdCBOb25lOgoJCQkJaWYgbWF0Y2hl
ZC5ncm91cGRpY3QoKToKCQkJCQlncm91cCA9IE5vbmUKCQkJCQlncm91cHMgPSBtYXRjaGVkLmdy
b3VwZGljdCgpLmtleXMoKQoJCQkJCWZvciBncm91cCBpbiBncm91cHM6CgkJCQkJCWlmIGdyb3Vw
IGluIHJlZ2V4cHMgYW5kIFwKCQkJCQkJCWlzaW5zdGFuY2UoIHJlZ2V4cHNbZ3JvdXBdLCBNdXRh
YmxlTWFwcGluZyApIGFuZCBcCgkJCQkJCQlpc2luc3RhbmNlKCBtYXRjaGVkLmdyb3VwKCBncm91
cCApLCBzdHIgKToKCQkJCQkJCWNvbG9yaXplID0gcmVnZXhwc1tncm91cF1bJ2NvbG9yaXplJ10K
CQkJCQkJCWJyZWFrCgkJCQkJY2hhcnMgPSBtYXRjaGVkLmdyb3VwKCAwICkKCQkJCQlpZiAicmVt
YXRjaCIgaW4gcmVnZXhwc1tncm91cF0gYW5kIGlzaW5zdGFuY2UoIHJlZ2V4cHNbZ3JvdXBdWydy
ZW1hdGNoJ10sIE11dGFibGVNYXBwaW5nICk6CgkJCQkJCXBhc3MKCQkJCQlpZiAiaGFuZGxlciIg
aW4gcmVnZXhwc1tncm91cF0gYW5kIGNhbGxhYmxlKCByZWdleHBzW2dyb3VwXVsnaGFuZGxlcidd
ICk6CgkJCQkJCXJlc3VsdCArPSBlc2NhcGUKCQkJCQkJcmVzdWx0ICs9IHN0cmluZ1tzZWFyY2g6
bWF0Y2hlZC5lbmQoKSAtIGxlbiggY2hhcnMgKV0KCQkJCQkJcmVzdWx0ICs9IGNvbG9yaXplLmZv
cm1hdCggcmVnZXhwc1tncm91cF1bJ2hhbmRsZXInXSggbWF0Y2hlZCApLCBlc2NhcGUgKQoJCQkJ
CQlzZWFyY2ggPSBtYXRjaGVkLmVuZCgpCgkJCQkJCW1hdGNoZWQgPSBjb21waWxlcy5zZWFyY2go
IHN0cmluZywgc2VhcmNoICkKCQkJCQkJY29udGludWUKCQkJCQlyZXN1bHQgKz0gZXNjYXBlCgkJ
CQkJcmVzdWx0ICs9IHN0cmluZ1tzZWFyY2g6bWF0Y2hlZC5lbmQoKSAtIGxlbiggY2hhcnMgKV0K
CQkJCQlyZXN1bHQgKz0gY29sb3JpemUuZm9ybWF0KCBjaGFycywgZXNjYXBlICkKCQkJCQlzZWFy
Y2ggPSBtYXRjaGVkLmVuZCgpCgkJCQkJbWF0Y2hlZCA9IGNvbXBpbGVzLnNlYXJjaCggc3RyaW5n
LCBzZWFyY2ggKQoJCQkJZWxzZToKCQkJCQltYXRjaGVkID0gTm9uZQoJCQlyZXN1bHQgKz0gZXNj
YXBlCgkJCXJlc3VsdCArPSBzdHJpbmdbc2VhcmNoOl0KCWV4Y2VwdCBFeGNlcHRpb24gYXMgZToK
CQlyYWlzZSBlCglyZXR1cm4gcmVzdWx0CgpkZWYgY3NlcmlhbGl6ZXIoIGNvb2tpZXM6TXV0YWJs
ZU1hcHBpbmdbU3RyLFN0cl0gKSAtPiBTdHI6CgkKCSIiIgoJQ29va2llIHNlcmlhbGl6ZXIKCQoJ
UGFyYW1ldGVyczoKCQljb29raWVzIChNdXRhYmxlTWFwcGluZ1tTdHIsU3RyXSk6CgkJCU11dGFi
bGVNYXBwaW5nIG9mIGNvb2tpZXMKCQoJUmV0dXJuczoKCQlTdHI6CgkJCVN0cmluZyBvZiBzZXJp
YWxpemVkIGNvb2tpZXMKCSIiIgoJCglyZXR1cm4gIlx4M2JceDIwIi5qb2luKCBsaXN0KCBmIntr
ZXlzZXR9PXt1cmxxdW90ZSggU3RyKCB2YWx1ZSApICl9IiBmb3Iga2V5c2V0LCB2YWx1ZSBpbiBj
b29raWVzLml0ZW1zKCkgKSApCgpkZWYgZGVsYXlzKCkgLT4gTm9uZToKCQoJIiIiIFJhbmRvbSBk
ZWxheXMgIiIiCgkKCXNsZWVwKCBjaG9pY2UoWyA5LCA4LjIsIDMuNCwgNi42LCAxLjYsIDIuOCwg
NCwgMS40LCA2LjMsIDMuNiwgNS45LCA3LCAxLCAxLjIgXSkgKQoKZGVmIGV4dHJhY3RvciggY29u
dGVudHM6U3RyICkgLT4gSXRlcmFibGVbTXV0YWJsZU1hcHBpbmdbU3RyLE11dGFibGVTZXF1ZW5j
ZVtBbnldXV06CgkKCSIiIgoJSnNvbiBodG1sIHNjcmlwdCB0YWcKCQoJUGFyYW1ldGVyczoKCQlj
b250ZW50cyAoU3RyKToKCQkJSHRtbCBjb250ZW50cwoJCglSZXR1cm5zOgoJCWNvbnRlbnQgKEl0
ZXJhYmxlW011dGFibGVNYXBwaW5nW1N0cixNdXRhYmxlU2VxdWVuY2VbQW55XV1dKToKCQkJSXRl
cmFibGUgTXV0YWJsZU1hcHBpbmcgb2YgY29udGVudHMKCSIiIgoJCglwb3NpdGlvbiA9IDAKCXdo
aWxlIFRydWU6CgkJdHJ5OgoJCQlwb3NpdGlvbkJlZ2luID0gY29udGVudHMuaW5kZXgoICI8c2Ny
aXB0IiwgcG9zaXRpb24gKQoJCQlwb3NpdGlvbkJlZ2luU3RvcCA9IGNvbnRlbnRzLmluZGV4KCAi
PiIsIHBvc2l0aW9uQmVnaW4rMSApCgkJCXBvc2l0aW9uRW5kID0gY29udGVudHMuaW5kZXgoICI8
L3NjcmlwdD4iLCBwb3NpdGlvbkJlZ2luU3RvcCApCgkJCXBvc2l0aW9uRW5kU3RvcCA9IHBvc2l0
aW9uRW5kCgkJCXBvc2l0aW9uRW5kU3RvcCs9IDEKCQkJcG9zaXRpb24gPSBwb3NpdGlvbkVuZFN0
b3AKCQkJY29udGVudCA9IGNvbnRlbnRzW3Bvc2l0aW9uQmVnaW5TdG9wKzE6cG9zaXRpb25FbmRd
CgkJCWlmIG5vdCBjb250ZW50OgoJCQkJY29udGludWUKCQkJdHJ5OgoJCQkJeWllbGQgSnNvbkRl
Y29kZXIoIGNvbnRlbnQgKQoJCQlleGNlcHQgSlNPTkRlY29kZUVycm9yOgoJCQkJLi4uCgkJCWZp
bmFsbHk6CgkJCQkuLi4KCQkJY29udGludWUKCQlleGNlcHQgVmFsdWVFcnJvcjoKCQkJLi4uCgkJ
ZmluYWxseToKCQkJLi4uCgkJYnJlYWsKCS4uLgoKZGVmIHBpY2tsYWJsZSggb2JqZWN0ICkgLT4g
Qm9vbDoKCQoJIiIiIFJldHVybiB3aGV0aGVyIHRoZSBvYmplY3QgaXMgcGlja2FibGUgIiIiCgkK
CXRyeToKCQlQaWNrbGVEdW1wcyggb2JqZWN0ICkKCWV4Y2VwdCBQaWNrbGluZ0Vycm9yOgoJCXJl
dHVybiBGYWxzZQoJZXhjZXB0IEF0dHJpYnV0ZUVycm9yOgoJCXJldHVybiBGYWxzZQoJcmV0dXJu
IFRydWUKCmRlZiBwdXRzKCAqdmFsdWVzOkFueSwgYmFzZTpTdHI9Ilx4MWJbMG0iLCBlbmQ6U3Ry
PSJceDBhIiwgc2VwOlN0cj0iXHgyMCIsIHN0YXJ0OlN0cj0iIiwgdGhyZWFkOlVuaW9uW0ludCxT
dHJdPU5vbmUsIGxvZ2dpbmc6Qm9vbD1GYWxzZSwgY2xvc2U6SW50PU5vbmUgKSAtPiBOb25lOgoJ
CgkiIiIKCVByaW50IHRoZSB2YWx1ZSBpbnRvIHRlcm1pbmFsIHNjcmVlbgoJCglQYXJhbWV0ZXJz
OgoJCXZhbHVlcyAoKkFueSk6CgkJYmFzZSAoU3RyKToKCQkJVGhlIGJhc2UgY29sb3IgY29kZQoJ
CWVuZCAoU3RyKToKCQkJVGhlIGVuZCBvZiBsaW5lLCBkZWZhdWx0IGlzIG5ld2xpbmUgKFxcbikK
CQlzZXAgKFN0cik6CgkJCVRoZSBzZXBhcmF0b3Igb2YgdmFsdWVzLCBkZWZhdWx0IGlzIHNwYWNl
cyAoXFxzKQoJCXN0YXJ0IChTdHIpOgoJCQlQcmVmaXggb2Ygb3V0cHV0CgkJdGhyZWFkIChJbnR8
U3RyKToKCQkJQ3VycmVudCB0aHJlYWQgcG9zaXRpb24gbnVtYmVyCgkJbG9nZ2luZyAoQm9vbCk6
CgkJCUFsbG93IGxvZ2dpbmcgb3V0cHV0CgkJY2xvc2UgKEludCk6CgkJCUNsb3NlIHRoZSBwcm9n
cmFtIGFmdGVyIHRleHQgcHJpbnRlZCBpbnRvIHRlcm1pbmFsIHNjcmVlbgoJIiIiCgkKCWlmIGxv
Z2dpbmcgaXMgVHJ1ZToKCQlzdGFja3MgPSBzdGFjaygpCgkJcG9zaXRpb24gPSAxIGlmIGxlbigg
c3RhY2tzICk+PSAyIGVsc2UgMAoJCWN1cnJ0aW1lID0gZGF0ZXRpbWUubm93KCB0aW1lem9uZSgg
IkFzaWEvSmFrYXJ0YSIgKSApCgkJY3VycmVudCA9IGN1cnJ0aW1lLnN0cmZ0aW1lKCAiJWQuJW0t
JVkgJUg6JU06JVMiICkKCQlmb3JtYXR0ZXIgPSAie3N0YXJ0fS0tIHtkYXRldGltZX0gLS0ge2Zp
bGV9OntmdW5jfTp7bGluZX0ge21lc3NhZ2V9IgoJCWlmIGlzaW5zdGFuY2UoIHRocmVhZCwgSW50
ICkgYW5kIHRocmVhZCA+PSAxIG9yIFwKCQkgICBpc2luc3RhbmNlKCB0aHJlYWQsIFN0ciApIGFu
ZCB0aHJlYWQ6CgkJCWZvcm1hdHRlciA9ICJ7c3RhcnR9LS0ge2RhdGV0aW1lfSAtLSB7ZmlsZX06
e2Z1bmN9OntsaW5lfTp7dGhyZWFkfSB7bWVzc2FnZX0iCgkJCSMgcG9zaXRpb24gPSAyIGlmIGxl
biggc3RhY2tzICk+PSAzIGVsc2UgMQoJCXRpZnJhbWUgPSBnZXRmcmFtZWluZm8oIHN0YWNrc1tw
b3NpdGlvbl1bMF0gKQoJCWZvciB2YWx1ZSBpbiB2YWx1ZXM6CgkJCW1lc3NhZ2UgPSB2YWx1ZSBp
ZiBpc2luc3RhbmNlKCB2YWx1ZSwgU3RyICkgZWxzZSByZXByKCB2YWx1ZSApCgkJCWZvcm1hdHRl
ZCA9IGZvcm1hdHRlci5mb3JtYXQoCgkJCQltZXNzYWdlPW1lc3NhZ2UsCgkJCQlmaWxlPXRpZnJh
bWUuZmlsZW5hbWUucmVwbGFjZSggZiJ7QmFzZVBhdGh9LyIsICIiICksCgkJCQlmdW5jPXRpZnJh
bWUuZnVuY3Rpb24sCgkJCQlsaW5lPXRpZnJhbWUubGluZW5vLAoJCQkJZGF0ZXRpbWU9Y3VycmVu
dCwKCQkJCXRocmVhZD10aHJlYWQsCgkJCQlzdGFydD1zdGFydAoJCQkpCgkJCWZvcm1hdHRlZCA9
IGZvcm1hdHRlZCBcCgkJCQkucmVwbGFjZSggQmFzZVBhdGgsICJ7YmFzZXBhdGh9IiApIFwKCQkJ
CS5yZXBsYWNlKCBCYXNlVmVudiwgInt2aXJ0dWFsfSIgKQoJCQlwcmludCggY29sb3JpemUoIGJh
c2U9YmFzZSwgc3RyaW5nPWZvcm1hdHRlZCApLCBlbmQ9ZW5kICkKCWVsc2U6CgkJZm9yIHZhbHVl
IGluIHZhbHVlczoKCQkJdmFsdWUgPSB2YWx1ZSBpZiBpc2luc3RhbmNlKCB2YWx1ZSwgU3RyICkg
ZWxzZSByZXByKCB2YWx1ZSApCgkJCXZhbHVlID0gIiIuam9pbihbIHN0YXJ0LCB2YWx1ZSBdKQoJ
CQlwcmludCggY29sb3JpemUoIGJhc2U9YmFzZSwgc3RyaW5nPXZhbHVlICksIGVuZD1lbmQsIHNl
cD1zZXAgKQoJaWYgY2xvc2UgaXMgbm90IE5vbmU6CgkJZXhpdCggY2xvc2UgKQoJLi4uCgpkZWYg
c29ydGVyKCBjb250ZW50Ok11dGFibGVNYXBwaW5nW1N0cixBbnldICkgLT4gTXV0YWJsZU1hcHBp
bmdbU3RyLEFueV06CglyZXN1bHRzID0gZGljdCgpCglrZXlzZXRzID0gc29ydGVkKCBsaXN0KCBj
b250ZW50LmtleXMoKSApICkKCWZvciBrZXlzZXQgaW4ga2V5c2V0czoKCQl2YWx1ZXMgPSBjb250
ZW50W2tleXNldF0KCQlpZiBpc2luc3RhbmNlKCB2YWx1ZXMsIGRpY3QgKToKCQkJdmFsdWVzID0g
c29ydGVyKCB2YWx1ZXMgKQoJCWVsaWYgaXNpbnN0YW5jZSggdmFsdWVzLCBsaXN0ICk6CgkJCWZv
ciBpLCB2YWx1ZSBpbiBlbnVtZXJhdGUoIHZhbHVlcyApOgoJCQkJaWYgaXNpbnN0YW5jZSggdmFs
dWUsIGRpY3QgKToKCQkJCQl2YWx1ZXNbaV0gPSBzb3J0ZXIoIHZhbHVlICkKCQlyZXN1bHRzW2tl
eXNldF0gPSB2YWx1ZXMKCXJldHVybiByZXN1bHRzCgpkZWYgdHJhY2ViYWNrKCBlOkJhc2VFeGNl
cHRpb24sIHNlcGFyYXRvcjpPcHRpb25hbFtTdHJdPU5vbmUgKSAtPiBVbmlvbltNdXRhYmxlU2Vx
dWVuY2VbU3RyXSxTdHJdOgoJCgkiIiIgRXhjZXB0aW9uIGZvcm1hdCAoaGFuZGxlIGNvbXBhdGli
aWxpdHkgd2l0aCBweXRob248PTMuMTEpICIiIgoJCglmb3JtYXRzID0gZm9ybWF0X2V4Y2VwdGlv
biggdHlwZSggZSApLCBlLCBlLl9fdHJhY2ViYWNrX18gKQoJaWYgc2VwYXJhdG9yIGlzIG5vdCBO
b25lOgoJCXJldHVybiBzZXBhcmF0b3Iuam9pbiggZm9ybWF0cyApCglyZXR1cm4gZm9ybWF0cwoK
ZGVmIHR5cGVvZiggaW5zdGFuY2U6QW55ICkgLT4gU3RyOgoJCgkiIiIKCVJldHVybiBuYW1lIHR5
cGUgb2JqZWN0CgkKCVBhcmFtZXRlcnM6CgkJaW5zdGFuY2UgKEFueSk6CgkJCVZhbHVlIHR5cGUK
CQoJUmV0dXJuczoKCQluYW1lIChTdHIpOgoJIiIiCgkKCWlmIG5vdCBoYXNhdHRyKCBpbnN0YW5j
ZSwgIl9fcXVhbG5hbWVfXyIgKToKCQlpbnN0YW5jZSA9IHR5cGUoIGluc3RhbmNlICkKCWlmIGhh
c2F0dHIoIGluc3RhbmNlLCAiX19xdWFsbmFtZV9fIiApOgoJCXJldHVybiBmIntpbnN0YW5jZS5f
X21vZHVsZV9ffS57aW5zdGFuY2UuX19xdWFsbmFtZV9ffSIKCXJldHVybiBmIntpbnN0YW5jZS5f
X21vZHVsZV9ffS57aW5zdGFuY2UuX19uYW1lX199IgoK

----- END ENCRYPTED KEKKIJUTSU TEMPLATE -----
